@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    string baseUrl = Configuration["BaseUrlSettings:BaseUrl"];
}

<script src="~/js/branch.js"></script>
<div id="mainContent">
    <div class="row">
        <div class="col-6">
            <h4 class="pt-2 mb-0">
                Branch
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 btn-heading-title">
            <div class="Count"></div>
            <div id="Grid"></div>
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    var baseUrl = '@baseUrl' + 'StateManageAPI/';
     $(document).ready(function () {
        loadData();
    });
    function loadData() {
        dataGrid = $("#Grid").dxDataGrid({
            dataSource: baseUrl + 'Get',
            columns: [
                {
                    dataField: 'edit',
                    caption: '',
                    alignment: 'center',
                    dataType: 'string',
                    width: '30px',
                    format: '',
                    type: 'buttons',
                    cellTemplate: function (container, options) {
                        var buttonElement = $('<span class="fadeIn animated bx bx-edit-alt" style="cursor:pointer;color: rgb(39 127 249);" title="Edit State">').text('').on('dxclick', function () {
                            edit(options.data);
                        });
                        buttonElement.appendTo(container);
                    }
                },
                {
                    dataField: 'remove',
                    caption: '',
                    alignment: 'center',
                    dataType: 'string',
                    width: '30px',
                    format: '',
                    type: 'buttons',
                    cellTemplate: function (container, options) {
                        var buttonElement = $('<span class="fadeIn animated bx bx-trash-alt" style="cursor:pointer;color:rgb(249 39 39);" title="De-Active State">').text('').on('dxclick', function () {
                            deleteRec(options.data);
                        });
                        buttonElement.appendTo(container);
                    }
                },
                //{ dataField: 'id', caption: 'Id', alignment: 'center', dataType: 'string',  format: '' },
                { dataField: 'stateName', caption: 'State Name', alignment: 'center', dataType: 'string', format: '', sortOrder: 'asc' },
                { dataField: 'country.countryName', caption: 'Country Name', alignment: 'center', dataType: 'string', format: '' },
                //{ dataField: 'createdBy', caption: 'created By', alignment: 'center', dataType: 'string',format: '' },
                //{ dataField: 'created', caption: 'created At', alignment: 'center', dataType: 'date', format: 'dd MMM yyyy' },
                //{ dataField: 'isEnabled', caption: 'enabled', alignment: 'center', dataType: 'string',format: '' },
                //{ dataField: 'isDeleted', caption: 'Deleted', alignment: 'center', dataType: 'string',format: '' },
            ],
            columnsAutoWidth: true,
            wordWrapEnabled: false,
            rowAlternationEnabled: false,
            showBorders: true,
            grouping: { autoExpandAll: true },
            paging: { pageSize: 10 },
            pager: { showPageSizeSelector: true, allowedPageSizes: [10, 25, 50, 100] },
            headerFilter: { visible: true },
            filterRow: { visible: true, applyFilter: "auto" },
            allowColumnResizing: true,
            groupPanel: { visible: true },
            searchPanel: { visible: true, width: 240, placeholder: "Search..." },
            export: {
                enabled: false,
                fileName: "User Details",
                allowExportSelectedData: true,
                customizeExcelCell: options => {
                    if (options.gridCell.rowType === "header") {
                        // options.backgroundColor = _dxGridHeaderBGColor;
                        // options.font.color = _dxGridHeaderColor;
                    }
                }
            },
            allowColumnReordering: true,
            columnFixing: { enabled: false },
            columnChooser: {
                enabled: true,
                mode: "select",
                allowSearch: true
            },
            onExporting: function (e) {
                e.component.beginUpdate();
                e.component.columnOption("Button", "visible", false);
                e.component.columnOption("Add", "visible", false);
            },
            onExported: function (e) {
                e.component.columnOption("Button", "visible", true);
                e.component.columnOption("Add", "visible", true);
                e.component.endUpdate();
            },
            onCellPrepared: function (e) {
                if (e.rowType === "header") {
                    e.cellElement.css("text-align", "center");
                    e.cellElement.css("font-weight", "bold");
                }
                if (e.rowType === "group") {
                    e.cellElement.css("text-align", "center");
                }
            },
            onContentReady(e) {
                jQuery('#rowCount1').html('Total Records : ' + jQuery("#gridContainer").dxDataGrid('instance').totalCount());
            }
        }).dxDataGrid('instance');
    }
</script>
