@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}<script src="~/js/branch.js"></script>
<td width="80%" height="100%" align="center" valign="top" id="mainContent">

</td>