@{
	ViewData["Title"] = "Shift Master";
	Layout = "~/Views/Shared/_mainLayout.cshtml";
	string baseUrl = Configuration["BaseUrlSettings:baseUrl"];
}

<div class="card">
	<div class="card-header bg-transparent ml-0 py-0">
		<div class="row">
			<div class="col-6">
				<h6 class="pt-2 mb-0">
					Shift Master
				</h6>
			</div>

			<div class="col-6 d-flex justify-content-end align-items-center">
				<div class="font-22 pl-2" style="color:#32393f; cursor:pointer;">
					<i class="fadeIn animated bx bx-refresh" id="getData" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Refresh Data"></i>
				</div>
			</div>
		</div>
	</div>
	<div class="card-body">
		<div class="row">
			<div class="col-md-12 btn-heading-title">
				<div class="input-group mb-2">
					<button id="addShift"
							type="button"
							class="btn mr-1 rounded-1"
							style="background-color:#2395c6; color:white;">
						Add Shift
					</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<div class="rowCount" id="rowCount1"></div>
					<div id="gridContainer">
						<div class="d-flex justify-content-center align-items-center" style="height: 10vh;">
							<div class="spinner-border text-primary" role="status">
								<span class="visually-hidden">Loading...</span>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="addShiftModel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-xl">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title btn-heading-title" id="exampleModalLabel">Add Shift</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body modal-body-font">
				<div class="row">
					<div class="col-md-3">
						<div class="form-group mt-3">
							<input type="text"
								   class="form-control"
								   placeholder="Shift Name"
								   id="txtShiftName" />
							<span id="spnShiftName" style="color:red; display:none;">Please Enter Shift Name</span>

						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group mt-3">
							<input type="time"
								   class="form-control"
								   placeholder="Start Time"
								   id="txtStartTime" />
							<span id="spnStartTime" style="color:red; display:none;">Please Enter Start Time</span>

						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group mt-3">
							<input type="time"
								   class="form-control"
								   placeholder="End Time"
								   id="txtEndTime" />
							<span id="spnEndTime" style="color:red; display:none;">Please Enter End Time</span>

						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group mt-3">
							<input type="text"
								   class="form-control"
								   placeholder="Duration"
								   id="txtDuration"
								   disabled />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<div class="form-group mt-3">
							<label>First Break</label>
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group mt-3">
							<input type="time"
								   class="form-control"
								   placeholder="Start Time"
								   id="txtStartTimeB1" />
							<span id="spnStartTimeB1" style="color:red; display:none;">Please Enter Start Time</span>

						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group mt-3">
							<input type="time"
								   class="form-control"
								   placeholder="End Time"
								   id="txtEndTimeB1" />
							<span id="spnEndTimeB1" style="color:red; display:none;">Please Enter End Time</span>

						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group mt-3">
							<input type="text"
								   class="form-control"
								   placeholder="Duration"
								   id="txtDurationB1"
								   disabled />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<div class="form-group mt-3">
							<label>Second Break</label>
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group mt-3">
							<input type="time"
								   class="form-control"
								   placeholder="Start Time"
								   id="txtStartTimeB2" />
							<span id="spnStartTimeB2" style="color:red; display:none;">Please Enter Start Time</span>

						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group mt-3">
							<input type="time"
								   class="form-control"
								   placeholder="End Time"
								   id="txtEndTimeB2" />
							<span id="spnEndTimeB2" style="color:red; display:none;">Please Enter End Time</span>

						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group mt-3">
							<input type="text"
								   class="form-control"
								   placeholder="Duration"
								   id="txtDurationB2"
								   disabled />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<div class="form-group mt-3">
							<label>Third Break</label>
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group mt-3">
							<input type="time"
								   class="form-control"
								   placeholder="Start Time"
								   id="txtStartTimeB3" />
							<span id="spnStartTimeB3" style="color:red; display:none;">Please Enter Start Time</span>

						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group mt-3">
							<input type="time"
								   class="form-control"
								   placeholder="End Time"
								   id="txtEndTimeB3" />
							<span id="spnEndTimeB3" style="color:red; display:none;">Please Enter End Time</span>

						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group mt-3">
							<input type="text"
								   class="form-control"
								   placeholder="Duration"
								   id="txtDurationB3"
								   disabled />
						</div>
					</div>
				</div>

			</div>
			<div class="modal-footer btn-heading-title">
				<button type="button" class="btn btn-primary" id="btnCreateShift" style="background-color:#2395c6; color:white;">Create</button>
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script type="text/javascript">
	$("#addShift").click(function(){
		$("#addShiftModel").modal('show');
	});

	$("#btnCreateShift").click(()=>{

		var txtShiftName = $("#txtShiftName").val();
		var spnShiftName = $("#spnShiftName").val();
		var txtStartTime = $("#txtStartTime").val();
		var spnStartTime = $("#spnStartTime").val();
		var txtEndTime = $("#txtEndTime").val();
		var spnEndTime = $("#spnEndTime").val();
		var txtDuration = $("#txtDuration").val();
		var txtStartTimeB1 = $("#txtStartTimeB1").val();
		var spnStartTimeB1 = $("#spnStartTimeB1").val();
		var txtEndTimeB1 = $("#txtEndTimeB1").val();
		var spnEndTimeB1 = $("#spnEndTimeB1").val();
		var txtDurationB1 = $("#txtDurationB1").val();
		var txtStartTimeB2 = $("#txtStartTimeB2").val();
		var spnStartTimeB2 = $("#spnStartTimeB2").val();
		var txtEndTimeB2 = $("#txtEndTimeB2").val();
		var spnEndTimeB2 = $("#spnEndTimeB2").val();
		var txtDurationB2 = $("#txtDurationB2").val();
		var txtStartTimeB3 = $("#txtStartTimeB3").val();
		var spnStartTimeB3 = $("#spnStartTimeB3").val();
		var txtEndTimeB3 = $("#txtEndTimeB3").val();
		var spnEndTimeB3 = $("#spnEndTimeB3").val();
		var txtDurationB3 = $("#txtDurationB3").val();

		var shiftDetails = {
			ShiftName:txtShiftName,
			StartTime:txtStartTime,
			EndTime:txtEndTime,
			Duration:txtDuration
		};

		$.ajax({
				url: '@baseUrl/ShiftMasterAPI/CreateShift',
				type: "POST",
				data: JSON.stringify(shiftDetails),
				dataType: "json",
				contentType: 'application/json',
				success: function (data) {
					loadDataTable();
					$("#addBranchModel").modal('hide');

					alert("Branch Add Successfully!")
				},
				error: function (xhr) {
				}
			});

	});
</script>