@{
    ViewData["Title"] = "Employee Panel";
    Layout = "~/Areas/EmployeePanel/Views/Shared/_EmployeeLayout.cshtml";
    string baseUrl = ViewBag.BaseUrl;
}


<style>
.notification-list-container ul {
    max-height: 180px;
    overflow-y: auto;
    padding-left: 20px;
    margin: 0;
    border: 1px solid #ddd;
}
</style>

<div class="row row-cols-1 row-cols-md-2 row-cols-xl-4">
	<div class="col">
		<div id="employeeid" class="card h-100 radius-10 border-start border-3 border-info">
			<div class="card-body">
				<div class="d-flex align-items-center">
					<div>
						
						<p class="my-1 text-info fs-4">Employee & Team</p>
						<h8 class="mb-0 text-secondary">Explore your team detail from direct & in-direct reporting.</h8>
						
					</div>
					<div class="widgets-icons-2 rounded-circle bg-gradient-scooter text-white ms-auto">
						<i class='bx bxs-group'></i>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col">
		<div id="attendanceleaveid" class="card h-100 radius-10 border-start border-3 border-danger">
			<div class="card-body">
				<div class="d-flex align-items-center">
					<div>
						
						<p class="my-1 text-danger fs-4">Attendance & Leave</p>
						<h8 class="mb-0 text-secondary">Daily or Monthly Attendance Details</h8>
						
					</div>
					<div class="widgets-icons-2 rounded-circle bg-gradient-bloody text-white ms-auto">
						<i class='fadeIn animated bx bx-history'></i>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col">
		<div id="salaryid" class="card h-100 radius-10 border-start border-3 border-warning">
			<div class="card-body">
				<div class="d-flex align-items-center">
					<div>
						<p class="my-1 text-warning fs-4">Salary</p>
						<h8 class="mb-0 text-secondary">Check-out your processed and published salary detail.</h8>
					
					</div>
					<div class="widgets-icons-2 rounded-circle bg-gradient-blooker text-white ms-auto">
						<i class='fadeIn animated bx bx-dollar'></i>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col">
		<div id="reportid" class="card h-100 radius-10 border-start border-3 border-success">
			<div class="card-body">
				<div class="d-flex align-items-center">
					<div>
						<p class="my-1 text-success fs-4">Reports</p>
						<h8 class="mb-0 text-secondary">Get the details of reports</h8>
					</div>
					<div class="widgets-icons-2 rounded-circle bg-gradient-ohhappiness text-white ms-auto">
						<i class='fadeIn animated bx bx-line-chart-down'></i>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<br/>
<div class="row">
		<div class="col-md-3">
			<div id="latestmemberid" class="card custom-height radius-10 border-start border-0 border-3 border-info">
				<div class="card-body">

					<div class="card-header bg-warning text-dark">
						<h6 class="mb-0">Latest Members</h6>
					 </div>
					<div class="card-body">
						<p class="card-text">No new members found.</p>
					</div>
				</div>
			</div>
		</div>
	<div class="col-md-6">
		<div class="card custom-height radius-10 border-start border-0 border-3 border-info">
		
				
				<div class="card-body">
					<!-- Tabs -->
					<ul class="nav nav-tabs " id="wishesid" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" id="birthday-tab" data-toggle="tab" href="#birthdayid" role="tab">Birthday</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="workanniversary-tab" data-toggle="tab" href="#workanniversaryid" role="tab">Work Anniversary</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="anniversary-tab" data-toggle="tab" href="#anniversaryid" role="tab">Marriage Anniversary</a>
						</li>
					</ul>

					<!-- Tab Contents -->
					<div class="tab-content mt-3">
						<div class="tab-pane fade show active" id="birthdayid" role="tabpanel" aria-labelledby="birthday-tab">
							<p class="card-text">Birthday</p>
						</div>
						<div class="tab-pane fade" id="workanniversaryid" role="tabpanel" aria-labelledby="workanniversary-tab">
							<p class="card-text">Work Anniversary</p>
						</div>
						<div class="tab-pane fade" id="anniversaryid" role="tabpanel" aria-labelledby="anniversary-tab">
							<p class="card-text">Marriage Anniversary</p>
						</div>
					</div>
				</div>
			
		</div>		

	</div>

	<div class="col-md-3">
		<div class="card custom-height radius-10 border-start border-0 border-3 border-info">
			<div class="card-body">
				<div class="row">
					<!-- Vertical Nav Tabs -->
					<ul class="nav flex-column nav-tabs " id="oganisationid" role="tablist"  >
						
						<li class="nav-item">
							<a class="nav-link active" id="holiday-tab" data-toggle="tab" href="#holidayid" role="tab" aria-orientation="vertical">Upcoming Holiday</a>
						</li>
						<li class="nav-item">
							<a class="nav-link " id="org-tab" data-toggle="tab" href="#orgid" role="tab" aria-orientation="vertical">Organization Policy</a>
						</li>

					</ul>
					<!-- Tab Content -->
					<div class="tab-content mt-3">
						
						<div class="tab-pane fade show active" id="holidayid" role="tabpanel" aria-labelledby="holiday-tab">
							<p class="card-text">Upcoming Holiday</p>
						</div>
						<div class="tab-pane fade " id="orgid" role="tabpanel" aria-labelledby="org-tab">
							<p class="card-text">Organization Policy</p>
						</div>
						
					</div>

				</div>
			</div>
		</div>
	</div>

</div>
<br />
<div class="row">
	<div class="col-md-3">
		<div id="calenderid" class="card custom-height radius-10 border-start border-0 border-3 border-info">
			<div class="card-body">

				<div class="card-header bg-success text-dark">
					<h6 class="mb-0">Event Calender</h6>
				</div>
				<div class="card-body">
					<p class="card-text">No records found.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="card custom-height radius-10 border-start border-0 border-3 border-info">


			<div class="card-body">
				<!-- Tabs -->
				<ul class="nav nav-tabs " id="notificationstableid" role="tablist">
					<li class="nav-item">
						<a class="nav-link active" id="apprasial-tab" data-toggle="tab" href="#Apprasialid" role="tab">Appraisal</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="Notification-tab" data-toggle="tab" href="#Notificationid" role="tab">Notification</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="Recruiment-tab" data-toggle="tab" href="#Recruimentid" role="tab">Recruiment Alert</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="Training-tab" data-toggle="tab" href="#Trainingid" role="tab">Training Calendar</a>
					</li>
				</ul>

				<!-- Tab Contents -->
				<div class="tab-content mt-3">
					<div class="tab-pane fade show active" id="Apprasialid" role="tabpanel" aria-labelledby="apprasial-tab">
						<p class="card-text text-dark">Appraisal</p>
					</div>
					<div class="tab-pane fade notification-list-container" id="Notificationid" role="tabpanel" aria-labelledby="Notification-tab">
						<p class="card-text text-dark">Notifications</p>
						<ul>
							<li><a href="#aboutid" class="notification-link" data-id="1">About Me</a></li>
							<li><a href="#summaryid" class="notification-link" data-id="2">Attendance Summary</a></li>
							<li><a href="#emphistoryid" class="notification-link" data-id="3">Employee History</a></li>
							<li><a href="#emphistoryid" class="notification-link" data-id="3">Employee History</a></li>
							<li><a href="#formid" class="notification-link" data-id="3">Fill Self Assessment Probation Form</a></li>
							<li><a href="#formid" class="notification-link" data-id="3">Fill Self Assessment Probation Form</a></li>
							<li><a href="#feedbackid" class="notification-link" data-id="3">Given Training Feedback</a></li>
							<li><a href="#feedbackid" class="notification-link" data-id="3">Given Training Feedback</a></li>
							<li><a href="#OJTlastid" class="notification-link" data-id="3">OJT pending for last month joinees</a></li>
							<li><a href="#OJTlastyearid" class="notification-link" data-id="3">OJT pending since last year</a></li>
							<li><a href="#reqopeningid" class="notification-link" data-id="3">Recruitment Openings</a></li>
							<li><a href="#managerfeedbackid" class="notification-link" data-id="3">Training Manager Feedback</a></li>
							<li><a href="#trainingid" class="notification-link" data-id="3">Training Questionaries</a></li>
							<li><a href="#warningid" class="notification-link" data-id="3">Warning Details</a></li>
							<li><a href="#whosoffid" class="notification-link" data-id="3">WhosOff</a></li>
						</ul>

					</div>

					<div class="tab-pane fade" id="Recruimentid" role="tabpanel" aria-labelledby="Recruiment-tab">
						<p class="card-text text-dark">Recruiment Interview Alert</p>
					</div>
					<div class="tab-pane fade" id="Trainingid" role="tabpanel" aria-labelledby="Training-tab">
						<p class="card-text text-dark">Training Calendar</p>
					</div>
				</div>
			</div>

		</div>

	</div>

	<div class="col-md-3">
		<div id="fameid" class="card custom-height radius-10 border-start border-0 border-3 border-info">
			<div class="card-body">

				<div class="card-header text-dark" style="background-color: pink;">
					<h6 class="mb-0">Wall Of Fame</h6>
				</div>
				<div class="card-body">
					<p class="card-text">No records found.</p>
				</div>
			</div>
		</div>
	</div>

	

</div>

<script>



</script>




