@inject IConfiguration Configuration
@{
	ViewData["Title"] = "WeekOff Master";
    Layout = "~/Areas/AdminPanel/Views/Shared/_AdminLayout.cshtml";
	string baseUrl = Configuration["BaseUrlSettings:baseUrl"];
}


<div class="card ">
    <div class="card-header bg-transparent mb-2 ml-0  py-0">
		<div class="row">
			<div class="col-6">
				<h6 class="pt-2 mb-2">
					WeekOff Master
				</h6>
			</div>

		</div>
	</div>

        <div class="card-body">
 
                <!-- Branch Dropdown -->
                <div class="row mb-3">
                    <div class="col-md-2"></div>
                    <div class="col-md-4">
                            <div class="form-group position-relative">
                                <select id="dropdownBranch" class="form-control floating-input">
                                    <option value="" selected disabled>Select Branch</option>
                                </select>
                                <label class="floating-label" for="dropdownBranch">Branch Name</label>
                                <span id="spnBranch" style="color:red; display:none;">Please Select Branch</span>
                            </div>
                    </div>
                    <div class="col-md-2">
                    <button type="button" class="btn btn-primary px-4" id="btnGo" style="background-color:#2395c6; color:white;">Go</button>

                    </div>
                </div>
        <form id="weekOffForm" autocomplete="off">
                <div class="row">
                    <div class="col-md-12">

                        <!-- Week Off Table -->
                        <div class="table-responsive">
                            <table class="table table-bordered">
                            <thead class="table-light">
                                <tr>
                                    <th style="width: 50%;">Weekoff Name</th>
                                    <th style="width: 50%;">Weekoff Day</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Sunday</td>
                                    <td>
                                        <input type="text" class="form-control" id="SundayWeekOffDay" value="" step="0.1" min="0"
                                               oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1')">
                                    </td>
                                </tr>
                                <tr>
                                    <td>Monday</td>
                                    <td>
                                        <input type="text" class="form-control" id="MondayWeekOffDay" value="" step="0.1" min="0"
                                               oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1')">
                                    </td>
                                </tr>
                                <tr>
                                    <td>Tuesday</td>
                                    <td>
                                        <input type="text" class="form-control" id="TuesdayWeekOffDay" value="" step="0.1" min="0"
                                               oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1')">
                                    </td>
                                </tr>
                                <tr>
                                    <td>Wednesday</td>
                                    <td>
                                        <input type="text" class="form-control" id="WednesdayWeekOffDay" value="" step="0.1" min="0"
                                               oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1')">
                                    </td>
                                </tr>
                                <tr>
                                    <td>Thursday</td>
                                    <td>
                                        <input type="text" class="form-control" id="ThursdayWeekOffDay" value="" step="0.1" min="0"
                                               oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1')">
                                    </td>
                                </tr>
                                <tr>
                                    <td>Friday</td>
                                    <td>
                                        <input type="text" class="form-control" id="FridayWeekOffDay" value="" step="0.1" min="0" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1')">
                                    </td>
                                </tr>
                                <tr>
                                    <td>Saturday</td>
                                    <td>
                                        <input type="text" class="form-control" id="SaturdayWeekOffDay" value="" step="0.1" min="0"
                                               oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1')">
                                    </td>
                                </tr>
                            </tbody>

                            </table>
                        </div>

                </div>


            </div><div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <button type="button" class="btn btn-primary ms-3 px-5" id="btnSaveWeekOff" style="background-color:#2395c6; color:white;">Save</button>
                    <button type="button" class="btn btn-secondary ms-3 px-5" id="btnClearWeekOff">Clear</button>
                </div>
                <div class="col-md-4"></div>
            </div>


                
            </form>
        </div>
    
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

<script>
    let WeekOffDetailsId=0;
    $(()=>{
      BindBranch();
    })

    function BindBranch() {
        $.ajax({
            type: "GET",
            url: '@baseUrl/BranchAPI/GetAllBranch',
            success: function (response) {
                if (response.isSuccess && response.data && response.data.length > 0) {
                    var $dropdown = $("#dropdownBranch");
                    $dropdown.empty(); // Clear existing options
                    $dropdown.append('<option value="" selected disabled>Select Branch</option>'); // Default option

                    $.each(response.data, function (index, Branch) {
                        $dropdown.append(
                            $('<option></option>')
                                .val(Branch.branchId)
                                .text(Branch.branchName)
                        );
                    });
                } else {
                    console.warn("Empty or invalid data:", response);
                }
            },
            error: function () {
                round_error_noti("An error occurred while fetching the department details.");
            }
        });
    }


    $(document).ready(function () {

       $('#dropdownBranch').change(()=>{
           $('#spnBranch').hide();
       })

        $('#btnClearWeekOff').click(()=>{
            $('#dropdownBranch').val('');
            $('#weekOffForm')[0].reset();
            $('#spnBranch').hide();
        })
        // Handle Go button click
        $('#btnGo').click(function () {
            let branchId = $('#dropdownBranch').val();

            // Validation
            if (!branchId) {
                $('#spnBranch').show();
                return;
            } else {
                $('#spnBranch').hide();
            }

            // API call
            $.ajax({
                url: '@baseUrl/WeekOffMasterAPI/GetAllWeekOffDetailsByBranchId/'+branchId,
                type: "GET",
                success: function (res) {
                    if (res.isSuccess) {
                        let weekOff = res.data[0];
                       setWeekOffData(weekOff);
                    } else {
                        WeekOffDetailsId=0
                        round_error_noti(res.responseMessage);
                        $('#weekOffForm')[0].reset();
                    }
                },
                error: function () {
                    round_error_noti("Failed to fetch week off data.");
                }
            });
        });
    });

    

    function setWeekOffData(weekOff)
    {
        if(!weekOff){
             $('#weekOffForm')[0].reset();
             return;
        }
        $('#weekOffForm')[0].reset();
            WeekOffDetailsId=weekOff.weekOffDetailsId;
        $('#SundayWeekOffDay').val(weekOff.sundayWeekOffDay);
        $('#MondayWeekOffDay').val(weekOff.mondayWeekOffDay);
        $('#TuesdayWeekOffDay').val(weekOff.tuesdayWeekOffDay);
        $('#WednesdayWeekOffDay').val(weekOff.wednesdayWeekOffDay);
        $('#ThursdayWeekOffDay').val(weekOff.thursdayWeekOffDay);
        $('#FridayWeekOffDay').val(weekOff.fridayWeekOffDay);
        $('#SaturdayWeekOffDay').val(weekOff.saturdayWeekOffDay);
    }

     $('#btnSaveWeekOff').click(function () {
        let branchId = $('#dropdownBranch').val();

        // Basic validation
        if (!branchId) {
            $('#spnBranch').show();
            return;
        } else {
            $('#spnBranch').hide();
        }

        let data = {
            weekOffDetailsId: WeekOffDetailsId,
            branchId: parseInt(branchId),
            sundayWeekOffDay: $('#SundayWeekOffDay').val(),
            mondayWeekOffDay: $('#MondayWeekOffDay').val(),
            tuesdayWeekOffDay: $('#TuesdayWeekOffDay').val(),
            wednesdayWeekOffDay: $('#WednesdayWeekOffDay').val(),
            thursdayWeekOffDay: $('#ThursdayWeekOffDay').val(),
            fridayWeekOffDay: $('#FridayWeekOffDay').val(),
            saturdayWeekOffDay: $('#SaturdayWeekOffDay').val(),
            createdBy:WeekOffDetailsId==0?null:null,
            updatedBy:WeekOffDetailsId==0?null:null,
        };

        $.ajax({
            url: '@baseUrl/WeekOffMasterAPI/CreateWeekOffDetails', // Replace with your actual API route
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(data),
            success: function (res) {

                if(res.isSuccess)
                {
                  round_success_noti(res.responseMessage);
                   $('#weekOffForm')[0].reset();
                   setWeekOffData(res.data)
                }
                else
                {
                    round_error_noti(res.responseMessage)
                }
              
            },
            error: function () {
                round_error_noti("Error while saving weekOff data.");
            }
        });
    });

</script>
