@inject IConfiguration Configuration
@{
    ViewData["Title"] = "Leave Transaction";
    Layout = "~/Areas/AdminPanel/Views/Shared/_AdminLayout.cshtml";
    string baseUrl = Configuration["BaseUrlSettings:baseUrl"];
    var uri = new Uri(baseUrl);
    string baseAPIDomainUrl = $"{uri.Scheme}://{uri.Host}:{uri.Port}";
}


<div class="card">
    <div class="card-header bg-transparent ml-0 py-0">
        <div class="row">
            <div class="col-6">
                <h6 class="pt-2 mb-0">
                    Manage Leave Balance
                </h6>
            </div>

            <div class="col-6 d-flex justify-content-end align-items-center">
                <button id="addLeaveTransaction"
                        type="button"
                        class="btn mr-1 rounded-1"
                        style="background-color:#2395c6; color:white;">
                    Add
                </button>


            </div>
        </div>
    </div>
    <div class="card-body">

        <div class="card-body">

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">

                        <div class="grid-wrapper " style="position: relative; ">
                            <div id="grid-loader" class="grid-loader justify-content-center align-items-center flex-column "
                                 style="display: none;  inset: 0; background: rgba(255,255,255,0.6); z-index: 10; ">
                                <img src="@baseAPIDomainUrl/loders/loder.png" class="grid-logo-spinner" style="width: 30px;                                            height: 30px; animation: spin 1s linear infinite;" />
                                <div class="grid-loading-text text-dark" style="font-size: 16px;">Loading...</div>

                            </div>
                            <div id="gridTag">
                                <div class="rowCount" id="rowCount1"></div>
                                <div id="gridContainer"></div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="modal fade" id="addLeaveTransactionModal" tabindex="-1" aria-labelledby="addLeaveTransactionLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title btn-heading-title">Add Leave Balance</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body modal-body-font" style="font-size:12px;">
                <form id="leaveTransactionForm">
                    <!-- 3 fields per row -->
                    <div class="row">
                        <!-- Branch -->
                        <div class="col-md-4">
                            <div class="mt-3 form-floating-custom">
                                <div class="searchable-select-wrapper" id="branchLeaveWrapper">
                                    <label for="branchLeave">Branch <span class="text-danger">*</span></label>
                                    <input type="text" class="searchable-select-input" id="branchLeave" readonly>
                                    <span class="searchable-select-arrow">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                                            <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                                        </svg>
                                    </span>
                                    <div class="searchable-select-dropdown">
                                        <div class="searchable-select-search">
                                            <input type="text" placeholder="Search branch..." class="search-input">
                                        </div>
                                        <div class="searchable-select-options"></div>
                                    </div>
                                </div>
                                <span id="spnbranchLeave" style="color:red; display:none; font-size: 0.85em;">Please Select Branch</span>
                            </div>
                        </div>
                        <!-- Employee -->
                        <div class="col-md-4">
                            <div class="mt-3 form-floating-custom">
                                <div class="searchable-select-wrapper" id="employeeLeaveWrapper">
                                    <label for="employeeLeave">Employee <span class="text-danger">*</span></label>
                                    <input type="text" class="searchable-select-input" id="employeeLeave" readonly>
                                    <span class="searchable-select-arrow">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                                            <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                                        </svg>
                                    </span>
                                    <div class="searchable-select-dropdown">
                                        <div class="searchable-select-search">
                                            <input type="text" placeholder="Search employee..." class="search-input">
                                        </div>
                                        <div class="searchable-select-options"></div>
                                    </div>
                                </div>
                                <span id="spnemployeeLeave" style="color:red; display:none; font-size: 0.85em;">Please Select Employee</span>
                            </div>
                        </div>
                        <!-- Leave Type -->
                        <div class="col-md-4">
                            <div class="mt-3 form-floating-custom">
                                <div class="searchable-select-wrapper" id="leaveTypeWrapper">
                                    <label for="leaveType">Leave Type <span class="text-danger">*</span></label>
                                    <input type="text" class="searchable-select-input" id="leaveType" readonly>
                                    <span class="searchable-select-arrow">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                                            <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                                        </svg>
                                    </span>
                                    <div class="searchable-select-dropdown">
                                        <div class="searchable-select-search">
                                            <input type="text" placeholder="Search leave type..." class="search-input">
                                        </div>
                                        <div class="searchable-select-options"></div>
                                    </div>
                                </div>
                                <span id="spnleaveType" style="color:red; display:none; font-size: 0.85em;">Please Select Leave Type</span>
                            </div>
                        </div>
                        <!-- Transaction Type -->
                        <div class="col-md-4">
                            <div class="mt-3">
                                <label>Transaction Type <span class="text-danger">*</span></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="transactionType" id="Credit" value="Credit" >
                                    <label class="form-check-label" for="credit">Credit</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="transactionType" id="Debit" value="Debit">
                                    <label class="form-check-label" for="debit">Debit</label>
                                </div>
                                <div class="form-check">
                                 <span id="spntransactionType" style="color:red; display:none; font-size: 0.85em;">Please Select Transaction Type</span>
                                 </div>
                            </div>
                        </div>

                        <!-- Leave Value -->
                        <div class="col-md-4">
                            <div class="form-group mt-3 position-relative">
                                <input type="text" class="form-control floating-input" data-decimal-two id="leaveValue" placeholder="Leave Value ">
                                <label class="floating-label" for="leaveValue">Leave Value <span class="text-danger">*</span></label>
                               
                            </div>
                            <span id="spnleaveValue" style="color:red; display:none; font-size: 0.85em;">Please Enter Leave Value</span>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group mt-3 position-relative">
                                <textarea class="form-control floating-input" id="leaveReason" placeholder="Reason" rows="3"></textarea>
                                <label class="floating-label" for="leaveReason">Reason <span class="text-danger">*</span></label>
                            </div>
                            <span id="spnleaveReason" style="color:red; display:none; font-size: 0.85em;">Please Enter Reason</span>
                        </div>

                    </div>
                </form>
            </div>
            <div class="modal-footer btn-heading-title">
                <button type="button" class="btn btn-primary" id="btnSaveLeaveTransaction" style="background-color:#2395c6; color:white;">Save</button>
                <button type="button" class="btn btn-primary" id="btnSavingLeaveTransaction" style="background-color:#2395c6; color:white;display:none;" disabled><span class="spinner-border spinner-border-sm me-2" role="status"></span> Saving..</button>

                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<script src="~/assets/js/jquery.min.js"></script>


<script>
     var companyDetails = JSON.parse(localStorage.getItem('selectedCompany'));
     const CompanyId = companyDetails?.CompanyId;
     const EmployeeId = localStorage.getItem('EmployeeId');
     const Token = localStorage.getItem("authToken");
     
     $(document).ready(function(){
         loadGetLeaveBalanceReport();
         $('#employeeLeave').searchableSelect({
             data: [],
             valueKey: 'employeeId',
             textKey: 'employeeName',
             placeholder:'Employee',
             searchPlaceholder: 'Search employee...',
             onChange: function(item) {
                 GetJoinDateById(item.employeeId);
             }
         });

         BindBranchDropdownForLeave();
         BindLeaveTypeDropdown();
      
     })

     $("#addLeaveTransaction").click(() => {
          resetLeaveTransactionForm();
        $("#addLeaveTransactionModal").modal('show');
     });



     function showbtnLoder(){
        $('#btnSaveLeaveTransaction').hide();
        $('#btnSavingLeaveTransaction').show();
    }

    function hidebtnLoder(){
          $('#btnSaveLeaveTransaction').show();
          $('#btnSavingLeaveTransaction').hide();
    }

    async function BindBranchDropdownForLeave() {
        return new Promise((resolve, reject) => {
            $.ajax({
                url: '@baseUrl/BranchAPI/GetAllBranchesListByCompanyId/' + CompanyId,
                method: 'GET',
                headers: {
                    'Authorization': 'Bearer ' + Token
                },
                success: function (data) {
                    if (data.isSuccess) {
                        $('#branchLeave').searchableSelect({
                            data: data.data || [],
                            valueKey: 'branchId',
                            textKey: 'branchName',
                            placeholder: 'Branch',
                            searchPlaceholder: 'Search branch...',
                            onChange: function(item) {
                                BindEmployeeByBranchIdForLeave(item.branchId);
                            }
                        });
                        resolve(data.data);
                    } else {
                        reject('Failed to fetch branches');
                    }
                },
                error: function (error) {
                    reject(error);
                }
            });
        });
    }

    async function BindEmployeeByBranchIdForLeave() {
        var branchId=$('#branchLeave').data('searchableSelect').getValue();
        if (!branchId) {
            return Promise.resolve();
        }
        var payLoad={
            BranchId:branchId,
            CompanyId:CompanyId
        }
        return new Promise((resolve, reject) => {
            $.ajax({
                url: '@baseUrl/EmployeeMasterAPI/GetEmployeeListByBranchId',
                method: 'POST',
                contentType: 'application/json',
                headers: {
                    'Authorization': 'Bearer ' + Token
                },
                data: JSON.stringify(payLoad),
                success: function (data) {
                    if (data.isSuccess) {
                        const dropdownEmployee = $('#employeeLeave').data('searchableSelect');
                        if (dropdownEmployee) {
                            dropdownEmployee.setData(data.data);
                        }
                        resolve(data.data);
                    } else {
                        reject('Failed to fetch employees');
                    }
                },
                error: function (error) {
                    reject(error);
                }
            });
        });
    }

    async function BindLeaveTypeDropdown() {
        return new Promise((resolve, reject) => {
            $.ajax({
                url: '@baseUrl/LeaveTransactionAPI/GetAllLeaveTypeByCompanyId/' + CompanyId,
                method: 'GET',
                headers: {
                    'Authorization': 'Bearer ' + Token
                },
                success: function (data) {
                    if (data.isSuccess) {
                        $('#leaveType').searchableSelect({
                            data: data.data || [],
                            valueKey: 'Leave_TypeId',
                            textKey: 'Leave_Name',
                            placeholder: 'Leave Type',
                            searchPlaceholder: 'Search leave type...'
                        });
                        resolve(data.data);
                    } else {
                        reject('Failed to fetch leave types');
                    }
                },
                error: function (error) {
                    reject(error);
                }
            });
        });
    }


            async function loadGetLeaveBalanceReport() {
        $('#grid-loader').addClass('d-flex').show();
        return new Promise((resolve, reject) => {
            $.ajax({
                url: '@baseUrl/LeaveTransactionAPI/GetLeaveBalanceReport/' + CompanyId,
                method: 'GET',
                headers: {
                    'Authorization': 'Bearer ' + Token
                },
                success: function (response) {

                    var gridInstance = $("#gridContainer").dxDataGrid({
                        dataSource: response.data || [],
                        columns: [
                            { dataField: 'BranchName', caption: 'Branch Name' },
                            { dataField: 'EmployeeCode', caption: 'Employee Code' },
                            { dataField: 'FullName', caption: 'Employee Name' },
                            { dataField: 'LeaveType', caption: 'Leave Type' },
                            { dataField: 'LeaveBalance', caption: 'Leave Balance' },
                            {
                                dataField: 'LastTransactionDate',
                                caption: 'Last Transaction Date',
                                dataType: 'date',
                                format: 'dd-MM-yyyy'
                            },
                            { dataField: 'Reason', caption: 'Reason' },
                           {
                                dataField: '',
                                caption: 'Edit',
                                dataType: 'string',
                                width: '50px',
                                cellTemplate: function (container, options) {
                                    var buttonElement = $('<div class="d-flex order-actions">' +
                                        '<a href="javascript:;" class="edit-action" title="Edit Leave Transaction">' +
                                        '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">' +
                                        '<path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>' +
                                        '<path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>' +
                                        '</svg>' +
                                        '</a>' +
                                        '</div>')
                                        .on('click', function () {
                                            UpdateLeaveTransactionData(options.data);
                                        }).appendTo(container);
                                }
                            }
                        ],

                        // ✅ Make it responsive + horizontally scrollable
                        columnAutoWidth: true,           // auto-fit width per column
                        allowColumnResizing: true,
                        columnResizingMode: "widget",
                        wordWrapEnabled: false,          // keep headers in one line
                        showBorders: true,
                        scrolling: {
                            mode: "standard",
                            useNative: true,
                            scrollByContent: true,
                            scrollByThumb: true,
                            showScrollbar: "always"      // ✅ always show horizontal scrollbar
                        },

                        rowAlternationEnabled: false,
                        grouping: { autoExpandAll: false },
                        paging: { pageSize: 10 },
                        pager: {
                            showPageSizeSelector: true,
                            allowedPageSizes: [10, 25, 50, 100]
                        },
                        headerFilter: { visible: false },
                        filterRow: { visible: false, applyFilter: "auto" },
                        groupPanel: { visible: false },
                        searchPanel: { visible: true, width: 240, placeholder: "Search..." },
                        allowColumnReordering: false,

                        onContentReady(e) {
                            $('.rowCount').html('Total Records: ' + e.component.totalCount());
                            e.component.updateDimensions();
                            $('#grid-loader').removeClass('d-flex').hide();
                        }
                    }).dxDataGrid('instance');

                    $('#grid-loader').removeClass('d-flex').hide();
                    resolve(response.data);
                },
                error: function (error) {
                    $('#grid-loader').removeClass('d-flex').hide();
                    reject(error);
                }
            });
        });
    }








    $('#btnSaveLeaveTransaction').click(function () {
            
        showbtnLoder();
        var branch = $('#branchLeave').data('searchableSelect').getValue();
        var employee = $('#employeeLeave').data('searchableSelect').getValue();
        var leaveType = $('#leaveType').data('searchableSelect').getValue();
        var transactionType = $('input[name="transactionType"]:checked').val();
        var leaveValue = $('#leaveValue').val();
        var leaveReason = $('#leaveReason').val();
        var isValid = true;

        if (!branch) {
            $('#spnbranchLeave').show();
            isValid = false;
        } else {
            $('#spnbranchLeave').hide();
        }
        if (!employee) {
            $('#spnemployeeLeave').show();
            isValid = false;
        } else {
            $('#spnemployeeLeave').hide();
        }
        if (!leaveType) {
            $('#spnleaveType').show();
            isValid = false;
        } else {
            $('#spnleaveType').hide();
        }
        if (!transactionType) {
            $('#spntransactionType').show();
            isValid = false;
        } else {
            $('#spntransactionType').hide();
        }
        if (!leaveValue || leaveValue <= 0) {
            $('#spnleaveValue').show();
            isValid = false;
        } else {
            $('#spnleaveValue').hide();
        }
        if (!leaveReason) {
            $('#spnleaveReason').show();
            isValid = false;
        } else {
            $('#spnleaveReason').hide();
        }
        if (!isValid) {
           hidebtnLoder();
            return;
        }

        var leaveTransactionData = {
            EmpId: parseInt(employee),
            LeaveTypeId: parseInt(leaveType),
            TransactionType: transactionType,
            LeaveValue: parseFloat(leaveValue),
            Reason:leaveReason,
            CreatedBy: EmployeeId
        };
        
        $.ajax({
            url: "@baseUrl/LeaveTransactionAPI/InsertLeaveTransaction",
            type: "POST",
            contentType: 'application/json',
            headers: {
                'Authorization': 'Bearer ' + Token
            },
            data: JSON.stringify(leaveTransactionData),
            success: function (response) {
                if (response.isSuccess) {
                    round_success_noti(response.responseMessage);
                    $("#addLeaveTransactionModal").modal('hide');
                    loadGetLeaveBalanceReport();
                } else {
                    round_error_noti(response.responseMessage);
                }
                hidebtnLoder();
            },
            error: function (xhr) {
                hidebtnLoder();
                console.error('Error:', xhr);
                round_error_noti('Unable to save leave transaction');
            }
        });
    });

     async function resetLeaveTransactionForm() {
        $('#branchLeave').data('searchableSelect').clear();
        $('#employeeLeave').data('searchableSelect').clear();
        $('#leaveType').data('searchableSelect').clear();
        $('#leaveValue').val('');
        $('#leaveReason').val('');
         hidebtnLoder();
        $('#spnbranchLeave, #spnemployeeLeave, #spnleaveType, #spnleaveValue, #spntransactionType,#spnleaveReason').hide();
    }

     async function UpdateLeaveTransactionData(data) {
          await resetLeaveTransactionForm();
        
        if (data.BranchId) {
            $('#branchLeave').data('searchableSelect').setValue(data.BranchId);
            await BindEmployeeByBranchIdForLeave();
        }


        if (data.Emp_Id) {
            $('#employeeLeave').data('searchableSelect').setValue(data.Emp_Id);
        }
        if (data.Leave_TypeId) {
            $('#leaveType').data('searchableSelect').setValue(data.Leave_TypeId);
        }
        if (data.LeaveBalance) {
            $('#leaveBalanceDisplay').text(data.LeaveBalance);
        }
        
        if (data.LastTransactionDate) 
        {
            $('#lastTransactionDate').val(data.LastTransactionDate.split(' ')[0]);
        }
       
         $("#addLeaveTransactionModal").modal('show');
        
    }


       
</script>
