@{
    ViewData["Title"] = "Employee Panel";
    Layout = "~/Areas/EmployeePanel/Views/Shared/_EmployeeLayout.cshtml";
    string baseUrl = ViewBag.BaseUrl;
}
<link href="~/commoncss.css" rel="stylesheet" />

<style>
    .fixed-label {
        min-width: 130px;
        white-space: nowrap;
        margin-bottom: 0;
        text-align: right;
    }
</style>
<div class="card">
    <div class="card-header bg-transparent ml-0 py-0">
        <div class="row">
            <div class="col-6">
                <h4 class="pt-2 mb-0">Pre Comp-Off Application</h4>
            </div>
        </div>
        <div class="card mt-4">
            <div class="card-header bg-transparent py-2">
                <div class="row align-items-center">
                    <div class="col">
                        <h6 class="mb-0">Search Panel</h6>
                    </div>
                    <div class="col-auto">
                        <a href='@Url.Action("AddPreCompOffApplication", "CompOffApplication", new { area = "EmployeePanel" })' class="btn btn-primary btn-sm">Add</a>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div class="form-container">
                    <form>
                        <div class="row mb-3">
                            <label for="applicationDate" class="col-sm-4 col-form-label fixed-label">Application From Date:</label>
                            <div class="col-sm-4">
                                <input type="date" class="form-control  form-control-sm" id="applicationDate" name="applicationDate" placeholder="DD-MM-YYYY">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="applicationtoDate" class="col-sm-4 col-form-label fixed-label">Application To Date:</label>
                            <div class="col-sm-4">
                                <input type="date" class="form-control  form-control-sm" id="applicationtoDate" name="applicationtoDate" placeholder="DD-MM-YYYY">
                            </div>
                        </div>


                        <div class="row mb-3">
                            <label for="codeid" class="col-sm-4 col-form-label fixed-label">Code:</label>
                            <div class="col-sm-4">
                                <input type="date" class="form-control  form-control-sm" id="codeid">
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="precompoffid" class="col-sm-4 col-form-label fixed-label">Pre Comp-Off To Date:</label>
                            <div class="col-sm-4">
                                <input type="date" class="form-control  form-control-sm" id="precompoffid">
                            </div>
                        </div>


                        <div class="row mb-3">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-4">
                                <button type="submit" class="btn btn-primary btn-sm me-2">Submit</button>
                                <button type="reset" class="btn btn-secondary btn-sm">Clear</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>