@inject IConfiguration Configuration
@{
	ViewData["Title"] = "Employee Master";
	Layout = "~/Areas/EmployeePanel/Views/Shared/_EmployeeLayout.cshtml";
	string baseUrl = Configuration["BaseUrlSettings:baseUrl"];
	string UIBaseUrlLayout = Configuration["UIBaseUrlSettings:baseUrl"];
	var uriAPI = new Uri(baseUrl);
	string baseAPIDomainUrl = $"{uriAPI.Scheme}://{uriAPI.Host}:{uriAPI.Port}";
}

<div class="card ">
	<div class="card-header bg-transparent ml-0 py-0">
		<div class="row">
			<div class="col-6">
				<h6 class="p-2 mb-0">
				  Manage Probation
				</h6>
			</div>

		</div>
	</div>


	<div class="card-body">
		<div class="row">
			<div class="col-md-12">

				<div class="grid-wrapper " style="position: relative; " >
					<div id="grid-loader" class="grid-loader justify-content-center align-items-center flex-column "
						 style="display: none;  inset: 0; background: rgba(255,255,255,0.6); z-index: 10; ">
						<img src="@baseAPIDomainUrl/loders/loder.png" class="grid-logo-spinner" style="width: 30px; height: 30px; animation: spin 1s linear infinite;" />
						<div class="grid-loading-text text-dark" style="font-size: 16px;">Loading...</div>

					</div>
					<div class="rowCount" id="rowCount2"></div>
					<div id="GridContainer"></div>
				</div>

			</div>
		</div>
	</div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<script>
			const EmployeeId = localStorage.getItem("EmployeeId");
			  var Token=localStorage.getItem("authToken");

		
		$(() => {

			ProbationDataTable();
		});

		function ProbationDataTable() {
		 try {
			$('#grid-loader').addClass('d-flex').show();
			 $.ajax({
				type: "GET",
				 url: '@baseUrl/ProbationPerformanceAPI/GetAllProbationEmployees/'+EmployeeId,  // Update the URL based on the API you're using
				headers: {
						'Authorization': 'Bearer ' + Token
					},
				 success: function (data) {
				console.log(data);
						$("#GridContainer").dxDataGrid({
							dataSource: data.data||[],  // Use the 'data' field from the API response

							columns: [

								{ dataField: 'employeeCode', caption: 'Employee Code' },
								{ dataField: 'fullName', caption: 'Full Name' },
								{ dataField: 'branchName', caption: 'Branch Name' },
								{ dataField: 'dateOfJoining', caption: 'Date of Joining', dataType: 'date', format: 'dd-MM-yyyy' },
								{ dataField: 'probationEndDate', caption: 'Probation End Date', dataType: 'date', format: 'dd-MM-yyyy' },

								{ dataField: 'extendedInDays', caption: 'Extended In Days' },
								{ dataField: 'reviewType', caption: 'Review Type' },

									   {
									   dataField: '',
									   caption: '',
									   alignment: 'center',
									   dataType: 'string',
									   format: '',
									   type: 'buttons',
									   width: '60px',
									 cellTemplate: function(container, options) {
										var reviewType = options.data.reviewType; // Assuming `ReviewType` is a property in your data

										if (reviewType === "Final") {
											// // Show PDF download button
											// var buttonElement = $('<div class="d-flex order-actions">' +
											// 	'<button class="download-btn" >' +
											// 	'<span class="pdf-icon">📄</span> PDF' +
											// 	'</button>' +
											// 	'</div>').on('dxclick', function() {
											// 		downloadProbation(options.data);
											// 	})
											// 	.appendTo(container);
										} else {
											
											var buttonElement = $('<div class="d-flex order-actions">' +
												'<a href="javascript:;" class="edit-action" title="Evaluate Employee">' +
												'<svg xmlns="http:www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">' +
												'<path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"' +
												'/><path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"' +
												'/></svg>' +
												'</a>' +
												'</div>')
												.on('dxclick', function() {
													evaluateEmployeeProbation(options.data);
												})
												.appendTo(container);
											buttonElement.find('svg').attr('title', 'Evaluate Employee');
										}
									}

								   }



							],
							columnsAutoWidth: true,
							wordWrapEnabled: true,
							rowAlternationEnabled: false,
							showBorders: true,
							grouping: { autoExpandAll: false },
							paging: { pageSize: 10 },
							pager: { showPageSizeSelector: true, allowedPageSizes: [10, 25, 50, 100] },
							headerFilter: { visible: false },
							//filterRow: { visible: true, applyFilter: "auto" },
							allowColumnResizing: false,
							groupPanel: { visible: false },
							searchPanel: { visible: true, width: 240, placeholder: "Search..." },
							allowColumnReordering: false,
							columnFixing: { enabled: false },

							onContentReady(e) {
								   $('#rowCount2').html('Total Records: ' + $("#GridContainer").dxDataGrid('instance').totalCount());
							}
						}).dxDataGrid('instance');
					
						  $('#grid-loader').removeClass('d-flex').hide();

				},
				error: function (xhr, status, error) {
					  $('#grid-loader').removeClass('d-flex').hide();

					// Handle any errors that occurred during the AJAX request
					console.error("AJAX Error: " + status + " - " + error);

				}
			});

		  } catch (e)
		  {
			   console.error("Error in probation:", e);
			   $('#grid-loader').removeClass('d-flex').hide();
		  }
	}

		function evaluateEmployeeProbation(data) {
				localStorage.removeItem('ProbationEmployeeId');
			localStorage.setItem('ProbationEmployeeId', data.employeeId);
			window.location.href = '@UIBaseUrlLayout/EmployeePanel/ManageProbation/ProbationPerformance';
		}
		function downloadProbation(data) {
			console.log("dowunload",data);
		}


</script>
