@inject IConfiguration Configuration
@{
	ViewData["Title"] = "Employee Master";
	Layout = "~/Areas/EmployeePanel/Views/Shared/_EmployeeLayout.cshtml";
	string baseUrl = Configuration["BaseUrlSettings:baseUrl"];
	string UIBaseUrlLayout = Configuration["UIBaseUrlSettings:baseUrl"];
	var uriAPI = new Uri(baseUrl);
	string baseAPIDomainUrl = $"{uriAPI.Scheme}://{uriAPI.Host}:{uriAPI.Port}";
}
<style>
    .star-rating {
        display: inline-flex;
        flex-direction: row-reverse;
        margin: 0 10px;
    }

        .star-rating input[type="radio"] {
            display: none;
        }

        .star-rating label {
            font-size: 1.5rem;
            color: #ccc;
            cursor: pointer;
            transition: color 0.2s;
            padding: 0 2px;
        }

            .star-rating input[type="radio"]:checked ~ label,
            .star-rating label:hover,
            .star-rating label:hover ~ label {
                color: #ffc107;
            }


</style>


<div class="card ">
    <div class="card-header bg-transparent ml-0 py-0">
        <div class="row">
            <div class="col-6">
                <h6 class="p-2 mb-0">
                    Evaluate Probation Performance
                </h6>
            </div>
            <div class="col-6 d-flex justify-content-end align-items-center">
                <div  cursor:pointer;">

                    <button id="backProbation"
                            type="button"
                            class="btn mr-1 rounded-1"
                            style="background-color:#292929; color:white;">
                        <a href="@UIBaseUrlLayout/EmployeePanel/ManageProbation/Probation" style="color:white; text-decoration:none;">Back</a>
                    </button>
                </div>
            </div>
       </div>
   </div>


    <div class="card-body">

        <form>
            <div class="row">
                <!-- Name of the Probationer -->
                <div class="col-md-3">
                    <div class="form-group mt-3 position-relative">
                        <input type="text" class="form-control floating-input" id="txtProbationerName" disabled placeholder="Name of the Probationer">
                        <label class="floating-label" for="txtProbationerName">Name of the Probationer</label>
                    </div>
                    <span id="spnProbationerName" style="color:red; display:none;">Please Enter Probationer Name</span>
                </div>

                <!-- Branch -->
                <div class="col-md-3">
                    <div class="form-group mt-3 position-relative">
                        <input type="text" class="form-control floating-input" id="txtBranch" placeholder="Branch" disabled >
                        <label class="floating-label" for="txtBranch">Branch</label>
                    </div>
                    <span id="spnBranch" style="color:red; display:none;">Please Enter Branch</span>
                </div>

                <!-- Designation -->
                <div class="col-md-3">
                    <div class="form-group mt-3 position-relative">
                        <input type="text" class="form-control floating-input" id="txtDesignation" disabled placeholder="Designation">
                        <label class="floating-label" for="txtDesignation">Designation</label>
                    </div>
                    <span id="spnDesignation" style="color:red; display:none;">Please Enter Designation</span>
                </div>
              
                <!-- Department -->
                <div class="col-md-3">
                    <div class="form-group mt-3 position-relative">
                        <input type="text" class="form-control floating-input" id="txtDepartment" disabled placeholder="Department">
                        <label class="floating-label" for="txtDepartment">Department</label>
                    </div>
                    <span id="spnDepartment" style="color:red; display:none;">Please Enter Department</span>
                </div>

                <div class="col-md-3">
                    <div class="form-group mt-3 position-relative">
                        <input type="date" class="form-control floating-input" id="dtJoining" disabled placeholder="Date Of Joining">
                        <label class="floating-label" for="dtJoining">Date Of Joining</label>
                    </div>
                    <span id="spnJoining" style="color:red; display:none;">Please Select Date Of Joining</span>
                </div>

                <!-- Probation End Date -->
                <div class="col-md-3">
                    <div class="form-group mt-3 position-relative">
                        <input type="date" class="form-control floating-input" id="dtProbationEnd" disabled  placeholder="Probation End Date">
                        <label class="floating-label" for="dtProbationEnd">Probation End Date</label>
                    </div>
                    <span id="spnProbationEnd" style="color:red; display:none;">Please Select Probation End Date</span>
                </div>

                
            

                <!-- Confirm/Extend Probation -->
                <div class="col-md-3">
                    <div class="form-group mt-3 position-relative">
                        <select class="form-select floating-input" id="ddlProbationStatus">
                            <option selected value="">Select</option>
                            
                           
                        </select>
                        <label class="floating-label" for="ddlProbationStatus">Probation Status<span class="required-star">*</span></label>
                    </div>
                    <span id="spnProbationStatus" style="color:red; display:none;">Please Select Probation Status</span>
                </div>

                <div class="col-md-3" id="tagEvaluationDays" style="display:none;">
                    <div class="form-group mt-3 position-relative">
                        <select class="form-select floating-input" id="ddlEvaluationDays">
                            <option selected value="">Select</option>

                        </select>
                        <label class="floating-label" for="ddlEvaluationDays">Probation Evaluation Days<span class="required-star">*</span></label>
                    </div>
                    <span id="spnEvaluationDays" style="color:red; display:none;">Please Enter Evaluation Days</span>
                </div>

               
                <!-- Probation Extended Date -->
                <div class="col-md-3" id="tagEvaluationDate" style="display:none;">
                    <div class="form-group mt-3 position-relative">
                        <input type="date" class="form-control floating-input" id="inpEvaluationDate" disabled placeholder="">
                        <label class="floating-label" for="inpEvaluationDate">Probation Evaluation Date <span class="required-star">*</span></label>
                    </div>
                    <span id="spnEvaluationDate" style="color:red; display:none;">Please Select Evaluation Days</span>
                </div>
                <!--Employee Type-->
               @*  <div class="col-md-3" id="tagEmployeeType" style="display:none;">
                    <div class="form-group mt-3 position-relative">
                        <select class="form-select floating-input" id="ddlEmployeeType">
                            <option selected disabled value="">Select</option>

                        </select>
                        <label class="floating-label" for="ddlEmployeeType">Employee Type</label>
                    </div>
                    <span id="spnddlEmployeeType" style="color:red; display:none;">Please Select Employee Type</span>
                </div> *@
               
            
                <!-- 5-Star Rating -->
                <div class="col-md-3">
                    <div class="form-group mt-3 d-flex align-items-center">
                        <label class="form-label me-3">Performance Rating <span class="required-star">*</span></label>
                        <div class="star-rating d-flex">
                            <input type="radio" id="5-stars" name="rating" value="5" />
                            <label for="5-stars" class="star">★</label>
                            <input type="radio" id="4-stars" name="rating" value="4" />
                            <label for="4-stars" class="star">★</label>
                            <input type="radio" id="3-stars" name="rating" value="3" />
                            <label for="3-stars" class="star">★</label>
                            <input type="radio" id="2-stars" name="rating" value="2" />
                            <label for="2-stars" class="star">★</label>
                            <input type="radio" id="1-star" name="rating" value="1" />
                            <label for="1-star" class="star">★</label>
                        </div>
                        <input type="hidden" id="hdnRating" name="hdnRating" value="0">
                    </div>
                    <span id="spnRating" style="color:red; display:none; margin-left: 10px;">Please Select a Rating</span>

                </div>
             
            
                <!-- Remarks of Approver Reviewer -->
                <div class="col-md-3">
                    <div class="form-group mt-3 position-relative">
                        <textarea class="form-control floating-input" data-trim-input id="txtApproverRemarks" style="min-height:60px"></textarea>
                        <label class="floating-label" for="txtReviewerRemarks">Remarks of Approver <span class="required-star">*</span></label>
                    </div>
                    <span id="spnApproverRemarks" style="color:red; display:none;">Please enter between 50 and 500 characters.</span>
                </div>

            
              
            </div>

            <div class="row mt-3">
                <div class="col-md-12 text-center">
                   
                    <button type="button" id="btnEvaluateProbation" class="btn px-5" style="background-color:#2395c6 !important; color:white !important;">
                        Save
                    </button>
                    <button type="button" class="btn px-5" style="background-color:#2395c6 !important; color:white !important;display:none;" disabled id="btnEvaluatingProbation">
                        <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
                        Saving...
                    </button>
                  
                </div>
            </div>
        </form>

    </div>
</div>


<script src="~/assets/js/jquery.min.js"></script>

<script>
      const EmployeeId = localStorage.getItem("EmployeeId");
    var Token=localStorage.getItem("authToken");
    let empCompanyName="";
    const probationEmployeeId=localStorage.getItem("ProbationEmployeeId");
    const approvalRequestLevelId=localStorage.getItem("ApprovalRequestLevelId");
    const approvalRequestId=localStorage.getItem("ApprovalRequestId");
    const Level=localStorage.getItem("Level");
    let EmployeeName="";
    let EmployeeCode="";
    const ApproverName=localStorage.getItem("EmployeeName");
    const ApproverCode=localStorage.getItem("EmployeeCode");
    let probationEndDate="";

     $(() => {
           const today = new Date();
        const currentdDate = today.toISOString().split('T')[0];
        $('#dtEvaluation').val(currentdDate);
         getEmployeeDetails();
       // bindEmployeeType();
        GetAllProbationStatus();
    });

     

    $("#ddlProbationStatus").change(function(){

       if($("#ddlProbationStatus option:selected").text()==="Extend"||$("#ddlProbationStatus option:selected").text()==="Hold")
       {
           //$("#tagEmployeeType").hide();
           $("#tagEvaluationDate").show();
           $("#tagEvaluationDays").show();
           //$("#ddlEmployeeType").val('');
       }
       else if($("#ddlProbationStatus option:selected").text()==="Complete")
       {
           //$("#tagEmployeeType").show();
           $("#tagEvaluationDate").hide();
           $("#tagEvaluationDays").hide();
            $("#inpEvaluationDate").val('');
       }
       else
       {
           //$("#tagEmployeeType").hide();
           $("#tagEvaluationDate").hide();
           $("#tagEvaluationDays").hide();
           $("#inpEvaluationDate").val('');
          // $("#ddlEmployeeType").val('');
          
       }
    });


        function showBtnLoder()
        {
            $('#btnEvaluateProbation').hide();
                $('#btnEvaluatingProbation').show();
        }
        function hideBtnLoder()
        {
            $('#btnEvaluateProbation').show();
                $('#btnEvaluatingProbation').hide();
        }

          function addDaysToDate() {
            // Get the number of days to add
            var days = parseInt($("#ddlEvaluationDays option:selected ").text());

            // Check if days is a valid number
            if (!isNaN(days) && days > 0) {
                // Parse the probationEndDate string into a Date object
                var extendDate = new Date(probationEndDate);

                // Add the days to the date
                extendDate.setDate(extendDate.getDate() + days);

                // Format the date as YYYY-MM-DD
                var year = extendDate.getFullYear();
                var month = String(extendDate.getMonth() + 1).padStart(2, '0');
                var day = String(extendDate.getDate()).padStart(2, '0');
                var formattedDate = `${year}-${month}-${day}`;

                // Set the formatted date in the field
                $('#inpEvaluationDate').val(formattedDate);
            } else {
                // Clear the field if days is invalid
                $('#inpEvaluationDate').val('');
            }
        }


   
    // function bindEmployeeType(){

    //    $.ajax({
    //         url: '@baseUrl/EmployeeTypeAPI/GetAllEmployeeTypes',
    //         method: 'GET',
    //         headers: {
    //                     'Authorization': 'Bearer ' + Token
    //                 },
    //         success: function(data) {
    //             if(data.isSuccess){
    //                 var dropdown = $('#ddlEmployeeType');
    //                 dropdown.empty();
    //                 dropdown.append('<option disabled selected value="">Select</option>');
    //                 $.each(data.data, function(index, company) {
    //                     dropdown.append($('<option>', {
    //                         value: company.employeeTypeId,
    //                         text: company.employeeTypeName
    //                     }));
    //                 });


    //             }
    //         },
    //         error: function(error) {
    //             console.error('Error fetching category data:', error);
    //         }
    //     });

    // }
     function GetAllProbationEvaluationPeriods() {
        var probationStatusId = $("#ddlProbationStatus").val();
        if (!probationStatusId) {
            return;
        }

        $.ajax({
            url: '@baseUrl/ProbationPerformanceAPI/GetAllProbationEvaluationPeriods?ProbationStatusId=' + probationStatusId,
            method: 'GET',
            headers: {
                'Authorization': 'Bearer ' + Token
            },
            success: function (data) {
                if (data.isSuccess && data.data && data.data.length > 0) {

                    var ddlEvaluationDays = $("#ddlEvaluationDays");
                    ddlEvaluationDays.empty();
                    ddlEvaluationDays.append(
                        $('<option>', { value: '', text: 'Select Evaluation Days' })
                    );

                    $.each(data.data, function (index, item) {
                        ddlEvaluationDays.append(
                            $('<option>', {
                                value: item.ProbationEvaluationPeriodId,
                                text: item.ProbationEvaluationDays
                            })
                        );
                    });
                }
            },
            error: function (error) {
                console.error('Error fetching evaluation periods:', error);
            }
        });
    }

     function GetAllProbationStatus() {
        $.ajax({
            url: '@baseUrl/ProbationPerformanceAPI/GetAllProbationStatus',
            method: 'GET',
            headers: {
                'Authorization': 'Bearer ' + Token
            },
            success: function (data) {
                if (data.isSuccess && data.data && data.data.length > 0) {

                    var ddlProbationStatus = $("#ddlProbationStatus");
                    ddlProbationStatus.empty();
                    ddlProbationStatus.append(
                        $('<option>', { value: '', text: 'Select Probation Status' })
                    );

                    $.each(data.data, function (index, item) {
                        if (item.ProbationStatusId !== 1 && item.ProbationStatusId !== 6) {
                            ddlProbationStatus.append(
                                $('<option>', {
                                    value: item.ProbationStatusId,
                                    text: item.ProbationStatusName
                                })
                            );
                        }
                    });
                }
            },
            error: function (error) {
                console.error('Error fetching probation status data:', error);
            }
        });
    }

     $("#ddlProbationStatus").on('change', function () {
        GetAllProbationEvaluationPeriods();
    });

     $("#ddlEvaluationDays").on('change', function () {
        addDaysToDate();
    });


    
    function getEmployeeDetails(){
       $.ajax({
            url: '@baseUrl/ProbationPerformanceAPI/GetEmployeeForProbationByEmployeeId/'+probationEmployeeId,
            method: 'GET',
            headers: {
                        'Authorization': 'Bearer ' + Token
                    },
            success: function(data) {
                if(data.isSuccess)
                {
                       probationEndDate=data.data.probationEndDate;
                   $("#txtProbationerName").val(data.data.employeeCode+' - '+data.data.fullName);
                   $("#txtBranch").val(data.data.branchName);
                   $("#txtDesignation").val(data.data.designationName);
                   $("#dtJoining").val(data.data.dateOfJoining.split('T')[0]);
                   $("#dtProbationEnd").val(data.data.probationEndDate.split('T')[0]);
                   $("#txtDepartment").val(data.data.departmentName);
                   EmployeeName=data.data.fullName;
                   EmployeeCode=data.data.employeeCode;
                   empCompanyName=data.data.companyName
                }
            },
            error: function(error) {
                console.error('Error fetching employee data:', error);
            }
        });

    }


      $('#btnEvaluateProbation').click(function() {
        showBtnLoder();

        try {
            if (!validateForm()) {
                hideBtnLoder();
                return;
            }

            // Prepare data for AJAX
            const probationPerformance = {
                EmployeeId: probationEmployeeId ? parseInt(probationEmployeeId) : null,
                ProbationStatusId: $('#ddlProbationStatus').val() ? parseInt($('#ddlProbationStatus').val()) : null,
                ProbationEvaluationPeriodId: $('#ddlEvaluationDays').val() === '' ? null : parseInt($('#ddlEvaluationDays').val()),
                Rating: parseInt($('#hdnRating').val() || '0'),
                ProbationEvaluationDate: $('#inpEvaluationDate').val() === '' ? null : $('#inpEvaluationDate').val(),
                RemarksOfApprover: $('#txtApproverRemarks').val(),
                //EmployeeTypeId: $('#ddlEmployeeType').val() === '' ? null : parseInt($('#ddlEmployeeType').val()),
                ApprovalRequestLevelId: approvalRequestLevelId ? parseInt(approvalRequestLevelId) : null,
                ApprovalRequestId: approvalRequestId ? parseInt(approvalRequestId) : null,
                CreatedBy: parseInt(EmployeeId),
                Level:Level,
                EmployeeName: EmployeeName,
                CompanyName: empCompanyName,
                EmployeeCode: EmployeeCode,
                ApproverName: ApproverName,
                ApproverCode: ApproverCode,
                EvaluationDays: $("#ddlEvaluationDays").val()==''?null:$("#ddlEvaluationDays option:selected ").text(),
                ProbationEndDate: $('#dtProbationEnd').val() === '' ? null : $('#dtProbationEnd').val()

            };

           
            $.ajax({
                url: '@baseUrl/ProbationPerformanceAPI/CreateProbationPerformance',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(probationPerformance),
                success: function(response) {
                    if (response.isSuccess) {
                        round_success_noti(response.responseMessage);
                            setTimeout(() => {
                            window.location.href = '@UIBaseUrlLayout/EmployeePanel/ManageProbation/Probation';
                            }, 1000);
                        } else {
                        round_error_noti(response.responseMessage);
                    }
                },
                error: function(xhr, status, error) {
                    console.error("AJAX Error:", error);
                    let errorMessage = "An error occurred while saving the data.";
                    if (xhr.responseJSON && xhr.responseJSON.responseMessage) {
                        errorMessage = xhr.responseJSON.responseMessage;
                    }
                    round_error_noti(errorMessage);
                },
                complete: function() {
                    hideBtnLoder();
                }
            });
        } catch (e) {
            console.error("Error:", e);
            round_error_noti("An unexpected error occurred.");
            hideBtnLoder();
        }
    });

        // Form validation function
        function validateForm() {
            let isValid = true;
            var status=$('#ddlProbationStatus').val();
            // Validate Probation Status
            if ($('#ddlProbationStatus').val() === '') {
                $('#spnProbationStatus').show();
                isValid = false;
            } else {
                $('#spnProbationStatus').hide();
            }

            // Validate Rating
             if(((status==2&&Level=='1')||(status==3&&(Level=='1'||Level=='2'))||(status==4&&(Level=='1'||Level=='2')))&&EmployeeId!='40')
            {
                if ($('#hdnRating').val() === '0') {
                    $('#spnRating').show();
                    isValid = false;
                } else {
                    $('#spnRating').hide();
                }
            }
            // Validate Remarks
            const remarks = $('#txtApproverRemarks').val().trim();
            if(((status==2&&Level=='1')||(status==3&&(Level=='1'||Level=='2'))||(status==4&&(Level=='1'||Level=='2')))&&EmployeeId!='40')
            {
                if (remarks.length < 50 || remarks.length > 500) {
                    $('#spnApproverRemarks').show();
                    isValid = false;
                } else {
                    $('#spnApproverRemarks').hide();
                }
            }

            // Validate Evaluation Days if Probation Status is Extend or Hold
            if ($('#ddlProbationStatus option:selected').text() === 'Extend' || $('#ddlProbationStatus option:selected').text() === 'Hold') {
                if ($('#ddlEvaluationDays').val() === '') {
                    $('#spnEvaluationDays').show();
                    isValid = false;
                } else {
                    $('#spnEvaluationDays').hide();
                }

                if ($('#inpEvaluationDate').val() === '') {
                    $('#spnEvaluationDate').show();
                    isValid = false;
                } else {
                    $('#spnEvaluationDate').hide();
                }
            }

           

            return isValid;
        }
   


     $(document).ready(function() {
        // Handle star rating selection
        $('.star-rating input[type="radio"]').change(function() {
            const rating = $(this).val();
            $('#hdnRating').val(rating);
        });

       
    });

    

</script>

    