@inject IConfiguration Configuration
@{
	ViewData["Title"] = "Employee Master";
	Layout = "~/Areas/EmployeePanel/Views/Shared/_EmployeeLayout.cshtml";
	string baseUrl = Configuration["BaseUrlSettings:baseUrl"];
	string UIBaseUrlLayout = Configuration["UIBaseUrlSettings:baseUrl"];
	var uriAPI = new Uri(baseUrl);
	string baseAPIDomainUrl = $"{uriAPI.Scheme}://{uriAPI.Host}:{uriAPI.Port}";
}


<div class="card ">
    <div class="card-header bg-transparent ml-0 py-0">
        <div class="row">
            <div class="col-6">
                <h6 class="p-2 mb-0">
                   Evaluate Probation Perfarmance
                </h6>
            </div>
            <div class="col-6 d-flex justify-content-end align-items-center">
                <div  cursor:pointer;">

                    <button id="backProbation"
                            type="button"
                            class="btn mr-1 rounded-1"
                            style="background-color:#292929; color:white;">
                        <a href="@UIBaseUrlLayout/EmployeePanel/ManageProbation/Probation" style="color:white; text-decoration:none;">Back</a>
                    </button>
                </div>
            </div>
       </div>
   </div>


    <div class="card-body">

        <form>
            <div class="row">
                <!-- Name of the Probationer -->
                <div class="col-md-3">
                    <div class="form-group mt-3 position-relative">
                        <input type="text" class="form-control floating-input" id="txtProbationerName" disabled placeholder="Name of the Probationer">
                        <label class="floating-label" for="txtProbationerName">Name of the Probationer</label>
                    </div>
                    <span id="spnProbationerName" style="color:red; display:none;">Please Enter Probationer Name</span>
                </div>

                <!-- Branch -->
                <div class="col-md-3">
                    <div class="form-group mt-3 position-relative">
                        <input type="text" class="form-control floating-input" id="txtBranch" placeholder="Branch" disabled >
                        <label class="floating-label" for="txtBranch">Branch</label>
                    </div>
                    <span id="spnBranch" style="color:red; display:none;">Please Enter Branch</span>
                </div>

                <!-- Designation -->
                <div class="col-md-3">
                    <div class="form-group mt-3 position-relative">
                        <input type="text" class="form-control floating-input" id="txtDesignation" disabled placeholder="Designation">
                        <label class="floating-label" for="txtDesignation">Designation</label>
                    </div>
                    <span id="spnDesignation" style="color:red; display:none;">Please Enter Designation</span>
                </div>
              
                <!-- Department -->
                <div class="col-md-3">
                    <div class="form-group mt-3 position-relative">
                        <input type="text" class="form-control floating-input" id="txtDepartment" disabled placeholder="Department">
                        <label class="floating-label" for="txtDepartment">Department</label>
                    </div>
                    <span id="spnDepartment" style="color:red; display:none;">Please Enter Department</span>
                </div>

                <div class="col-md-3">
                    <div class="form-group mt-3 position-relative">
                        <input type="date" class="form-control floating-input" id="dtJoining" disabled placeholder="Date Of Joining">
                        <label class="floating-label" for="dtJoining">Date Of Joining</label>
                    </div>
                    <span id="spnJoining" style="color:red; display:none;">Please Select Date Of Joining</span>
                </div>

                <!-- Probation End Date -->
                <div class="col-md-3">
                    <div class="form-group mt-3 position-relative">
                        <input type="date" class="form-control floating-input" id="dtProbationEnd" disabled  placeholder="Probation End Date">
                        <label class="floating-label" for="dtProbationEnd">Probation End Date</label>
                    </div>
                    <span id="spnProbationEnd" style="color:red; display:none;">Please Select Probation End Date</span>
                </div>

                
            
                <!-- Evaluation Date -->
                <div class="col-md-3">
                    <div class="form-group mt-3 position-relative">
                        <input type="date" class="form-control floating-input" disabled id="dtEvaluation" placeholder="Evaluation Date">
                        <label class="floating-label" for="dtEvaluation">Evaluation Date <span class="required-star">*</span></label>
                    </div>
                    <span id="spnEvaluation" style="color:red; display:none;">Please Select Evaluation Date</span>
                </div>

                <!-- Confirm/Extend Probation -->
                <div class="col-md-3">
                    <div class="form-group mt-3 position-relative">
                        <select class="form-select floating-input" id="ddlProbationStatus">
                            <option selected value="Extend">Extend Probation</option>
                            <option value="Confirm">Confirm</option>
                           
                        </select>
                        <label class="floating-label" for="ddlProbationStatus">Period</label>
                    </div>
                    <span id="spnProbationStatus" style="color:red; display:none;">Please Select Probation Status</span>
                </div>

                <!-- Extended In Days -->
                <div class="col-md-3" id="tagExtendDays">
                    <div class="form-group mt-3 position-relative">
                        <input type="number" data-integer-only class="form-control floating-input" onblur="addDaysToDate()" id="txtExtendedDays" placeholder="Extended In Days">
                        <label class="floating-label" for="txtExtendedDays">Extended In Days</label>
                    </div>
                    <span id="spnExtendedDays" style="color:red; display:none;">Please Enter Extended Days</span>
                </div>
                <!-- Probation Extended Date -->
                <div class="col-md-3" id="tagExtendDate">
                    <div class="form-group mt-3 position-relative">
                        <input type="date" class="form-control floating-input" id="dtExtendedProbation" disabled placeholder=" ">
                        <label class="floating-label" for="dtExtendedProbation">Probation Extended Date <span class="required-star">*</span></label>
                    </div>
                    <span id="spnExtendedProbation" style="color:red; display:none;">Please Select Extended Probation Date</span>
                </div>
                <!--Employee Type-->
                <div class="col-md-3" id="tagEmployeeType" style="display:none;">
                    <div class="form-group mt-3 position-relative">
                        <select class="form-select floating-input" id="ddlEmployeeType">
                            <option selected disabled value="">Select</option>

                        </select>
                        <label class="floating-label" for="ddlEmployeeType">Employee Type</label>
                    </div>
                    <span id="spnddlEmployeeType" style="color:red; display:none;">Please Select Employee Type</span>
                </div>
               
            
                <!-- Major Strengths -->
                <div class="col-md-3">
                    <div class="form-group mt-3 position-relative">
                        <textarea class="form-control floating-input" data-trim-input id="txtStrengths" placeholder="Major Strengths" rows="3"></textarea>
                        <label class="floating-label" for="txtStrengths">Major Strengths</label>
                    </div>
                    <span id="spnStrengths" style="color:red; display:none;">Please Enter Major Strengths</span>
                </div>
           
                <!-- Major Weaknesses -->
                <div class="col-md-3">
                    <div class="form-group mt-3 position-relative">
                        <textarea class="form-control floating-input" data-trim-input id="txtWeaknesses" placeholder="Major Weaknesses" rows="3"></textarea>
                        <label class="floating-label" for="txtWeaknesses">Major Weaknesses</label>
                    </div>
                    <span id="spnWeaknesses" style="color:red; display:none;">Please Enter Major Weaknesses</span>
                </div>
            
                <!-- Remarks of Appraiser -->
                <div class="col-md-3">
                    <div class="form-group mt-3 position-relative">
                        <textarea class="form-control floating-input" data-trim-input id="txtAppraiserRemarks" placeholder="Remarks of Appraiser" rows="3"></textarea>
                        <label class="floating-label" for="txtAppraiserRemarks">Remarks of Appraiser</label>
                    </div>
                    <span id="spnAppraiserRemarks" style="color:red; display:none;">Please Enter Appraiser Remarks</span>
                </div>
            
                <!-- Remarks of Appraisal Reviewer -->
                <div class="col-md-3">
                    <div class="form-group mt-3 position-relative">
                        <textarea class="form-control floating-input" data-trim-input id="txtReviewerRemarks" placeholder="Remarks of Appraisal Reviewer" rows="3"></textarea>
                        <label class="floating-label" for="txtReviewerRemarks">Remarks of Appraisal Reviewer <span class="required-star">*</span></label>
                    </div>
                    <span id="spnReviewerRemarks" style="color:red; display:none;">Please Enter Reviewer Remarks</span>
                </div>
            
                <!-- Attach Documents -->
                <div class="col-md-3">
                    <div class="form-group mt-3">
                        <input type="file" class="form-control  floating-input" data-trim-input id="fileDocuments">
                    </div>
                    <span id="spnDocuments" style="color:red; display:none;">Please Attach Documents</span>
                </div>

               @*  <!-- Score Range -->
                <div class="col-md-3">
                    <div class="form-group mt-3 position-relative">
                        <input type="text" class="form-control floating-input" id="txtScoreRange" placeholder="Score Range">
                        <label class="floating-label" for="txtScoreRange">Score Range</label>
                    </div>
                    <span id="spnScoreRange" style="color:red; display:none;">Please Enter Score Range</span>
                </div> *@
            </div>

            <div class="row mt-3">
                <div class="col-md-12 text-center">
                   @*  <button type="button" class="btn px-4" id="btnReset" style="background-color:grey !important; color:white !important;">
                        Clear
                    </button> *@
                    <button type="button" id="btnEvaluateProbation" class="btn px-5" style="background-color:#2395c6 !important; color:white !important;">
                        Save
                    </button>
                    <button type="button" class="btn px-5" style="background-color:#2395c6 !important; color:white !important;display:none;" disabled id="btnEvaluatingProbation">
                        <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
                        Saving...
                    </button>
                  
                </div>
            </div>
        </form>

    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>


<script>
      const EmployeeId = localStorage.getItem("EmployeeId");
    var Token=localStorage.getItem("authToken");
    var probationEmployeeId=localStorage.getItem("ProbationEmployeeId");
    let probationEndDate="";
     $(() => {
           const today = new Date();
        const currentdDate = today.toISOString().split('T')[0];
        $('#dtEvaluation').val(currentdDate);
         getEmployeeDetails();
        bindEmployeeType();
    });

     // $("#btnReset").click(function(){

     // });

    $("#ddlProbationStatus").change(function(){

       if($(this).val()==="Confirm"){
           $("#tagEmployeeType").show();
           $("#tagExtendDays").hide();
           $("#tagExtendDate").hide();
       }
       else{
           $("#tagEmployeeType").hide();
           $("#tagExtendDays").show();
           $("#tagExtendDate").show();
       }
    });


        function showBtnLoder()
        {
            $('#btnEvaluateProbation').hide();
                $('#btnEvaluatingProbation').show();
        }
        function hideBtnLoder()
        {
            $('#btnEvaluateProbation').show();
                $('#btnEvaluatingProbation').hide();
        }

          function addDaysToDate() {
            // Get the number of days to add
            var days = parseInt($("#txtExtendedDays").val());

            // Check if days is a valid number
            if (!isNaN(days) && days > 0) {
                // Parse the probationEndDate string into a Date object
                var extendDate = new Date(probationEndDate);

                // Add the days to the date
                extendDate.setDate(extendDate.getDate() + days);

                // Format the date as YYYY-MM-DD
                var year = extendDate.getFullYear();
                var month = String(extendDate.getMonth() + 1).padStart(2, '0');
                var day = String(extendDate.getDate()).padStart(2, '0');
                var formattedDate = `${year}-${month}-${day}`;

                // Set the formatted date in the field
                $('#dtExtendedProbation').val(formattedDate);
            } else {
                // Clear the field if days is invalid
                $('#dtExtendedProbation').val('');
            }
        }


    function formatDate(isoDateStr) {
              if (!isoDateStr) return '';
        return isoDateStr.split('T')[0];
      }
    function bindEmployeeType(){

       $.ajax({
            url: '@baseUrl/EmployeeTypeAPI/GetAllEmployeeTypes',
            method: 'GET',
            headers: {
                        'Authorization': 'Bearer ' + Token
                    },
            success: function(data) {
                if(data.isSuccess){
                    var dropdown = $('#ddlEmployeeType');
                    dropdown.empty();
                    dropdown.append('<option disabled selected value="">Select</option>');
                    $.each(data.data, function(index, company) {
                        dropdown.append($('<option>', {
                            value: company.employeeTypeId,
                            text: company.employeeTypeName
                        }));
                    });


                }
            },
            error: function(error) {
                console.error('Error fetching category data:', error);
            }
        });

    }
    function getEmployeeDetails(){

       $.ajax({
            url: '@baseUrl/ProbationPerformanceAPI/GetEmployeeForProbationByEmployeeId/'+probationEmployeeId,
            method: 'GET',
            headers: {
                        'Authorization': 'Bearer ' + Token
                    },
            success: function(data) {
                if(data.isSuccess)
                {
                       probationEndDate=data.data.probationEndDate;
                   $("#txtProbationerName").val(data.data.employeeCode+' - '+data.data.fullName);
                   $("#txtBranch").val(data.data.branchName);
                   $("#txtDesignation").val(data.data.designationName);
                   $("#dtJoining").val(formatDate(data.data.dateOfJoining));
                   $("#dtProbationEnd").val(formatDate(data.data.probationEndDate));
                   $("#txtDepartment").val(data.data.departmentName);
                }
            },
            error: function(error) {
                console.error('Error fetching employee data:', error);
            }
        });

    }

        // Submit button click event
      $(document).ready(function() {
        $('#btnEvaluateProbation').click(function() {
            showBtnLoder();
            var formData = new FormData();
            var isValid = true;
            // dtEvaluation
            var dtEvaluation = $('#dtEvaluation').val();
            if (!dtEvaluation) {
                $('#spnEvaluation').show();
                isValid = false;
            } else {
                $('#spnEvaluation').hide();
                formData.append('EvaluationDate', dtEvaluation);
            }

            // ddlProbationStatus
            var ddlProbationStatus = $('#ddlProbationStatus').val();

            if (ddlProbationStatus) {
              
                formData.append('Period', ddlProbationStatus);
                if(ddlProbationStatus=="Extend")
                {

                    formData.append('ReviewType', 'Pending');

                   var txtExtendedDays = $('#txtExtendedDays').val();
                  if (!txtExtendedDays) 
                  {
                        $('#spnExtendedDays').show();
                        isValid = false;
                    } else {
                        $('#spnExtendedDays').hide();
                        formData.append('ExtendedInDays', txtExtendedDays);
                    }

                    // dtExtendedProbation
                    var dtExtendedProbation = $('#dtExtendedProbation').val();
                    if (dtExtendedProbation)
                    {
                        
                        $('#spnExtendedProbation').hide();
                        formData.append('ProbationExtendedDate', dtExtendedProbation);
                    }
                    else{
                        
                             isValid = false;
                         $('#spnExtendedProbation').show();
                    }
                }
                else if(ddlProbationStatus=="Confirm")
                {
                     formData.append('ReviewType', 'Final');
                     var ddlEmployeeType = $('#ddlEmployeeType').val();
                     if (!ddlEmployeeType) {
                        $('#spnddlEmployeeType').show();
                        isValid = false;
                    } else {
                        $('#spnddlEmployeeType').hide();
                        formData.append('EmployeeType', ddlEmployeeType);
                    }
                }


            }
            else{
                $('#spnExtendedDays').hide();
                $('#spnExtendedProbation').hide();
                $('#spnExtendedProbation').hide();
            }

            
            
           
            // txtStrengths
            var txtStrengths = $('#txtStrengths').val();
             if(txtStrengths){
               formData.append('MajorStrengths', txtStrengths);
             }


            // txtWeaknesses
            var txtWeaknesses = $('#txtWeaknesses').val();
             if(txtWeaknesses){
                formData.append('MajorWeaknesses', txtWeaknesses);
             }


            // txtAppraiserRemarks
            var txtAppraiserRemarks = $('#txtAppraiserRemarks').val();
           if(txtAppraiserRemarks){
            formData.append('RemarksOfAppraiser', txtAppraiserRemarks);
           }


            // txtReviewerRemarks
            var txtReviewerRemarks = $('#txtReviewerRemarks').val();
            if (!txtReviewerRemarks) {
                $('#spnReviewerRemarks').show();
                isValid = false;
            } else {
                $('#spnReviewerRemarks').hide();
                formData.append('RemarksOfAppraisalReviewer', txtReviewerRemarks);
            }

            // // txtScoreRange
            // var txtScoreRange = $('#txtScoreRange').val();
            // if (!txtScoreRange) {
            //     $('#spnScoreRange').show();
            //     isValid = false;
            // } else {
            //     $('#spnScoreRange').hide();
            //     formData.append('txtScoreRange', txtScoreRange);
            // }

            // File input
            var fileInput = $('#fileDocuments')[0];
            if (fileInput && fileInput.files.length > 0) {
                formData.append('DocumentFile', fileInput.files[0]);
            }
             formData.append('EmployeeId',probationEmployeeId);
             formData.append('CreatedBy',EmployeeId);
             if (!isValid) 
             {
                 hideBtnLoder();
               return;
             }
            // AJAX call if valid
           
                $.ajax({
                    url: '@baseUrl/ProbationPerformanceAPI/CreateProbationPerformance',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                     headers: {
                        'Authorization': 'Bearer ' + Token
                    },
                    success: function(response) {
                        if (response.isSuccess) {
                            round_success_noti(response.responseMessage);
                          window.location.href = '@UIBaseUrlLayout/EmployeePanel/ManageProbation/Probation';
                        } else {
                            round_error_noti(response.responseMessage);
                        }
                        hideBtnLoder();
                    },
                    error: function(xhr, status, error) {
                        hideBtnLoder();
                        console.log('Error: ' + error);
                    }
                });
           
        });
    });

    

</script>

    