<div class="card-header bg-primary text-white ">
    <h6>ATTACHMENTS</h6>
</div>



<div class="card-body px-4">
    <form id="attachmentForm">
        <div class="row mb-3">
            <div class="col-md-12">
                <h6><b>Add Attachment</b></h6>
            </div>
        </div>

        <div class="row px-5">
            <!-- Document Name -->
            <div class="col-md-6 mb-3">
                <div class="form-group position-relative">
                    <select id="documentName" class="form-control floating-input">
                        <option value="">-- Select --</option>
                        <option value="Aadhar">Aadhar</option>
                        <option value="PAN Card">PAN Card</option>
                        <option value="Passport">Passport</option>
                    </select>
                    <label class="floating-label" for="documentName">Document Name*</label>
                    <span id="spnDocumentName" style="color:red; display:none;">Please Select Document Name</span>
                </div>
            </div>

            <!-- Document File -->
            <div class="col-md-6 mb-3">
                <div class="form-group position-relative">
                    <input type="file" id="documentFile" class="form-control floating-input" />
                    <label class="floating-label" for="documentFile">Document*</label>
                    <span id="spnDocumentFile" style="color:red; display:none;">Please Upload Document</span>
                </div>
            </div>
        </div>

        <div class="row px-5">
            <!-- Comments -->
            <div class="col-md-6 mb-3">
                <div class="form-group position-relative">
                    <textarea id="attachmentComments" class="form-control floating-input" rows="3"></textarea>
                    <label class="floating-label" for="attachmentComments">Comments</label>
                </div>
            </div>

            <!-- Date of Expiry -->
            <div class="col-md-6 mb-3">
                <div class="form-group position-relative">
                    <input type="date" id="expiryDate" class="form-control floating-input" />
                    <label class="floating-label" for="expiryDate">Date of Expiry</label>
                </div>
            </div>
        </div>

        <div class="row mt-4 mb-0">
            <div class="col-md-3"></div>
            <div class="col-md-6 text-center text-danger" style="font-size: 10px;">
                Note:-Please Click On Update Button To Save Personal Details
            </div>
            <div class="col-md-3"></div>
        </div>
        <hr class="mt-0" />
    </form>
</div>


