<div class="card-header bg-primary text-white ">
    <h6>EMERGENCY CONTACT(S)</h6>
</div>

<div id="displaySection">
    <div class="card-body px-4">
            <div class="row">
                <div class="col-md-12 mb-3">
                    <h6><b>Emergency Contact Details:</b></h6>
                </div>
            </div>

            <div class="row px-5">
                <!-- Name -->
                <div class="col-md-6 mb-2">
                    <strong>Name:</strong> <span id="emergencyName" class="ms-2">John Doe</span>
                </div>

                <!-- Relationship -->
                <div class="col-md-6 mb-2">
                    <strong>Relationship:</strong> <span id="emergencyRelationship" class="ms-2">Brother</span>
                </div>
            </div>

            <div class="row px-5">
                <!-- Mobile -->
                <div class="col-md-6 mb-2">
                    <strong>Mobile:</strong> <span id="emergencyMobile" class="ms-2">+1 234 567 890</span>
                </div>

                <!-- Home Phone -->
                <div class="col-md-6 mb-2">
                    <strong>Home Phone:</strong> <span id="emergencyHomePhone" class="ms-2">+1 234 555 6789</span>
                </div>
            </div>

            <div class="row px-5">
                <!-- Work Phone -->
                <div class="col-md-6 mb-2">
                    <strong>Work Phone:</strong> <span id="emergencyWorkPhone" class="ms-2">+1 234 111 2222</span>
                </div>
            </div>

        <div class="row mt-3 px-5">
            <div class="col-md-4"></div>
            <div class="col-md-4 text-center">
                <button type="button" class="btn btn-primary px-5" id="btnUpdateEmergencyContact" style="background-color:#2395c6; color:white;">Update</button>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</div>

<div id="editEmergencyContact" style="display: none;">
    <div class="card-body px-4">
        <form id="emergencyContactForm">
            <div class="row">
                <div class="col-md-12 mb-2">
                    <h6><b>Edit Emergency Contact Details:</b></h6>
                </div>
            </div>

            <div class="row px-5">
                <!-- Name -->
                <div class="col-md-4">
                    <div class="form-group mt-3 position-relative">
                        <input type="text" class="form-control floating-input" id="txtEmergencyName" placeholder="Name" />
                        <label class="floating-label" for="txtEmergencyName">Name*</label>
                        <span id="spnEmergencyName" style="color:red; display:none;">Please Enter Name</span>
                    </div>
                </div>

                <!-- Relationship -->
                <div class="col-md-4">
                    <div class="form-group mt-3 position-relative">
                        <select class="form-control floating-input" id="txtEmergencyRelationship">
                            <option value="--Select--">--Select--</option>
                            <option value="Father">Father</option>
                            <option value="Mother">Mother</option>
                            <option value="Brother">Brother</option>
                            <option value="Sister">Sister</option>
                            <option value="Friend">Friend</option>
                            <option value="Other">Other</option>
                        </select>
                        <label class="floating-label" for="txtEmergencyRelationship">Relationship*</label>
                        <span id="spnEmergencyRelationship" style="color:red; display:none;">Please Select Relationship</span>
                    </div>
                </div>

                <!-- Mobile -->
                <div class="col-md-4">
                    <div class="form-group mt-3 position-relative">
                        <input type="text" class="form-control floating-input" id="txtEmergencyMobile" placeholder="Mobile" />
                        <label class="floating-label" for="txtEmergencyMobile">Mobile*</label>
                        <span id="spnEmergencyMobile" style="color:red; display:none;">Please Enter Mobile</span>
                    </div>
                </div>
            </div>

            <div class="row px-5">
                <!-- Home Phone -->
                <div class="col-md-4">
                    <div class="form-group mt-3 position-relative">
                        <input type="text" class="form-control floating-input" id="txtEmergencyHomePhone" placeholder="Home Phone" />
                        <label class="floating-label" for="txtEmergencyHomePhone">Home Phone</label>
                        <span id="spnEmergencyHomePhone" style="color:red; display:none;">Please Enter Home Phone</span>
                    </div>
                </div>

                <!-- Work Phone -->
                <div class="col-md-4">
                    <div class="form-group mt-3 position-relative">
                        <input type="text" class="form-control floating-input" id="txtEmergencyWorkPhone" placeholder="Work Phone" />
                        <label class="floating-label" for="txtEmergencyWorkPhone">Work Phone</label>
                        <span id="spnEmergencyWorkPhone" style="color:red; display:none;">Please Enter Work Phone</span>
                    </div>
                </div>
            </div>

            <hr />
            <div class="row mt-3" id="btnSection">
                <div class="col-md-3"></div>
                <div class="col-md-6 text-center">
                    <button type="button" class="btn btn-dark px-5" id="btnBackEmergencyContact">Back</button>
                    <button type="reset" class="btn btn-secondary px-5" id="btnClear">Clear</button>
                    <button type="button" class="btn btn-primary px-5" id="btnSaveEmergencyContact" style="background-color:#2395c6; color:white;">Save</button>

                </div>
                <div class="col-md-3"></div>
            </div>
        </form>
    </div>
</div>
<script>
     $("#btnBackEmergencyContact").click(() => {
        $("#displaySection").show();
        $("#editEmergencyContact").hide();
    });
    $("#btnUpdateEmergencyContact").click(() => {
        $("#displaySection").hide();
        $("#editEmergencyContact").show();
    })

</script>