<div class="card-header bg-primary text-white ">
    <h6>EMERGENCY CONTACT(S)</h6>
</div>

<div id="editEmergencyContact" ">
    <div class="card-body px-4">
        <form id="emergencyContactForm">
            <div class="row">
                <div class="col-md-12 mb-2">
                    <h6><b>Edit Emergency Contact Details:</b></h6>
                </div>
            </div>

            <div class="row px-5">
                <!-- Name -->
                <div class="col-md-4">
                    <div class="form-group mt-3 position-relative">
                        <input type="text" class="form-control floating-input" id="txtEmergencyName" placeholder="Name" />
                        <label class="floating-label" for="txtEmergencyName">Name*</label>
                        <span id="spnEmergencyName" style="color:red; display:none;">Please Enter Name</span>
                    </div>
                </div>

                <!-- Relationship -->
                <div class="col-md-4">
                    <div class="form-group mt-3 position-relative">
                        <select class="form-control floating-input" id="txtEmergencyRelationship">
                            <option value="--Select--">--Select--</option>
                            <option value="Father">Father</option>
                            <option value="Mother">Mother</option>
                            <option value="Brother">Brother</option>
                            <option value="Sister">Sister</option>
                            <option value="Friend">Friend</option>
                            <option value="Other">Other</option>
                        </select>
                        <label class="floating-label" for="txtEmergencyRelationship">Relationship*</label>
                        <span id="spnEmergencyRelationship" style="color:red; display:none;">Please Select Relationship</span>
                    </div>
                </div>

                <!-- Mobile -->
                <div class="col-md-4">
                    <div class="form-group mt-3 position-relative">
                        <input type="text" class="form-control floating-input" id="txtEmergencyMobile" placeholder="Mobile" />
                        <label class="floating-label" for="txtEmergencyMobile">Mobile*</label>
                        <span id="spnEmergencyMobile" style="color:red; display:none;">Please Enter Mobile</span>
                    </div>
                </div>
            </div>

            <div class="row px-5">
                <!-- Home Phone -->
                <div class="col-md-4">
                    <div class="form-group mt-3 position-relative">
                        <input type="text" class="form-control floating-input" id="txtEmergencyHomePhone" placeholder="Home Phone" />
                        <label class="floating-label" for="txtEmergencyHomePhone">Home Phone</label>
                        <span id="spnEmergencyHomePhone" style="color:red; display:none;">Please Enter Home Phone</span>
                    </div>
                </div>

                <!-- Work Phone -->
                <div class="col-md-4">
                    <div class="form-group mt-3 position-relative">
                        <input type="text" class="form-control floating-input" id="txtEmergencyWorkPhone" placeholder="Work Phone" />
                        <label class="floating-label" for="txtEmergencyWorkPhone">Work Phone</label>
                        <span id="spnEmergencyWorkPhone" style="color:red; display:none;">Please Enter Work Phone</span>
                    </div>
                </div>
            </div>

            <div class="row mt-4 mb-0">
                <div class="col-md-3"></div>
                <div class="col-md-6 text-center text-danger" style="font-size: 10px;">
                    Note:-Please Click On Update Button To Save Personal Details
                </div>
                <div class="col-md-3"></div>
            </div>
            <hr class="mt-0" />

        </form>
    </div>
</div>
<script>
     

</script>