@{
    Layout = null;
}


    <div class="card-header bg-primary text-white ">
    <h6>EMPLOYEE PERSONAL DETAILS   [Employee Age : <span id="empAge">0</span> Yrs.]</h6>
    </div>

<div id="displaySection">
    <div class="card-body px-4">
            <div class="row">
              <div class="col-md-12 mb-2"><h6><b>Personal Information:</b></h6></div>
            </div>
          <div class="row px-5">
            <div class="col-md-6 mb-2"><strong>Gender:</strong> <span id="gender" class="ms-2">Male</span></div>
            <div class="col-md-6 mb-2"><strong>Personal Email ID:</strong> <span id="personalEmailId" class="ms-2"></span></div>
            <div class="col-md-6 mb-2"><strong>Father Name:</strong> <span id="fatherName" class="ms-2"></span></div>
            <div class="col-md-6 mb-2"><strong>Mother Name:</strong> <span id="motherName" class="ms-2"></span></div>
            <div class="col-md-6 mb-2"><strong>Date of Birth:</strong> <span id="dateOfBirth" class="ms-2">01/04/2025</span></div>
            <div class="col-md-6 mb-2"><strong>Blood Group:</strong> <span id="bloodGroup" class="ms-2">--Select Blood Group--</span></div>
            <div class="col-md-6 mb-2"><strong>Height:</strong> <span id="height" class="ms-2"></span></div>
            <div class="col-md-6 mb-2"><strong>Marital Status:</strong> <span id="maritalStatus" class="ms-2">Single</span></div>
            <div class="col-md-6 mb-2"><strong>Marriage Date:</strong> <span id="marriageDate" class="ms-2"></span></div>
            <div class="col-md-6 mb-2"><strong>Mark Identification:</strong> <span id="markIdentification" class="ms-2"></span></div>
            <div class="col-md-6 mb-2"><strong>Religion:</strong> <span id="religion" class="ms-2"></span></div>
            <div class="col-md-6 mb-2"><strong>Caste:</strong> <span id="caste" class="ms-2"></span></div>
            <div class="col-md-6 mb-2"><strong>Cast Category:</strong> <span id="castCategory" class="ms-2">--Select Category--</span></div>
        </div>

        <hr/>
        <div class="row">
            <div class="col-md-12 mb-2"><h6><b>Require Document:</b></h6></div>
        </div>
        <div class="row px-5">
            <div class="col-md-6 mb-2"><strong>Aadhar Card No:</strong> <span id="aadharCardNo" class="ms-2">545477787878</span></div>
            <div class="col-md-6 mb-2"><strong>PAN No:</strong> <span id="panNo" class="ms-2">eg. AABBC1234D</span></div>
            <div class="col-md-6 mb-2"><strong>Dispensary:</strong> <span id="dispensary" class="ms-2"></span></div>
            <div class="col-md-6 mb-2"><strong>Doctor Name:</strong> <span id="doctorName" class="ms-2"></span></div>
            <div class="col-md-6 mb-2"><strong>Dispensary Address:</strong> <span id="dispensaryAddress" class="ms-2"></span></div>
            <div class="col-md-6 mb-2"><strong>UAN Number:</strong> <span id="uanNumber" class="ms-2"></span></div>
            <div class="col-md-6 mb-2"><strong>Driving License:</strong> <span id="drivingLicense" class="ms-2"></span></div>
            <div class="col-md-6 mb-2"><strong>Expiry Date of Driving License:</strong> <span id="drivingLicenseExpiry" class="ms-2">Click to show calendar</span></div>
            <div class="col-md-6 mb-2"><strong>Ration Card Type:</strong> <span id="rationCardType" class="ms-2">APL</span></div>
            <div class="col-md-6 mb-2"><strong>Ration Card No:</strong> <span id="rationCardNo" class="ms-2"></span></div>
        </div>

    <hr/>
        <div class="row">
            <div class="col-md-12 mb-2"><h6><b>Social Address:</b></h6></div>
        </div>

        <div class="row px-5">
            <div class="col-md-6 mb-2"><strong>LinkedIn ID:</strong> <span id="linkedinId" class="ms-2">linked</span></div>
            <div class="col-md-6 mb-2"><strong>Twitter ID:</strong> <span id="twitterId" class="ms-2">twitter</span></div>
        </div>

    <hr/>
            <div class="row">
                <div class="col-md-12 mb-2"><h6><b>Training and Probation:</b></h6></div>
            </div>

            <div class="row px-5">
                <div class="col-md-6 mb-2">
                    <strong>Probation Completion Period:</strong>
                    <span id="probationCompletionPeriod" class="ms-2">0 Months Days</span>
                </div>
                <div class="col-md-6 mb-2">
                    <strong>Manager (Probation):</strong>
                    <span id="managerProbation" class="ms-2">---Admin---</span>
                </div>
                <div class="col-md-6 mb-2">
                    <strong>Confirm Date:</strong>
                    <span id="confirmDate" class="ms-2">Click to show calendar</span>
                </div>
                <div class="col-md-6 mb-2">
                    <strong>Date of Retirement:</strong>
                    <span id="retirementDate" class="ms-2">01/04/2083</span>
                </div>
                <div class="col-md-6 mb-2">
                    <strong>Offer Date:</strong>
                    <span id="offerDate" class="ms-2">Click to show calendar</span>
                </div>
                <div class="col-md-6 mb-2">
                    <strong>Trainee Completion Period:</strong>
                    <span id="traineeCompletionPeriod" class="ms-2">0 Months Days</span>
                </div>
            </div>
       <hr/>

            <div class="row">
                <div class="col-md-12 mb-2"><h6><b>Other Detail:</b></h6></div>
            </div>

            <div class="row px-5">
                <div class="col-md-6 mb-2">
                    <strong>Canteen Code:</strong>
                    <span id="canteenCode" class="ms-2"></span>
                </div>
                <div class="col-md-6 mb-2">
                    <strong>Tally Ledger Name:</strong>
                    <span id="tallyLedgerName" class="ms-2">-Select-</span>
                </div>
                <div class="col-md-6 mb-2">
                    <strong>Is Metro City:</strong>
                    <span id="isMetroCity" class="ms-2"></span>
                </div>
                <div class="col-md-6 mb-2">
                    <strong>Adult Worker No (Statutory):</strong>
                    <span id="adultWorkerNo" class="ms-2">4</span>
                </div>
                <div class="col-md-6 mb-2">
                    <strong>Physical Disability:</strong>
                    <span id="physicalDisability" class="ms-2"></span>
                </div>
                <div class="col-md-6 mb-2">
                    <strong>Minimum Wages Skill Type Master:</strong>
                    <span id="minimumWageSkillType" class="ms-2">--Select--</span>
                </div>
                <div class="col-md-6 mb-2">
                    <strong>Vehicle No:</strong>
                    <span id="vehicleNo" class="ms-2"></span>
                </div>
                <div class="col-md-6 mb-2">
                    <strong>Insurance No:</strong>
                    <span id="insuranceNo" class="ms-2"></span>
                </div>
            </div>

    <hr/>
        <div class="row">
            <div class="col-md-12 mb-2"><h6><b>Uniform Details:</b></h6></div>
        </div>

        <div class="row px-5">
            <div class="col-md-6 mb-2">
                <strong>Dress Code:</strong>
                <span id="dressCode" class="ms-2"></span>
            </div>
            <div class="col-md-6 mb-2">
                <strong>Shirt Size:</strong>
                <span id="shirtSize" class="ms-2"></span>
            </div>
            <div class="col-md-6 mb-2">
                <strong>Pant Size:</strong>
                <span id="pantSize" class="ms-2"></span>
            </div>
            <div class="col-md-6 mb-2">
                <strong>Shoe Size:</strong>
                <span id="shoeSize" class="ms-2"></span>
            </div>
        </div>
        <hr/>

        <div class="row mt-3">
            <div class="col-md-4"></div>
            <div class="col-md-4 text-center">
                <button type="button" class="btn btn-primary px-5" id="btnUpdatePersonalInfo" style="background-color:#2395c6; color:white;">Update</button>
            </div>
            <div class="col-md-4"></div>
        </div>
 </div>
</div>
<!-- Editable Form Section (Initially Hidden) -->
  
<div id="editSection" style="display: none;">
    <div class="card-body px-4">
      <form id="employeeForm">
            <div class="row">
                <div class="col-md-12 mb-2"><h6><b>Personal Information:</b></h6></div>
            </div>

            <!-- Personal Information Fields (Editable) -->
            <div class="row px-5">
                <div class="col-md-4">
                    <div class="form-group mt-3 position-relative">
                        <input type="text" class="form-control floating-input" placeholder="Gender" id="inpGender" />
                        <label class="floating-label" for="inpGender">Gender</label>
                        <span id="spnGender" style="color:red; display:none;">Please Enter Gender</span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group mt-3 position-relative">
                        <input type="email" class="form-control floating-input" placeholder="Personal Email ID" id="inpPersonalEmailId" />
                        <label class="floating-label" for="inpPersonalEmailId">Personal Email ID</label>
                        <span id="spnPersonalEmailId" style="color:red; display:none;">Please Enter Personal Email ID</span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group mt-3 position-relative">
                        <input type="text" class="form-control floating-input" placeholder="Father Name" id="inpFatherName" />
                        <label class="floating-label" for="inpFatherName">Father Name</label>
                        <span id="spnFatherName" style="color:red; display:none;">Please Enter Father Name</span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group mt-3 position-relative">
                        <input type="text" class="form-control floating-input" placeholder="Mother Name" id="inpMotherName" />
                        <label class="floating-label" for="inpMotherName">Mother Name</label>
                        <span id="spnMotherName" style="color:red; display:none;">Please Enter Mother Name</span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group mt-3 position-relative">
                        <input type="date" class="form-control floating-input" id="inpDateOfBirth" />
                        <label class="floating-label" for="inpDateOfBirth">Date of Birth</label>
                        <span id="spnDateOfBirth" style="color:red; display:none;">Please Enter Date of Birth</span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group mt-3 position-relative">
                        <input type="text" class="form-control floating-input" placeholder="Blood Group" id="inpBloodGroup" />
                        <label class="floating-label" for="inpBloodGroup">Blood Group</label>
                        <span id="spnBloodGroup" style="color:red; display:none;">Please Enter Blood Group</span>
                    </div>
                </div>

                <!-- Additional Fields -->
                <div class="col-md-4">
                    <div class="form-group mt-3 position-relative">
                        <input type="text" class="form-control floating-input" placeholder="Height" id="inpHeight" />
                        <label class="floating-label" for="inpHeight">Height</label>
                        <span id="spnHeight" style="color:red; display:none;">Please Enter Height</span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group mt-3 position-relative">
                        <input type="text" class="form-control floating-input" placeholder="Marital Status" id="inpMaritalStatus" />
                        <label class="floating-label" for="inpMaritalStatus">Marital Status</label>
                        <span id="spnMaritalStatus" style="color:red; display:none;">Please Enter Marital Status</span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group mt-3 position-relative">
                        <input type="date" class="form-control floating-input" id="inpMarriageDate" />
                        <label class="floating-label" for="inpMarriageDate">Marriage Date</label>
                        <span id="spnMarriageDate" style="color:red; display:none;">Please Enter Marriage Date</span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group mt-3 position-relative">
                        <input type="text" class="form-control floating-input" placeholder="Mark Identification" id="inpMarkIdentification" />
                        <label class="floating-label" for="inpMarkIdentification">Mark Identification</label>
                        <span id="spnMarkIdentification" style="color:red; display:none;">Please Enter Mark Identification</span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group mt-3 position-relative">
                        <input type="text" class="form-control floating-input" placeholder="Religion" id="inpReligion" />
                        <label class="floating-label" for="inpReligion">Religion</label>
                        <span id="spnReligion" style="color:red; display:none;">Please Enter Religion</span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group mt-3 position-relative">
                        <input type="text" class="form-control floating-input" placeholder="Caste" id="inpCaste" />
                        <label class="floating-label" for="inpCaste">Caste</label>
                        <span id="spnCaste" style="color:red; display:none;">Please Enter Caste</span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group mt-3 position-relative">
                        <select class="form-control floating-input" id="inpCastCategory">
                            <option value="--Select Category--">--Select Category--</option>
                            <!-- Add more categories as needed -->
                        </select>
                        <label class="floating-label" for="inpCastCategory">Cast Category</label>
                        <span id="spnCastCategory" style="color:red; display:none;">Please Select Cast Category</span>
                    </div>
                </div>
            </div>

        <hr/>

            <div class="row">
                <div class="col-md-12 mb-2">
                    <h6><b>Require Document:</b></h6>
                </div>
            </div>

            <div class="row px-5">
                <div class="col-md-4 mb-2">
                    <div class="form-group mt-3 position-relative">
                        <input type="text" class="form-control floating-input" placeholder="Aadhar Card No" id="inpAadharCardNo" />
                        <label class="floating-label" for="inpAadharCardNo">Aadhar Card No</label>
                        <span id="spnAadharCardNo" style="color:red; display:none;">Please Enter Aadhar Card No</span>
                    </div>
                </div>

                <div class="col-md-4 mb-2">
                    <div class="form-group mt-3 position-relative">
                        <input type="text" class="form-control floating-input" placeholder="PAN No" id="inpPanNo" />
                        <label class="floating-label" for="inpPanNo">PAN No</label>
                        <span id="spnPanNo" style="color:red; display:none;">Please Enter PAN No</span>
                    </div>
                </div>

                <div class="col-md-4 mb-2">
                    <div class="form-group mt-3 position-relative">
                        <input type="text" class="form-control floating-input" placeholder="Dispensary" id="inpDispensary" />
                        <label class="floating-label" for="inpDispensary">Dispensary</label>
                        <span id="spnDispensary" style="color:red; display:none;">Please Enter Dispensary Name</span>
                    </div>
                </div>
            </div>

            <div class="row px-5">
                <div class="col-md-4 mb-2">
                    <div class="form-group mt-3 position-relative">
                        <input type="text" class="form-control floating-input" placeholder="Doctor Name" id="inpDoctorName" />
                        <label class="floating-label" for="inpDoctorName">Doctor Name</label>
                        <span id="spnDoctorName" style="color:red; display:none;">Please Enter Doctor Name</span>
                    </div>
                </div>

                <div class="col-md-4 mb-2">
                    <div class="form-group mt-3 position-relative">
                        <input type="text" class="form-control floating-input" placeholder="Dispensary Address" id="inpDispensaryAddress" />
                        <label class="floating-label" for="inpDispensaryAddress">Dispensary Address</label>
                        <span id="spnDispensaryAddress" style="color:red; display:none;">Please Enter Dispensary Address</span>
                    </div>
                </div>

                <div class="col-md-4 mb-2">
                    <div class="form-group mt-3 position-relative">
                        <input type="text" class="form-control floating-input" placeholder="UAN Number" id="inpUanNumber" />
                        <label class="floating-label" for="inpUanNumber">UAN Number</label>
                        <span id="spnUanNumber" style="color:red; display:none;">Please Enter UAN Number</span>
                    </div>
                </div>
            </div>

            <div class="row px-5">
                <div class="col-md-4 mb-2">
                    <div class="form-group mt-3 position-relative">
                        <input type="text" class="form-control floating-input" placeholder="Driving License" id="inpDrivingLicense" />
                        <label class="floating-label" for="inpDrivingLicense">Driving License</label>
                        <span id="spnDrivingLicense" style="color:red; display:none;">Please Enter Driving License Number</span>
                    </div>
                </div>

                <div class="col-md-4 mb-2">
                    <div class="form-group mt-3 position-relative">
                        <input type="date" class="form-control floating-input" id="inpDrivingLicenseExpiry" />
                        <label class="floating-label" for="inpDrivingLicenseExpiry">Expiry Date of Driving License</label>
                        <span id="spnDrivingLicenseExpiry" style="color:red; display:none;">Please Enter Expiry Date</span>
                    </div>
                </div>

                <div class="col-md-4 mb-2">
                    <div class="form-group mt-3 position-relative">
                        <input type="text" class="form-control floating-input" placeholder="Ration Card Type" id="inpRationCardType" />
                        <label class="floating-label" for="inpRationCardType">Ration Card Type</label>
                        <span id="spnRationCardType" style="color:red; display:none;">Please Enter Ration Card Type</span>
                    </div>
                </div>
            </div>

            <div class="row px-5">
                <div class="col-md-4 mb-2">
                    <div class="form-group mt-3 position-relative">
                        <input type="text" class="form-control floating-input" placeholder="Ration Card No" id="inpRationCardNo" />
                        <label class="floating-label" for="inpRationCardNo">Ration Card No</label>
                        <span id="spnRationCardNo" style="color:red; display:none;">Please Enter Ration Card No</span>
                    </div>
                </div>
            </div>


            <hr/>
            <div class="row">
                <div class="col-md-12 mb-2">
                    <h6><b>Social Address:</b></h6>
                </div>
            </div>

            <div class="row px-5">
                <div class="col-md-6 mb-2">
                    <div class="form-group mt-3 position-relative">
                        <input type="text" class="form-control floating-input" placeholder="LinkedIn ID" id="inpLinkedInId" />
                        <label class="floating-label" for="inpLinkedInId">LinkedIn ID</label>
                        <span id="spnLinkedInId" style="color:red; display:none;">Please Enter LinkedIn ID</span>
                    </div>
                </div>

                <div class="col-md-6 mb-2">
                    <div class="form-group mt-3 position-relative">
                        <input type="text" class="form-control floating-input" placeholder="Twitter ID" id="inpTwitterId" />
                        <label class="floating-label" for="inpTwitterId">Twitter ID</label>
                        <span id="spnTwitterId" style="color:red; display:none;">Please Enter Twitter ID</span>
                    </div>
                </div>
            </div>

            <hr/>

            <div class="row">
                <div class="col-md-12 mb-2">
                    <h6><b>Training and Probation:</b></h6>
                </div>
            </div>

            <div class="row px-5">
                <div class="col-md-4">
                    <div class="form-group mt-3 position-relative">
                        <input type="text" class="form-control floating-input" placeholder="Probation Completion Period" id="inpProbationCompletionPeriod" value="0 Months Days" disabled />
                        <label class="floating-label" for="inpProbationCompletionPeriod">Probation Completion Period</label>
                        <span id="spnProbationCompletionPeriod" style="color:red; display:none;">Please Enter Probation Completion Period</span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group mt-3 position-relative">
                        <input type="text" class="form-control floating-input" placeholder="Manager (Probation)" id="inpManagerProbation" value="---Admin---" disabled />
                        <label class="floating-label" for="inpManagerProbation">Manager (Probation)</label>
                        <span id="spnManagerProbation" style="color:red; display:none;">Please Enter Manager (Probation)</span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group mt-3 position-relative">
                        <input type="text" class="form-control floating-input" placeholder="Confirm Date" id="inpConfirmDate" value="Click to show calendar" disabled />
                        <label class="floating-label" for="inpConfirmDate">Confirm Date</label>
                        <span id="spnConfirmDate" style="color:red; display:none;">Please Enter Confirm Date</span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group mt-3 position-relative">
                        <input type="text" class="form-control floating-input" placeholder="Date of Retirement" id="inpRetirementDate" value="01/04/2083" disabled />
                        <label class="floating-label" for="inpRetirementDate">Date of Retirement</label>
                        <span id="spnRetirementDate" style="color:red; display:none;">Please Enter Date of Retirement</span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group mt-3 position-relative">
                        <input type="text" class="form-control floating-input" placeholder="Offer Date" id="inpOfferDate" value="Click to show calendar" disabled />
                        <label class="floating-label" for="inpOfferDate">Offer Date</label>
                        <span id="spnOfferDate" style="color:red; display:none;">Please Enter Offer Date</span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group mt-3 position-relative">
                        <input type="text" class="form-control floating-input" placeholder="Trainee Completion Period" id="inpTraineeCompletionPeriod" value="0 Months Days" disabled />
                        <label class="floating-label" for="inpTraineeCompletionPeriod">Trainee Completion Period</label>
                        <span id="spnTraineeCompletionPeriod" style="color:red; display:none;">Please Enter Trainee Completion Period</span>
                    </div>
                </div>
            </div>
            <hr />

            <div class="row">
                <div class="col-md-12 mb-2">
                    <h6><b>Other Detail:</b></h6>
                </div>
            </div>

            <div class="row px-5">
                <div class="col-md-4">
                    <div class="form-group mt-3 position-relative">
                        <input type="text" class="form-control floating-input" placeholder="Canteen Code" id="inpCanteenCode" />
                        <label class="floating-label" for="inpCanteenCode">Canteen Code</label>
                        <span id="spnCanteenCode" style="color:red; display:none;">Please Enter Canteen Code</span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group mt-3 position-relative">
                        <input type="text" class="form-control floating-input" placeholder="Tally Ledger Name" id="inpTallyLedgerName" value="-Select-" />
                        <label class="floating-label" for="inpTallyLedgerName">Tally Ledger Name</label>
                        <span id="spnTallyLedgerName" style="color:red; display:none;">Please Enter Tally Ledger Name</span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group mt-3 position-relative">
                        <input type="text" class="form-control floating-input" placeholder="Is Metro City" id="inpIsMetroCity" />
                        <label class="floating-label" for="inpIsMetroCity">Is Metro City</label>
                        <span id="spnIsMetroCity" style="color:red; display:none;">Please Enter Is Metro City</span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group mt-3 position-relative">
                        <input type="number" class="form-control floating-input" placeholder="Adult Worker No (Statutory)" id="inpAdultWorkerNo" value="4" />
                        <label class="floating-label" for="inpAdultWorkerNo">Adult Worker No (Statutory)</label>
                        <span id="spnAdultWorkerNo" style="color:red; display:none;">Please Enter Adult Worker No</span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group mt-3 position-relative">
                        <input type="text" class="form-control floating-input" placeholder="Physical Disability" id="inpPhysicalDisability" />
                        <label class="floating-label" for="inpPhysicalDisability">Physical Disability</label>
                        <span id="spnPhysicalDisability" style="color:red; display:none;">Please Enter Physical Disability</span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group mt-3 position-relative">
                        <select class="form-control floating-input" id="inpMinimumWageSkillType">
                            <option value="--Select--">--Select--</option>
                            <!-- Add more options as needed -->
                        </select>
                        <label class="floating-label" for="inpMinimumWageSkillType">Minimum Wages Skill Type Master</label>
                        <span id="spnMinimumWageSkillType" style="color:red; display:none;">Please Select Minimum Wages Skill Type</span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group mt-3 position-relative">
                        <input type="text" class="form-control floating-input" placeholder="Vehicle No" id="inpVehicleNo" />
                        <label class="floating-label" for="inpVehicleNo">Vehicle No</label>
                        <span id="spnVehicleNo" style="color:red; display:none;">Please Enter Vehicle No</span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group mt-3 position-relative">
                        <input type="text" class="form-control floating-input" placeholder="Insurance No" id="inpInsuranceNo" />
                        <label class="floating-label" for="inpInsuranceNo">Insurance No</label>
                        <span id="spnInsuranceNo" style="color:red; display:none;">Please Enter Insurance No</span>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-12 mb-2">
                    <h6><b>Uniform Details:</b></h6>
                </div>
            </div>

            <div class="row px-5">
                <div class="col-md-6">
                    <div class="form-group mt-3 position-relative">
                        <input type="text" class="form-control floating-input" placeholder="Dress Code" id="inpDressCode" />
                        <label class="floating-label" for="inpDressCode">Dress Code</label>
                        <span id="spnDressCode" style="color:red; display:none;">Please Enter Dress Code</span>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group mt-3 position-relative">
                        <input type="text" class="form-control floating-input" placeholder="Shirt Size" id="inpShirtSize" />
                        <label class="floating-label" for="inpShirtSize">Shirt Size</label>
                        <span id="spnShirtSize" style="color:red; display:none;">Please Enter Shirt Size</span>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group mt-3 position-relative">
                        <input type="text" class="form-control floating-input" placeholder="Pant Size" id="inpPantSize" />
                        <label class="floating-label" for="inpPantSize">Pant Size</label>
                        <span id="spnPantSize" style="color:red; display:none;">Please Enter Pant Size</span>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group mt-3 position-relative">
                        <input type="text" class="form-control floating-input" placeholder="Shoe Size" id="inpShoeSize" />
                        <label class="floating-label" for="inpShoeSize">Shoe Size</label>
                        <span id="spnShoeSize" style="color:red; display:none;">Please Enter Shoe Size</span>
                    </div>
                </div>
            </div>
            <hr />

            <div class="row mt-3" id="btnSection">
                <div class="col-md-3"></div>
                <div class="col-md-6 text-center">
                    <button type="button" class="btn btn-dark px-5" id="btnBackPersonalInfo">Back</button>
                    <button type="reset" class="btn btn-secondary px-5" id="btnClear">Clear</button>
                    <button type="button" class="btn btn-primary px-5" id="btnSavePersonalInfo" style="background-color:#2395c6; color:white;">Save</button>

                </div>
                <div class="col-md-3"></div>
            </div>

    </form>
</div>
</div>




<script>
    // jQuery to handle floating labels and validation
    $(document).ready(function() {

        $("#btnBackPersonalInfo").click(() => {
            $("#displaySection").show();
            $("#editSection").hide();
        });
         $("#btnUpdatePersonalInfo").click(() => {
            $("#displaySection").hide();
            $("#editSection").show();
        });

        // Add floating label effect
        $('.floating-input').on('focus', function() {
            $(this).siblings('label').addClass('floating-label-active');
        }).on('blur', function() {
            if ($(this).val() === '') {
                $(this).siblings('label').removeClass('floating-label-active');
            }
        });

        // Save form data (mockup for now)
        $("#employeeForm").submit(function(e) {
            e.preventDefault();

            // Clear error spans
            $("span[id^='spn']").hide();

            // Validate fields
            let isValid = true;

            $(".floating-input").each(function() {
                if ($(this).val() === "") {
                    const fieldId = $(this).attr("id");
                    $(`#spn${fieldId.charAt(0).toUpperCase() + fieldId.slice(1)}`).show();
                    isValid = false;
                }
            });

            if (isValid) {
                alert("Form saved successfully!");
                // Optionally save data to backend here
            }
        });

        // Reset button functionality
        $("#btnReset").click(function() {
            $("form")[0].reset();
            $("span[id^='spn']").hide();
            $(".floating-label").removeClass('floating-label-active');
        });
    });
</script>

