@inject IConfiguration Configuration
@{
    string baseUrlLayout = Configuration["BaseUrlSettings:baseUrl"];
    string UIBaseUrlLayout = Configuration["UIBaseUrlSettings:baseUrl"];
    var uri = new Uri(baseUrlLayout);
    string baseDomainUrl = $"{uri.Scheme}://{uri.Host}:{uri.Port}";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel - RELAY EXPRESS</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon -->
    <link rel="icon" href="~/assets/images/relayfevicon.jpeg" type="image/png" />
    <!-- Plugins -->
    <link href="~/assets/plugins/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/plugins/notifications/css/lobibox.min.css" />
    <!-- Bootstrap CSS -->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/css/app.css" rel="stylesheet">
    <link href="~/assets/css/icons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn3.devexpress.com/jslib/21.1.5/css/dx.common.css">
    <link rel="stylesheet" href="https://cdn3.devexpress.com/jslib/21.1.5/css/dx.light.css">
    <!--Compnay modal css-->
    <link href="~/assets/css/company-modal.css" rel="stylesheet" />
    <link href="~/assets/css/relay.css" rel="stylesheet" />
    <!--Extra-->
  @*   <link href="~/commoncss.css" rel="stylesheet" /> *@
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <style>
        .dropdown-submenu {
            position: relative;
        }

            .dropdown-submenu .submenu {
                display: none !important;
                position: absolute;
                top: 0;
                left: 100%;
                margin-left: 0.1rem;
                background-color: #fff;
                border: 1px solid #ddd;
                min-width: 150px;
                z-index: 1000;
            }

            .dropdown-submenu:hover .submenu {
                display: block !important;
            }

        .submenu-toggle {
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
        }

        .loader-container {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: none;
            align-items: center;
            justify-content: center;
            z-index: 9999;
            backdrop-filter: blur(4px);
            background: rgba(255, 255, 255, 0.3);
            flex-direction: column;
        }

        .logo-spinner {
            width: 80px;
            height: 80px;
            animation: spin 1s linear infinite;
        }

        .loading-text {
            margin-top: 10px;
            font-size: 18px;
            color: #333;
        }

        @@keyframes spin {
            0%

        {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }

        }

        .companyNameLayout {
            max-width: 300px;
            overflow-x: auto;
            white-space: nowrap;
            position: relative;
            -webkit-overflow-scrolling: touch;
            scrollbar-width: none;
        }

            .companyNameLayout::-webkit-scrollbar {
                display: none;
            }

        .custom-tooltip {
            display: inline-block;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            cursor: grab;
            position: relative;
        }

            .custom-tooltip::after {
                content: attr(data-tooltip);
                position: absolute;
                bottom: 150%;
                left: 0;
                background: rgba(0, 0, 0, 0.85);
                color: #fff;
                padding: 6px 10px;
                border-radius: 5px;
                white-space: normal;
                max-width: 400px;
                opacity: 0;
                pointer-events: none;
                transition: opacity 0.3s ease-in-out;
                z-index: 1000;
            }

            .custom-tooltip:hover::after {
                opacity: 1;
            }

        #dropdownAdminSwitch {
            display: none;
        }

      /*   .essEmployeeMenu, .essMyProfile, .essMyInout, .essEmployeeDirectory, .essTicketRequest,
        .essOpenTicket, .essTicketClose, .essProbationSelfRating, .essLeaveMenu, .essLeaveApplication, .essLeaveApprovalSubMenu, .essLeaveApproval, .essAdminLeaveApproval, .essAttedenceRegularization, .essCompOffMenu,
        .essCompOffApplication, .essAttedenceRegularization,.essAddAttedenceRegularization, .essSalaryDetailsMenu, .essItDeclarationForm,
        .essMyTeamMenu, .essMemberShift, .essShiftChange, .essEmployeeShiftImport, .essMemberRoster, .essMemberInOutRecord,
        .essMemberDetails, .essMyReports, .essMyReportMenu, .essAttedanceRegister
        {
            display:none;
        } */
    </style>

</head>
<body class="bodyLayout" >
    <!-- Loader -->
    <div id="loader" class="loader-container">
        <img src="@baseDomainUrl/loders/loder.png" class="logo-spinner" alt="Loading..." />
        <div class="loading-text">Loading, please wait...</div>
    </div>

    <!-- Header -->
    <header class="main-header">
        <div class="header-content">
            <div class="header-left">
                <div class="mobile-toggle" onclick="toggleSidebar()">
                    <i class='bx bx-menu' style="font-size: 20px;"></i>
                </div>
                <div class="logo-section">
                    <div class="logo">RE</div>
                    <span class="brand-name">
                        <img src="~/assets/images/relaylogo.jpeg" class="logo-icon" alt="logo icon">
                    </span>
                </div>
                <div class="search-section">
                    <div class="search-box">
                        <input type="text" placeholder="Type to search...">
                        <i class='bx bx-search'></i>
                    </div>
                </div>
                <div class="company-info companyNameLayout"></div>
                
            </div>
            <div class="user-section" >
                <!--Notification bell-->
                <div class="icon-demo" id="bellIcon">
                    <div class="position-relative d-inline-block">
                        <i class="bx bx-bell fs-4 text-dark"></i>
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" id="notificationCount">0</span>
                    </div>

                    <!-- Notification Dropdown -->
                    <div class="notification-dropdown" id="notificationDropdown">
                        <div class="notification-header">
                            <h6>Notifications</h6>
                        </div>

                        <div class="notification-list" id="notificationList">
                            <!-- Notifications will be populated here -->
                        </div>

                      
                    </div>
                </div>



                <div class="user-avatar">
                    <img class="user-avatar" src="@baseDomainUrl/default-image/avatar-2.png" alt="User Image" style="border: 1px solid #000;" />
                </div>

                <div class="user-info" onclick="toggleUserDropdown()">
                    <h6 class="user-name">Unknown</h6>
                    <small class="designation">Unknown</small>
                </div>
                <i class='bx bx-chevron-down' id="userChevron"></i>
                <!-- User Dropdown Menu -->
                <div class="user-dropdown" id="userDropdown">
                    <a href="@UIBaseUrlLayout/AdminPanel/Home/index" class="user-dropdown-item" id="dropdownAdminSwitch">
                        <i class='bx bx-user'></i>
                        <span>Admin</span>
                    </a>
                   
                    <a href="javascript:;" class="user-dropdown-item" id="companyDrop">

                        <i class='bx bx-building'></i>
                        <span>Change Company</span>
                    </a>

                    <a href="@UIBaseUrlLayout/AuthManage/ChangePassword" class="user-dropdown-item" id="changePassword">
                        <i class='bx bx-building'></i>
                        <span>Change Password</span>
                    </a>
                    <div style="border-top: 1px solid #e9ecef; margin: 5px 0;"></div>
                    <a href="#" class="user-dropdown-item logout" id="btnLogout">
                        <i class='bx bx-log-out'></i>
                        <span>Logout</span>
                    </a>
                </div>
            </div>
        </div>
    </header>

    <!-- Navigation Bar (Desktop) -->
    <nav class="main-navbar">
        <ul class="nav-items">
            <!-- Dashboard -->
            <li class="nav-item essDashboard">
                <a href="@UIBaseUrlLayout/EmployeePanel/Home/index" class="nav-link active">
                    <i class='bx bx-home-circle nav-icon'></i>
                    Dashboard
                </a>
            </li>
            <!-- Employee -->
            <li class="nav-item essEmployeeMenu">
                <a href="#" class="nav-link">
                    <i class='bx bx-user nav-icon'></i>
                    Employee
                    <i class='bx bx-chevron-down' style="margin-left: 5px;"></i>
                </a>
                <div class="dropdown-menu">
                    <a href="@UIBaseUrlLayout/EmployeePanel/Employee/MyProfile" class="dropdown-item essMyProfile">My Profile</a>
                    <a href="@UIBaseUrlLayout/EmployeePanel/Employee/Index" class="dropdown-item essMyInout">My In Out</a>
                    <a href="@UIBaseUrlLayout/EmployeePanel/EmployeeDirectory/Index" class="dropdown-item essEmployeeDirectory">Employee Directory</a>
                    <div class="dropdown-submenu">
                        <a href="#" class="dropdown-item submenu-toggle essTicketRequest">Ticket Request <i class='bx bx-chevron-right'></i></a>
                        <div class="dropdown-menu submenu">
                            <a href="@UIBaseUrlLayout/EmployeePanel/TicketRequest/TicketOpen" class="dropdown-item essOpenTicket">Ticket Open</a>
                            <a href="@UIBaseUrlLayout/EmployeePanel/TicketRequest/TicketClose" class="dropdown-item essTicketClose">Ticket Close</a>
                        </div>
                    </div>
                    <a href="@UIBaseUrlLayout/EmployeePanel/ProbationSelfRating/Index" class="dropdown-item essProbationSelfRating">Probation Self Rating</a>
                </div>
            </li>
            <!-- Leave -->
            <li class="nav-item essLeaveMenu">
                <a href="#" class="nav-link">
                    <i class='bx bx-calendar nav-icon'></i>
                    Leave
                    <i class='bx bx-chevron-down' style="margin-left: 5px;"></i>
                </a>
                <div class="dropdown-menu">
                    <a href="@UIBaseUrlLayout/EmployeePanel/Leave/LeaveApplication" class="dropdown-item essLeaveApplication">Leave Application</a>
                    <div class="dropdown-submenu ">
                        <a href="#" class="dropdown-item submenu-toggle essLeaveApprovalSubMenu">Leave Approval <i class='bx bx-chevron-right'></i></a>
                        <div class="dropdown-menu submenu">
                            <a href="@UIBaseUrlLayout/EmployeePanel/Leave/LeaveApproval" class="dropdown-item essLeaveApproval">Leave Approval</a>
                        </div>
                    </div>
                    <div class="dropdown-submenu ">
                        <a href="#" class="dropdown-item submenu-toggle essCompOffMenu">Comp Off <i class='bx bx-chevron-right'></i></a>
                        <div class="dropdown-menu submenu">
                            <a href="@UIBaseUrlLayout/EmployeePanel/CompOffApplication/Index" class="dropdown-item essCompOffApplication">Comp Off Application</a>
                            <a href="@UIBaseUrlLayout/EmployeePanel/CompOffApplication/CompOffApproval" class="dropdown-item essCompOffApproval">Comp Off Approval</a>
                        </div>
                    </div>
                    <a href="@UIBaseUrlLayout/EmployeePanel/Leave/Attendance" class="dropdown-item essAttedenceRegularization">Attendance Regularization</a>
                    <a href="@UIBaseUrlLayout/EmployeePanel/Leave/AddAttendance" class="dropdown-item essAddAttedenceRegularization">Add Attendance Regularization</a>
                </div>
            </li>
            <!-- Salary Details -->
            <li class="nav-item essSalaryDetailsMenu">
                <a href="#" class="nav-link">
                    <i class='bx bx-wallet nav-icon'></i>
                    Salary Details
                    <i class='bx bx-chevron-down' style="margin-left: 5px;"></i>
                </a>
                <div class="dropdown-menu">
                    <a href="@UIBaseUrlLayout/EmployeePanel/SalaryDetail/SalarySlip" class="dropdown-item essItDeclarationForm">Salary Slip</a>
                </div>
            </li>
            <!-- My Team -->
           
            <li class="nav-item essMyTeamMenu">
                <a href="#" class="nav-link">
                    <i class='bx bx-group nav-icon'></i>
                    My Team
                    <i class='bx bx-chevron-down' style="margin-left: 5px;"></i>
                </a>
                <div class="dropdown-menu ">
                    <div class="dropdown-submenu essMemberShift">
                        <a href="#" class="dropdown-item submenu-toggle">Member Shift <i class='bx bx-chevron-right'></i></a>
                        <div class="dropdown-menu submenu">
                            <a href="@UIBaseUrlLayout/EmployeePanel/MyTeam/ShiftChanges" class="dropdown-item essShiftChange">Shift Change</a>
                            <a href="@UIBaseUrlLayout/EmployeePanel/MyTeam/ShiftImport" class="dropdown-item essEmployeeShiftImport">Employee Shift Import</a>
                            <a href="@UIBaseUrlLayout/EmployeePanel/MyTeam/MemberRoster" class="dropdown-item essMemberRoster ">Member Roster</a>
                        </div>
                    </div>
                    <a href="@UIBaseUrlLayout/EmployeePanel/MyTeam/MemberInOutRecord" class="dropdown-item essMemberInOutRecord">Member In Out Record</a>
                    <a href="@UIBaseUrlLayout/EmployeePanel/MyTeam/MemberDetails" class="dropdown-item essMemberDetails">Member Details</a>
                    <a href="@UIBaseUrlLayout/EmployeePanel/MyReports/Index" class="dropdown-item essMyReports">My Reports</a>
                </div>
            </li>
            <!-- My Reports -->
            <li class="nav-item essMyReportMenu">
                <a href="#" class="nav-link">
                    <i class='bx bx-bar-chart-square nav-icon'></i>
                    My Reports
                    <i class='bx bx-chevron-down' style="margin-left: 5px;"></i>
                </a>
                <div class="dropdown-menu">
                    <a href="@UIBaseUrlLayout/EmployeePanel/MyReports/AttendanceRegister" class="dropdown-item essAttedanceRegister">Attendance Register</a>
                </div>
            </li>
        </ul>
    </nav>

    <!-- Mobile Sidebar -->
    <div class="mobile-sidebar " id="mobileSidebar">
        <ul class="mobile-nav-items">
            <li class="mobile-nav-item essDashboard">
                <a href="@UIBaseUrlLayout/EmployeePanel/Home/index" class="mobile-nav-link">
                    <div class="mobile-nav-link-content">
                        <i class='bx bx-home-circle'></i>
                        <span>Dashboard</span>
                    </div>
                </a>
            </li>
            <li class="mobile-nav-item essEmployeeMenu">
                <a href="#" class="mobile-nav-link" onclick="toggleMobileSubmenu(event, 'employee')">
                    <div class="mobile-nav-link-content">
                        <i class='bx bx-user'></i>
                        <span>Employee</span>
                    </div>
                    <i class='bx bx-chevron-down mobile-toggle-icon'></i>
                </a>
                <div class="mobile-submenu" id="employee">
                    <a href="@UIBaseUrlLayout/EmployeePanel/Employee/MyProfile" class="mobile-submenu-item essMyProfile">My Profile</a>
                    <a href="@UIBaseUrlLayout/EmployeePanel/Employee/Index" class="mobile-submenu-item essMyInout">My In Out</a>
                    <a href="@UIBaseUrlLayout/EmployeePanel/EmployeeDirectory/Index" class="mobile-submenu-item essEmployeeDirectory">Employee Directory</a>
                    <div class="mobile-submenu-with-nested essTicketRequest" onclick="toggleSubSubMenu(event, 'ticketRequest')">
                        <span>Ticket Request</span>
                        <i class='bx bx-chevron-right submenu-toggle-icon'></i>
                    </div>
                    <div class="mobile-subsubmenu" id="ticketRequest">
                        <a href="@UIBaseUrlLayout/EmployeePanel/TicketRequest/TicketOpen" class="mobile-submenu-item essOpenTicket">Ticket Open</a>
                        <a href="@UIBaseUrlLayout/EmployeePanel/TicketRequest/TicketClose" class="mobile-submenu-item essTicketClose">Ticket Close</a>
                    </div>
                    <a href="@UIBaseUrlLayout/EmployeePanel/ProbationSelfRating/Index" class="mobile-submenu-item essProbationSelfRating">Probation Self Rating</a>
                </div>
            </li>
            <li class="mobile-nav-item essLeaveMenu">
                <a href="#" class="mobile-nav-link" onclick="toggleMobileSubmenu(event, 'leave')">
                    <div class="mobile-nav-link-content">
                        <i class='bx bx-calendar'></i>
                        <span>Leave</span>
                    </div>
                    <i class='bx bx-chevron-down mobile-toggle-icon'></i>
                </a>
                <div class="mobile-submenu" id="leave">
                    <a href="@UIBaseUrlLayout/EmployeePanel/Leave/LeaveApplication" class="mobile-submenu-item essLeaveApplication">Leave Application</a>
                    <div class="mobile-submenu-with-nested essLeaveApprovalSubMenu" onclick="toggleSubSubMenu(event, 'leaveApproval')">
                        <span>Leave Approval</span>
                        <i class='bx bx-chevron-right submenu-toggle-icon'></i>
                    </div>
                    <div class="mobile-subsubmenu" id="leaveApproval">
                        <a href="@UIBaseUrlLayout/EmployeePanel/Leave/LeaveApproval" class="mobile-submenu-item essLeaveApproval">Leave Approval</a>
                    </div>
                    <div class="mobile-submenu-with-nested essCompOffMenu" onclick="toggleSubSubMenu(event, 'compOff')">
                        <span>Comp Off</span>
                        <i class='bx bx-chevron-right submenu-toggle-icon'></i>
                    </div>
                    <div class="mobile-subsubmenu" id="compOff">
                        <a href="@UIBaseUrlLayout/EmployeePanel/CompOffApplication/Index" class="mobile-submenu-item essCompOffApplication">Comp Off Application</a>
                        <a href="@UIBaseUrlLayout/EmployeePanel/CompOffApplication/CompOffApproval" class="mobile-submenu-item essCompOffApproval">Comp Off Approval</a>
                    </div>
                    <a href="@UIBaseUrlLayout/EmployeePanel/Leave/Attendance" class="mobile-submenu-item essAttedenceRegularization">Attendance Regularization</a>
                    <a href="@UIBaseUrlLayout/EmployeePanel/Leave/AddAttendance" class="mobile-submenu-item essAddAttedenceRegularization">Add Attendance Regularization</a>
                </div>
            </li>
            <li class="mobile-nav-item essSalaryDetailsMenu">
                <a href="#" class="mobile-nav-link" onclick="toggleMobileSubmenu(event, 'salaryDetails')">
                    <div class="mobile-nav-link-content">
                        <i class='bx bx-wallet'></i>
                        <span>Salary Details</span>
                    </div>
                    <i class='bx bx-chevron-down mobile-toggle-icon'></i>
                </a>
                <div class="mobile-submenu" id="salaryDetails">
                    <a href="@UIBaseUrlLayout/EmployeePanel/SalaryDetail/SalarySlip" class="mobile-submenu-item essItDeclarationForm">Salary Slip</a>
                </div>
            </li>
            <li class="mobile-nav-item essMyTeamMenu">
                <a href="#" class="mobile-nav-link" onclick="toggleMobileSubmenu(event, 'myTeam')">
                    <div class="mobile-nav-link-content">
                        <i class='bx bx-group'></i>
                        <span>My Team</span>
                    </div>
                    <i class='bx bx-chevron-down mobile-toggle-icon'></i>
                </a>
                <div class="mobile-submenu" id="myTeam">
                    <div class="mobile-submenu-with-nested essMemberShift" onclick="toggleSubSubMenu(event, 'memberShift')">
                        <span>Member Shift</span>
                        <i class='bx bx-chevron-right submenu-toggle-icon'></i>
                    </div>
                    <div class="mobile-subsubmenu" id="memberShift">
                        <a href="@UIBaseUrlLayout/EmployeePanel/MyTeam/ShiftChanges" class="mobile-submenu-item essShiftChange">Shift Change</a>
                        <a href="@UIBaseUrlLayout/EmployeePanel/MyTeam/ShiftImport" class="mobile-submenu-item essEmployeeShiftImport">Employee Shift Import</a>
                        <a href="@UIBaseUrlLayout/EmployeePanel/MyTeam/MemberRoster" class="mobile-submenu-item essMemberRoster">Member Roster</a>
                    </div>
                    <a href="@UIBaseUrlLayout/EmployeePanel/MyTeam/MemberInOutRecord" class="mobile-submenu-item essMemberInOutRecord">Member In Out Record</a>
                    <a href="@UIBaseUrlLayout/EmployeePanel/MyTeam/MemberDetails" class="mobile-submenu-item essMemberDetails">Member Details</a>
                    <a href="@UIBaseUrlLayout/EmployeePanel/MyReports/Index" class="mobile-submenu-item essMyReports">My Reports</a>
                </div>
            </li>
            <li class="mobile-nav-item  essMyReportMenu">
                <a href="#" class="mobile-nav-link" onclick="toggleMobileSubmenu(event, 'myReports')">
                    <div class="mobile-nav-link-content">
                        <i class='bx bx-chart'></i>
                        <span>My Reports</span>
                    </div>
                    <i class='bx bx-chevron-down mobile-toggle-icon'></i>
                </a>
                <div class="mobile-submenu" id="myReports">
                    <a href="@UIBaseUrlLayout/EmployeePanel/MyReports/AttendanceRegister" class="mobile-submenu-item essAttedanceRegister">Attendance Register</a>
                </div>
            </li>
        </ul>
    </div>

    <!-- Overlay -->
    <div class="overlay" id="overlay" onclick="toggleSidebar()"></div>

    <!-- Company dropdown -->
    <div id="companyModalContainer"></div>
    <div id="sessionTimmerContainer"></div>

    <!-- Main Content Area -->
    <div class="page-wrapper p-0" id="pageWrapper">
        <div class="main-content">
            <div class="page-content">
                @RenderBody()
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="page-footer">
        <p class="mb-0">
            Copyright © @DateTime.Now.Year. All rights reserved.
        </p>
    </footer>
    <audio id="notificationSound" src="@baseDomainUrl/notification/notification-remainder-tone.mp3" preload="auto"></audio>

    <!-- Toast Container -->
    <div id="toast-container" class="toast-container"></div>

   

    <!-- Scripts -->
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/signalr.js"></script>
   
    <script>
        // window.addEventListener("load", function () {
        //     document.getElementById("loader").style.display = "none";
        // });
        document.getElementById("loader").style.display = "flex";
    </script>
    <script src="~/assets/plugins/perfect-scrollbar/js/perfect-scrollbar.js"></script>
    <script src="~/assets/plugins/notifications/js/lobibox.min.js"></script>
    <script src="~/assets/plugins/notifications/js/notifications.min.js"></script>
    <script src="~/assets/plugins/notifications/js/notification-custom-script.js"></script>
    <script src="~/assets/js/app.js"></script>
    <script src="~/assets/js/dx.all.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jwt-decode@3.1.2/build/jwt-decode.min.js"></script>
    <script>
        var uiBaseUrlLayout = '@UIBaseUrlLayout';
        var BaseUrlLayout = '@baseUrlLayout';
        var BaseDomainUrl = '@baseDomainUrl';
    </script>
    <script src="~/assets/js/companymodalloader.js"></script>
    <script src="~/assets/js/logout.js"></script>
    <script src="~/assets/js/permissions.js"></script>
    <script>
        $('.dropdown-item').click(function () {
            localStorage.removeItem("PreviousPageUrl");
            localStorage.setItem("PreviousPageUrl", window.location.href);
        });
    </script>
    <script src="~/assets/js/common-input-handler.js"></script>
    <script src="~/assets/js/relay.js"></script>
    <script src="~/assets/js/notification-remainder.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
