@{
	ViewData["Title"] = "Employee Privileges";
	Layout = "~/Views/Shared/_mainLayout.cshtml";
	string baseUrl = Configuration["BaseUrlSettings:baseUrl"];
}


<div class="card">
	<div class="card-header bg-transparent ml-0 py-0">
		<div class="row m-2">
			<div class="col-6 ">
				<h6 class="pt-2 mb-0">
					Employee Privileges
				</h6>
			</div>

			<div class="col-6 d-flex justify-content-end align-items-center">
				<div class="font-22 pl-2" style="color:#32393f; cursor:pointer;">
					@* 					<i class="fadeIn animated bx bx-refresh" id="refreshData" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Refresh Data"></i>
 *@				
                    <button id="addEmployeePrivileges"
							type="button"
							class="btn mr-1 rounded-1 "
							style="background-color:#2395c6; color:white;">
						Add
					</button>
				</div>
			</div>
		</div>
	</div>
	<div class="card-body">

		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<div class="rowCount" id="rowCountEmployeePrivileges"></div>
					<div id="gridContainerEmployeePrivileges">
						<div class="d-flex justify-content-center align-items-center" style="height: 10vh;">
							<div class="spinner-border text-primary" role="status">
								<span class="visually-hidden">Loading...</span>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

</div>


<div class="modal fade" id="addEmployeePrivilegesModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h6 class="modal-title btn-heading-title" id="exampleModalLabel">
					<span class="formType"></span>Assign Privileges</h6>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body modal-body-font">
				

					<div class="row">
						<div class="col-md-6">
							<div class="form-group mt-3 position-relative">
							<input type="date" class="form-control floating-input" id="EffectDate" placeholder=" ">
							<label class="floating-label" for="doj">EffectDate*</label>
							</div>
						</div>

						<div class="col-md-6">
							<div class="form-group mt-3 position-relative">
								<select class="form-control floating-input" id="ddlBranch">
									<option disabled selected value="">Select </option>
								</select>
								<label class="floating-label" for="ddlBranch">Branch</label>
							</div>
						</div>
						
					</div>

					<!-- New Fields -->
					<div class="row">
						<div class="col-md-6">
							<div class="form-group mt-3 position-relative">
								<select class="form-control floating-input" id="ddlPrivilege">
									<option value="">Select</option>
									<!-- Add your options here -->
								</select>
							<label class="floating-label" for="ddlPrivilege"> Privilege </label>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group mt-3 position-relative">
								<select class="form-control floating-input" id="ddlDesignation">
									<option value="">Select</option>
									<!-- Add your options here -->
								</select>
								<label class="floating-label" for="ddlDesignation">Designation </label>
							</div>
						</div>
						

					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="form-group mt-3 position-relative">
								<select class="form-control floating-input" id="ddlGrade">
									<option value="">Select</option>
									<option value="">MANAGEMENT</option>
								</select>
								<label class="floating-label" for="ddlGrade">Grade</label>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group mt-3 position-relative">
								<select class="form-control floating-input" id="ddlDepartment">
									<option value="">Select Department</option>
									<!-- Add your options here -->
								</select>
								<label class="floating-label" for="ddlDepartment">Department</label>
							</div>
						</div>

					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="form-group mt-3 position-relative">
							<select class="form-control floating-input" id="ddlStatus">
									<option value="">Select</option>
								<option value="">Status1</option>
								</select>
							<label class="floating-label" for="ddlStatus">Status</label>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group mt-3 position-relative">
							<select class="form-control floating-input" id="ddlEmployee">
									<option value="">Select</option>
									<!-- Add your options here -->
								</select>
							<label class="floating-label" for="ddlEmployee">Employee</label>
							</div>
						</div>

					</div>

					
			</div>

			<div class="modal-footer btn-heading-title">
				<button type="button" class="btn btn-primary" id="btnAddEmployeePrivileges" style="background-color:#2395c6; color:white;">Save</button>
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>


<script>
	$("#addEmployeePrivileges").click( () => {

		   $("#addEmployeePrivilegesModal").modal('show');

	})

</script>