@inject IConfiguration Configuration
@{
    ViewData["Title"] = "Scheme Details";
    Layout = "~/Areas/AdminPanel/Views/Shared/_AdminLayout.cshtml";
    string baseUrl = Configuration["BaseUrlSettings:baseUrl"];
    var uri = new Uri(baseUrl);
	string baseAPIDomainUrl = $"{uri.Scheme}://{uri.Host}:{uri.Port}";
}



<div class="card ">
	<div class="card-header bg-transparent ml-0 py-0">
		<div class="row">
			<div class="col-6">
				<h6 class="pt-2 mb-0">
					Scheme Details
				</h6>
			</div>

			<div class="col-6 d-flex justify-content-end align-items-center">
				<div class="font-22 pl-2" style="color:#32393f; cursor:pointer;">

					<button id="addSchemeDetails"
							type="button"
							class="btn mr-1 rounded-1"
							style="background-color:#2395c6; color:white;">
						Add Scheme Details
					</button>

				</div>
			</div>
		</div>
	</div>


	<div class="card-body">
		<div class="row">
			<div class="col-md-12">

				<div class="grid-wrapper " style="position: relative; " id="gridTag">
					<div id="grid-loader" class="grid-loader justify-content-center align-items-center flex-column "
						 style="display: none;  inset: 0; background: rgba(255,255,255,0.6); z-index: 10; ">
						<img src="@baseAPIDomainUrl/loders/loder.png" class="grid-logo-spinner" style="width: 30px; height: 30px; animation: spin 1s linear infinite;" />
						<div class="grid-loading-text text-dark" style="font-size: 16px;">Loading...</div>

					</div>
					<div class="rowCount" id="rowCount2"></div>
					<div id="GridContainer"></div>
				</div>

			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="modalSchemeDetails" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title btn-heading-title" id="exampleModalLabel">
                    <span class="formType">Add</span> Scheme Details
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body modal-body-font">
                <!-- First Row: Scheme Type & Scheme -->
                <div class="row mb-2">
                    <div class="col-md-6">
                        <div class="form-group mt-3 position-relative">
                            <div class="searchable-select-wrapper" id="schemeTypeWrapper">
                                <input type="text" class="searchable-select-input" id="drpSchemeType" readonly placeholder="Select">
                                <label class="floating-label" for="drpSchemeType">
                                    Scheme Type<span class="text-danger">*</span>
                                </label>
                                <span class="searchable-select-arrow">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                                        <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                                    </svg>
                                </span>
                                <div class="searchable-select-dropdown">
                                    <div class="searchable-select-search">
                                        <input type="text" placeholder="Search scheme type..." class="search-input">
                                    </div>
                                    <div class="searchable-select-options"></div>
                                </div>
                            </div>
                            <span id="spnSchemeType" style="color:red; display:none;">Please Select Scheme Type</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group mt-3 position-relative">
                            <div class="searchable-select-wrapper" id="schemeWrapper">
                                <input type="text" class="searchable-select-input" id="drpScheme" readonly placeholder="Select">
                                <label class="floating-label" for="drpScheme">
                                    Scheme<span class="text-danger">*</span>
                                </label>
                                <span class="searchable-select-arrow">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                                        <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                                    </svg>
                                </span>
                                <div class="searchable-select-dropdown">
                                    <div class="searchable-select-search">
                                        <input type="text" placeholder="Search scheme..." class="search-input">
                                    </div>
                                    <div class="searchable-select-options"></div>
                                </div>
                            </div>
                            <span id="spnScheme" style="color:red; display:none;">Please Select Scheme</span>
                        </div>
                    </div>
                </div>

                <div class="border border-secondary p-2">
                    <!-- Second Row: Company & Reporting 1 + Checkbox -->
                    <div class="row">
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group mt-3 position-relative">
                                        <div class="searchable-select-wrapper" id="company1Wrapper">
                                            <input type="text" class="searchable-select-input" id="drpCompany1" readonly placeholder="Select">
                                            <label class="floating-label" for="drpCompany1">
                                                Company<span class="text-danger">*</span>
                                            </label>
                                            <span class="searchable-select-arrow">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                                                    <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                                                </svg>
                                            </span>
                                            <div class="searchable-select-dropdown">
                                                <div class="searchable-select-search">
                                                    <input type="text" placeholder="Search company..." class="search-input">
                                                </div>
                                                <div class="searchable-select-options"></div>
                                            </div>
                                        </div>
                                        <span id="spnCompany1" style="color:red; display:none;">Please Select Company</span>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group mt-3 position-relative">
                                        <div class="searchable-select-wrapper" id="reporting1Wrapper">
                                            <input type="text" class="searchable-select-input" id="ReportingManager1" readonly placeholder="Select">
                                            <label class="floating-label" for="ReportingManager2">
                                                Reporting Manager 1<span class="text-danger">*</span>
                                            </label>
                                            <span class="searchable-select-arrow">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                                                    <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                                                </svg>
                                            </span>
                                            <div class="searchable-select-dropdown">
                                                <div class="searchable-select-search">
                                                    <input type="text" placeholder="Search reporting manager..." class="search-input">
                                                </div>
                                                <div class="searchable-select-options"></div>
                                            </div>
                                        </div>
                                        <span id="spnReporting1" style="color:red; display:none;">Please Select Reporting 1</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 align-items-center">
                            <div class="form-group mt-3 position-relative">
                                <div class="searchable-select-wrapper" id="designation1Wrapper">
                                    <input type="text" class="searchable-select-input" id="drpDesignation1" readonly placeholder="Select">
                                    <label class="floating-label" for="drpDesignation1">
                                        Designation
                                    </label>
                                    <span class="searchable-select-arrow">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                                            <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                                        </svg>
                                    </span>
                                    <div class="searchable-select-dropdown">
                                        <div class="searchable-select-search">
                                            <input type="text" placeholder="Search designation..." class="search-input">
                                        </div>
                                        <div class="searchable-select-options"></div>
                                    </div>
                                </div>
                                <span id="spnDesignation1" style="color:red; display:none;">Please Select Designation</span>
                            </div>
                        </div>
                        <!-- Right-aligned Checkbox -->
                        <div class="col-md-4 d-flex justify-content-end align-items-center">
                            <div class="form-check mt-3">
                                <input class="form-check-input" type="checkbox" id="checkReportingManager">
                                <label class="form-check-label" for="checkReportingManager1">
                                    Reporting Manager
                                </label>
                            </div>
                        </div>
                    </div>
                    <hr class="border border-secondary mt-2" />

                    <!-- Reporting 2 Row -->
                    <div class="row">
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group mt-3 position-relative">
                                        <div class="searchable-select-wrapper" id="company2Wrapper">
                                            <input type="text" class="searchable-select-input" id="drpCompany2" readonly placeholder="Select">
                                            <label class="floating-label" for="drpCompany2">
                                                Company<span class="text-danger">*</span>
                                            </label>
                                            <span class="searchable-select-arrow">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                                                    <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                                                </svg>
                                            </span>
                                            <div class="searchable-select-dropdown">
                                                <div class="searchable-select-search">
                                                    <input type="text" placeholder="Search company..." class="search-input">
                                                </div>
                                                <div class="searchable-select-options"></div>
                                            </div>
                                        </div>
                                        <span id="spnCompany2" style="color:red; display:none;">Please Select Company</span>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group mt-3 position-relative">
                                        <div class="searchable-select-wrapper" id="reporting2Wrapper">
                                            <input type="text" class="searchable-select-input" id="ReportingManager2" readonly placeholder="Select">
                                            <label class="floating-label" for="ReportingManager2">
                                                Reporting Manager 2<span class="text-danger">*</span>
                                            </label>
                                            <span class="searchable-select-arrow">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                                                    <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                                                </svg>
                                            </span>
                                            <div class="searchable-select-dropdown">
                                                <div class="searchable-select-search">
                                                    <input type="text" placeholder="Search reporting manager..." class="search-input">
                                                </div>
                                                <div class="searchable-select-options"></div>
                                            </div>
                                        </div>
                                        <span id="spnReporting2" style="color:red; display:none;">Please Select Reporting Manager 2</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 align-items-center">
                            <div class="form-group mt-3 position-relative">
                                <div class="searchable-select-wrapper" id="designation2Wrapper">
                                    <input type="text" class="searchable-select-input" id="drpDesignation2" readonly placeholder="Select">
                                    <label class="floating-label" for="drpDesignation2">
                                        Designation
                                    </label>
                                    <span class="searchable-select-arrow">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                                            <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                                        </svg>
                                    </span>
                                    <div class="searchable-select-dropdown">
                                        <div class="searchable-select-search">
                                            <input type="text" placeholder="Search designation..." class="search-input">
                                        </div>
                                        <div class="searchable-select-options"></div>
                                    </div>
                                </div>
                                <span id="spnDesignation2" style="color:red; display:none;">Please Select Designation</span>
                            </div>
                        </div>
                        <div class="col-md-4 d-flex justify-content-end align-items-center">
                            <div class="form-check mt-3">
                                <input class="form-check-input" type="checkbox" id="checkNotMandatory2">
                                <label class="form-check-label" for="checkNotMandatory2">
                                    Not Mandatory
                                </label>
                                <br />
                                <input class="form-check-input" type="checkbox" id="checkBranchManager2">
                                <label class="form-check-label" for="checkBranchManager2">
                                    Branch Manager
                                </label>
                                <br />
                                <input class="form-check-input" type="checkbox" id="checkHr2">
                                <label class="form-check-label" for="checkHr2">
                                    HR
                                </label>
                                <br />
                                <input class="form-check-input" type="checkbox" id="checkReportingToReportingManager">
                                <label class="form-check-label" for="checkReportingToReportingManager">
                                    Reporting To Reporting Manager
                                </label>
                                <br />
                                <input class="form-check-input" type="checkbox" id="checkHod2">
                                <label class="form-check-label" for="checkHod2">
                                   HOD
                                </label>
                                <br />
                                <input class="form-check-input" type="checkbox" id="checkProbationManager2">
                                <label class="form-check-label" for="checkProbationManager2">
                                    Probation Manager
                                </label>
                            </div>
                        </div>
                    </div>
                    <hr class="border border-secondary mt-2" />

                    <!-- Reporting 3 Row -->
                    <div class="row">
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group mt-3 position-relative">
                                        <div class="searchable-select-wrapper" id="company3Wrapper">
                                            <input type="text" class="searchable-select-input" id="drpCompany3" readonly placeholder="Select">
                                            <label class="floating-label" for="drpCompany3">
                                                Company<span class="text-danger">*</span>
                                            </label>
                                            <span class="searchable-select-arrow">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                                                    <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                                                </svg>
                                            </span>
                                            <div class="searchable-select-dropdown">
                                                <div class="searchable-select-search">
                                                    <input type="text" placeholder="Search company..." class="search-input">
                                                </div>
                                                <div class="searchable-select-options"></div>
                                            </div>
                                        </div>
                                        <span id="spnCompany3" style="color:red; display:none;">Please Select Company</span>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group mt-3 position-relative">
                                        <div class="searchable-select-wrapper" id="reporting3Wrapper">
                                            <input type="text" class="searchable-select-input" id="ReportingManager3" readonly placeholder="Select">
                                            <label class="floating-label" for="ReportingManager3">
                                                Reporting Manager 3<span class="text-danger">*</span>
                                            </label>
                                            <span class="searchable-select-arrow">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                                                    <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                                                </svg>
                                            </span>
                                            <div class="searchable-select-dropdown">
                                                <div class="searchable-select-search">
                                                    <input type="text" placeholder="Search reporting manager..." class="search-input">
                                                </div>
                                                <div class="searchable-select-options"></div>
                                            </div>
                                        </div>
                                        <span id="spnReporting3" style="color:red; display:none;">Please Select Reporting 3</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 align-items-center">
                            <div class="form-group mt-3 position-relative">
                                <div class="searchable-select-wrapper" id="designation3Wrapper">
                                    <input type="text" class="searchable-select-input" id="drpDesignation3" readonly placeholder="Select">
                                    <label class="floating-label" for="drpDesignation3">
                                        Designation
                                    </label>
                                    <span class="searchable-select-arrow">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                                            <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                                        </svg>
                                    </span>
                                    <div class="searchable-select-dropdown">
                                        <div class="searchable-select-search">
                                            <input type="text" placeholder="Search designation..." class="search-input">
                                        </div>
                                        <div class="searchable-select-options"></div>
                                    </div>
                                </div>
                                <span id="spnDesignation3" style="color:red; display:none;">Please Select Designation</span>
                            </div>
                        </div>
                        <div class="col-md-4 d-flex justify-content-end align-items-center">
                            <div class="form-check mt-3">
                                <input class="form-check-input" type="checkbox" id="checkNotMandatory3">
                                <label class="form-check-label" for="checkNotMandatory3">
                                    Not Mandatory
                                </label>
                                <br />
                                <input class="form-check-input" type="checkbox" id="checkBranchManager3">
                                <label class="form-check-label" for="checkBranchManager3">
                                    Branch Manager
                                </label>

                                <br />
                                <input class="form-check-input" type="checkbox" id="checkHr3">
                                <label class="form-check-label" for="checkHr3">
                                    HR
                                </label>
                                <br />
                             
                                <input class="form-check-input" type="checkbox" id="checkHod3">
                                <label class="form-check-label" for="checkHod3">
                                    HOD
                                </label>
                            </div>
                        </div>
                    </div>
                    <hr class="border border-secondary mt-2" />

                    <!-- Reporting 4 Row -->
                    <div class="row">
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group mt-3 position-relative">
                                        <div class="searchable-select-wrapper" id="company4Wrapper">
                                            <input type="text" class="searchable-select-input" id="drpCompany4" readonly placeholder="Select">
                                            <label class="floating-label" for="drpCompany4">
                                                Company<span class="text-danger">*</span>
                                            </label>
                                            <span class="searchable-select-arrow">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                                                    <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                                                </svg>
                                            </span>
                                            <div class="searchable-select-dropdown">
                                                <div class="searchable-select-search">
                                                    <input type="text" placeholder="Search company..." class="search-input">
                                                </div>
                                                <div class="searchable-select-options"></div>
                                            </div>
                                        </div>
                                        <span id="spnCompany4" style="color:red; display:none;">Please Select Company</span>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group mt-3 position-relative">
                                        <div class="searchable-select-wrapper" id="reporting4Wrapper">
                                            <input type="text" class="searchable-select-input" id="ReportingManager4" readonly placeholder="Select">
                                            <label class="floating-label" for="ReportingManager4">
                                                Reporting Manager 4<span class="text-danger">*</span>
                                            </label>
                                            <span class="searchable-select-arrow">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                                                    <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                                                </svg>
                                            </span>
                                            <div class="searchable-select-dropdown">
                                                <div class="searchable-select-search">
                                                    <input type="text" placeholder="Search reporting manager..." class="search-input">
                                                </div>
                                                <div class="searchable-select-options"></div>
                                            </div>
                                        </div>
                                        <span id="spnReporting4" style="color:red; display:none;">Please Select Reporting 4</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 align-items-center">
                            <div class="form-group mt-3 position-relative">
                                <div class="searchable-select-wrapper" id="designation4Wrapper">
                                    <input type="text" class="searchable-select-input" id="drpDesignation4" readonly placeholder="Select">
                                    <label class="floating-label" for="drpDesignation4">
                                        Designation
                                    </label>
                                    <span class="searchable-select-arrow">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                                            <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                                        </svg>
                                    </span>
                                    <div class="searchable-select-dropdown">
                                        <div class="searchable-select-search">
                                            <input type="text" placeholder="Search designation..." class="search-input">
                                        </div>
                                        <div class="searchable-select-options"></div>
                                    </div>
                                </div>
                                <span id="spnDesignation4" style="color:red; display:none;">Please Select Designation</span>
                            </div>
                        </div>
                        <div class="col-md-4 d-flex justify-content-end align-items-center">
                            <div class="form-check mt-3">
                                <input class="form-check-input" type="checkbox" id="checkNotMandatory4">
                                <label class="form-check-label" for="checkNotMandatory4">
                                    Not Mandatory
                                </label>
                                <br />
                                <input class="form-check-input" type="checkbox" id="checkHr4">
                                <label class="form-check-label" for="checkHr4">
                                    HR
                                </label>
                               
                                <br />
                                <input class="form-check-input" type="checkbox" id="checkHod4">
                                <label class="form-check-label" for="checkHod4">
                                    HOD
                                </label>
                            </div>
                        </div>
                    </div>
                    <hr class="border border-secondary mt-2" />

                    <!-- Reporting 5 Row -->
                    <div class="row">
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group mt-3 position-relative">
                                        <div class="searchable-select-wrapper" id="company5Wrapper">
                                            <input type="text" class="searchable-select-input" id="drpCompany5" readonly placeholder="Select">
                                            <label class="floating-label" for="drpCompany5">
                                                Company<span class="text-danger">*</span>
                                            </label>
                                            <span class="searchable-select-arrow">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                                                    <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                                                </svg>
                                            </span>
                                            <div class="searchable-select-dropdown">
                                                <div class="searchable-select-search">
                                                    <input type="text" placeholder="Search company..." class="search-input">
                                                </div>
                                                <div class="searchable-select-options"></div>
                                            </div>
                                        </div>
                                        <span id="spnCompany5" style="color:red; display:none;">Please Select Company</span>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group mt-3 position-relative">
                                        <div class="searchable-select-wrapper" id="reporting5Wrapper">
                                            <input type="text" class="searchable-select-input" id="ReportingManager5" readonly placeholder="Select">
                                            <label class="floating-label" for="ReportingManager5">
                                                Reporting Manager 5<span class="text-danger">*</span>
                                            </label>
                                            <span class="searchable-select-arrow">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                                                    <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                                                </svg>
                                            </span>
                                            <div class="searchable-select-dropdown">
                                                <div class="searchable-select-search">
                                                    <input type="text" placeholder="Search reporting manager..." class="search-input">
                                                </div>
                                                <div class="searchable-select-options"></div>
                                            </div>
                                        </div>
                                        <span id="spnReporting5" style="color:red; display:none;">Please Select Reporting 5</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 align-items-center">
                            <div class="form-group mt-3 position-relative">
                                <div class="searchable-select-wrapper" id="designation5Wrapper">
                                    <input type="text" class="searchable-select-input" id="drpDesignation5" readonly placeholder="Select">
                                    <label class="floating-label" for="drpDesignation5">
                                        Designation
                                    </label>
                                    <span class="searchable-select-arrow">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                                            <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                                        </svg>
                                    </span>
                                    <div class="searchable-select-dropdown">
                                        <div class="searchable-select-search">
                                            <input type="text" placeholder="Search designation..." class="search-input">
                                        </div>
                                        <div class="searchable-select-options"></div>
                                    </div>
                                </div>
                                <span id="spnDesignation5" style="color:red; display:none;">Please Select Designation</span>
                            </div>
                        </div>
                        <div class="col-md-4 d-flex justify-content-end align-items-center">
                            <div class="form-check mt-3">
                                <input class="form-check-input" type="checkbox" id="checkNotMandatory5">
                                <label class="form-check-label" for="checkNotMandatory5">
                                    Not Mandatory
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Right-aligned Buttons -->
            <div class="modal-footer btn-heading-title justify-content-end p-0">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btnSave" style="background-color:#2395c6; color:white;">
                    Save
                </button>
            </div>
        </div>
    </div>
</div>


<script src="~/assets/js/jquery.min.js"></script>

<script>
     const companyDetails = JSON.parse(localStorage.getItem('selectedCompany'));
    const CompanyId=companyDetails.CompanyId;
    const EmployeeId=localStorage.getItem('EmployeeId');
    const Token=localStorage.getItem("authToken");
		
    let Id=0;

		$("#addSchemeDetails").click( () => {
			 //clearTicketStatusForm()s;
		  $("#modalSchemeDetails").modal('show');

		})


		function showStatusNoRecord()
		{
		   $("#divNoRecord").show();
			$("#gridTag").hide();
		}

		function hideStatusNoRecord()
		{
		   $("#divNoRecord").hide();
			$("#gridTag").show();
		}



    async function loadSchemeDropdowns(){
       $.ajax({
                url: '@baseUrl/SchemeReportingManagerAPI/GetSchemeDropdownDetails',
                method: 'GET',
                success: function(response) {
                        if (response.isSuccess)
                        {
                            console.log(response);
                            debugger;
                            bindSchemeType(response.data.schemeTypes);
                            bindCompany(response.data.companies);
                            bindDesignation(response.data.designations);
                            
                        }

                },
                error: function(error) {
                    console.error('Error fetching  data:', error);

                }
        });

    }


    async function loadScheme(){
        let SchemeTypeId = $('#drpSchemeType').data('searchableSelect').getValue();
        if (!SchemeTypeId) {
            //round_error_noti("Please select branch first!");
            return;
        }
       $.ajax({
                url: '@baseUrl/SchemeReportingManagerAPI/GetDrpSchemeDetailsBySchemeType/'+SchemeTypeId,
                method: 'GET',
                success: function(response) {
                        if (response.isSuccess)
                        {
                            
                            const drpScheme = $('#drpScheme').data('searchableSelect');
                              if(drpScheme){
                                     drpScheme.setData(response.data);
                              }
                        }

                },
                error: function(error) {
                    console.error('Error fetching  data:', error);

                }
        });

    }


      async function loadReporting(companyId, designationId, reportingId) {
        let drpCmpanyId = $(companyId).data('searchableSelect').getValue();
        let drpDesignationId = $(designationId).data('searchableSelect').getValue();

        if (!drpCmpanyId || !reportingId) {
            return;
        }

        let url = '@baseUrl/SchemeReportingManagerAPI/GetReportingByCompanyId?companyId=' + drpCmpanyId;

        if (drpDesignationId) {
            url += '&designationId=' + drpDesignationId;
        }

        $.ajax({
            url: url,
            method: 'GET',
            success: function (response) {
                if (response.isSuccess) {
                    const reporting = $(reportingId).data('searchableSelect');
                    if (reporting) {
                        reporting.setData(response.data);
                    }
                }
            },
            error: function (error) {
                console.error('Error fetching data:', error);
            }
        });
    }

        function bindSchemeType(data)
        {
            $('#drpSchemeType').searchableSelect({
                data: data||[],
                valueKey: 'schemeTypeId',
                textKey: 'schemeType',
                placeholder:'Scheme Type',
                searchPlaceholder: 'Search scheme type...',
                onChange: function(item) {
                    loadScheme();
                }
            });
        }
        
        function bindDesignation(data)
        {
            $('#drpDesignation1').searchableSelect({
                data: data||[],
                valueKey: 'designationId',
                textKey: 'designationName',
                placeholder:'Designation',
                searchPlaceholder: 'Search designation...',
                onChange: function(item) {
                       loadReporting("#drpCompany1","#drpDesignation1","#ReportingManager1")

                }
            });
            $('#drpDesignation2').searchableSelect({
                data: data||[],
                valueKey: 'designationId',
                textKey: 'designationName',
                placeholder:'Designation',
                searchPlaceholder: 'Search designation...',
                onChange: function(item) {
                    loadReporting("#drpCompany2","#drpDesignation2","#ReportingManager2")

                }
            });
            $('#drpDesignation3').searchableSelect({
                data: data||[],
                valueKey: 'designationId',
                textKey: 'designationName',
                placeholder:'Designation',
                searchPlaceholder: 'Search designation...',
                onChange: function(item) {
                    loadReporting("#drpCompany3","#drpDesignation3","#ReportingManager3")
                }
            });
            $('#drpDesignation4').searchableSelect({
                data: data||[],
                valueKey: 'designationId',
                textKey: 'designationName',
                placeholder:'Designation',
                searchPlaceholder: 'Search designation...',
                onChange: function(item) {
                 loadReporting("#drpCompany4","#drpDesignation4","#ReportingManager4")

                }
            });
            $('#drpDesignation5').searchableSelect({
                data: data||[],
                valueKey: 'designationId',
                textKey: 'designationName',
                placeholder:'Designation',
                searchPlaceholder: 'Search designation...',
                onChange: function(item) {
                       loadReporting("#drpCompany5","#drpDesignation5","#ReportingManager5")
                }
            });
        }
        function bindCompany(data)
        {
            $('#drpCompany1').searchableSelect({
                data: data||[],
                valueKey: 'companyId',
                textKey: 'companyName',
                placeholder:'Company',
                searchPlaceholder: 'Search company...',
                onChange: function(item) {
                    loadReporting("#drpCompany1","#drpDesignation1","#ReportingManager1")
                }
            });
            $('#drpCompany2').searchableSelect({
                data: data||[],
                valueKey: 'companyId',
                textKey: 'companyName',
                placeholder:'Company',
                searchPlaceholder: 'Search company...',
                onChange: function(item) {
                    loadReporting("#drpCompany2","#drpDesignation2","#ReportingManager2")
                }
            });
            $('#drpCompany3').searchableSelect({
                data: data||[],
                valueKey: 'companyId',
                textKey: 'companyName',
                placeholder:'Company',
                searchPlaceholder: 'Search company...',
                onChange: function(item) {
                    loadReporting("#drpCompany3","#drpDesignation3","#ReportingManager3")
                }
            });
            $('#drpCompany4').searchableSelect({
                data: data||[],
                valueKey: 'companyId',
                textKey: 'companyName',
                placeholder:'Company',
                searchPlaceholder: 'Search company...',
                onChange: function(item) {
                    loadReporting("#drpCompany4","#drpDesignation4","#ReportingManager4")
                }
            });
            $('#drpCompany5').searchableSelect({
                data: data||[],
                valueKey: 'companyId',
                textKey: 'companyName',
                placeholder:'Company',
                searchPlaceholder: 'Search company...',
                onChange: function(item) {
                    loadReporting("#drpCompany5","#drpDesignation5","#ReportingManager5")
                }
            });
        }

       




		$(() => {

            $('#drpScheme').searchableSelect({
                data: [],
                valueKey: 'schemeId',
                textKey: 'schemeName',
                placeholder:'Scheme Name',
                searchPlaceholder: 'Search scheme...',
                onChange: function(item) {

                }
            });

            $('#ReportingManager1,#ReportingManager2,ReportingManager3,#ReportingManager4,#ReportingManager5').searchableSelect({
                data: [],
                valueKey: 'employeeId',
                textKey: 'employeeName',
                placeholder:'Reporting Manager',
                searchPlaceholder: 'Search reporting...',
                onChange: function(item) {

                }
             });

            loadSchemeDropdowns();
            setupCheckboxHandlers();
		});



   

   
    // Set up checkbox handlers
    function setupCheckboxHandlers() {
        $('.form-check-input').change(function() {
            const rowNumber = $(this).closest('.row').find('[id^="company"]').attr('id').replace('company', '').replace('Wrapper', '');
            const isChecked = $(this).is(':checked');
            const checkboxId = $(this).attr('id');

            if (checkboxId === `checkReportingManager${rowNumber}` && isChecked) {
                $(`#drpCompany${rowNumber}`).prop('readonly', true).addClass('disabled-field');
                $(`#ReportingManager${rowNumber}`).prop('readonly', true).addClass('disabled-field');
                $(`#drpDesignation${rowNumber}`).prop('readonly', true).addClass('disabled-field');
            } else {
                $(`#drpCompany${rowNumber}`).prop('readonly', false).removeClass('disabled-field');
                $(`#ReportingManager${rowNumber}`).prop('readonly', false).removeClass('disabled-field');
                $(`#drpDesignation${rowNumber}`).prop('readonly', false).removeClass('disabled-field');
            }

            if (checkboxId === `checkNotMandatory${rowNumber}` && isChecked) {
                // Logic for Not Mandatory checkbox
            }

            if (checkboxId === `checkBranchManager${rowNumber}` && isChecked) {
                // Logic for Branch Manager checkbox
            }

            if (checkboxId === `checkReportingToReportingManager${rowNumber}` && isChecked) {
                // Logic for Reporting To Reporting Manager checkbox
            }
        });
    }

    function validateForm() {
        let isValid = true;

        if (!$('#drpSchemeType').val()) {
            $('#spnSchemeType').show();
            isValid = false;
        } else {
            $('#spnSchemeType').hide();
        }

        if (!$('#drpScheme').val()) {
            $('#spnScheme').show();
            isValid = false;
        } else {
            $('#spnScheme').hide();
        }

        for (let i = 1; i <= 5; i++) {
            if ($(`#checkNotMandatory${i}`).is(':checked')) {
                continue;
            }

            if (!$(`#drpCompany${i}`).val()) {
                $(`#spnCompany${i}`).show();
                isValid = false;
            } else {
                $(`#spnCompany${i}`).hide();
            }

            if (!$(`#ReportingManager${i}`).val()) {
                $(`#spnReporting${i}`).show();
                isValid = false;
            } else {
                $(`#spnReporting${i}`).hide();
            }
        }

        return isValid;
    }

   
      $('#btnSave').click(function()
      {
        saveSchemeDetails();
      });

    async function saveSchemeDetails() {
        debugger;
        // if (!validateForm()) {
        //     alert('Please fill in all required fields.');
        //     return;
        // }

        // Show loading button
        $('#btnSave').hide();

        // Collect data from all rows
        const schemeDetails = [];

        for (let i = 1; i <= 5; i++) {
            // Skip if Not Mandatory is checked and no company selected
            if ($(`#checkNotMandatory${i}`).is(':checked') && !$(`#drpCompany${i}`).data('searchableSelect').getValue()) {
                continue;
            }

            // Only add row if company is selected (mandatory field unless Not Mandatory is checked)
            if ($(`#drpCompany${i}`).data('searchableSelect').getValue() || $(`#checkNotMandatory${i}`).is(':checked')) {
                const rowData = {
                    id: 0,
                    schemeId: parseInt($('#drpScheme').data('searchableSelect').getValue()) || 0,
                    levelNo: i,
                    companyId: $(`#checkNotMandatory${i}`).is(':checked') ? 0 : (parseInt($(`#drpCompany${i}`).data('searchableSelect').getValue()) || 0),
                    reportingManagerId: $(`#ReportingManager${i}`).data('searchableSelect').getValue()==null ? 0 : (parseInt($(`#ReportingManager${i}`).data('searchableSelect').getValue()) || 0),
                    designationId: 0 ,
                    isReportingManager: $(`#checkReportingManager${i}`).is(':checked'),
                    isNotMandatory: $(`#checkNotMandatory${i}`).is(':checked'),
                    isBranchManager: $(`#checkBranchManager${i}`).is(':checked'),
                    isReportingToReportingManager: $(`#checkReportingToReportingManager${i}`).is(':checked'),
                     IsHr: $(`#checkHr${i}`).is(":checked"),
                    IsHod: $(`#checkHod${i}`).is(":checked"),
                    IsProbationManager: $(`#checkProbationManager2${i}`).is(":checked"),
                    isEnabled: true,
                    createdBy: EmployeeId, 
                    updatedBy: EmployeeId,
                    deletedBy: null,
                    operationType: Id==0?"Create":"Update"
                };
                schemeDetails.push(rowData);
            }
        }

        debugger;
        // Send data to API
        try {
            const response = await fetch('@baseUrl/SchemeReportingManagerAPI/ManageSchemeReportingManagers', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(schemeDetails)
            });

            const result = await response.json();

            if (result.isSuccess) {
                alert('Scheme details saved successfully!');
                $('#modalSchemeDetails').modal('hide');
                // Reset form if needed
                resetForm();
            } else {
                alert(`Error: ${result.ResponseMessage}`);
            }
        } catch (error) {
            console.error('Error saving scheme details:', error);
            alert('An error occurred while saving. Please try again.');
        } finally {
            $('#btnSave').show();
        }
    }

    // Reset form function
    function resetForm() {
        $('.searchable-select-input').val('');
        $('.form-check-input').prop('checked', false);
        $('[id^="spn"]').hide();
        $('.searchable-select-input').prop('readonly', false).removeClass('disabled-field');
    }


</script>