@{
    ViewData["Title"] = "Employee Panel";
    Layout = "~/Areas/EmployeePanel/Views/Shared/_EmployeeLayout.cshtml";
    string baseUrl = ViewBag.BaseUrl;
}
<link href="~/commoncss.css" rel="stylesheet" />

<style>
    .fixed-label {
        min-width: 130px;
        white-space: nowrap;
        margin-bottom: 0;
        text-align: right;
    }
</style>

<div class="card">
    <div class="card-header bg-transparent ml-0 py-0">
        <div class="card">
            <div class="card-header bg-transparent">
                <div class="row align-items-center">
                    <div class="col">
                        <h6 class="pt-2 mb-0">Change Password</h6>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <h6 class="mb-4">Change Password</h6>
                <form>
                    <div class="col-md-8 mx-auto">
                        <div class="row mb-2">
                            <label for="currentpassid" class="col-sm-4 col-form-label fixed-label">
                                Current Password <span class="text-danger">*</span>
                            </label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control form-control-sm" id="currentpassid" />
                            </div>
                        </div>
                        <div class="row mb-2">
                            <label for="newpassid" class="col-sm-4 col-form-label fixed-label">
                                New Password <span class="text-danger">*</span>
                            </label>                            <div class="col-sm-4">
                                <input type="text" class="form-control form-control-sm" id="newpassid" />
                            </div>
                        </div>
                        <div class="row mb-2">
                            <label for="confirmpassid" class="col-sm-4 col-form-label fixed-label">
                                Confirm Password <span class="text-danger">*</span>
                            </label>                            <div class="col-sm-4">
                                <input type="text" class="form-control form-control-sm" id="confirmpassid" />
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-4">
                                <button type="button" class="btn btn-primary btn-sm me-2">Change Password</button>
                                <button type="button" class="btn btn-secondary btn-sm">Clear</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
