@font-face {
  font-family: 'Material Icons';
  font-weight: 400;
  font-style: normal;
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(fonts/material/MaterialIcons-Regular.woff2) format("woff2"), url(fonts/material/MaterialIcons-Regular.woff) format("woff"), url(fonts/material/MaterialIcons-Regular.ttf) format("truetype"); }

.material-icons {
  font-family: 'Material Icons';
  font-size: 24px;
  width: 24px;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  /* Preferred icon size */
  display: inline-block;
  vertical-align: bottom;
  white-space: nowrap;
  letter-spacing: normal;
  text-transform: none;
  word-wrap: normal;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  -webkit-font-feature-settings: 'liga';
          font-feature-settings: 'liga'; }

.btn-sm:not(.btn-icon) > .material-icons {
  line-height: 21px !important; }
  
  
  
  
/*App-Menu*/
/* App-Menu */
.app-menu {
    visibility: visible !important;
}

    .app-menu.horizontal > ul {
        display: flex; /* Use flexbox for horizontal layout */
        list-style: none;
        font-family: Verdana;
        font-size: 11px;
        border-top: 1px solid #3e3f52;
        margin: 0;
        padding: 0;
    }

    .app-menu.horizontal a {
        color: #3c3c3c;
        text-decoration: none;
        display: block;
    }

    .app-menu.horizontal ul.sub-menu li a img {
        width: 16px;
        position: relative;
        top: 3px;
    }

    .app-menu.horizontal > ul ul {
        visibility: hidden;
        opacity: 0;
        box-shadow: 1px 1px 6px rgba(128, 128, 128, 1);
        transition: visibility 0s, opacity 0.2s linear;
        transition-delay: 0.2s;
        z-index: 100;
    }

        .app-menu.horizontal > ul ul.sub-menu {
            position: absolute;
            list-style: none;
            background: #f9f9f9;
            border: 1px solid #dedede;
            padding: 0;
            width: 230px;
        }

        .app-menu.horizontal > ul ul li {
            line-height: 27px;
            padding-left: 5px;
            cursor: pointer;
        }

            .app-menu.horizontal > ul ul li:hover {
                background-color: #515267;
            }

                .app-menu.horizontal > ul ul li:hover > a {
                    color: white;
                }

    .app-menu.horizontal > ul > li {
        position: relative; /* Added to handle sub-menu positioning */
        line-height: 1.15rem;
    }

        .app-menu.horizontal > ul > li > a {
            color: white;
            padding: 7px 5px;
            font-size: 9pt;
            display: block;
        }

        .app-menu.horizontal > ul > li:hover {
            background: #3e3f54;
        }

        .app-menu.horizontal > ul > li > a > img {
            width: 16px;
            float: left;
        }

        .app-menu.horizontal > ul > li > a > span {
            margin-left: 5px;
        }




a.selected-items
{
    overflow:visible;
    text-decoration:none;
    color: #333;
}
a.selected-items>div.selected-content
{
    background: #ebf7ff;
    position:absolute;
    max-height: 200px;
    width: 180px;
    overflow-x: hidden;
    overflow-y: auto;
    font-weight: normal;
    color: #1d2f4c;
    padding: 10px;
    border: 1px solid #abbedc;
    -webkit-box-shadow: 2px 4px 21px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 4px 21px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 4px 21px 0px rgba(0,0,0,0.75);
}
a.selected-items>div.selected-content ul
{
    list-style: none;
}

/*Drop Down Icon*/
.app-menu.horizontal li.drop-down-menu i.dd-icon
{
    display: inline-block;
    line-height: 1.15rem;
    position: relative;
    font-style:normal;
    font-size: 8pt;
    color: darkgrey;
}
.app-menu.horizontal > ul > li.drop-down-menu li.drop-down-menu > a > i.dd-icon{   	
    -webkit-transform: rotate(-90deg); /* Safari */
    -moz-transform: rotate(-90deg); /* Firefox */
    -ms-transform: rotate(-90deg); /* IE */
    -o-transform: rotate(-90deg); /* Opera */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); /* Internet Explorer */
	float: right;
	margin-top: 3px;
	margin-right: 5px;
	color: #3c3c3c;
}

/*Second Level Menu Display*/
.app-menu.horizontal > ul > li:hover > ul.sub-menu
{
    visibility:visible;
    opacity: 1;
}

/*Third Level Menu Display*/
.app-menu.horizontal > ul ul > li.drop-down-menu > ul.sub-menu
{
    margin-top: -28px;        
    left: 232px;
    width:250px;
}
.app-menu.horizontal > ul ul > li:hover > ul.sub-menu
{
    visibility:visible;
    opacity: 1;    
}
div.selected-content-salary
{
    background: #5f5a5a4f;
    display:none;
    position:absolute;
    max-height: 200px;
    min-width: 600px;
    overflow-x:hidden;
    overflow-y:auto;
    font-weight: normal;
    color: #1d2f4c;
    padding: 5px;
    margin-left: -510px;
    border: 1px solid #5f5a5a4f;
    -webkit-box-shadow: 2px 4px 21px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 4px 21px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 4px 21px 0px rgba(0,0,0,0.75);
}


/*Button*/
.buttonsearch
{
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background-color: #55607e;
	font-family: Tahoma;
	font-size: 11px;
	color: #fff;
	border: none;
	padding: 6px 15px;
	letter-spacing: .1em;
	-moz-transition: all .4s ease-in;
	-webkit-transition: all .4s ease-in;
	-o-transition: all .4s ease-in;
	transition: all .2s ease-in;
	font-weight: bold;
	cursor:pointer;
}
.buttonsearch:hover, .buttonsearch:focus
{
	background: #ffa432;
	color: #000;
}

.clearbutton
{
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background-color: #55607e;
	font-family: Tahoma;
	font-size: 11px;
	color: #fff;
	border: none;
	padding: 6px 15px;
	letter-spacing: .1em;
	-moz-transition: all .4s ease-in;
	-webkit-transition: all .4s ease-in;
	-o-transition: all .4s ease-in;
	transition: all .2s ease-in;
	font-weight: bold;
	cursor:pointer;
}
.clearbutton:hover, .clearbutton:focus
{
	background: #ffa432;
	color: #000;
}


.showallbutton
{
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px; /*background-color: #707588; 	background-color: #3c3b4b;*/
	background-color: #55607e;
	font-family: Verdana,Sans-Serif;
	font-size: 11px;
	color: #fff;
	border: none;
	padding: 6px 15px;
	letter-spacing: .1em;
	-moz-transition: all .4s ease-in;
	-webkit-transition: all .4s ease-in;
	-o-transition: all .4s ease-in;
	transition: all .2s ease-in;
	font-weight: bold;
}
.showallbutton:hover, .showallbutton:focus
{
	background: #ffa432;
	color: #000;
}

.deletebutton
{
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px; /*background-color: #707588;*/
	background-color: #55607e;
	font-family: Tahoma;
	font-size: 11px;
	color: #fff;
	border: none;
	padding: 6px 15px;
	letter-spacing: .1em;
	-moz-transition: all .4s ease-in;
	-webkit-transition: all .4s ease-in;
	-o-transition: all .4s ease-in;
	transition: all .2s ease-in;
	font-weight: bold;
}
.deletebutton:hover, .deletebutton:focus
{
	background: #ffa432;
	color: #000;
}

.addbutton
{
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 3px;
	background-color: #55607e;
	font-family: Verdana,Sans-Serif;
	font-size: 11px;
	color: #fff;
	border: none;
	padding: 6px 15px;
	letter-spacing: .1em;
	-moz-transition: all .4s ease-in;
	-webkit-transition: all .4s ease-in;
	-o-transition: all .4s ease-in;
	transition: all .2s ease-in;
	font-weight: bold;
}
.addbutton:hover, .addbutton:focus
{
	background: #ffa432;
	color: #000;
	border:none;
}



/*Employee Roster*/
div.roster-calendar table{
	border: 1px solid #e1e1e1;
	width: 100%;
}

div.roster-calendar table tbody td,
div.roster-calendar table thead th:not(:last-child){
	border-right: 1px solid #e1e1e1;
	border-bottom: 1px solid #c2c7db;	
}
div.roster-calendar table tbody td,
div.roster-calendar table thead th
{
    min-width:150px;
	width: 150px;
}

div.roster-calendar table thead th:nth-child(2),
div.roster-calendar table tbody td:nth-child(2){
	min-width: 230px;
	width: 230px;
}
div.roster-calendar table thead th:first-child,
div.roster-calendar table tbody td:first-child{
	min-width: 30px;
	width: 30px;
	text-align: center;
}

div.roster-calendar table thead th
{
	text-align:left;	
	padding:0 1px;
	background: rgb(242,245,246); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(242,245,246,1) 0%, rgba(242,247,252,1) 38%, rgba(225,237,247,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(242,245,246,1) 0%,rgba(242,247,252,1) 38%,rgba(225,237,247,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(242,245,246,1) 0%,rgba(242,247,252,1) 38%,rgba(225,237,247,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f5f6', endColorstr='#e1edf7',GradientType=0 ); /* IE6-9 */
}
div.roster-calendar table thead th:not(:nth-child(2)){
	text-align:center;
}

div.roster-calendar.roster-weekly table thead th:nth-child(n+10):not(:last-child),
div.roster-calendar.roster-weekly table tbody td:nth-child(n+10):not(:last-child)
{
    display: none;
}

div.roster-calendar table thead th>span
{
    padding: 10% 5%;
    display: inline-block;
    width: 65%;
}

div.roster-calendar table th div.context-menu
{
    float:right;
    padding: 11% 8%;
    cursor:pointer;
}
div.roster-calendar table th div.context-menu:before
{
    content: "";
    height: 0.4rem;
    width: 0.4rem;
    border: solid #8899d0;
    border-width: 0 4px 4px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    display: block;
    border-radius:2px;
}

.roster-day
{
	display: block;
	/*background: #90EE90;*/
	height: 100%;
	vertical-align: middle;
	padding: 0;
	border-bottom: 2px solid transparent;
}
.roster-shift
{
	display: inline-block;
	height: 100%;
	width: 76%;
	/* float: left; */
	vertical-align: middle;
}
.roster-shift span{
	padding: 15px 10px;
	display:block;
	font-size: 10px;
}

.roster-day span.checkmark{
	display:block;
}
.roster-day:hover
{
	cursor: pointer;
	/*background: rgba(226,226,226,1);
	background: -moz-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(209,209,209,0.49) 51%, rgba(0,0,0,0.31) 69%, rgba(254,254,254,0) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(226,226,226,1)), color-stop(51%, rgba(209,209,209,0.49)), color-stop(69%, rgba(0,0,0,0.31)), color-stop(100%, rgba(254,254,254,0)));
	background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(209,209,209,0.49) 51%, rgba(0,0,0,0.31) 69%, rgba(254,254,254,0) 100%);
	background: -o-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(209,209,209,0.49) 51%, rgba(0,0,0,0.31) 69%, rgba(254,254,254,0) 100%);
	background: -ms-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(209,209,209,0.49) 51%, rgba(0,0,0,0.31) 69%, rgba(254,254,254,0) 100%);
	background: linear-gradient(to bottom, rgba(226,226,226,1) 0%, rgba(209,209,209,0.49) 51%, rgba(0,0,0,0.31) 69%, rgba(254,254,254,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=0 );*/
	
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.85) 10%, rgba(255,255,255,0) 67%, rgba(255,255,255,0) 74%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.85) 10%,rgba(255,255,255,0) 67%,rgba(255,255,255,0) 74%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0.85) 10%,rgba(255,255,255,0) 67%,rgba(255,255,255,0) 74%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
}

div.roster-day.is-dirty
{
    color: #0864c4;
}
.chk-container
{
	display: block;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	height: 100%;
}
/* Hide the browser's default checkbox */
.chk-container input
{
	/* position: absolute;             opacity: 0;             cursor: pointer;*/
	display: none;
}
/* Create a custom checkbox */
.checkmark
{
	display: block;
	width: 100%;
	margin-top: -15px;
	padding: 94% 0;
	position: relative;
}
/* On mouse-over, add a grey background color */
.chk-container:hover input ~ .checkmark
{

}
/* When the checkbox is checked, add a blue background */
.chk-container input:checked ~ .checkmark
{
	/*background-color: #F7DBDB;*/
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after
{
	content: "";
	position: absolute;
	display: none;
}
/* Show the checkmark when checked */
.chk-container input:hover ~ .checkmark:after,
.chk-container input:checked ~ .checkmark:after
{
	display: block;
	border: solid #025902;
	border-width: 0 3px 3px 0;
}



.chk-container input:not(:checked) ~ .checkmark:after{
	border: solid rgba(212, 212, 212, 0.7);
	border-width: 0 3px 3px 0;
	display:block;
}


.chk-container input:hover ~ .checkmark:after
{
	display: block;
	border: solid #025902;
	border-width: 0 3px 3px 0;
}
/* Style the checkmark/indicator */
.chk-container .checkmark:after
{
	left: 9px;
	top: 8px;
	width: 5px;
	height: 10px;
	margin: 13px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
div
{
	display: block;
}
div.week-off
{
	display: inline-block;
	/* float: right; */
	width: 20%;
	height: 16px;
}

.main-container
{
	position: relative;
	/*max-height: 400px;*/
	width: 100%;
	overflow:auto;
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
}

.main-container table td:first
{	height: 35px;
	
	min-width: 10px;
	border:1px #ccc;
}
.main-container table td
{
	/* height: 35px; */
	min-width: 120px;
	border:1px #ccc;
}
.main-container table tbody td div.roster-day.is-dirty
{
    border-bottom: 2px solid #df9393;
}


div.roster-calendar div.shift-detail
{
	display: none;
	position: absolute;
	height: 250px;
	background: #fff;
    border: 1px solid #ccc;
    overflow: auto;
    text-align:left;
    -webkit-box-shadow: 3px 3px 10px 0px rgba(173,173,173,1);
    -moz-box-shadow: 3px 3px 10px 0px rgba(173,173,173,1);
    box-shadow: 3px 3px 10px 0px rgba(173,173,173,1);
}
div.roster-calendar div.shift-detail ul {
    margin: 0;
    padding: 0;         
}
div.roster-calendar div.shift-detail ul li {    
    line-height: 35px;
    padding-left: 20px;
    cursor:pointer;
    border-color: #ebedf3;
    border-width: 0 0 1px 1px;
    border-style: solid;
}
.shift-detail ul li:hover 
{

	color:#55607E;
	
}
.shift-employee
{	
	display: none;
	position: absolute;
	background: #fff;
	overflow: auto;
	width: 114px;
	text-align:left;
	-webkit-box-shadow: -1px 0px 7px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 0px 7px 0px rgba(0,0,0,0.75);
	box-shadow: -1px 0px 7px 0px rgba(0,0,0,0.75);
}

div.roster-calendar div.shift-employee span.header{
	text-align: center;
	line-height: 36px;
	font-weight: bold;
	border: 1px solid #c7cee1;
	display: block;
}
div.roster-calendar div.shift-employee ul {
    margin: 0;
    padding-left: 0;    
    background-color: #eff4ff;
}

div.roster-calendar div.shift-employee ul li {
    list-style: none;
    line-height: 30px;
    padding-left: 9px;
    cursor:pointer;
    border-color: #d7dbe5;
    border-width: 0 1px 1px 1px;
    border-style: solid;
}
div.roster-calendar div.shift-detail ul li:hover,
div.roster-calendar div.shift-employee ul li:hover 
{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f6f6f6+47,ededed+100;White+3D+%231 */
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */

}


/*Cross-Scrollable Panel With Frozen Header*/
.pane-hScroll {
  overflow: auto;
  width: 100%  
}
.pane-vScroll {
  overflow-y: auto;
  overflow-x: hidden;
  height: 350px;  
  position:relative;
}

.pane-hScroll table,
.pane-vScroll table{
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    position:relative;
}

.pane-hScroll table tr th span.frozen,
.pane-hScroll table tr td span.frozen{
	display:block;
	line-height: 19px;
	position: absolute;
	text-align: left;
	padding: 19px 6px;
	border-width: 1px;
	border-color: #c2c7db #e1e1e1 #c2c7db #e1e1e1;
	background: white;
	z-index:1;
	margin-top: -29px;
	border-style: solid;
}
.pane-hScroll table tr th span.frozen{
    top: 0px;
    line-height: 19px;
    padding: 12px 6px;
    margin-top: 0;
    text-align: center;
    background: rgb(242,245,246); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(242,245,246,1) 0%, rgba(242,247,252,1) 38%, rgba(225,237,247,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(242,245,246,1) 0%,rgba(242,247,252,1) 38%,rgba(225,237,247,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(242,245,246,1) 0%,rgba(242,247,252,1) 38%,rgba(225,237,247,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f5f6', endColorstr='#e1edf7',GradientType=0 ); /* IE6-9 */
}

@-moz-document url-prefix() {    
    .pane-hScroll table tr td span.frozen{
        /*padding: 21px 1px 22px 1px;*/
        padding: 21px 6px;
        margin-top: -32px;        
    }
    .pane-hScroll table tr th span.frozen{
        line-height: 19px;
        padding: 13px 6px;        
    }
}



/*Checkbox*/

@keyframes hover-color {
  from {
    border-color: #c0c0c0; }
  to {
    border-color: #3e97eb; } }

.magic-radio,
.magic-checkbox {
  position: absolute;
  visibility: hidden; }

.magic-radio[disabled],
.magic-checkbox[disabled] {
  cursor: not-allowed; }

.magic-radio + label,
.magic-checkbox + label {
  position: relative;
  display: block;
  padding-left: 30px;
  cursor: pointer;
  vertical-align: middle; }
  .magic-radio + label:hover:before,
  .magic-checkbox + label:hover:before {
    animation-duration: 0.4s;
    animation-fill-mode: both;
    animation-name: hover-color; }
  .magic-radio + label:before,
  .magic-checkbox + label:before {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 20px;
    height: 20px;
    content: '';
    border: 1px solid #c0c0c0; }
  .magic-radio + label:after,
  .magic-checkbox + label:after {
    position: absolute;
    display: none;
    content: ''; }

.magic-radio[disabled] + label,
.magic-checkbox[disabled] + label {
  cursor: not-allowed;
  color: #e4e4e4; }
  .magic-radio[disabled] + label:hover, .magic-radio[disabled] + label:before, .magic-radio[disabled] + label:after,
  .magic-checkbox[disabled] + label:hover,
  .magic-checkbox[disabled] + label:before,
  .magic-checkbox[disabled] + label:after {
    cursor: not-allowed; }
  .magic-radio[disabled] + label:hover:before,
  .magic-checkbox[disabled] + label:hover:before {
    border: 1px solid #e4e4e4;
    animation-name: none; }
  .magic-radio[disabled] + label:before,
  .magic-checkbox[disabled] + label:before {
    border-color: #e4e4e4; }

.magic-radio:checked + label:before,
.magic-checkbox:checked + label:before {
  animation-name: none; }

.magic-radio:checked + label:after,
.magic-checkbox:checked + label:after {
  display: block; }

.magic-radio + label:before {
  border-radius: 50%; }

.magic-radio + label:after {
  top: 6px;
  left: 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #3e97eb; }

.magic-radio:checked + label:before {
  border: 1px solid #3e97eb; }

.magic-radio:checked[disabled] + label:before {
  border: 1px solid #c9e2f9; }

.magic-radio:checked[disabled] + label:after {
  background: #c9e2f9; }

.magic-checkbox + label:before {
  border-radius: 3px; }

.magic-checkbox + label:after {
  top: 2px;
  left: 7px;
  box-sizing: border-box;
  width: 6px;
  height: 12px;
  transform: rotate(45deg);
  border-width: 2px;
  border-style: solid;
  border-color: #fff;
  border-top: 0;
  border-left: 0; }

.magic-checkbox:checked + label:before {
  border: #3e97eb;
  background: #3e97eb; }

.magic-checkbox:checked[disabled] + label:before {
  border: #c9e2f9;
  background: #c9e2f9; }

div.line-wizard
{
    font-family:Verdana;
    font-size:12px;
}

    div.line-wizard div.container
    {
    	min-height: 400px;
    }

        div.line-wizard div.container ul.wizard-tab
        {
            list-style:none;
            padding: 0;
            margin: 0;
        }
            div.line-wizard div.container ul.wizard-tab li
            {
            	display:inline-block;
            	margin: 0;
            	padding:0;            	            	
            }
                div.line-wizard div.container ul.wizard-tab li a
                {
            		text-decoration: none;
            		color: #32a191;
            		display: block;
            		padding: 20px 5px 10px 5px;
            		min-width: 200px;            		
            	}
            	div.line-wizard div.container ul.wizard-tab li.active-tab a{
            		color:#14aacc;
            		/*font-weight:bold;*/
				}        
				div.line-wizard div.container ul.wizard-tab li.disabled-tab a{
            		color:#afafaf;
            		/*font-weight:bold;*/
				}           
        div.line-wizard div.container ul.wizard-page
        {
            
        }  
        div.line-wizard div.container span.indicator-border{
        	border: 0;
        	border-bottom: 2px solid #0aeac6;
        	display:block;
        	width: 100%;
        	height: 2px;
  		}
  		div.line-wizard div.container span.indicator{
        	border: 0;
        	display:block;
        	width: 200px;
        	height: 2px;
        	z-index:1;
        	position:absolute;
        	margin-top:-2px;
        	background: rgba(11,238,193,1);
        	background: -moz-linear-gradient(left, rgba(11,238,193,1) 0%, rgba(0,187,255,1) 51%, rgba(11,238,193,1) 100%);
        	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(11,238,193,1)), color-stop(51%, rgba(0,187,255,1)), color-stop(100%, rgba(11,238,193,1)));
        	background: -webkit-linear-gradient(left, rgba(11,238,193,1) 0%, rgba(0,187,255,1) 51%, rgba(11,238,193,1) 100%);
        	background: -o-linear-gradient(left, rgba(11,238,193,1) 0%, rgba(0,187,255,1) 51%, rgba(11,238,193,1) 100%);
        	background: -ms-linear-gradient(left, rgba(11,238,193,1) 0%, rgba(0,187,255,1) 51%, rgba(11,238,193,1) 100%);
        	background: linear-gradient(to right, rgba(11,238,193,1) 0%, rgba(0,187,255,1) 51%, rgba(11,238,193,1) 100%);
        	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0beec1', endColorstr='#0beec1', GradientType=1 );
        	transition: all 0.8s;
    }
  		div.line-wizard div.container span.indicator:after{
  			content: "";
  			display: block;
  			width: 23px;
  			height: 23px;
  			background: #ffffff;
  			transform: rotate(45deg);
  			margin-top:-11px;
  			border: 0;
  			border-right: 2px solid #09c2ec;
  			border-bottom: 2px solid #09c2ec;
  			border-radius: 100% 0 0 0;
  		}
        
        
/*Grid*/        
table.otl-grid{
    border-collapse: collapse;
    border:1px solid #ddd;
}

table.otl-grid tr td{
    border-right: 1px solid #ddd !important;
    border-bottom: 1px solid #ddd !important;
}

tr.otl-grid-header th,
tr.otl-grid-header td{
    font-family: Verdana;    
    font-size: 8.75pt;
    font-size: 0.71rem;
    font-weight:bold;
    background: #f3f3f3;
    border:none;    
    padding: 2px;
    border-bottom: 1px solid #ddd;
}

@media (min-width: 1600px) {
	tr.otl-grid-header th,
	tr.otl-grid-header td{
		padding: 8px;
	}
}

tr.otl-grid-header th:not(:last-child),
tr.otl-grid-header td:not(:last-child){
    border-right: 1px solid #ddd;    
}
