@inject IConfiguration Configuration
@{
    Layout = null;
    string baseUrl = Configuration["BaseUrlSettings:baseUrl"];

}

<!-- Allowance-->
<div id="form-section-area">
    <div id="allowance-form" class="card p-3 form-section">
        <div class="form-heading">Allowance Allocated To You</div>
        <div class="mb-3 mt-2">
            <span>Basic : <strong>15000.00</strong></span> &nbsp;&nbsp;
            <span>Total Earning : <strong>17712.00</strong></span> &nbsp;&nbsp;
            <span>Gross : <strong>32712.00</strong></span> &nbsp;&nbsp;
            <span>CTC : <strong>35000.00</strong></span> &nbsp;&nbsp;
            <span>Annual CTC : <strong>420000.00</strong></span> &nbsp;&nbsp;
            <span>Monthly CTC : <strong>35000.00</strong></span> &nbsp;&nbsp;
            <span>PT : <strong>200.00</strong></span> &nbsp;&nbsp;
            <span>Total Deduction : <strong>1913.00</strong></span> &nbsp;&nbsp;
            <span>Net : <strong>30599.00</strong></span>
        </div>

        <div class="row">
            <!-- Allowance Table -->
            <div class="col-md-6">
                <table class="table table-bordered table-sm">
                    <thead class="table-light">
                        <tr>
                            <th>Allowance Name</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr><td>HRA</td><td>2000.00</td></tr>
                        <tr><td>Conveyance Allowances</td><td>1500.00</td></tr>
                        <tr><td>Medical Allowances</td><td>1000.00</td></tr>
                        <tr><td>Deputation Allowance</td><td>13212.00</td></tr>
                        <tr><td>Employer PF Contribution</td><td>1800.00</td></tr>
                        <tr><td>Employer ESIC Contribution</td><td>488.00</td></tr>
                    </tbody>
                </table>
            </div>

            <!-- Deduction Table -->
            <div class="col-md-6">
                <table class="table table-bordered table-sm">
                    <thead class="table-light">
                        <tr>
                            <th>Deduction Name</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr><td>Employee PF Contribution</td><td>1800.00</td></tr>
                        <tr><td>Employee ESIC Contribution</td><td>113.00</td></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>  