@inject IConfiguration Configuration
@{
    Layout = null;
    string baseUrl = Configuration["BaseUrlSettings:baseUrl"];

}
<div id="Asset-License-form" class="form-section">
    <div class="row">
        <!-- Asset Record(s) -->
        <div class="col-md-6">
            <div class="form-heading">Asset Record(s)</div>
        </div>

        <!-- License Record(s) -->
        <div class="col-md-6" style="border-left: 1px solid #ccc;">
            <div class="form-heading">License Record(s)</div>
        </div>
    </div>
</div>
