@inject IConfiguration Configuration
@{
    string baseUrl = Configuration["BaseUrlSettings:baseUrl"];
    var uri = new Uri(baseUrl);
    string baseDomainUrl = $"{uri.Scheme}://{uri.Host}:{uri.Port}";
}

<style>
    .input-group .btn {
        border-left: none;
    }

</style>

<div class="card-header bg-primary text-white ">
    <h6>CONTACT</h6>
</div>


<div id="editSection">
    <div class="card-body px-4">
        <form id="employeeContactForm">
            <div class="row px-5">
                <div class="col-md-12 mb-2"><h6><b>Present / Working Address Details:</b></h6></div>
            </div>

            <div class="row px-5">
                <!-- Present Address -->
                <div class="col-md-4">
                    <input type="hidden" id="employeeContactId" />
                    <div class="form-group mt-3 position-relative">
                        <textarea class="form-control floating-input" id="txtPresentAddress" rows="1" placeholder="Address"></textarea>
                        <label class="floating-label" for="txtPresentAddress">Address</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group mt-3 position-relative">
                        <input type="text" class="form-control floating-input" id="txtPresentTehsil" placeholder="Tehsil" />
                        <label class="floating-label" for="txtPresentTehsil">Tehsil</label>
                        <span id="spnPresentTehsil" style="color:red; display:none;">Please Enter Tehsil</span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group mt-3 position-relative">
                        <input type="text" class="form-control floating-input" id="txtPresentDistrict" placeholder="District" />
                        <label class="floating-label" for="txtPresentDistrict">District</label>
                        <span id="spnPresentDistrict" style="color:red; display:none;">Please Enter District</span>
                    </div>
                </div>
            </div>

            <div class="row px-5">
                <!-- City/Village -->
                <div class="col-md-4">
                    <div class="form-group mt-3 position-relative">
                        <input type="text" class="form-control floating-input" id="txtPresentCity" placeholder="City/Village" />
                        <label class="floating-label" for="txtPresentCity">City/Village</label>
                        <span id="spnPresentCity" style="color:red; display:none;">Please Enter City/Village</span>
                    </div>
                </div>
                <!-- State -->
                <div class="col-md-4">
                    <div class="form-group mt-3 position-relative">
                        <select class="form-select floating-input" id="ddlPresentState">
                            <option value="" selected disabled>Select State</option>

                        </select>
                        <label class="floating-label" for="ddlPresentState">State</label>
                    </div>
                </div>
                <!-- Pin Code -->
                <div class="col-md-4">
                    <div class="form-group mt-3 position-relative">
                        <input type="text" class="form-control floating-input" id="txtPresentPincode" placeholder="Pin Code" step="1" min="0" oninput="this.value = this.value.replace(/[^0-9]/g, '')" />
                        <label class="floating-label" for="txtPresentPincode">Pin Code</label>
                        <span id="spnPresentPincode" style="color:red; display:none;">Please Enter Pin Code</span>
                    </div>
                </div>
            </div>

            <div class="row px-5">
                <div class="col-md-4">
                    <div class="form-group mt-3 position-relative">
                        <div class="input-group">
                            <select class="form-control floating-input" id="ddlPresentThana">
                                <option selected disabled value="">Select</option>
                                <!-- Add more options as needed -->
                            </select>
                            <label class="floating-label" for="ddlPresentThana">Thana</label>

                            <button type="button" class="input-group-text  p-0 px-2" id="btnThanaModal">
                                +
                            </button>
                        </div>
                    </div>
                </div>

            </div>

            <hr />

            <div class="row px-5">
                <div class="col-md-12 mb-2">
                    <h6>
                        <b>Permanent Address Details</b>
                        <small class="text-muted">(Same as Present Address)</small>:
                        <input type="checkbox" id="chkSameAs" />
                    </h6>
                </div>
            </div>

            <div class="row px-5">
                <!-- Permanent Address -->
                <div class="col-md-4">
                    <div class="form-group mt-3 position-relative">
                        <textarea class="form-control floating-input" id="txtPermanentAddress" rows="1" placeholder="Address"></textarea>
                        <label class="floating-label" for="txtPermanentAddress">Address</label>
                        <span id="spnPermanentAddress" style="color:red; display:none;">Please Enter Address</span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group mt-3 position-relative">
                        <input type="text" class="form-control floating-input" id="txtPermanentTehsil" placeholder="Tehsil" />
                        <label class="floating-label" for="txtPermanentTehsil">Tehsil</label>
                        <span id="spnPermanentTehsil" style="color:red; display:none;">Please Enter Tehsil</span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group mt-3 position-relative">
                        <input type="text" class="form-control floating-input" id="txtPermanentDistrict" placeholder="District" />
                        <label class="floating-label" for="txtPermanentDistrict">District</label>
                        <span id="spnPermanentDistrict" style="color:red; display:none;">Please Enter District</span>
                    </div>
                </div>
            </div>

            <div class="row px-5">
                <!-- City/Village -->
                <div class="col-md-4">
                    <div class="form-group mt-3 position-relative">
                        <input type="text" class="form-control floating-input" id="txtPermanentCity" placeholder="City/Village" />
                        <label class="floating-label" for="txtPermanentCity">City/Village</label>
                        <span id="spnPermanentCity" style="color:red; display:none;">Please Enter City/Village</span>
                    </div>
                </div>
                <!-- State -->
                <div class="col-md-4">
                    <div class="form-group mt-3 position-relative">
                        <select class="form-select floating-input" id="ddlPermanentState">
                            <option selected disabled value="">Select</option>
                            <!-- Add more options as needed -->
                        </select>
                        <label class="floating-label" for="ddlPermanentState">State</label>
                        <span id="spnPermanentState" style="color:red; display:none;">Please Enter State</span>
                    </div>
                </div>
                <!-- Pin Code -->
                <div class="col-md-4">
                    <div class="form-group mt-3 position-relative">
                        <input type="text" class="form-control floating-input" id="txtPermanentPincode" placeholder="Pin Code" step="1" min="0" oninput="this.value = this.value.replace(/[^0-9]/g, '')" />
                        <label class="floating-label" for="txtPermanentPincode">Pin Code</label>
                        <span id="spnPermanentPincode" style="color:red; display:none;">Please Enter Pin Code</span>
                    </div>
                </div>
            </div>
            <div class="row px-5">
                <!-- Thana -->
                <div class="col-md-4">
                    <div class="form-group mt-3 position-relative">
                        <select class="form-select floating-input" id="ddlPermanentThana">
                            <option selected disabled value="">Select</option>
                            <!-- Add more options as needed -->
                        </select>
                        <label class="floating-label" for="ddlPermanentThana">Thana</label>
                        <span id="spnPermanentThana" style="color:red; display:none;">Please Enter Thana</span>
                    </div>
                </div>
            </div>
            <hr />


            <hr />
            <div class="row px-5">
                <div class="col-md-12 mb-2"><h6><b>Contact Information:</b></h6></div>
            </div>

            <div class="row px-5">
                <!-- Country -->
                <div class="col-md-4">
                    <div class="form-group mt-3 position-relative">
                        
                            <select class="form-select floating-input" id="ddlCountry">
                                <option selected disabled value="">Select</option>
                                <!-- Add more options as needed -->
                            </select>
                            <label class="floating-label" for="ddlCountry">Country</label>
                        
                    </div>
                </div>


                <!-- Work Phone No -->
                <div class="col-md-4">
                    <div class="form-group mt-3 position-relative">
                        <input type="text" class="form-control floating-input" id="txtWorkPhone" placeholder="Work Phone No" step="1" min="0" oninput="this.value = this.value.replace(/[^0-9]/g, '')" />
                        <label class="floating-label" for="txtWorkPhone">Work Phone No</label>
                        <span id="spnWorkPhone" style="color:red; display:none;">Please Enter Work Phone No</span>
                    </div>
                </div>

                <!-- Personal Phone No -->
                <div class="col-md-4">
                    <div class="form-group mt-3 position-relative">
                        <input type="text" class="form-control floating-input" id="txtPersonalPhone" placeholder="Personal Phone No" step="1" min="0" oninput="this.value = this.value.replace(/[^0-9]/g, '')" />
                        <label class="floating-label" for="txtPersonalPhone">Personal Phone No</label>
                        <span id="spnPersonalPhone" style="color:red; display:none;">Please Enter Personal Phone No</span>
                    </div>
                </div>
            </div>

            <div class="row px-5">
                <!-- Official Email -->
                <div class="col-md-4">
                    <div class="form-group mt-3 position-relative">
                        <input type="email" class="form-control floating-input" id="txtOfficialEmail" placeholder="Official Email" />
                        <label class="floating-label" for="txtOfficialEmail">Official Email</label>
                        <span id="spnOfficialEmail" style="color:red; display:none;">Please Enter Official Email</span>
                    </div>
                </div>

                <!-- Nationality -->
                <div class="col-md-4">
                    <div class="form-group mt-3 position-relative">
                        <input type="text" class="form-control floating-input" id="txtNationality" placeholder="Nationality" />
                        <label class="floating-label" for="txtNationality">Nationality</label>
                        <span id="spnNationality" style="color:red; display:none;">Please Enter Nationality</span>
                    </div>
                </div>

                <!-- Extension No -->
                <div class="col-md-4">
                    <div class="form-group mt-3 position-relative">
                        <input type="text" class="form-control floating-input" id="txtExtensionNo" placeholder="Extension No" step="1" min="0" oninput="this.value = this.value.replace(/[^0-9]/g, '')" />
                        <label class="floating-label" for="txtExtensionNo">Extension No</label>
                        <span id="spnExtensionNo" style="color:red; display:none;">Please Enter Extension No</span>
                    </div>
                </div>
            </div>

            <div class="row px-5">
                <!-- Mobile No -->
                <div class="col-md-4">
                    <div class="form-group mt-3 position-relative">
                        <input type="text" class="form-control floating-input" id="txtMobileNo" placeholder="Mobile No" step="1" min="0" oninput="this.value = this.value.replace(/[^0-9]/g, '')" />
                        <label class="floating-label" for="txtMobileNo">Mobile No</label>
                        <span id="spnMobileNo" style="color:red; display:none;">Please Enter Mobile No</span>
                    </div>
                </div>
            </div>

            <div style="display: flex; justify-content: center;">
                <button type="button" class="btn btn-sm btn-primary px-5" id="btnUpdateContact" style="background-color:#2395c6; color:white;">
                    Update
                </button>
            </div>

            <hr class="mt-0" />

        </form>
    </div>
</div>

<!--Thana Modal-->
<div class="modal " id="addThanaModal" tabindex="-1" aria-labelledby="addThanaLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title btn-heading-title" id="addThanaLabel">
                    <span class="formType">Add Thana</span>
                </h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body modal-body-font">
                <div class="mb-3 position-relative">
                    <input type="text" class="form-control floating-input" id="newThanaInput" placeholder="Thana Name">
                    <label class="floating-label" for="newThanaInput">Thana Name<span class="text-danger">*</span></label>
                    <span id="spnNewThana" style="color:red; display:none;">Please Enter Thana</span>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" style="background-color:#2395c6; color:white;" id="btnSaveThana">Save</button>
            </div>
        </div>
    </div>
</div>

<!-- Add Country Modal -->
<div class="modal " id="addCountryModal" tabindex="-1" aria-labelledby="addCountryModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="addCountryModalLabel">Add Country</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body modal-body-font">
                <div class="mb-3 position-relative">
                    <input type="text" class="form-control floating-input" id="txtNewCountry" placeholder="Enter Country Name" />
                    <label class="floating-label" for="txtNewCountry">Country Name</label>
                    <span id="spnNewCountry" style="color:red; display:none;">Please Enter Country</span>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnSaveCountry" style="background-color:#2395c6; color:white;">Save</button>
            </div>
        </div>
    </div>
</div>



<script>

         $(document).ready( async function() {
                await bindCountry();
                   await bindThana();
                    await  bindState();
                      await loadContactDetails();
           $('#btnCountryModal').on('click', function() {
                 $('#spnNewCountry').hide();
               $('#btnSaveCountry').prop("disabled",false);
                  $('#txtNewCountry').val('');
                  $('#addCountryModal').modal('show');
          });

          // For Country Modal
             $('#btnThanaModal').on('click', function() {
                 
                  $('#spnNewThana').hide();
               $('#newThanaInput').val('')
                   $('#btnSaveThana').prop("disabled",false);
                       $('#addThanaModal').modal('show');

          });


          
           //Add thana
       $('#btnSaveThana').on('click', function() {
              $('#btnSaveThana').prop("disabled",true);
           var thanaName = $('#newThanaInput').val().trim();

           if (!thanaName) {
               $('#spnNewThana').show();
                 $('#btnSaveThana').prop("disabled",false);
               return;
           } else {
               $('#spnNewThana').hide();
           }

           var thanaData = {
               thanaId:0,
               thanaName: thanaName,
               createdBy: null
           };
           
           $.ajax({
               url: '@baseUrl/ThanaAPI/CreateThana',
               type: 'POST',
               contentType: 'application/json',
               data: JSON.stringify(thanaData),
               success: function(data) {
                       if (data.isSuccess) {
                           round_success_noti(data.responseMessage);
                              bindThana();
                           $('#addThanaModal').modal('hide'); // Hide the modal on success
                           // Optionally, refresh the country list or perform other actions
                       } else {
                           round_error_noti(data.responseMessage);
                       }
               },
               error: function(xhr, status, error) {
                   console.error('Error:', error);
                   round_error_noti('An error occurred while adding the thana.');
               }
           });
               $('#btnSaveThana').prop("disabled",false);

       });
    });


     async function bindThana() {
        try {
            const data = await new Promise((resolve, reject) => {
                $.ajax({
                    type: "GET",
                    url: "@baseUrl/ThanaAPI/GetAllThanas",
                    success: resolve,
                    error: reject
                });
            });

            if (data.isSuccess) {
                const dropdown = $('#ddlPermanentThana,#ddlPresentThana');
                dropdown.empty();
                dropdown.append('<option disabled selected value="">Select Thana</option>');

                data.data.forEach(thana => {
                    dropdown.append($('<option>', {
                        value: thana.thanaId,
                        text: thana.thanaName
                    }));
                });
            }
        } catch (error) {
            console.error("AJAX Error:", error.status, "-", error.statusText || error.message);
        }
    }


     async function bindCountry() {
        try {
            const data = await new Promise((resolve, reject) => {
                $.ajax({
                    type: "GET",
                    url: "@baseUrl/CountryAPI/GetAllCountries",
                    success: resolve,
                    error: reject
                });
            });

            if (data.isSuccess) {
                const dropdown = $('#ddlCountry');
                dropdown.empty();
                dropdown.append('<option disabled selected value="">Select Country</option>');

                data.data.forEach(country => {
                    dropdown.append($('<option>', {
                        value: country.countryId,
                        text: country.countryName
                    }));
                });
            }
        } catch (error) {
            console.error("AJAX Error:", error.status, "-", error.statusText || error.message);
        }
    }

     async function bindState() {
        try {
            const data = await new Promise((resolve, reject) => {
                $.ajax({
                    type: "GET",
                    url: "@baseUrl/StateAPI/GetAllState",
                    success: resolve,
                    error: reject
                });
            });

            if (data.isSuccess) {
                const dropdown = $('#ddlPresentState,#ddlPermanentState');
                dropdown.empty();
                dropdown.append('<option disabled selected value="">Select State</option>');

                data.data.forEach(state => {
                    dropdown.append($('<option>', {
                        value: state.stateId,
                        text: state.stateName
                    }));
                });
            }
        } catch (error) {
            console.error("AJAX Error:", error.status, "-", error.statusText || error.message);
        }
    }


                  $(document).ready(function() {
              // Function to copy present address to permanent address
              function copyPresentToPermanent() {
                  $('#txtPermanentAddress').val($('#txtPresentAddress').val());
                  $('#txtPermanentTehsil').val($('#txtPresentTehsil').val());
                  $('#txtPermanentDistrict').val($('#txtPresentDistrict').val());
                  $('#txtPermanentCity').val($('#txtPresentCity').val());
                  $('#ddlPermanentState').val($('#ddlPresentState').val());
                  $('#txtPermanentPincode').val($('#txtPresentPincode').val());
                  $('#ddlPermanentThana').val($('#ddlPresentThana').val());
              }

              // Function to clear permanent address fields
              function clearPermanentAddress() {
                  $('#txtPermanentAddress').val('');
                  $('#txtPermanentTehsil').val('');
                  $('#txtPermanentDistrict').val('');
                  $('#txtPermanentCity').val('');
                  $('#ddlPermanentState').val('');
                  $('#txtPermanentPincode').val('');
                  $('#ddlPermanentThana').val('');
              }

              // Event listener for the checkbox
              $('#chkSameAs').change(function() {
                  
                  if ($(this).is(':checked')) {
                      copyPresentToPermanent();
                  } else {
                      clearPermanentAddress();
                  }
              });
          });


    async function loadContactDetails() {
        try {
            const response = await fetch('@baseUrl/ProfileManageAPI/GetContactDetails/'+employeeId, {
                method: 'GET',
                headers: {
                    'Authorization': 'Bearer ' + localStorage.getItem("authToken"),
                    'Content-Type': 'application/json'
                }
            });
            const data = await response.json();
            if (data.isSuccess) {

               setContactDetails(data.data)
            }

        } catch (error) {
            console.error('Fetch error:', error);
        }
    }


    function setContactDetails(employee)
    {
           $('#txtPresentAddress').val(employee.presentAddress || '');
            $('#txtPresentTehsil').val(employee.presentTehsil || '');
            $('#txtPresentDistrict').val(employee.presentDistrict || '');
            $('#txtPresentCity').val(employee.presentCity || '');
            $('#ddlPresentState').val(employee.presentStateId || '');
            $('#txtPresentPincode').val(employee.presentPincode || '');
            $('#ddlPresentThana').val(employee.presentThanaId || '');
            $('#txtPermanentAddress').val(employee.permanentAddress || '');
            $('#txtPermanentTehsil').val(employee.permanentTehsil || '');
            $('#txtPermanentDistrict').val(employee.permanentDistrict || '');
            $('#txtPermanentCity').val(employee.permanentCity || '');
            $('#ddlPermanentState').val(employee.permanentStateId || '');
            $('#txtPermanentPincode').val(employee.permanentPincode || '');
            $('#ddlPermanentThana').val(employee.permanentThanaId || '');
            $('#ddlCountry').val(employee.countryId || '');
            $('#txtWorkPhone').val(employee.workPhone || '');
            $('#txtPersonalPhone').val(employee.personalPhone || '');
            $('#txtOfficialEmail').val(employee.officialEmail || '');
            $('#txtNationality').val(employee.nationality || '');
            $('#txtExtensionNo').val(employee.extensionNo || '');
            $('#txtMobileNo').val(employee.mobileNo || '');
    }


     $("#btnUpdateContact").click(function(){
        $('#btnUpdateContact').prop("disabled", true);

        const setNullIfEmpty = (value) => {
                    return value === "" ? null : value;
                };

                var contact={
                         EmployeeId: employeeId,
                         PresentAddress: setNullIfEmpty($('#txtPresentAddress').val().trim()),
                            PresentTehsil: setNullIfEmpty($('#txtPresentTehsil').val().trim()),
                            PresentDistrict: setNullIfEmpty($('#txtPresentDistrict').val().trim()),
                            PresentCity: setNullIfEmpty($('#txtPresentCity').val().trim()),
                            PresentStateId: setNullIfEmpty($('#ddlPresentState').val()),
                            PresentPincode: setNullIfEmpty($('#txtPresentPincode').val().trim()),
                            PresentThanaId: setNullIfEmpty($('#ddlPresentThana').val()),

                            PermanentAddress: setNullIfEmpty($('#txtPermanentAddress').val().trim()),
                            PermanentTehsil: setNullIfEmpty($('#txtPermanentTehsil').val().trim()),
                            PermanentDistrict: setNullIfEmpty($('#txtPermanentDistrict').val().trim()),
                            PermanentCity: setNullIfEmpty($('#txtPermanentCity').val().trim()),
                            PermanentStateId: setNullIfEmpty($('#ddlPermanentState').val()),
                            PermanentPincode: setNullIfEmpty($('#txtPermanentPincode').val().trim()),
                            PermanentThanaId: setNullIfEmpty($('#ddlPermanentThana').val()),

                            CountryId: setNullIfEmpty($('#ddlCountry').val()),
                            WorkPhone: setNullIfEmpty($('#txtWorkPhone').val().trim()),
                            PersonalPhone: setNullIfEmpty($('#txtPersonalPhone').val().trim()),
                            OfficialEmail: setNullIfEmpty($('#txtOfficialEmail').val().trim()),
                            Nationality: setNullIfEmpty($('#txtNationality').val().trim()),
                            ExtensionNo: setNullIfEmpty($('#txtExtensionNo').val().trim()),
                            MobileNo: setNullIfEmpty($('#txtMobileNo').val().trim()),
                            SameAsPresentAddress: $('#chkSameAs').is(':checked'),

                }

            $.ajax({
                url: '@baseUrl/ProfileManageAPI/UpdateContactDetails',
                method: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(contact),
                headers: {
                    'Authorization': 'Bearer ' + localStorage.getItem("authToken"),
                },
                success: function (response) {
                    if (response.isSuccess) {
                        round_success_noti(response.responseMessage);
                    } else {
                        round_error_noti(response.responseMessage);
                    }
                    $('#btnUpdateContact').prop("disabled", false);
                },
                error: function (error) {
                    console.error('Error saving personalInfo:', error);
                    $('#btnUpdateContact').prop("disabled", false);
                }
            });

    })

</script>