@inject IConfiguration Configuration
@{
     Layout = null;
    string baseUrl = Configuration["BaseUrlSettings:baseUrl"];

}
<!--Experience & Language-->
<div id="Experience-Language-form" class="form-section">
    <div class="row">
        <!-- Experience -->
        <div class="col-md-8">
            <div class="form-heading">Experience In Previous Organization</div>

            <!-- Employer / Branch -->
            <div class="row mb-2">
                <div class="col-md-6 form-group-custom">
                    <label class="form-label-fixed mb-0">Employer:</label>
                    <input type="text" class="form-control form-control-sm">
                </div>
                <div class="col-md-6 form-group-custom">
                    <label class="form-label-fixed mb-0">Branch :</label>
                    <input type="text" class="form-control form-control-sm">
                </div>
            </div>

            <!-- Location / Designation -->
            <div class="row mb-2">
                <div class="col-md-6 form-group-custom">
                    <label class="form-label-fixed mb-0">Location :</label>
                    <input type="text" class="form-control form-control-sm">
                </div>
                <div class="col-md-6 form-group-custom">
                    <label class="form-label-fixed mb-0">Designation:</label>
                    <input type="text" class="form-control form-control-sm">
                </div>
            </div>

            <!-- Start / End Date -->
            <div class="row mb-2">
                <div class="col-md-6 form-group-custom">
                    <label class="form-label-fixed mb-0">Start Date :</label>
                    <input type="date" class="form-control form-control-sm">
                </div>
                <div class="col-md-6 form-group-custom">
                    <label class="form-label-fixed mb-0">End Date:</label>
                    <input type="date" class="form-control form-control-sm">
                </div>
            </div>

            <!-- CTC / Gross Salary -->
            <div class="row mb-2">
                <div class="col-md-6 form-group-custom">
                    <label class="form-label-fixed mb-0">CTC :</label>
                    <input type="text" class="form-control form-control-sm">
                </div>
                <div class="col-md-6 form-group-custom">
                    <label class="form-label-fixed mb-0">Gross Salary:</label>
                    <input type="text" class="form-control form-control-sm">
                </div>
            </div>

            <!-- Manager / Contact -->
            <div class="row mb-2">
                <div class="col-md-6 form-group-custom">
                    <label class="form-label-fixed mb-0">Manager :</label>
                    <input type="text" class="form-control form-control-sm">
                </div>
                <div class="col-md-6 form-group-custom">
                    <label class="form-label-fixed mb-0">Manager Contact No.:</label>
                    <input type="text" class="form-control form-control-sm">
                </div>
            </div>

            <!-- Remarks / Industry -->
            <div class="row mb-2">
                <div class="col-md-6 form-group-custom">
                    <label class="form-label-fixed mb-0">Remarks :</label>
                    <input type="text" class="form-control form-control-sm">
                </div>
                <div class="col-md-6 form-group-custom">
                    <label class="form-label-fixed mb-0">Industry Type:</label>
                    <input type="text" class="form-control form-control-sm">
                </div>
            </div>

            <!-- Attach Documents -->
            <div class="row mb-3">
                <div class="col-md-12 form-group-custom">
                    <label class="form-label-fixed mb-0">Attach Documents :</label>
                    <input type="file" class="form-control form-control-sm">
                </div>
            </div>

            <!-- Submit Button -->
            <div class="text-center mb-3">
                <button class="btn btn-primary btn-sm">Submit</button>
            </div>

            <div class="form-heading">Experience :</div>
        </div>

        <!-- Language -->
        <div class="col-md-4" style="border-left: 1px solid #ccc;">
            <div class="form-heading">Language</div>

            <!-- Language Selection -->
            <div class="form-group-custom mb-2">
                <label class="form-label-fixed mb-0">Language :</label>
                <select class="form-select form-select-sm">
                    <option>--Select--</option>
                    <option>English</option>
                    <option>Hindi</option>
                    <option>Gujarati</option>
                </select>
            </div>

            <!-- Fluency -->
            <div class="form-group-custom mb-2">
                <label class="form-label-fixed mb-0">Fluency:</label>
                <input type="text" class="form-control form-control-sm">
            </div>

            <!-- Ability -->
            <div class="mb-4">
                <label class="form-label-fixed mb-1">Ability:</label>
                <div class="d-flex flex-wrap gap-3 ms-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="chkWrite">
                        <label class="form-check-label" for="chkWrite">Write</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="chkRead">
                        <label class="form-check-label" for="chkRead">Read</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="chkSpeak">
                        <label class="form-check-label" for="chkSpeak">Speak</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="chkUnderstand">
                        <label class="form-check-label" for="chkUnderstand">Understand</label>
                    </div>
                </div>
            </div>

            <!-- Submit -->
            <div class="text-center mb-3">
                <button class="btn btn-primary btn-sm">Submit</button>
            </div>

            <div class="form-heading">Language Details :</div>
        </div>
    </div>
</div>
