@inject IConfiguration Configuration
@{
    Layout = null;
    string baseUrl = Configuration["BaseUrlSettings:baseUrl"];

}


<div class="card-header bg-primary text-white ">
    <h6>EMPLOYEE PERSONAL DETAILS   [Employee Age : <span id="empAge"></span>]</h6>
</div>


<div id="editSection">
    <div class="card-body px-4">
        @* <div class="row loaderTag">
            <div class="d-flex justify-content-center align-items-center " style="height: 10vh;display:none;" >
                <div class="spinner-border text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div> *@
        <form id="employeeForm">
            <div class="row px-5">
                <div class="col-md-12 mb-2"><h6><b>Personal Information:</b></h6></div>
            </div>

            <!-- Personal Information Fields (Editable) -->
            <div class="row px-5">
                <div class="col-md-4">
                    <div class="form-group mt-3 position-relative">
                        <input type="hidden" class="form-control floating-input" id="EmployeePersonalInfoId" placeholder=" " >
                        <select class="form-control floating-input" id="ddlGender" disabled>
                            <option selected>Male</option>
                            <option>Female</option>

                        </select>
                        <label class="floating-label" for="ddlGender">Gender</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group mt-3 position-relative">
                        <input type="email" class="form-control floating-input" placeholder="Personal Email ID" id="inpPersonalEmailId" />
                        <label class="floating-label" for="inpPersonalEmailId">Personal Email ID</label>
                        <span id="spnPersonalEmailId" style="color:red; display:none;">Please Enter Personal Email ID</span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group mt-3 position-relative">
                        <input type="text" class="form-control floating-input" placeholder="Father Name" id="inpFatherName" disabled />
                        <label class="floating-label" for="inpFatherName">Father Name</label>
                        <span id="spnFatherName" style="color:red; display:none;">Please Enter Father Name</span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group mt-3 position-relative">
                        <input type="text" class="form-control floating-input" placeholder="Mother Name" id="inpMotherName" />
                        <label class="floating-label" for="inpMotherName">Mother Name</label>
                        <span id="spnMotherName" style="color:red; display:none;">Please Enter Mother Name</span>
                    </div>
                </div>


                <div class="col-md-4">
                    <div class="form-group mt-3 position-relative">
                        <select class="form-control floating-input" id="ddlBloodGroup" disabled>
                            <option selected disabled value="">Select Blood Group</option>
                            <option>A+VE</option>
                            <option>A-VE</option>
                            <option>B+VE</option>
                            <option>B-VE</option>
                            <option>AB+VE</option>
                            <option>AB-VE</option>
                            <option>O+VE</option>
                            <option>O-VE</option>
                            <option>A1+VE</option>
                            <option>A1-VE</option>
                            <option>A1B+VE</option>
                            <option>A1B-VE</option>
                            <option>A2+VE</option>
                            <option>A2-VE</option>
                            <option>A2B+VE</option>
                            <option>A2B-VE</option>
                            <option>B1+VE</option>
                            <option>B2-VE</option>

                        </select>

                        <label class="floating-label" for="ddlBloodGroup">Blood Group</label>
                        <span id="spnBloodGroup" style="color:red; display:none;">Please Enter Blood Group</span>
                    </div>
                </div>

                <!-- Additional Fields -->
                <div class="col-md-4">
                    <div class="form-group mt-3 position-relative">
                        <input type="text" class="form-control floating-input" placeholder="Height" id="inpHeight" />
                        <label class="floating-label" for="inpHeight">Height</label>
                        <span id="spnHeight" style="color:red; display:none;">Please Enter Height</span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group mt-3 position-relative">
                        <select class="form-control floating-input" id="ddlMaritalStatus" disabled>
                            <option selected disabled value="">Select Marital Status</option>
                            <option>Married</option>
                            <option>Divorced</option>
                            <option>Separated</option>
                            <option>Widowed</option>
                        </select>
                        <label class="floating-label" for="ddlMaritalStatus">Marital Status </label>
                        <span id="spnMaritalStatus" style="color:red; display:none;">Please Enter Marital Status</span>
                    </div>

                </div>

                <div class="col-md-4">
                    <div class="form-group mt-3 position-relative">
                        <input type="date" class="form-control floating-input" id="inpMarriageDate" />
                        <label class="floating-label" for="inpMarriageDate">Marriage Date</label>
                        <span id="spnMarriageDate" style="color:red; display:none;">Please Enter Marriage Date</span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group mt-3 position-relative">
                        <input type="text" class="form-control floating-input" placeholder="Mark Identification" id="inpMarkIdentification" />
                        <label class="floating-label" for="inpMarkIdentification">Mark Identification</label>
                        <span id="spnMarkIdentification" style="color:red; display:none;">Please Enter Mark Identification</span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group mt-3 position-relative">
                        <input type="text" class="form-control floating-input" placeholder="Religion" id="inpReligion" />
                        <label class="floating-label" for="inpReligion">Religion</label>
                        <span id="spnReligion" style="color:red; display:none;">Please Enter Religion</span>
                    </div>
                </div>

                <div class="col-md-4 ">
                    <div class="form-group mt-3  position-relative">
                        <input type="text" class="form-control floating-input" placeholder="Caste" id="inpCaste" />
                        <label class="floating-label" for="inpCaste">Caste</label>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group mt-3 position-relative">
                        <select class="form-control floating-input" id="ddlCasteCategory">
                            <option selected disabled value="">Select Category</option>
                            <option>ST</option>
                            <option>OBC</option>
                            <option>SC</option>
                            <option>SBC</option>
                            <option>OPEN</option>
                            <option>VJNT</option>
                            <option>Other</option>
                        </select>
                        <label class="floating-label" for="ddlCasteCategory">Cast Category</label>
                    </div>
                </div>
            </div>

            <hr />

            <div class="row px-5">
                <div class="col-md-12 mb-2">
                    <h6><b>Require Document:</b></h6>
                </div>
            </div>

            <div class="row px-5">
                <div class="col-md-4 mb-2">
                    <div class="form-group mt-3 position-relative">
                        <input type="text" class="form-control floating-input" placeholder="Aadhar Card No" id="inpAadharCardNo" disabled />
                        <label class="floating-label" for="inpAadharCardNo">Aadhar Card No</label>
                        <span id="spnAadharCardNo" style="color:red; display:none;">Please Enter Aadhar Card No</span>
                    </div>
                </div>

                <div class="col-md-4 mb-2">
                    <div class="form-group mt-3 position-relative">
                        <input type="text" class="form-control floating-input" placeholder="PAN No" id="inpPanNo" disabled />
                        <label class="floating-label" for="inpPanNo">PAN No</label>
                        <span id="spnPanNo" style="color:red; display:none;">Please Enter PAN No</span>
                    </div>
                </div>

                <div class="col-md-4 mb-2">
                    <div class="form-group mt-3 position-relative">
                        <input type="text" class="form-control floating-input" placeholder="Dispensary" id="inpDispensary" disabled />
                        <label class="floating-label" for="inpDispensary">Dispensary</label>
                        <span id="spnDispensary" style="color:red; display:none;">Please Enter Dispensary Name</span>
                    </div>
                </div>
            </div>

            <div class="row px-5">
                <div class="col-md-4 mb-2">
                    <div class="form-group mt-3 position-relative">
                        <input type="text" class="form-control floating-input" placeholder="Doctor Name" id="inpDoctorName" disabled />
                        <label class="floating-label" for="inpDoctorName">Doctor Name</label>
                        <span id="spnDoctorName" style="color:red; display:none;">Please Enter Doctor Name</span>
                    </div>
                </div>

                <div class="col-md-4 mb-2">
                    <div class="form-group mt-3 position-relative">
                        <input type="text" class="form-control floating-input" placeholder="Dispensary Address" id="inpDispensaryAddress" disabled />
                        <label class="floating-label" for="inpDispensaryAddress">Dispensary Address</label>
                        <span id="spnDispensaryAddress" style="color:red; display:none;">Please Enter Dispensary Address</span>
                    </div>
                </div>

                <div class="col-md-4 mb-2">
                    <div class="form-group mt-3 position-relative">
                        <input type="text" class="form-control floating-input" placeholder="UAN Number" id="inpUanNumber" disabled />
                        <label class="floating-label" for="inpUanNumber">UAN Number</label>
                        <span id="spnUanNumber" style="color:red; display:none;">Please Enter UAN Number</span>
                    </div>
                </div>
                <div class="col-md-4 mb-2">
                    <div class="form-group mt-3 position-relative">
                        <input type="text" class="form-control floating-input" placeholder="PF No" id="inpPFNo" disabled />
                        <label class="floating-label" for="inpPFNo">PF No</label>
                    </div>
                </div>
                <div class="col-md-4 mb-2">
                    <div class="form-group mt-3 position-relative">
                        <input type="text" class="form-control floating-input" placeholder="ESIC No" id="inpESICNo" disabled />
                        <label class="floating-label" for="inpUanNumber">ESIC No</label>
                    </div>
                </div>
            </div>

            <div class="row px-5">
                <div class="col-md-4 mb-2">
                    <div class="form-group mt-3 position-relative">
                        <input type="text" class="form-control floating-input" placeholder="Driving License" id="inpDrivingLicense" />
                        <label class="floating-label" for="inpDrivingLicense">Driving License</label>
                        <span id="spnDrivingLicense" style="color:red; display:none;">Please Enter Driving License Number</span>
                    </div>
                </div>

                <div class="col-md-4 mb-2">
                    <div class="form-group mt-3 position-relative">
                        <input type="date" class="form-control floating-input" id="inpDrivingLicenseExpiry" />
                        <label class="floating-label" for="inpDrivingLicenseExpiry">Expiry Date of Driving License</label>
                        <span id="spnDrivingLicenseExpiry" style="color:red; display:none;">Please Enter Expiry Date</span>
                    </div>
                </div>

                <div class="col-md-4 mb-2">
                    <div class="form-group mt-3 position-relative">
                        <select class="form-control floating-input" id="ddlRationCardType" disabled>
                            <option selected disabled value="">Select</option>
                            <option>APL</option>
                            <option>BPL</option>
                        </select>
                        <label class="floating-label" for="ddlRationCardType">Ration Card Type</label>
                    </div>
                </div>
            
                <div class="col-md-4 mb-2">
                    <div class="form-group mt-3 position-relative">
                        <input type="text" class="form-control floating-input" placeholder="Ration Card No" id="inpRationCardNo"  />
                        <label class="floating-label" for="inpRationCardNo">Ration Card No</label>
                    </div>
                </div>
                <div class="col-md-4 mb-2">
                    <div class="form-group mt-3 position-relative">
                        <input type="text" class="form-control floating-input" placeholder="No of Children" id="inpNoOfChildren" />
                        <label class="floating-label" for="inpNoOfChildren">No of Children</label>
                    </div>
                </div>


            </div>


            <hr />

            <div class="row px-5">
                <div class="col-md-12 mb-2">
                    <h6><b>Training and Probation:</b></h6>
                </div>
            </div>

            <div class="row px-5">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-5 mt-2">
                            Probation Completion Period:
                        </div>
                        <div class="col-2 ">
                            <div class="form-group mb-1 position-relative">
                                <input type="text" class="form-control " id="inpProbationCompletionPeriod" value="0" step="1" min="0" oninput="this.value = this.value.replace(/[^0-9]/g, '')" disabled />
                            </div>

                        </div>
                        <div class="col-2 mt-2">
                            <input type="radio" name="probationPeriods" checked id="monthsProbationCompletionPeriod" value="Months" disabled/>
                            Months
                        </div>
                        <div class="col-3 mt-2">
                            <input type="radio" name="probationPeriods" id="daysProbationCompletionPeriod" value="Days" disabled />
                            Days
                        </div>
                    </div>

                </div>

                <div class="col-md-4">
                    <div class="form-group  position-relative">
                        <select class="form-control floating-input" id="ddlManagerProbation" disabled>
                            <option selected disabled value="">select</option>

                        </select>
                        <label class="floating-label" for="ddlManagerProbation">Manager (Probation)</label>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group mt-3 position-relative">
                        <input type="date" class="form-control floating-input" placeholder="Confirm Date" id="inpConfirmDate" disabled />
                        <label class="floating-label" for="inpConfirmDate">Confirm Date</label>
                        <span id="spnConfirmDate" style="color:red; display:none;">Please Enter Confirm Date</span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group mt-3 position-relative">
                        <input type="date" class="form-control floating-input" placeholder="Date of Retirement" id="inpRetirementDate" disabled />
                        <label class="floating-label" for="inpRetirementDate">Date of Retirement</label>
                        <span id="spnRetirementDate" style="color:red; display:none;">Please Enter Date of Retirement</span>
                    </div>
                </div>

                <div class="col-md-4 mb-3">
                    <div class="form-group mt-3 position-relative">
                        <input type="date" class="form-control floating-input" placeholder="Offer Date" id="inpOfferDate" disabled />
                        <label class="floating-label" for="inpOfferDate">Offer Date</label>
                        <span id="spnOfferDate" style="color:red; display:none;">Please Enter Offer Date</span>
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="row px-5">
                        <div class="col-5 mt-2">
                            Trainee Completion Period:
                        </div>
                        <div class="col-2">
                            <div class="form-group mb-1 position-relative">
                                <input type="text" class="form-control " step="1" min="0" oninput="this.value = this.value.replace(/[^0-9]/g, '')" id="inpTraineeCompletionPeriod" value="0" disabled />
                            </div>

                        </div>
                        <div class="col-2 mt-2">
                            <input type="radio" name="traininPeriod" checked id="monthsTraineeCompletionPeriod" value="Months" disabled />
                            Months
                        </div>
                        <div class="col-3 mt-2">
                            <input type="radio" name="traininPeriod" id="daysTraineeCompletionPeriod" value="Days" disabled />
                            Days
                        </div>
                    </div>

                </div>

            </div>
            <hr />

           
            <div style="display: flex; justify-content: center;">
                <button type="button" class="btn btn-sm btn-primary px-5" id="btnUpdatePersonalInfo" style="background-color:#2395c6; color:white;">
                    Update
                </button>
            </div>

        </form>
    </div>
</div>




<script>
    // jQuery to handle floating labels and validation
    $(document).ready( async function() {
        await bindReporting();
       loadPersionalInfo();



    });


    async function loadPersionalInfo() {
        try {
            const response = await fetch('@baseUrl/ProfileManageAPI/GetPersonalInfo/'+employeeId, {
                method: 'GET',
                headers: {
                    'Authorization': 'Bearer ' + localStorage.getItem("authToken"),
                    'Content-Type': 'application/json'
                }
            });
            const data = await response.json();
            if (data.isSuccess) {

               setPersonalInfo(data.data)
            }

        } catch (error) {
            console.error('Fetch error:', error);
        }
    }


    async function setPersonalInfo(employee)
    {
        if (employee.dateOfBirth)
        {
            const age = await getAgeFromDOB(employee.dateOfBirth);
            let ageText = '';

            if (age.years > 0) {
                ageText += `${age.years} Year${age.years > 1 ? 's' : ''} `;
            }

            if (age.months > 0) {
                ageText += `${age.months} Month${age.months > 1 ? 's' : ''}`;
            }

            $('#empAge').text(ageText.trim());
        }
        $('#ddlGender').val(employee.gender || 'Male');
        $('#inpPersonalEmailId').val(employee.personalEmailId || '');
        $('#inpFatherName').val(employee.fatherName || '');
        $('#inpMotherName').val(employee.motherName || '');
        $('#ddlBloodGroup').val(employee.bloodGroup || '');
        $('#inpHeight').val(employee.height || '');
        $('#ddlMaritalStatus').val(employee.maritalStatus || '');
        $('#inpMarriageDate').val(formatDate(employee.marriageDate) || '');
        $('#inpMarkIdentification').val(employee.markIdentification || '');
        $('#inpReligion').val(employee.religion || '');
        $('#inpCaste').val(employee.caste || '');
        $('#ddlCasteCategory').val(employee.castCategory || '');
        $('#inpAadharCardNo').val(employee.aadharCardNo || '');
        $('#inpPanNo').val(employee.panNo || '');
        $('#inpDispensary').val(employee.dispensary || '');
        $('#inpDoctorName').val(employee.doctorName || '');
        $('#inpDispensaryAddress').val(employee.dispensaryAddress || '');
        $('#inpUanNumber').val(employee.uanNumber || '');
        $('#inpESICNo').val(employee.esicNo || '');
        $('#inpPFNo').val(employee.pfNo || '');
        $('#inpNoOfChildren').val(employee.noOfChildren || '');

        $('#inpDrivingLicense').val(employee.drivingLicense || '');
        $('#inpDrivingLicenseExpiry').val(formatDate(employee.drivingLicenseExpiry) || '');
        $('#ddlRationCardType').val(employee.rationCardType || '');
        $('#inpRationCardNo').val(employee.rationCardNo || '');
        $('#inpProbationCompletionPeriod').val(employee.probationCompletionPeriod || '');
        $('input[name="probationPeriods"]').val(employee.probationPeriodType || '');
        $('#ddlManagerProbation').val(employee.managerProbationId || '');
        $('#inpConfirmDate').val(formatDate(employee.confirmDate) || '');
            $('#inpRetirementDate').val(formatDate(employee.retirementDate )|| '');
        $('#inpOfferDate').val(formatDate(employee.offerDate) || '');
        $('#inpTraineeCompletionPeriod').val(employee.traineeCompletionPeriod || '');
        $('input[name="trainingPeriod"]').val(employee.traineePeriodType || '');

    }

    function formatDate(isoDateStr) {
            if (!isoDateStr) return '';
      return isoDateStr.split('T')[0];
    }

      async function getAgeFromDOB(dob) {
            const birthDate = new Date(dob);
            const today = new Date();

            let years = today.getFullYear() - birthDate.getFullYear();
            let months = today.getMonth() - birthDate.getMonth();
            const days = today.getDate() - birthDate.getDate();

            if (days < 0) {
                months--;
            }

            if (months < 0) {
                years--;
                months += 12;
            }

            return { years, months };
        }


     async function bindReporting() {
        try {
            const data = await new Promise((resolve, reject) => {
                $.ajax({
                    type: "GET",
                    url: "@baseUrl/EmployeeMasterAPI/GetAllReportingPersons",
                    headers: {
                        'Authorization': 'Bearer ' + localStorage.getItem("authToken")
                    },
                    success: resolve,
                    error: reject
                });
            });

            if (data.isSuccess) {
                const dropdown = $('#ddlManagerProbation');
                dropdown.empty();
                dropdown.append('<option disabled selected value="">Select</option>');

                data.data.forEach(reporting => {
                    dropdown.append($('<option>', {
                        value: reporting.id,
                        text: `${reporting.fullName} - ${reporting.employeeCode}`
                    }));
                });
            }
        } catch (error) {
            console.error("AJAX Error:", error.status, "-", error.statusText || error.message);
        }
    }


    $("#btnUpdatePersonalInfo").click(function(){
        $('#btnUpdatePersonalInfo').prop("disabled", true);
        var probationPeriod=$('input[name="probationPeriods"]:checked').val()
      var traininPeriod=$('input[name="traininPeriod"]:checked').val()
        const setNullIfEmpty = (value) => {
                    return value === "" ? null : value;
                };

                var persionalInfo={
                   EmployeeId: employeeId,
                   Gender: setNullIfEmpty($('#ddlGender').val()),
                  PersonalEmailId: setNullIfEmpty($('#inpPersonalEmailId').val()),
                  FatherName: setNullIfEmpty($('#inpFatherName').val()),
                  MotherName: setNullIfEmpty($('#inpMotherName').val()),
                  BloodGroup: setNullIfEmpty($('#ddlBloodGroup').val()),
                  Height: setNullIfEmpty($('#inpHeight').val()),
                  MaritalStatus: setNullIfEmpty($('#ddlMaritalStatus').val()),
                  MarriageDate: setNullIfEmpty($('#inpMarriageDate').val()),
                  MarkIdentification: setNullIfEmpty($('#inpMarkIdentification').val()),
                  Religion: setNullIfEmpty($('#inpReligion').val()),
                  Caste: setNullIfEmpty($('#inpCaste').val()),
                  CastCategory: setNullIfEmpty($('#ddlCasteCategory').val()),
                  AadharCardNo: setNullIfEmpty($('#inpAadharCardNo').val()),
                  PANNo: setNullIfEmpty($('#inpPanNo').val()),
                  Dispensary: setNullIfEmpty($('#inpDispensary').val()),
                  DoctorName: setNullIfEmpty($('#inpDoctorName').val()),
                  DispensaryAddress: setNullIfEmpty($('#inpDispensaryAddress').val()),
                  UANNumber: setNullIfEmpty($('#inpUanNumber').val()),
                  DrivingLicense: setNullIfEmpty($('#inpDrivingLicense').val()),
                  DrivingLicenseExpiry: setNullIfEmpty($('#inpDrivingLicenseExpiry').val()),
                  RationCardType: setNullIfEmpty($('#ddlRationCardType').val()),
                  RationCardNo: setNullIfEmpty($('#inpRationCardNo').val()),
                  NoOfChildren: setNullIfEmpty($('#inpNoOfChildren').val()),
                  ESICNo: setNullIfEmpty($('#inpESICNo').val()),
                  PFNo: setNullIfEmpty($('#inpPFNo').val()),
                  ShiftId:$('#ddlShift').data('searchableSelect').getValue(),
                  DepartmentId:$('#ddlDepartment').data('searchableSelect').getValue(),

                  ProbationCompletionPeriod: setNullIfEmpty($('#inpProbationCompletionPeriod').val()),
                  ProbationPeriodType: setNullIfEmpty($('input[name="probationPeriods"]:checked').val()),
                  ManagerProbationId: setNullIfEmpty($('#ddlManagerProbation').val()),
                  ConfirmDate: setNullIfEmpty($('#inpConfirmDate').val()),
                  RetirementDate: setNullIfEmpty($('#inpRetirementDate').val()),
                  OfferDate: setNullIfEmpty($('#inpOfferDate').val()),
                  TraineeCompletionPeriod: setNullIfEmpty($('#inpTraineeCompletionPeriod').val()),
                  TraineePeriodType: setNullIfEmpty($('input[name="traininPeriod"]:checked').val()),
                  UpdatedBy:localStorage.getItem('EmployeeId')
                }
            $.ajax({
                url: '@baseUrl/ProfileManageAPI/UpdatePersonalInfo',
                method: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(persionalInfo),
                headers: {
                    'Authorization': 'Bearer ' + localStorage.getItem("authToken"),
                },
                success: function (response) {
                    if (response.isSuccess) {
                        round_success_noti(response.responseMessage);
                    } else {
                        round_error_noti(response.responseMessage);
                    }
                    $('#btnUpdatePersonalInfo').prop("disabled", false);
                },
                error: function (error) {
                    console.error('Error saving personalInfo:', error);
                    $('#btnUpdatePersonalInfo').prop("disabled", false);
                }
            });

    })

</script>

