@inject IConfiguration Configuration
@{
    Layout = null;
    string baseUrl = Configuration["BaseUrlSettings:baseUrl"];

}

<div class="card-header bg-primary text-white ">
    <h6>SALARY DETAILS</h6>
</div>


<div id="editSalaryDetailsSection">
    <div class="card-body px-4">
        <form id="salaryBankDetailsForm">
            <div class="row mb-3 px-5">
                <div class="col-md-12 ">
                    <h6><b>Salary Bank Details</b></h6>
                </div>
            </div>

            <div class="row px-5">
                <!-- Primary Bank Details -->
                <div class="col-md-4 mb-3">
                    <!-- Payment Mode -->
                    <div class="form-group position-relative ">
                        <select id="primaryPaymentMode" class="form-control floating-input" disabled>
                            <option value="">Select Payment Mode</option>
                            <option value="Cash">Cash</option>
                            <option value="Cheque">Cheque</option>
                            <option value="Cheque">Bank Transfer</option>
                        </select>
                        <label class="floating-label" for="primaryPaymentMode">Payment Mode</label>
                    </div>
                </div>
                <!-- Bank -->
                <div class="col-md-4 mb-3">
                    <div class="form-group position-relative ">
                        <select id="primaryBank" class="form-control floating-input" disabled>
                            <option value="">Select Bank</option>

                            <option value="Axis Bank">Axis Bank</option>
                            <option value="HDFC Bank">HDFC Bank</option>
                            <option value="ICICI Bank">ICICI Bank</option>
                            <option value="State Bank of India">State Bank of India</option>
                            <option value="Punjab National Bank">Punjab National Bank</option>
                            <option value="Kotak Mahindra Bank">Kotak Mahindra Bank</option>
                            <option value="Yes Bank">Yes Bank</option>
                            <option value="Bank of Baroda">Bank of Baroda</option>
                            <option value="Canara Bank">Canara Bank</option>
                            <option value="Union Bank of India">Union Bank of India</option>
                            <option value="IndusInd Bank">IndusInd Bank</option>
                            <option value="IDBI Bank">IDBI Bank</option>
                            <option value="Federal Bank">Federal Bank</option>
                            <option value="Central Bank of India">Central Bank of India</option>
                            <option value="Bank of Maharashtra">Bank of Maharashtra</option>
                            <option value="UCO Bank">UCO Bank</option>
                            <option value="Punjab & Sind Bank">Punjab & Sind Bank</option>
                            <option value="Indian Bank">Indian Bank</option>
                            <option value="Indian Overseas Bank">Indian Overseas Bank</option>
                            <option value="RBL Bank">RBL Bank</option>
                            <option value="Dena Bank">Dena Bank</option>
                            <option value="Allahabad Bank">Allahabad Bank</option>
                            <option value="Andhra Bank">Andhra Bank</option>
                            <option value="Corporation Bank">Corporation Bank</option>
                            <option value="Vijaya Bank">Vijaya Bank</option>
                            <option value="Syndicate Bank">Syndicate Bank</option>
                            <option value="Axis Bank">Axis Bank</option>
                            <option value="Yes Bank">Yes Bank</option>
                            <option value="IDFC First Bank">IDFC First Bank</option>
                            <option value="City Union Bank">City Union Bank</option>
                            <option value="Karur Vysya Bank">Karur Vysya Bank</option>
                            <option value="Lakshmi Vilas Bank">Lakshmi Vilas Bank</option>
                            <option value="Tamilnad Mercantile Bank">Tamilnad Mercantile Bank</option>
                            <option value="South Indian Bank">South Indian Bank</option>
                            <option value="Dhanlaxmi Bank">Dhanlaxmi Bank</option>
                        </select>
                        <label class="floating-label" for="primaryBank">Bank</label>
                    </div>
                </div>

                <!-- IFSC Code -->
                <div class="col-md-4 mb-3">
                    <div class="form-group position-relative">
                        <input type="text" id="primaryIFSC" class="form-control floating-input" placeholder="Enter IFSC Code" disabled />
                        <label class="floating-label" for="primaryIFSC">IFSC Code</label>
                    </div>
                </div>

                <!-- Account No -->
                <div class="col-md-4 mb-3">
                    <div class="form-group position-relative ">
                        <input type="text" id="primaryAccountNo" class="form-control floating-input" placeholder="Enter Account Number" disabled />
                        <label class="floating-label" for="primaryAccountNo">Account No</label>
                    </div>
                </div>

                <!-- Branch Name -->
                <div class="col-md-4 mb-3">
                    <div class="form-group position-relative ">
                        <input type="text" id="primaryBranchName" class="form-control floating-input" placeholder="Enter Branch Name" disabled />
                        <label class="floating-label" for="primaryBranchName">Branch Name</label>
                    </div>
                   
                </div>

                <!-- Group Joining Date -->
                <div class="col-md-4 mb-3">
                    <div class="form-group position-relative mb-3">
                        <input type="date" id="groupJoiningDate" class="form-control floating-input"  placeholder="Select Group Joining Date" disabled />
                        <label class="floating-label" for="groupJoiningDate">Group Joining Date</label>
                    </div>
                </div>



                <!-- Business Segment -->
                <div class="col-md-4 ">
                    <div class="form-group position-relative mb-3">
                        <select id="businessSegment" class="form-control floating-input" disabled>
                            <option value="">Select </option>
                        </select>
                        <label class="floating-label" for="businessSegment">BusinessSegment</label>
                    </div>
                </div>

             </div>
               
               @*  <div class="row px-5">
                 
                   <!-- Employee Name for Salary Report -->
                    <div class="col-md-4">
                        <div class="form-group position-relative mb-3">
                            <input type="text" id="employeeNameSalaryReport" class="form-control floating-input" value="Mr. Test 1" placeholder="Enter employee name" />
                            <label class="floating-label" for="employeeNameSalaryReport">Employee Name for Salary Report</label>
                        </div>
                    </div>

                    <!-- Employee Name for PF Report -->
                    <div class="col-md-4">
                        <div class="form-group position-relative mb-3">
                            <input type="text" id="employeeNamePFReport" class="form-control floating-input" value="Mr. Test 1" placeholder="Enter employee name" />
                            <label class="floating-label" for="employeeNamePFReport">Employee Name for PF Report</label>
                        </div>
                    </div>

                    <!-- Employee Name for PT Report -->
                    <div class="col-md-4">
                        <div class="form-group position-relative mb-3">
                            <input type="text" id="employeeNamePTReport" class="form-control floating-input" placeholder="Employee Name for PT Report" />
                            <label class="floating-label" for="employeeNamePTReport">Employee Name for PT Report</label>
                        </div>
                    </div>

                    <!-- Employee Name for Tax Report -->
                    <div class="col-md-4">
                        <div class="form-group position-relative mb-3">
                            <input type="text" id="employeeNameTaxReport" class="form-control floating-input"  placeholder="Enter employee name" />
                            <label class="floating-label" for="employeeNameTaxReport">Employee Name for Tax Report</label>
                        </div>
                    </div>

                    <!-- Employee Name for ESIC Report -->
                    <div class="col-md-4">
                        <div class="form-group position-relative mb-3">
                            <input type="text" id="employeeNameESICReport" class="form-control floating-input" placeholder="Employee Name for ESIC Report" />
                            <label class="floating-label" for="employeeNameESICReport">Employee Name for ESIC Report</label>
                        </div>
                    </div>

                    <!-- Employee Name for Primary Bank -->
                    <div class="col-md-4">
                        <div class="form-group position-relative mb-3">
                            <input type="text" id="employeeNamePrimaryBank" class="form-control floating-input" placeholder="Employee Name for Primary Bank" />
                            <label class="floating-label" for="employeeNamePrimaryBank">Employee Name for Primary Bank</label>
                        </div>
                    </div>
                     </div>
 *@

@* 
                <div style="display: flex; justify-content: center;">
                    <button type="button" class="btn btn-sm btn-primary px-5" id="btnUpdateSalary" style="background-color:#2395c6; color:white;">
                        Update
                    </button>
                </div> *@
                
        </form>
    </div>
</div>


<script>

   $(document).ready(async function(){
        await loadBindbusinessSegmentOption();
      loadSalaryDetails();
   })

    $(".compOffDetailsShow").click(function () {
        if ($(this).is(":checked")) {
            $(".tagCompanyOffDetails").show();
        } else {
            $(".tagCompanyOffDetails").hide();
        }
    });


        async function loadBindbusinessSegmentOption() {
        try {
            const data = await new Promise((resolve, reject) => {
                $.ajax({
                    type: "GET",
                    url: "@baseUrl/BusinessSegmentAPI/GetAllBusinessSegments",
                    headers: {
                        'Accept': 'application/json'
                    },
                    success: resolve,
                    error: reject
                });
            });

            if (data.isSuccess) {
                const dropdown = $('#businessSegment');
                dropdown.empty();
                dropdown.append($('<option>', {
                    value: '',
                    text: 'Select',
                    selected: true,
                    disabled: true
                }));

                data.data.forEach(segment => {
                    dropdown.append($('<option>', {
                        value: segment.businessSegmentId,
                        text: segment.businessSegmentName
                    }));
                });
            }
        } catch (error) {
            console.error("AJAX Error:", error.status, "-", error.statusText || error.message);
        }
    }


     async function loadSalaryDetails() {
        try {
            const response = await fetch('@baseUrl/ProfileManageAPI/GetSalaryDetails/'+employeeId, {
                method: 'GET',
                headers: {
                    'Authorization': 'Bearer ' + localStorage.getItem("authToken"),
                    'Content-Type': 'application/json'
                }
            });
            const data = await response.json();
            if (data.isSuccess) {

                setSalaryDetails(data.data)
            }

        } catch (error) {
            console.error('Fetch error:', error);
        }
    }


      function formatDate(isoDateStr) {
             if (!isoDateStr) return '';
       return isoDateStr.split('T')[0];
     }

    function setSalaryDetails(employee)
    {
        
         $('#primaryPaymentMode').val(employee.primaryPaymentMode || '');
          $('#primaryBank').val(employee.primaryBankName || '');
         $('#primaryIFSC').val(employee.primaryIFSCCode || '');
         $('#primaryAccountNo').val(employee.primaryAccountNumber || '');
         $('#primaryBranchName').val(employee.primaryBankBranchName || '');
         $('#ddlWagesType').val(employee.wagesType || '');
         $('#groupJoiningDate').val(formatDate(employee.groupJoiningDate)|| '');
         $('#businessSegment').val(employee.businessSegmentId || '');
         // $('#employeeNameSalaryReport').val(employee.employeeSalaryReport || '');
         // $('#employeeNamePFReport').val(employee.employeePFReport || '');
         // $('#employeeNamePTReport').val(employee.employeePTReport || '');
         // $('#employeeNameTaxReport').val(employee.employeeTaxReport || '');
         // $('#employeeNameESICReport').val(employee.employeeESIReport || '');
         //  $('#employeeNamePrimaryBank').val(employee.employeeNamePrmaryBank || '');

    }


       $("#btnUpdateSalary").click(function(){
          $('#btnUpdateSalary').prop("disabled", true);

                 const setNullIfEmpty = (value) => {
                     return value === "" ? null : value;
                 };

                 var salary={
                          EmployeeId: employeeId,
                           PrimaryPaymentMode: setNullIfEmpty($('#primaryPaymentMode').val()),
                            PrimaryBankName: setNullIfEmpty($('#primaryBank').val()),
                            PrimaryIFSCCode: setNullIfEmpty($('#primaryIFSC').val()),
                            PrimaryAccountNumber: setNullIfEmpty($('#primaryAccountNo').val()),
                            PrimaryBankBranchName: setNullIfEmpty($('#primaryBranchName').val()),
                            WagesType: setNullIfEmpty($('#ddlWagesType').val()),
                            GroupJoiningDate: setNullIfEmpty($('#groupJoiningDate').val()),
                            BusinessSegmentId: setNullIfEmpty($('#businessSegment').val())
                            // EmployeeSalaryReport: setNullIfEmpty($('#employeeNameSalaryReport').val()),
                            // EmployeePFReport: setNullIfEmpty($('#employeeNamePFReport').val()),
                            // EmployeePTReport: setNullIfEmpty($('#employeeNamePTReport').val()),
                            // EmployeeTaxReport: setNullIfEmpty($('#employeeNameTaxReport').val()),
                            // EmployeeESIReport: setNullIfEmpty($('#employeeNameESICReport').val()),
                            // EmployeeNamePrmaryBank: setNullIfEmpty($('#employeeNamePrimaryBank').val())

                 }

             $.ajax({
                 url: '@baseUrl/ProfileManageAPI/UpdateSalaryDetails',
                 method: 'POST',
                 contentType: 'application/json',
                  data: JSON.stringify(salary),
                 headers: {
                     'Authorization': 'Bearer ' + localStorage.getItem("authToken"),
                 },
                 success: function (response) {
                     if (response.isSuccess) {
                         round_success_noti(response.responseMessage);
                     } else {
                         round_error_noti(response.responseMessage);
                     }
                      $('#btnUpdateSalary').prop("disabled", false);
                 },
                 error: function (error) {
                     console.error('Error saving personalInfo:', error);
                      $('#btnUpdateSalary').prop("disabled", false);
                 }
             });

     })

</script>