@inject IConfiguration Configuration
@{
    Layout = null;
    string baseUrl = Configuration["BaseUrlSettings:baseUrl"];
    string UIBaseUrlLayout = Configuration["UIBaseUrlSettings:baseUrl"];
    var uriAPI = new Uri(baseUrl);
    string baseAPIDomainUrl = $"{uriAPI.Scheme}://{uriAPI.Host}:{uriAPI.Port}";

}
<!-- Skills-->

<div class="card-header bg-primary text-white ">
    <h6>SKILL DETAILS</h6>
</div>


<form id="Skill-form">
        <div class="row px-5 mt-4">
            <!-- Primary Bank Details -->
            <div class="col-md-4 mb-3">
                <!-- Payment Mode -->
                <div class="form-group position-relative ">
                    <select id="ddlSkill" class="form-control floating-input" >
                        <option value="" disabled selected>Select</option>
                       
                    </select>
                <label class="floating-label" for="ddlSkill">Skill<span class="text-danger">*</span></label>
                </div>
            <span id="spnddlSkill" style="color:red; display:none;">Please Select Skill</span>

            </div>
            
            <!-- IFSC Code -->
            <div class="col-md-4 mb-3">
                <div class="form-group position-relative">
                <input type="text" id="txtYearsOfExp" data-decimal class="form-control floating-input" placeholder="Years of Experience" />
                <label class="floating-label" for="txtYearsOfExp">Years of Experience<span class="text-danger">*</span></label>
                </div>
            <span id="spntxtYearsOfExp" style="color:red; display:none;">Please Enter Year</span>

            </div>

            <!-- Account No -->
            <div class="col-md-4 mb-3">
                <div class="form-group position-relative ">
                <input type="text" id="txtSkillComments" data-trim-input class="form-control floating-input" placeholder="Comments" />
                <label class="floating-label" for="txtSkillComments">Comments<span class="text-danger">*</span></label>
                </div>
            <span id="spntxtSkillComments" style="color:red; display:none;">Please Enter Comment</span>

            </div>

            <div style="display: flex; justify-content: center;">
                <button type="button" class="btn btn-sm btn-primary px-5" id="btnSkill" style="background-color:#2395c6; color:white;">
                    Update
                </button>
            </div>

        </div>
</form>
        <!--Skill Details-->
        <div class="row mt-2">

            <div class="col-12">
                <div id="gridSkill"></div>
            </div>
        </div>



    

<script>
    

    $(document).ready(function(){

        let employeeProfile_SkillId=0;
        bindSkills();
        loadEmployeeSkills();
  

    function bindSkills(){

       $.ajax({
            url: '@baseUrl/SkillMasterAPI/GetAllSkillMasters',
            method: 'GET',
                headers: {
                        'Authorization': 'Bearer ' +   localStorage.getItem("authToken")
                    },
            success: function(data) {
                if(data.isSuccess){
                    var dropdown = $('#ddlSkill');
                    dropdown.empty();
                    dropdown.append('<option disabled selected value="">Select</option>');
                    $.each(data.data, function(index, skill) {
                        dropdown.append($('<option>', {
                            value: skill.skillMasterId,
                            text: skill.skillName
                        }));
                    });


                }
            },
            error: function(error) {
                console.error('Error fetching branch data:', error);
            }
        });

    }
  

    $('#btnSkill').click(function () {
        $('#btnSkill').prop("disabled", true);


        
            var skillMasterId=$('#ddlSkill').val();
                    var yearExperience=$('#txtYearsOfExp').val();
                    var comment=$('#txtSkillComments').val();

                var Isvalid=true;
             if(!skillMasterId)
             {
                     Isvalid=false;
              $('#spnddlSkill').show();
             }
             else{
                  $('#spnddlSkill').hide();
             }
             if(!yearExperience)
             {
                     Isvalid=false;
                  $('#spntxtYearsOfExp').show();
             }
             else{

                  $('#spntxtYearsOfExp').hide();
             }
              if(!comment)
             {
                     Isvalid=false;
               $('#spntxtSkillComments').show();
             }
             else{
                   $('#spntxtSkillComments').hide();
             }
             if(!Isvalid){
                     $('#btnSkill').prop("disabled", false);
                 return;
             }

        const skillModel = {
            EmployeeProfile_SkillId: employeeProfile_SkillId || 0,
            EmployeeId: localStorage.getItem('EmployeeId'),
                SkillMasterId: skillMasterId,
                YearsOfExperience: yearExperience,
                Comments: comment,
            CreatedBy: localStorage.getItem('EmployeeId')
        };

                var typeUrl=employeeProfile_SkillId==0?'@baseUrl/EmployeeProfileSkillAPI/CreateEmployeeProfileSkill':'@baseUrl/EmployeeProfileSkillAPI/UpdateEmployeeProfileSkill';
                var TypeMethod=employeeProfile_SkillId==0?"POST":"PUT";

        $.ajax({
              url: typeUrl,
             method: TypeMethod,
            headers: {
                'Authorization': 'Bearer ' + localStorage.getItem("authToken"),
                'Content-Type': 'application/json'
            },
            data: JSON.stringify(skillModel),
            success: function (response) {
                if (response.isSuccess) {
                    round_success_noti(response.responseMessage);
                        clearSkillForm();
                        loadEmployeeSkills(); // agar reload karna ho to ye call karo
                } else {
                    round_error_noti(response.responseMessage);
                }
                $('#btnSkill').prop("disabled", false);
            },
            error: function (error) {
                console.error('Error saving skill:', error);
                round_error_noti('An error occurred while saving the skill.');
                $('#btnSkill').prop("disabled", false);
            }
        });
    });

  function clearSkillForm(){
          $('#btnSkill').prop("disabled", false);
              $('#txtSkillComments').val('');
                  $('#txtYearsOfExp').val('');
                 $('#ddlSkill').val('');
           $('#spntxtYearsOfExp').hide();
          $('#spntxtYearsOfExp').hide();
            $('#spntxtSkillComments').hide();
  }

     function loadEmployeeSkills(){
       $.ajax({
            url: '@baseUrl/EmployeeProfileSkillAPI/GetAllEmployeeProfileSkills/'+localStorage.getItem('EmployeeId'),
            method: 'GET',
                headers: {
                        'Authorization': 'Bearer ' +   localStorage.getItem("authToken")
                    },
            success: function(data) {
              
                    console.log(data);

                          $("#gridSkill").dxDataGrid({
                                dataSource: data.data || [],  // Use the provided data
                            columns: [
                                { dataField: 'skillName', caption: 'Skill Name', alignment: 'left' },
                                { dataField: 'yearsOfExperience', caption: 'Years of Experience', alignment: 'left' },
                                { dataField: 'comments', caption: 'Comments', alignment: 'left' },
                                  {
                                    dataField: '',
                                    caption: '',
                                    alignment: 'center',
                                    width: '50px',
                                    cellTemplate: function (container, options) {
                                        var buttonElement = $('<div class="d-flex order-actions">' +
                                            '<a href="javascript:;" class="edit-action" title="Update Skill">' +
                                            '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eyedropper" viewBox="0 0 16 16">' +
                                            '<path d="M13.354.646a1.207 1.207 0 0 0-1.708 0L8.5 3.793l-.646-.647a.5.5 0 1 0-.708.708L8.293 5l-7.147 7.146A.5.5 0 0 0 1 12.5v1.793l-.854.853a.5.5 0 1 0 .708.707L1.707 15H3.5a.5.5 0 0 0 .354-.146L11 7.707l1.146 1.147a.5.5 0 0 0 .708-.708l-.647-.646 3.147-3.146a1.207 1.207 0 0 0 0-1.708zM2 12.707l7-7L10.293 7l-7 7H2z"/>' +
                                            '</svg>' +
                                            '</a>' +
                                            '</div>')
                                            .on('dxclick', function() {
                                                updateSkill(options.data);
                                            }).appendTo(container);
                                        // Optional: update title attribute on SVG as well (for tooltip consistency)
                                        buttonElement.find('svg').attr('title', 'Update Skill');
                                    }
                                },
                                {
                                    dataField: '',
                                    caption: '',
                                    alignment: 'center',
                                    width: '50px',
                                    cellTemplate: function (container, options) {
                                        var buttonElement = $('<div class="d-flex order-actions">' +
                                            '<a href="javascript:;" class="delete-action" title="Delete Skill">' +
                                            '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">' +
                                            '<path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>' +
                                            '</svg>' +
                                            '</a>' +
                                            '</div>')
                                            .on('dxclick', function() {
                                                deleteSkill(options.data);
                                            }).appendTo(container);
                                        // Optional: update title attribute on SVG as well (for tooltip consistency)
                                        var svgElement = buttonElement.find('svg');
                                        svgElement.attr('title', 'Delete Skill');
                                    }
                                }
                            ],
                            columnsAutoWidth: true,
                            wordWrapEnabled: false,
                            rowAlternationEnabled: false,
                            showBorders: true,
                            grouping: { autoExpandAll: true },
                            paging: { pageSize: 5 },
                            pager: { showPageSizeSelector: true, allowedPageSizes: [5, 15, 25, 50] },
                           // headerFilter: { visible: true },
                          //  filterRow: { visible: true, applyFilter: "auto" },
                            //allowColumnResizing: true,
                            //groupPanel: { visible: true },
                           // searchPanel: { visible: true, width: 240, placeholder: "Search..." },
                            //allowColumnReordering: true,
                            columnFixing: { enabled: false },

                            onContentReady(e) {
                                // $('#rowCount1').html('Total Records: ' + $("#GridContainer").dxDataGrid('instance').totalCount());
                            }
                        }).dxDataGrid('instance');

                       
                
            },
            error: function(error) {
                console.error('Error fetching branch data:', error);
            }
        });

    }

    function updateSkill(skillData) {
           clearSkillForm();
                           $('#txtSkillComments').val(skillData.comments||'');
                    $('#txtYearsOfExp').val(skillData.yearsOfExperience||'');
               $('#ddlSkill').val(skillData.skillMasterId||'');
              employeeProfile_SkillId=skillData.employeeProfile_SkillId
    }

               function deleteSkill(data)
               {
                  if (!confirm("Are you sure you want to delete this?"))
                  {
                       return; // Cancel the delete operation
                   }

                   var deleteObj = {
                       id: data.employeeProfile_SkillId,
                        deletedBy: localStorage.getItem("EmployeeId")
                   };

                   $.ajax({
                       url: '@baseUrl/EmployeeProfileSkillAPI/DeleteEmployeeProfileSkill',
                       type: 'DELETE',
                       contentType: 'application/json',
                       headers: {
                               'Authorization': 'Bearer ' + localStorage.getItem("authToken")
                       },
                       data: JSON.stringify(deleteObj),
                       success: function (response) {
                           if(response.isSuccess)
                           {
                             round_success_noti(response.responseMessage);
                                  loadEmployeeSkills();
                           }
                           else
                           {
                               round_error_noti(response.responseMessage)
                           }
                         
                       },
                       error: function (error) {
                              console.log(error);
                       }
                   });
               }
});

</script>
