.compact-control {
    width: 160px;
    min-width: 140px;
}

.form-group {
    margin-bottom: 0.3rem; /* adjusted for a visible but small gap */
}

label {
    min-width: 80px;
    white-space: nowrap;
    margin-bottom: 0;
}
