
.card-header h6 {
    font-weight: bold !important;
}

.pt-2 {
    padding-bottom: .5rem !important;
}

.rowCount {
    font-weight: 400 !important;
}

.dx-datagrid-table tr td {
    /*font-weight: inherit !important;*/
    color: black;
    /*font-size:12px;*/
    /*border: 1px solid #f7f7f7 !important;*/
}

.dx-header-row {
    /*background-color: #f8f9fa !important;*/
    background-color: #008cff96 !important;
}

.dx-datagrid-table {
    /*border: 1px solid #f7f7f7 !important;*/
    /*border-top: 1px solid #f7f7f7 !important;
    border-bottom: 1px solid #f7f7f7 !important;*/
}

    .dx-datagrid-table tr {
        border: 1px solid #f7f7f7 !important;
        /* border-top: 1px solid #f7f7f7 !important;
        border-bottom: 1px solid #f7f7f7 !important;*/
    }

.dx-dropdowneditor-icon {
    color: #cacaca;
}

.dx-icon {
    color: #8c8a8c !important;
}

/* Make column headers bold */
.dx-datagrid-action .dx-datagrid-text-content {
    font-weight: bold !important;
}



.order-actions a {
    width: 30px !important;
    height: 30px !important;
    text-decoration: none !important;
}


.search-control {
    background-color: #f7f7ff !important;
    border: 1px solid #e9e9f6 !important;
    padding-left: 2.5rem !important;
    width: 140% !important;
}
/*Hide cache grid html*/
.cacheGrid {
    display: none !important;
}
