@inject IConfiguration Configuration
@{
    ViewData["Title"] = "Reset Password";
    Layout = "~/Areas/AdminPanel/Views/Shared/_AdminLayout.cshtml";
    string baseUrl = Configuration["BaseUrlSettings:baseUrl"];
    string UIBaseUrl = Configuration["UIBaseUrlSettings:baseUrl"];
}

    <style>
        .required-star {
            color: red;
            margin-left: 2px;
        }

        .text-danger {
            font-size: 13px;
        }

    a > .bx:hover {
        color: black;
    }

    </style>

   
           <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3">
                    <div class="col mx-auto">
                       
                        <!-- Change Password Form Card -->
                        <div class="card">
                            <div class="card-body">
                                <div class="border p-4 rounded">
                                    <div class="form-body">
                                        <h5 class="text-center mb-3">🔐 Reset Employee Password</h5>

                                      

                                    <div class="col-12 mb-2">
                                        <div class="mt-3 form-floating-custom">
                                            <div class="searchable-select-wrapper" id="branchWrapper">
                                                <label for="ddlBranch">Branch <span class="text-danger">*</span></label>
                                                <input type="text" class="searchable-select-input" id="ddlBranch" readonly>
                                                <span class="searchable-select-arrow">
                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                                                        <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                                                    </svg>
                                                </span>
                                                <div class="searchable-select-dropdown">
                                                    <div class="searchable-select-search">
                                                        <input type="text" placeholder="Search branch..." class="search-input">
                                                    </div>
                                                    <div class="searchable-select-options"></div>
                                                </div>
                                            </div>
                                             <span id="spnBranch" class="text-danger d-none">Please Select Branch</span>
                                        </div>
                                    </div>

                                    <div class="col-12 mb-2">
                                        <div class="mt-3 form-floating-custom">
                                            <div class="searchable-select-wrapper" id="initialWrapper">
                                                <label for="ddlEmployee">Employee <span class="text-danger">*</span></label>
                                                <input type="text" class="searchable-select-input" id="ddlEmployee" readonly>
                                                <span class="searchable-select-arrow">
                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                                                        <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                                                    </svg>
                                                </span>
                                                <div class="searchable-select-dropdown">
                                                    <div class="searchable-select-search">
                                                        <input type="text" placeholder="Search employee..." class="search-input">
                                                    </div>
                                                    <div class="searchable-select-options"></div>
                                                </div>
                                            </div>
                                            <span id="spnEmployee" class="text-danger d-none">Please Select Employee</span>
                                        </div>
                                    </div>

                                   

                                        <!-- New Password -->
                                        <div class="col-12 mb-2">
                                            <label class="form-label">New Password <span class="required-star">*</span></label>
                                            <div class="input-group" id="show_hide_new">
                                     <input type="password" class="form-control " data-trim-input id="newpassid" placeholder="Enter new password" value="Relay@123" autocomplete="off" />
                                                <a href="javascript:;" class="input-group-text bg-transparent"><i class='bx bx-hide'></i></a>
                                            </div>
                                            <span id="spnNew" class="text-danger d-none">Please enter new password</span>
                                            <span id="spnPattern" class="text-danger d-none">Password must be at least 8 characters, include uppercase, lowercase, number and special character</span>
                                        </div>

                                        <!-- Confirm Password -->
                                        <div class="col-12 mb-2">
                                            <label class="form-label">Confirm Password <span class="required-star">*</span></label>
                                            <div class="input-group" id="show_hide_confirm">
                                        <input type="password" class="form-control " data-trim-input id="confirmpassid" placeholder="Confirm new password" />
                                                <a href="javascript:;" class="input-group-text bg-transparent"><i class='bx bx-hide'></i></a>
                                            </div>
                                            <span id="spnConfirm" class="text-danger d-none">Please confirm password</span>
                                            <span id="spnMatch" class="text-danger d-none">Passwords do not match</span>
                                        </div>

                                        <!-- Submit -->
                                        <div class="col-12 ">
                                            <div class="d-grid gap-2">


                                             <button type="button" id="btnResetPassword" class="btn " style="background-color:#2395c6 !important; color:white !important;">
                                                  <i class='bx bx-reset'></i>  Reset Password
                                                </button>
                                              <button type="button" class="btn " style="background-color:#2395c6 !important; color:white !important;display:none;" disabled id="btnResetingPassword">
                                                    <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
                                                      Reset Password
                                                </button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END CARD -->
                    </div>
                </div>
           
  
   
    <script src="~/assets/js/jquery.min.js"></script>
   
    <script>

      const companyDetails = JSON.parse(localStorage.getItem('selectedCompany'));
    const CompanyId=companyDetails.CompanyId;
    const EmployeeId=localStorage.getItem('EmployeeId');
    const Token=localStorage.getItem("authToken");


        const RoleSlug=localStorage.getItem('RoleSlug');
        const previousUrl = localStorage.getItem("PreviousPageUrl");

        function validatePasswordPattern(password) {
            const pattern = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[\W_]).{8,}$/;
            return pattern.test(password);
        }

        function hideAllSpans() {
                    $("#spnBranch,#spnEmployee, #spnNew, #spnConfirm, #spnMatch, #spnPattern").addClass("d-none");
        }

        $(document).ready(function () {
               // ClearResetPassword();

                  $('#ddlEmployee').searchableSelect({
                    data: [],
                    valueKey: 'employeeId',
                    textKey: 'employeeName',
                    placeholder:'Employee',
                    searchPlaceholder: 'Search employee...',
                    onChange: function(item) {
                    }
                });
                bindBranch();
            // Show/hide passwords
                $('#show_hide_new i, #show_hide_confirm i').on('click', function () {
                    const input = $(this).closest('.input-group').find('input');
                    const icon = $(this);

                    if (input.attr('type') === 'password') {
                        input.attr('type', 'text');
                        icon.removeClass('bx-hide').addClass('bx-show');
                    } else {
                        input.attr('type', 'password');
                        icon.removeClass('bx-show').addClass('bx-hide');
                    }
                });


                function showBtnLoder()
                {
                    $('#btnResetPassword').hide();
                        $('#btnResetingPassword').show();
                }
                function hideBtnLoder()
                {
                    $('#btnResetPassword').show();
                        $('#btnResetingPassword').hide();
                }

             $('#btnResetPassword').click(function () {
                     showBtnLoder();
                hideAllSpans();
                 const empId =$('#ddlEmployee').data('searchableSelect').getValue();

                const newPassword = $('#newpassid').val();
                const confirmPassword = $('#confirmpassid').val();

                let isValid = true;

                 if (!$('#ddlBranch').data('searchableSelect').getValue()) {
                    $("#spnBranch").removeClass("d-none");
                    isValid = false;
                }
                 if (!empId) {
                    $("#spnEmployee").removeClass("d-none");
                    isValid = false;
                }
              
                if (!newPassword) {
                    $("#spnNew").removeClass("d-none");
                    isValid = false;
                }

                if (!confirmPassword) {
                    $("#spnConfirm").removeClass("d-none");
                    isValid = false;
                }

                if (newPassword && !validatePasswordPattern(newPassword)) {
                    $("#spnPattern").removeClass("d-none");
                    isValid = false;
                }
              
                if (newPassword && confirmPassword && newPassword !== confirmPassword) {
                    $("#spnMatch").removeClass("d-none");
                    isValid = false;
                }

                if (!isValid)
                {
                      hideBtnLoder();
                  return;
                }

                
                const payload = {
                    UserId:EmployeeId,
                    EmployeeId: empId,
                    NewPassword: newPassword
                };

                $.ajax({
                    url: '@baseUrl/PasswordHistoryAPI/ResetPassword',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(payload),
                         headers: {
                            'Authorization': 'Bearer ' + Token
                    },
                    success: function (response) {
                        if (response.isSuccess) {
                                round_success_noti(response.responseMessage);
                               ClearResetPassword();
                        } else {
                            round_error_noti(response.responseMessage);
                        }

                                hideBtnLoder();
                    },
                    error: function () {
                        round_error_noti("Something went wrong.");
                               hideBtnLoder();
                    }
                });
            });
        });

        function ClearResetPassword(){
           
            const dropdownddlBranch = $('#ddlBranch').data('searchableSelect');
            if(dropdownddlBranch){
                    dropdownddlBranch.clear()
            }
            const dropdownddlEmployee = $('#ddlEmployee').data('searchableSelect');
            if(dropdownddlEmployee){
                    dropdownddlEmployee.clear()
            }
            
            $('#newpassid').val("");
          $('#confirmpassid').val("");
              hideAllSpans();
        }

         
     async  function bindBranch() {
        return new Promise((resolve, reject) => {
            $.ajax({
                url: '@baseUrl/BranchAPI/GetAllBranchesListByCompanyId/' + CompanyId,
                method: 'GET',
                headers: {
                        'Authorization': 'Bearer ' + Token
                },
                success: function (data) {
                    if (data.isSuccess) {
                           $('#ddlBranch').searchableSelect({
                                data: data.data||[],
                                valueKey: 'branchId',
                                textKey: 'branchName',
                                placeholder:'Branch',
                                searchPlaceholder: 'Search branch...',
                                onChange: function(item) {
                                      bindEmployee(item.branchId);
                                }
                            });

                        resolve(data.data);
                    } else {
                        reject('Failed to fetch branches');
                    }
                },
                error: function (error) {
                    reject(error);
                }
            });
        });
    }

        async function bindEmployee(branchId) {
                if(!branchId)
                {
                    return Promise();
                }
          var payLoad={
            BranchId:branchId,
            CompanyId:CompanyId
        }
        return new Promise((resolve, reject) => {
            $.ajax({
                url: '@baseUrl/EmployeeMasterAPI/GetEmployeeListByBranchId',
                method: 'POST',
                contentType: 'application/json',
                headers: {
                    'Authorization': 'Bearer ' + Token
                },
                data: JSON.stringify(payLoad),
                success: function (data) {
                    if (data.isSuccess) {

                            const dropdownddlEmployee = $('#ddlEmployee').data('searchableSelect');
                                if(dropdownddlEmployee){
                                        dropdownddlEmployee.setData(data.data);
                                }
                        resolve(data.data);
                    } else {
                        reject('Failed to fetch employees');
                    }
                },
                error: function (error) {
                    reject(error);
                }
            });
        });
    }


    </script>
