@{
    ViewData["Title"] = "Investment Declaration";
    Layout = "~/Areas/EmployeePanel/Views/Shared/_EmployeeLayout.cshtml";
    string baseUrl = ViewBag.BaseUrl;
}

<link href="~/commoncss.css" rel="stylesheet" />

<style>
    .fixed-label {
        min-width: 180px;
        white-space: nowrap;
        margin-bottom: 0;
        text-align: right;
    }

</style>
    <div class="card">
        <div class="card-header bg-transparent ml-0 py-0">
            <div class="row">
                <div class="col-6">
                    <h4 class="pt-2 mb-0">
                      Shift Import
                    </h4>
                </div>
            </div>
    <div class="card">
    <!-- Sub-heading and Add Button -->
    <div class="card mb-4">
        <div class="card-header bg-transparent">
            <div class="row align-items-center">
                <div class="col">
                            <h6 class="mb-0">Import Shift Rotation Data</h6>
                </div>
                <div class="col-auto">
                    <a href="@Url.Action("ShiftImport", "MyTeam", new { area = "EmployeePanel" })" class="btn btn-primary">Back</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <form>
            <div class="col-md-8 mx-auto">

                        <div class="row mb-3 justify-content-center">
                    <!-- For Date -->
                    <div class="col-md-6">
                        <div class="d-flex align-items-center">
                                    <label for="fileid" class="fixed-label me-2">Import File<span class="text-danger">*</span>:</label>
                                    <input type="file" class="form-control form-control-sm" id="fileid" />
                        </div>
                    </div>                         
                </div>

                        <div class="row mb-3 justify-content-center">
                            <!-- For Date -->
                            <div class="col-md-6">
                                <div class="d-flex align-items-center">
                                    <label for="sheetid" class="fixed-label me-2">Sheet Name<span class="text-danger">*</span>:</label>
                                    <input type="text" class="form-control form-control-sm" id="sheetid" />
                                </div>
                            </div>



                        </div>

                        <div class="row mb-3 justify-content-center">
                            <!-- For Date -->
                            <div class="col-md-6">
                                <div class="d-flex align-items-center">
                                    <label for="rowid" class="fixed-label me-2">Row No From<span class="text-danger">*</span>:</label>
                                    <input type="text" class="form-control form-control-sm" id="rowid" />
                                </div>
                            </div>



                        </div>
                        <div class="row mb-3 justify-content-center">
                            <!-- For Date -->
                            <div class="col-md-6">
                                <div class="d-flex align-items-center">
                                    <label for="rowtoid" class="fixed-label me-2">Row No To<span class="text-danger">*</span>:</label>
                                    <input type="text" class="form-control form-control-sm" id="rowtoid" />
                                </div>
                            </div>



                        </div>
                        <div class="row mb-3 justify-content-center">
                            <div class="col-md-5 d-flex align-items-center justify-content-center gap-4">
                                <label class="fixed-label me-2">Import By:</label>

                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="Status" id="shiftid">
                                    <label class="form-check-label" for="shiftid">Shift ID</label>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="Status" id="shiftname">
                                    <label class="form-check-label" for="shiftname">Shift Name</label>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3 justify-content-center">
                            <div class="col-md-5 text-start">
                                <label class="fixed-label me-2">Download Samples:</label>
                                <a href="#" class="ms-2 text-primary text-decoration-underline" target="_blank">Click Here</a>
                            </div>
                        </div>


                <!-- GO and Clear Buttons -->
                <div class="row mb-3 justify-content-center">
                    <div class="col-md-6 text-center">
                        <button type="button" class="btn btn-primary btn-sm">Submit</button>
                    </div>
                </div>

                
            </div>
        </form>
    </div>
   </div>
  </div>
</div>