@{
    ViewData["Title"] = "Shift Changes Details";
    Layout = "~/Areas/EmployeePanel/Views/Shared/_EmployeeLayout.cshtml";
    string baseUrl = ViewBag.BaseUrl;
}

<div class="card">
    <div class="card-header bg-transparent py-2">
        <div class="row">
            <div class="col-6">
                <h4 class="mb-0">My Team Detail</h4>
            </div>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-header bg-transparent">
            <div class="row align-items-center">
                <div class="col">
                    <h6 class="mb-0">Employee Records</h6>
                </div>
            </div>
        </div>

        <div class="card-body">
            <form>
                <div class="col-md-8 mx-auto">
                    <!-- Radio Buttons -->
                    <div class="row mb-3">
                        <div class="col-md-4 d-flex justify-content-center gap-4">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="Status" id="indirecctid" value="Indirect">
                                <label class="form-check-label" for="indirecctid">Indirect</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="Status" id="directlyid" value="Direct" checked>
                                <label class="form-check-label" for="directlyid">Direct</label>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <!-- Employee Grid -->
            <div class="table-responsive">
                <table class="table table-bordered table-hover text-center">
                    <thead>
                        <tr>
                            <th style="  font-size: 1.00rem;">Employee Code</th>
                            <th style=" font-size: 1.00rem;">Employee Name</th>
                        </tr>
                    </thead>
                    
                </table>
            </div>

        </div>
    </div>
</div>
