
    .modal-company{
    display: none;
    position: fixed;
    z-index: 999;
    padding-top: 80px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
}

.modal-content-company {
    background-color: #fff;
    margin: auto;
    width: 70%;
    max-width: 600px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.modal-header-company {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    border-bottom: 1px solid #ccc;
    background-color: #cee3f6;
}


.close-company {
    font-size: 26px;
    font-weight: bold;
    color: #aaa;
    cursor: pointer;
    transition: color 0.3s;
    margin-right: 12px;
}

    .close-company:hover {
        color: #ff0000;
    }

.company-box-container {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: -1px;
}

.company-box {
    flex: 1 0 45%;
    padding: 12px;
    background-color: #f3f3f3;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.2s ease;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

    .company-box:hover {
        background-color: #007bff;
        color: white;
        cursor: pointer;
    }

.loader-wrapper {
    display: none;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.company-box[title]::after {
    content: attr(title);
}