@inject IConfiguration Configuration
@{
    string baseUrlLayout = Configuration["BaseUrlSettings:baseUrl"];
    string UIBaseUrlLayout = Configuration["UIBaseUrlSettings:baseUrl"];
    var uri = new Uri(baseUrlLayout);
    string baseDomainUrl = $"{uri.Scheme}://{uri.Host}:{uri.Port}";
}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--favicon-->
    <link rel="icon" href="~/assets/images/relayfevicon.jpeg" type="image/png" />
    <!--plugins-->
    <link rel="stylesheet" href="~/assets/plugins/notifications/css/lobibox.min.css" />
    <link href="~/assets/plugins/simplebar/css/simplebar.css" rel="stylesheet" />
    <link href="~/assets/plugins/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet" />
    <link href="~/assets/plugins/metismenu/css/metisMenu.min.css" rel="stylesheet" />
    <!-- Bootstrap CSS -->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/css/bootstrap-extended.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link href="~/assets/css/app.css" rel="stylesheet">
    <link href="~/assets/css/icons.css" rel="stylesheet">
    <!-- Theme Style CSS -->
    <link rel="stylesheet" href="~/assets/css/dark-theme.css" />
    <link rel="stylesheet" href="~/assets/css/semi-dark.css" />
    <link rel="stylesheet" href="~/assets/css/header-colors.css" />
    <link rel="stylesheet" href="https://cdn3.devexpress.com/jslib/21.1.5/css/dx.common.css">
    <link rel="stylesheet" href="https://cdn3.devexpress.com/jslib/21.1.5/css/dx.light.css">
    <!--Compnay modal css-->
    <link href="~/assets/css/company-modal.css" rel="stylesheet" />
    <title>Online Payroll & HRMS</title>

    <style>

        .readonly {
            pointer-events: none;
            color: gray;
            opacity: 0.3;
            cursor: not-allowed;
        }



        body, html {
            height: 100%;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }

        .page-wrapper {
            display: flex;
            height: 100vh;
            transition: margin-left 0.3s;
        }



        .main-content {
            flex: 1;
            overflow-y: auto;
            height: 100vh;
        }




        .dropdown {
            margin: 20px;
        }

            .dropdown select {
                width: 100%;
                padding: 10px;
                font-size: 16px;
                border: 1px solid #ccc;
                border-radius: 4px;
            }


        .dx-datagrid .dx-row > td {
            padding: 1px;
        }

        .dx-widget {
            font-size: 12px;
        }

        .dropdown-submenu {
            position: relative;
        }

            .dropdown-submenu .sub-menu {
                display: none;
                position: absolute;
                top: 0; /* Aligns to top of parent */
                left: 100%; /* Opens to the right of parent */
                background: #fff;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-shadow: 0 0 10px rgba(0,0,0,0.1);
                min-width: 160px;
                padding: 0;
                z-index: 999;
            }

            /* Show submenu on hover */
            .dropdown-submenu:hover .sub-menu {
                display: block;
            }

            /* Optional arrow for submenu */
            .dropdown-submenu > a::after {
                content: "▶";
                position: absolute;
                right: 5px;
                top: 50%;
                transform: translateY(-50%);
                font-size: 12px;
                color: #6c757d;
            }

        /* Submenu items */
        .sub-menu .dropdown-item {
            padding: 8px 12px;
            white-space: nowrap;
        }

        .sub-menu {
            list-style: none; /* Removes bullets */
            padding-left: 0; /* Removes default left padding */
        }


        /*  grid padding td */
        .dx-datagrid .dx-row > td {
            padding: 2px;
        }
        /*  grid border */
        .dx-row > td, .dx-row > tr > td {
            border: 1px solid #ced4da;
        }

        .navbar {
            padding-top: 5px !important;
            padding-bottom: 5px !important;
            min-height: 50px !important;
        }


    </style>
    <style>
        .companyNameLayout {
            max-width: 300px;
            overflow-x: auto;
            white-space: nowrap;
            position: relative;
            -webkit-overflow-scrolling: touch;
            scrollbar-width: none; /* Firefox */
            -ms-overflow-style: none; /* IE 10+ */
        }

            .companyNameLayout::-webkit-scrollbar {
                display: none; /* Chrome, Safari, Edge */
            }

        .custom-tooltip {
            display: inline-block;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            cursor: grab;
            position: relative;
        }

            .custom-tooltip::after {
                content: attr(data-tooltip);
                position: absolute;
                bottom: 150%;
                left: 0;
                background: rgba(0, 0, 0, 0.85);
                color: #fff;
                padding: 6px 10px;
                border-radius: 5px;
                white-space: normal;
                max-width: 400px;
                opacity: 0;
                pointer-events: none;
                transition: opacity 0.3s ease-in-out;
                z-index: 1000;
            }

            .custom-tooltip:hover::after {
                opacity: 1;
            }

    </style>
    <style>
        #dropdownChangeCompany,
        #dropdownESSSwitch, #drpManageRoleAndPermission, 
        #drpCompanyInformationMenu {
            display:none;
        }
    </style>
    <style>
        .navbar-nav {
            flex-wrap: wrap; /* Allow wrapping to new line if needed */
        }

        .navbar .nav-item {
            margin-right: 0px !important; /* Reduce horizontal space */
        }

        .navbar .nav-link {
            padding: 5px 7px !important; /* Slightly tighter padding */
            font-size: 13px !important; /* Reduce font size just a bit */
        }
    </style>

</head>

<body >
    <!--wrapper-->
    <div class="wrapper body-hiden-wrapper" style="display:none;">
        <!--start header -->
        <header>
            <div class="topbar d-flex align-items-center">
                <nav class="navbar navbar-expand">
                    <div class="topbar-logo-header">
                        <div class="">
                            <img src="~/assets/images/relaylogo.jpeg" class="logo-icon" alt="logo icon">
                        </div>

                    </div>
                    <div class="mobile-toggle-menu"><i class='bx bx-menu'></i></div>
                    <div class="search-bar flex-grow-1">
                        <div class="position-relative search-bar-box">
                            <input type="text" class="form-control search-control" placeholder="Type to search..."> <span class="position-absolute top-50 search-show translate-middle-y"><i class='bx bx-search'></i></span>
                            <span class="position-absolute top-50 search-close translate-middle-y"><i class='bx bx-x'></i></span>
                        </div>
                    </div>
                    <div class="top-menu ms-auto">
                        <div class="companyNameLayout h5">
                            <span class="custom-tooltip"></span>
                        </div>

                    </div>
                    <div class="user-box dropdown">
                        <a class="d-flex align-items-center nav-link dropdown-toggle dropdown-toggle-nocaret" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="@baseDomainUrl/default-image/avatar-2.png" class="user-img" alt="user avatar">
                            <div class="user-info ps-3">
                                <p class="user-name mb-0">User's Name</p>
                                <p class="designattion mb-0">Designation</p>
                            </div>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li id="dropdownESSSwitch">
                                <a class="dropdown-item" href="@UIBaseUrlLayout/EmployeePanel/Home/index"><i class="bx bx-user"></i><span>ESS</span></a>
                            </li>
                            <li id="dropdownChangeCompany">
                                <a class="dropdown-item" href="javascript:;" id="companyDrop"><i class="bx bx-building"></i><span>Change Company</span></a>
                            </li>
                            @*
					<a class="dropdown-item" href="javascript:;"><i class='bx bx-home-circle'></i><span>Dashboard</span></a>
				</li>
				<li>
					<a class="dropdown-item" href="javascript:;"><i class='bx bx-dollar-circle'></i><span>Earnings</span></a>
				</li>
				<li>
					<a class="dropdown-item" href="javascript:;"><i class='bx bx-download'></i><span>Downloads</span></a>
				</li>
				<li>
					<div class="dropdown-divider mb-0"></div>
				</li> *@
                            <li>
                                <a class="dropdown-item" href="javascript:;" id="btnLogout"><i class='bx bx-log-out-circle'></i><span>Logout</span></a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
        <!--end header -->
        <!--navigation-->
        <div class="nav-container primary-menu">
            <div class="mobile-topbar-header">
                <div>
                    <img src="~/assets/images/logo-icon.png" class="logo-icon" alt="logo icon">
                </div>
                <div>
                    <h4 class="logo-text">Rukada</h4>
                </div>
                <div class="toggle-icon ms-auto">
                    <i class='bx bx-arrow-to-left'></i>
                </div>
            </div>
            <nav class="navbar navbar-expand-xl w-100">
                <ul class="navbar-nav justify-content-start flex-grow-1 gap-0">

                    <li class="nav-item d-flex align-items-center">

                        <a class="nav-link" href="../Home/Index">
                            <div class="parent-icon">
                                <i class='bx bx-home-circle'></i>
                            </div>
                            <div class="menu-title">Dashboard</div>
                        </a>
                    </li>

                    <li class="nav-item dropdown">
                        <a href="javascript:;" class="nav-link dropdown-toggle dropdown-toggle-nocaret" data-bs-toggle="dropdown">
                            <div class="parent-icon"><i class='bx bx-cart'></i></div>
                            <div class="menu-title">Control Panel</div>
                        </a>
                        <ul class="dropdown-menu">

                            <li class="dropdown-submenu" id="drpCompanyInformationMenu">
                                <a class="dropdown-item has-submenu" href="javascript:;">
                                    Company Information
                                </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a class="dropdown-item" href="@UIBaseUrlLayout/AdminPanel/CompanyInformation/CompanyDetails">Company Details</a>
                                    </li>

                                </ul>

                            </li>

                            <li class="dropdown-submenu" id="drpManageRoleAndPermission">
                                <a class="dropdown-item has-submenu" href="javascript:;">
                                   Manage Role and Permission
                                </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a class="dropdown-item" href="@UIBaseUrlLayout/AdminPanel/ManageRole/ManageRole" >Manage Role</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="@UIBaseUrlLayout/AdminPanel/PermissionMaster/PermissionMaster" >Manage Permission</a>
                                    </li>
                                </ul>

                            </li>
                           
                            
                            <li>

                                <a class="dropdown-item" href="@UIBaseUrlLayout/AdminPanel/ImportData/Index" >Import Data</a>
                            </li>
                            <li class="dropdown-submenu">
                                <a class="dropdown-item has-submenu" href="javascript:;">
                                   Assign Permission
                                    </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a class="dropdown-item" href="@UIBaseUrlLayout/AdminPanel/ManageRolePermission/RolePermission" >Assign Role</a>
                                    </li>

                                </ul>

                            </li>
                        </ul>


                    </li>


                    <li class="nav-item dropdown">
                        <a href="javascript:;" class="nav-link dropdown-toggle dropdown-toggle-nocaret" data-bs-toggle="dropdown">
                            <div class="parent-icon">
                                <i class='bx bx-cart'></i>
                            </div>
                            <div class="menu-title">Job Master</div>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="@UIBaseUrlLayout/AdminPanel/JobMaster/State"><i class="bx bx-right-arrow-alt"></i>State Master</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="@UIBaseUrlLayout/AdminPanel/JobMaster/ManageBranch"><i class="bx bx-right-arrow-alt"></i>Branch Master</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="@UIBaseUrlLayout/AdminPanel/JobMaster/ManageDepartment"><i class="bx bx-right-arrow-alt"></i>Department Master</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="@UIBaseUrlLayout/AdminPanel/JobMaster/ManageDesignation"><i class="bx bx-right-arrow-alt"></i>Designation Master</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="@UIBaseUrlLayout/AdminPanel/JobMaster/ManageGrade"><i class="bx bx-right-arrow-alt"></i>Grade Master</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="@UIBaseUrlLayout/AdminPanel/JobMaster/Reason"><i class="bx bx-right-arrow-alt"></i>Reason Master</a>
                            </li>
                        </ul>
                    </li>


                    <li class="nav-item dropdown">
                        <a href="javascript:;" class="nav-link dropdown-toggle dropdown-toggle-nocaret" data-bs-toggle="dropdown">
                            <div class="parent-icon">
                                <i class='bx bx-cart'></i>
                            </div>
                            <div class="menu-title">Other Master</div>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="@UIBaseUrlLayout/AdminPanel/OtherMaster/OrganizationPolicy"><i class="bx bx-right-arrow-alt"></i>Organization Policy</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="@UIBaseUrlLayout/AdminPanel/OtherMaster/GeoLocationMasterAssign"><i class="bx bx-right-arrow-alt"></i>Geo Location Master-Assign</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="@UIBaseUrlLayout/AdminPanel/OtherMaster/TicketType"><i class="bx bx-right-arrow-alt"></i>Ticket Type</a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown" id="drpCompanyStructureMenu">
                        <a href="javascript:;" class="nav-link dropdown-toggle dropdown-toggle-nocaret" data-bs-toggle="dropdown">
                            <div class="parent-icon">
                                <i class='bx bx-cart'></i>
                            </div>
                            <div class="menu-title">Company Structure</div>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="@UIBaseUrlLayout/AdminPanel/CompanyStructure/BankMaster"><i class="bx bx-right-arrow-alt"></i>Bank Master</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="@UIBaseUrlLayout/AdminPanel/CompanyStructure/WeekOffMaster"><i class="bx bx-right-arrow-alt"></i>WeekOff Master</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="@UIBaseUrlLayout/AdminPanel/CompanyStructure/HolidayMaster"><i class="bx bx-right-arrow-alt"></i>Holiday Master</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="@UIBaseUrlLayout/AdminPanel/CompanyStructure/WarningMaster"><i class="bx bx-right-arrow-alt"></i>Warning Master</a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a href="javascript:;" class="nav-link dropdown-toggle dropdown-toggle-nocaret" data-bs-toggle="dropdown">
                            <div class="parent-icon">
                                <i class='bx bx-cart'></i>
                            </div>
                            <div class="menu-title">Employee Master</div>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="@UIBaseUrlLayout/AdminPanel/EmployeeMaster/EmployeeMaster"><i class="bx bx-right-arrow-alt"></i>Employee Master</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="@UIBaseUrlLayout/AdminPanel/LeftEmployee/LeftEmployeeDetails"><i class="bx bx-right-arrow-alt"></i>Left Employee Details</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="@UIBaseUrlLayout/AdminPanel/EmployeeIncrement/EmployeeIncrementApplication"><i class="bx bx-right-arrow-alt"></i>Employee Increment Application</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="@UIBaseUrlLayout/AdminPanel/GradeAllowance/GradeAllowance">
                                    <i class="bx bx-right-arrow-alt"></i>
                                    Gradewise Allowance
                                </a>
                            </li>

                            <li>
                                <a class="dropdown-item" href="@UIBaseUrlLayout/AdminPanel/Increment/EmployeeIncrement">
                                    <i class="bx bx-right-arrow-alt"></i>
                                    Employee Increment
                                </a>
                            </li>

                            <li>
                                <a class="dropdown-item" href="@UIBaseUrlLayout/AdminPanel/BulkIncrement/BulkIncrement">
                                    <i class="bx bx-right-arrow-alt"></i>
                                    Bulk Increment
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a href="javascript:;" class="nav-link dropdown-toggle dropdown-toggle-nocaret" data-bs-toggle="dropdown">
                            <div class="parent-icon">
                                <i class='bx bx-cart'></i>
                            </div>
                            <div class="menu-title">Salary Details</div>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="@UIBaseUrlLayout/AdminPanel/SalaryDetails/Index"><i class="bx bx-right-arrow-alt"></i>Salary Master</a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a href="javascript:;" class="nav-link dropdown-toggle dropdown-toggle-nocaret" data-bs-toggle="dropdown">
                            <div class="parent-icon">
                                <i class='bx bx-cart'></i>
                            </div>
                            <div class="menu-title">Report</div>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="@UIBaseUrlLayout/AdminPanel/Report/AttendanceReports"><i class="bx bx-right-arrow-alt"></i>Attendance Reports</a>
                            </li>
                        
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
        <!--end navigation-->
        <!-- Sidebar -->
        <!--start page wrapper -->
        <div class="page-wrapper p-0" id="pageWrapper">

            <div class="main-content">

                <div class="page-content">

                    @RenderBody()

                </div>
            </div>
        </div>

        <!--end page wrapper -->
        <!--start overlay-->
        <div class="overlay toggle-icon"></div>
        <!-- Inject the partial here company bind-->
        <div id="companyModalContainer"></div>



        <!--end overlay-->
        <!--Start Back To Top Button--> <a href="javaScript:;" class="back-to-top"><i class='bx bxs-up-arrow-alt'></i></a>
        <!--End Back To Top Button-->
        <footer class="page-footer">
            <p class="mb-0">
                Copyright © @DateTime.Now.Year. All rights reserved.
            </p>
        </footer>
    </div>
    <!--end wrapper-->
    <!-- Bootstrap JS -->
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>
    <!--plugins-->
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/plugins/simplebar/js/simplebar.min.js"></script>
    <script src="~/assets/plugins/metismenu/js/metisMenu.min.js"></script>
    <script src="~/assets/plugins/perfect-scrollbar/js/perfect-scrollbar.js"></script>
    <script src="~/assets/plugins/notifications/js/lobibox.min.js"></script>
    <script src="~/assets/plugins/notifications/js/notifications.min.js"></script>
    <script src="~/assets/plugins/notifications/js/notification-custom-script.js"></script>
    <!--app JS-->
    <script src="~/assets/js/app.js"></script>
    <script src="https://cdn3.devexpress.com/jslib/21.1.5/js/dx.all.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jwt-decode@3.1.2/build/jwt-decode.min.js"></script>

    <script>
        var uiBaseUrlLayout='@UIBaseUrlLayout'
        var BaseUrlLayout='@baseUrlLayout';
        var BaseDomainUrl='@baseDomainUrl';
    </script>
    <script src="~/assets/js/logout.js"></script>
    <script>


    </script>
    <script src="~/assets/js/companymodalloader.js"></script>
    <script src="~/assets/js/permissions.js"></script>


</body>

</html>
