@inject IConfiguration Configuration
@{
    ViewData["Title"] = "Left Employee";
    Layout = "~/Areas/AdminPanel/Views/Shared/_AdminLayout.cshtml";
    string baseUrl = Configuration["BaseUrlSettings:baseUrl"];
}

<div class="card">
    <div class="card-header bg-transparent ml-0 py-0">
        <div class="row">
            <div class="col-6">
                <h6 class="pt-2 mb-0">
                    Left Employee Details
                </h6>
            </div>

            <div class="col-6 d-flex justify-content-end align-items-center">
                <div class="font-22 pl-2" style="color:#32393f; cursor:pointer;">
                    <i class="fadeIn animated bx bx-refresh" id="refreshData" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Refresh Data"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12 btn-heading-title">
                <div class="input-group mb-2">
                    <button id="addLeftEmployee"
                            type="button"
                            class="btn mr-1 rounded-1"
                            style="background-color:#2395c6; color:white;">
                        Add Left Employee
                    </button>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="rowCount" id="rowCountLeftEmployee"></div>
                    <div id="gridContainerLeftEmployee">
                       
                        <div class="d-flex justify-content-center align-items-center" style="height: 10vh;">
                            <div class="spinner-border text-primary" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<div class="modal fade" id="addEmployeeLeftModal" tabindex="-1" aria-labelledby="addEmployeeLeftLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <!-- Wider modal -->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title btn-heading-title" id="addEmployeeLeftLabel">Add Left Employee</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body modal-body-font">

                <!-- Reason Type: All checkboxes in one row -->
                <div class="row mb-3">
                    <div class="col-md-2">
                        <label class="form-label fw-bold">Reason Type:</label>
                    </div>

                    <div class="col-md-2">
                        <div class="form-check form-check-inline cursor-pointer">
                            <input class="form-check-input reasonType" type="checkbox" id="resignation" value="Resignation">
                            <label class="form-check-label" for="resignation">Resignation</label>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="form-check form-check-inline cursor-pointer">
                            <input class="form-check-input reasonType" type="checkbox" id="retirement" value="Retirement">
                            <label class="form-check-label" for="retirement">Retirement</label>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="form-check form-check-inline cursor-pointer">
                            <input class="form-check-input reasonType" type="checkbox" id="terminated" value="Terminated">
                            <label class="form-check-label" for="terminated">Terminated</label>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="form-check form-check-inline cursor-pointer">
                            <input class="form-check-input reasonType" type="checkbox" id="death" value="Death">
                            <label class="form-check-label" for="death">Death</label>
                        </div>
                    </div>
                </div>



                <!-- 3 fields per row -->
                <div class="row mb-3 gy-3">
                    <div class="col-md-4 position-relative">
                        <input type="date" class="form-control floating-input" id="leftDate">
                        <label class="floating-label" id="leftDateLabel" for="leftDate">Left Date *</label>
                    </div>
                    <div class="col-md-4 position-relative">
                        <select class="form-select floating-input" id="branch">
                            <option selected>--Select--</option>
                        </select>
                        <label class="floating-label" for="branch">Branch</label>
                    </div>
                    <div class="col-md-4 position-relative">
                        <select class="form-select floating-input" id="employee">
                            <option selected>--Select Employee--</option>
                        </select>
                        <label class="floating-label" for="employee">Employee *</label>
                    </div>


                    <div class="col-md-4 position-relative">
                        <input type="date" class="form-control floating-input" id="joinDate">
                        <label class="floating-label" for="joinDate">Join Date *</label>
                    </div>
                    <div class="col-md-4 position-relative  common-reason">
                        <input type="date" class="form-control floating-input" id="resignationDate">
                        <label class="floating-label" for="resignationDate">Resignation Date</label>
                    </div>
                    <div class="col-md-4 position-relative  common-reason">
                        <input type="date" class="form-control floating-input" id="resignationAcceptedDate">
                        <label class="floating-label" for="resignationAcceptedDate">Resignation Accepted Date *</label>
                    </div>

                    <div class="col-md-4 position-relative">
                        <select class="form-select floating-input" id="reason">
                                  <option selected>Resign</option>
                            <option selected>--Select Reason--</option>
                      
                        </select>
                        <label class="floating-label" for="reason">Reason</label>
                    </div>
                    <div class="col-md-4 position-relative">
                        <textarea class="form-control floating-input" id="otherReason" rows="1" placeholder=" "></textarea>
                        <label class="floating-label" for="otherReason">Other Reason</label>
                    </div>
                    <div class="col-md-4 position-relative   terminated-only common-reason">
                        <select class="form-select floating-input" id="uniformReturn">   
                            <option selected>No</option>
                            <option selected>Yes</option>
                            <option selected>NA</option>
                            <option selected>--Select--</option>
                        </select>
                        <label class="floating-label" for="uniformReturn">Uniform Return</label>
                    </div>

                    <div class="col-md-4 position-relative terminated-only common-reason">
                        <select class="form-select floating-input" id="exitInterview">                       
                            <option selected>No</option>
                            <option selected>Yes</option>
                            <option selected>NA</option>
                            <option selected>--Select--</option>
                        </select>
                        <label class="floating-label" for="exitInterview">Exit Interview</label>
                    </div>
                    <div class="col-md-4 position-relative  terminated-only common-reason">
                        <select class="form-select floating-input" id="noticePeriod">                          
                            <option selected>No</option>
                            <option selected>Yes</option>
                            <option selected>NA</option>
                            <option selected>--Select--</option>
                        </select>
                        <label class="floating-label" for="noticePeriod">Notice Period</label>
                    </div>
                    <div class="col-md-4 position-relative">
                        <select class="form-select floating-input" id="replaceManager">
                            <option selected>--Select Manager--</option>
                        </select>
                        <label class="floating-label" for="replaceManager">Replace Reporting Manager</label>
                    </div>

               
                    <div class="col-md-4 position-relative">
                        <select class="form-select floating-input" id="leftReasonPf">          
                            <option selected>Retirement</option>
                            <option selected>Death in Service</option>
                            <option selected>Supernnuation</option>
                            <option selected>Permanent Disbalemen</option>
                            <option selected>Classation(Short Service)</option>
                            <option selected>Death away from service </option>
                            <option selected>--Select--</option>
                        </select>
                        <label class="floating-label" for="leftReasonPf">Left Reason (PF)</label>
                    </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" style="background-color:#2395c6; color:white;">Save</button>
            </div>
        </div>
    </div>
</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

<script>
    $("#addLeftEmployee").click(() => {
        $("#addEmployeeLeftModal").modal('show');
    });

    const savedCompany = localStorage.getItem('selectedCompany');
    var companyDetails = JSON.parse(savedCompany);
    const CompanyId = companyDetails?.CompanyId;
    const EmployeeId = localStorage.getItem('EmployeeId');
    const Token = localStorage.getItem("authToken");

    $(document).ready(function () {
        BindBranchDropdown();

        function hideAllConditionalFields() {
            $('.common-reason').hide();
        }

        $('.reasonType').on('change', function () {
            // Uncheck all others
            $('.reasonType').not(this).prop('checked', false);

            // Default label
            let labelText = "Left Date *";

            // Hide all conditional fields first
            hideAllConditionalFields();

            // Show/hide fields and update label
            if ($(this).is(":checked")) {
                const reason = $(this).val();

                switch (reason) {
                    case "Resignation":
                        labelText = "Left Date *";
                            $('.common-reason').show();
                        break;
                    case "Retirement":
                        labelText = "Retirement Date *";
                           $('.common-reason').hide();
                        break;
                    case "Terminated":
                        labelText = "Terminate Date *";
                        $('.terminated-only').show();
                        break;
                    case "Death":
                        labelText = "Death Date *";
                            $('.common-reason').hide();
                        break;
                }
            }

            // Update the label
            $('#leftDateLabel').text(labelText);
        });

          $('#branch').on('change', function () {
            let branchId = $(this).val();
            if (branchId) {
                GetEmployeeByBranchId(branchId);
            } else {
                $('#employee').empty().append('<option value="">--Select Employee--</option>');
            }
        });
    });   


        function  BindBranchDropdown(){
        debugger;
       $.ajax({
            url: '@baseUrl/BranchAPI/GetAllBranchesListByCompanyId/'+CompanyId,
            method: 'GET',
                headers: {
                        'Authorization': 'Bearer ' + Token
                    },
            success: function(data) {
                if(data.isSuccess){
                        var dropdown = $('#branch');
                    dropdown.empty();
                    dropdown.append('<option disabled selected value="">Select</option>');
                    $.each(data.data, function(index, company) {
                        dropdown.append($('<option>', {
                            value: company.branchId,
                            text: company.branchName
                        }));
                    });


                }
            },
            error: function(error) {
                console.error('Error fetching branch data:', error);
            }
        });

    }

       function GetEmployeeByBranchId(branchId) {
        $.ajax({
            type: "GET",
            url: '@baseUrl/EmployeeMasterAPI/GetEmployeeByBranchId/' + branchId,
            headers: {
                'Authorization': 'Bearer ' + Token
            },
            success: function (response) {
                if (response?.isSuccess && response?.data) {
                    const $emp = $('#employee');
                    $emp.empty().append('<option disabled selected value="">--Select Employee--</option>');
                    $.each(response.data, function (i, item) {
                        $emp.append('<option value="' + item.id + '">' + item.fullName + '</option>');
                    });
                    // Remove 'selected' from all except the placeholder
                    $emp.find('option:not(:first)').prop('selected', false);
                } else {
                    // If no data, reset dropdown
                    $('#employee').empty().append('<option disabled selected value="">--Select Employee--</option>');
                }
            },
            error: function (xhr, status, error) {
                // Handle error and reset dropdown
                $('#employee').empty().append('<option disabled selected value="">--Select Employee--</option>');
                console.error('Error fetching employees:', error);
            }
        });
    }   




</script>

