@{
    ViewData["Title"] = "Employee Panel";
    Layout = "~/Areas/EmployeePanel/Views/Shared/_EmployeeLayout.cshtml";
    string baseUrl = ViewBag.BaseUrl;

}
<div class="card">
    <div class="card-header bg-transparent py-0">
     
            <div class="card-header bg-transparent">
                <div class="row align-items-center">
                    <div class="col">
                        <h6 class="pt-2 mb-0">Ticket Close</h6>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <h6 class="mb-4">Search Panel</h6>
             </div>
       
      </div>
 </div>
