@{
	ViewData["Title"] = "Employee History";
	Layout = "~/Views/Shared/_mainLayout.cshtml";
	string baseUrl = Configuration["BaseUrlSettings:baseUrl"];
}

<div class="row">
	<div class="col-md-12  py-2">
		<div class="d-flex justify-content-end">
			<button type="button" class="btn btn-dark px-5 me-2" id="btnBackUpdateEmployee">Back</button>

		</div>
	</div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
   $(document).ready(function () {
	   $('#btnBackUpdateEmployee').on('click', function () {
		const baseUIOrginUrl = window.location.origin;
		 window.location.href = baseUIOrginUrl + '/EmployeeMaster/AdditionalInformation';

	  });
	});
</script>
