@{
    ViewData["Title"] = "Employee Panel";
    Layout = "~/Areas/EmployeePanel/Views/Shared/_EmployeeLayout.cshtml";
    string baseUrl = ViewBag.BaseUrl;

}

<div class="card">
    <div class="card-header bg-transparent ml-0 py-0">
        <div class="row">
            <div class="col-6">
                <h4 class="pt-2 mb-0">
                    Leave
                </h4>
            </div>
         

        </div>
            
        <div class="card">
            <div class="card-header bg-transparent">
                <div class="row align-items-center">
                    <div class="col">
                        <h6 class="mb-0">Search Panel</h6>
                    </div>
                    <div class="col-auto">
                        <a href="@Url.Action("AddLeave", "Leave", new { area = "EmployeePanel" })" class="btn btn-primary">Add</a>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <form>
                    <div class="row">
                            <div class="col-md-8 mx-auto">
                            <div class="row gx-4 justify-content-center">
                       
                                <!-- Input 1 -->
                                <div class="col-md-4 mb-3">
                                    <label for="input1">Search By</label>
                                    <select class="form-control" id="Leavetypeid">

                                      <option value="">-- Select Leave Type --</option>

                                    </select> 
                                </div>

                                <div class="col-md-4 mb-3">
                                    <label for="input1">Search For</label>
                                    <input type="text" class="form-control" id="input1">
                                </div>
                            </div>

                            <div class="row gx-4 justify-content-center">
                                <div class="col-md-4 mb-3">
                                    <label for="fromDate">Application From Date</label>
                                    <input type="date" class="form-control" id="fromDate">
                                </div>

                                <div class="col-md-4 mb-3">
                                    <label for="todate">Application To Date</label>
                                    <input type="date" class="form-control" id="todate">
                                </div>
                            </div>
                            <div class="row gx-4 justify-content-center">
                                <!-- Input 1 -->
                                <div class="col-md-4 mb-3">
                                    <label for="fromDate">Leave From Date</label>
                                    <input type="date" class="form-control" id="leavefromDate">
                                </div>

                                <div class="col-md-4 mb-3">
                                    <label for="input1">Leave To Date</label>
                                    <input type="date" class="form-control" id="leavetodate">
                                </div>
                            </div>
                            <div class="row gx-4 justify-content-center">
                                <!-- Input 1 -->
                                <div class="col-md-4 mb-3">
                                    <label for="fromDate">Leave From Date</label>
                                    <input type="date" class="form-control" id="leavefromDate">
                                </div>

                                <div class="col-md-4 mb-3">
                                    <label for="input1">Leave To Date</label>
                                    <input type="date" class="form-control" id="leavetodate">
                                </div>
                            </div>
                            <div class="d-flex align-items-center gap-3 flex-wrap justify-content-center">
                                <!-- Radio Button: Pending -->
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="leaveStatus" id="pendingleaveid">
                                    <label class="form-check-label" for="pendingleaveid">Pending</label>
                                </div>

                                <!-- Radio Button: Approved/Rejected -->
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="leaveStatus" id="Approveid">
                                    <label class="form-check-label" for="Approveid">Approved/Rejected</label>
                                </div>

                                <!-- Buttons -->
                                <button type="button" class="btn btn-primary" id="gobutoonid">GO</button>
                                <button type="button" class="btn btn-primary" id="clearbuttonid">Clear</button>
                            </div>

                        </div>                  
                    
                    
                    </div>


                
               </form>
               
            </div>
        </div>
            
        </div>
    </div>
</div>
