@{
    ViewData["Title"] = "Shift Changes Details";
    Layout = "~/Areas/EmployeePanel/Views/Shared/_EmployeeLayout.cshtml";
    string baseUrl = ViewBag.BaseUrl;
}
<link href="~/commoncss.css" rel="stylesheet" />
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Select2 CSS -->
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

<!-- Select2 JS -->
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<style>
    .fixed-label {
        min-width: 100px;
        white-space: nowrap;
        margin-bottom: 0;
        text-align: right;
    }
</style>

<div class="card">

    <!-- Header Center -->
    <div class="card-header bg-transparent py-2 d-flex justify-content-center align-items-center" style="height: 60px;">
        <h6 class="mb-0 text-center">Comp-Off Leave Adjustment Detailsl</h6>
    </div>

    <!-- Body -->
    <div class="card-body">
        <form>
            <div class="col-md-8 mx-auto">

                <!-- From / To Inputs -->
                <div class="row mb-3 justify-content-center">
                    <div class="col-auto d-flex align-items-center pe-2">
                        <label for="fromid" class="fixed-label me-2">From<span class="text-danger">*</span>:</label>
                        <input type="date" class="form-control form-control-sm" id="fromid" />
                    </div>
                    <div class="col-auto d-flex align-items-center ps-2">
                        <label for="toid" class="fixed-label me-2">To<span class="text-danger">*</span>:</label>
                        <input type="date" class="form-control form-control-sm" id="toid" />
                    </div>
                </div>




                <!-- Buttons -->
                <div class="row justify-content-center">
                    <div class="col-md-6 d-flex justify-content-center gap-2">
                        <button type="button" class="btn btn-primary btn-sm">View</button>
                        <button type="button" class="btn btn-secondary btn-sm" onclick="window.location.href='@Url.Action("Index", "MyReports")'">Back</button>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>
