@{
    ViewData["Title"] = "Shift Changes Details";
    Layout = "~/Areas/EmployeePanel/Views/Shared/_EmployeeLayout.cshtml";
    string baseUrl = ViewBag.BaseUrl;
}
<link href="~/commoncss.css" rel="stylesheet" />

<style>
    .fixed-label {
        min-width: 100px;
        white-space: nowrap;
        margin-bottom: 0;
        text-align: right;
    }
</style>

<div class="card">

    <!-- Heading -->
    <div class="card-header bg-transparent py-2 d-flex justify-content-center align-items-center" style="height: 60px;">
        <h6 class="mb-0 text-center">EMPLOYEE INOUT PRESENT DAYS</h6>
    </div>

    <div class="card-body">
        <form>
            <div class="col-md-8 mx-auto">

                <!-- From / To -->
                <div class="row mb-2">
                    <div class="col-md-6 d-flex align-items-center mb-2">
                        <label for="fromid" class="fixed-label me-2">From Date<span class="text-danger">*</span>:</label>
                        <input type="date" class="form-control form-control-sm" id="fromid" />
                    </div>
                    <div class="col-md-6 d-flex align-items-center mb-2">
                        <label for="toid" class="fixed-label me-2">To Date<span class="text-danger">*</span>:</label>
                        <input type="date" class="form-control form-control-sm" id="toid" />
                    </div>
                </div>



                <!-- Buttons Centered -->
                <div class="row justify-content-center">
                    <div class="col-md-6 d-flex justify-content-center gap-2">
                        <button type="button" class="btn btn-primary btn-sm">View</button>
                        <button type="button" class="btn btn-secondary btn-sm" onclick="window.location.href='@Url.Action("Index", "MyReports")'">Back</button>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>
