@{
	ViewData["Title"] = "Bank Master";
	Layout = "~/Views/Shared/_HomeLayout.cshtml";
	string baseUrl = Configuration["BaseUrlSettings:baseUrl"];
}


<div class="card">
	<div class="card-header bg-transparent ml-0 py-0">
		<div class="row">
			<div class="col-6">
				<h6 class="pt-2 mb-0">
					Bank Master
				</h6>
			</div>

			<div class="col-6 d-flex justify-content-end align-items-center">
				<div class="font-22 pl-2" style="color:#32393f; cursor:pointer;">
					<i class="fadeIn animated bx bx-refresh" id="refreshData" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Refresh Data"></i>
				</div>
			</div>
		</div>
	</div>
	<div class="card-body">
		<div class="row">
			<div class="col-md-12 btn-heading-title">
				<div class="input-group mb-2">
					<button id="addBank"
							type="button"
							class="btn mr-1 rounded-1"
							style="background-color:#2395c6; color:white;">
						Add Bank
					</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<div class="rowCount" id="rowCount1"></div>
					<div id="gridContainerBank">
						@* <div class="spinner-border text-primary" role="status">
							<span class="visually-hidden">Loading...</span>
						</div> *@
						<div class="d-flex justify-content-center align-items-center" style="height: 10vh;">
							<div class="spinner-border text-primary" role="status">
								<span class="visually-hidden">Loading...</span>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="addBankModel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title btn-heading-title" id="exampleModalLabel"><span class="formType">Create</span> Bank</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body modal-body-font">
				<div class="row">
					<div class="col-md-6">
						<div class="form-group mt-3 position-relative">
							<input type="text"
								   class="form-control floating-input"
								   placeholder="Bank Name"
								   id="txtBankName" />
							<label class="floating-label" for="txtBankName">Bank Name</label>
							<span id="spnBankName" style="color:red; display:none;">Please Enter Bank Name</span>

						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group mt-3 position-relative">
							<input type="text"
								   class="form-control floating-input"
								   placeholder="BankCode"
								   id="txtBankCode" />
							<label class="floating-label" for="txtBankCode">Bank Code</label>
							<span id="spnBankCode" style="color:red; display:none;">Please Enter Bank Code</span>

						</div>
					</div>
					
				</div>

				<div class="row">

					<div class="col-md-6">
						<div class="form-group mt-3 position-relative">
							<input type="text"
								   class="form-control floating-input"
								   placeholder="Branch Name"
								   id="txtBranchName" />
							<label class="floating-label" for="txtBranchName">Branch Name</label>
							<span id="spnBranchName" style="color:red; display:none;">Please Enter Branch Name</span>

						</div>
					</div>

					<div class="col-md-6">
						<div class="form-group mt-3 position-relative">
							<input type="number"
								   class="form-control floating-input"
								   placeholder="Account No"
								   id="txtAccountNo"
								   step="1"
								   min="0"
								   oninput="this.value = this.value.replace(/[^0-9]/g, '')" />
							<label class="floating-label" for="txtAccountNo">AccountNo</label>
							<span id="spnAccountNo" style="color:red; display:none;">Please Enter Account No</span>

						</div>
					</div>
					
					
				</div>


				<div class="row">

					<div class="col-md-6">
						<div class="form-group mt-3 position-relative">
							<textarea class="form-control floating-input"
									  placeholder="Address"
									  id="txtAddress"></textarea>
							<label class="floating-label" for="txtAddress">Address</label>

						</div>
					</div>

					<div class="col-md-6">
						<div class="form-group mt-3 position-relative">
							<input type="text"
								   class="form-control floating-input"
								   placeholder="City"
								   id="txtCity" />
							<label class="floating-label" for="txtCity">City</label>

						</div>
					</div>

				</div>
				
				<div class="row">
					
					<div class="col-md-6">
						<div class="form-group mt-3 position-relative">
							<input type="text"
								   class="form-control floating-input"
								   placeholder="Bank BSR Code"
								   id="txtBankBSRCode" />
							<label class="floating-label" for="txtBankBSRCode">Bank BSR Code</label>

						</div>
					</div>

					<div class="col-md-6">
						<div class="form-group mt-3 position-relative">
							<label>Default Bank</label>
							<input type="checkbox"
								   class="form-control-input"
								   placeholder=""
								   id="txtDefaultBank" />
						</div>

					</div>

				</div>

			</div>
			<div class="modal-footer btn-heading-title">
				<button type="button" class="btn btn-primary" id="btnCreateBranch" style="background-color:#2395c6; color:white;">Create</button>
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script>
	$("#addBank").click( () => {
		 //  $('.formType').text('Create');
		 // $("#btnCreateBranch").prop("disabled", false);
		 // $('#btnCreateBranch').text('Create');
	  $("#addBankModel").modal('show');

	})
</script>