<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- saved from url=(0053)http://ess.relayexpress.in/admin_associates/Home.aspx -->
<html xmlns="http://www.w3.org/1999/xhtml" style="overflow-x: hidden;">
<head id="ctl00_Head1" data-locator-hook-status-message="No valid renderers found."><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><meta http-equiv="X-UA-Compatible" content="IE=edge;"><title>
	WelCome To HRMS
</title>
<link href="~/css/samples.css" rel="stylesheet" />
    </head>
     <body>

    <table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td align="center" valign="top" width="100%">
                <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" class="Maintable">
                    <tbody><tr>
                        <td width="25%" height="123" align="left" valign="middle">
                            <p align="left">
                                <a href="http://www.payrollsoftware.co.in/" target="_blank">
                                    <img src="~/image/logo.gif" height="70" style="border: solid 0px black">
                                </a>
                        </p></td>
                        <td width="50%" valign="top">
                            <table border="0" align="center" cellpadding="0" cellspacing="0" style="margin-top: 11px;">
                                <tbody><tr>
                                    <td>
                                        <p>
                                        </p>
                                        <table width="100%" border="0" align="center" cellpadding="2" cellspacing="2">
                                            <tbody><tr>
                                                <td width="50%" align="center" valign="middle" class="top_Companyheadingtext">
                                                    <span id="ctl00_lbl_cmp">DEMO COMPANY</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="50%" align="center" valign="middle" class="top_headingtext">
                                                    <span id="ctl00_lbl_name">admin@demo.com</span>
                                                </td>
                                            </tr>
                                        </tbody></table>
                                    </td>
                                </tr>
                            </tbody></table>
                        </td>
                        <td width="10%" align="left" valign="top">
                            <p>
                                    </p><table>
                                <tbody>
                                    <tr>
                                    
                                    <td class="top_headingtext" align="left" valign="middle">
                                        </td><td>
                                            <a href="#">
                                                <img style="padding-top: 8px; width: 38px; height: 31px;" border="0" src="~/image/support.png">
                                            </a>
                                        </td>
                                        <td align="left" valign="middle" class="top_Whitetext">
                                            Support
                                        </td>
                                       
                                    
                                </tr>
                            </tbody></table>
                        </td>
                        <td align="right" width="15%" valign="bottom" class="buttontext_white" style="padding-bottom: 5px;
                            padding-right: 5px">
                            <p align="right" style="font-size: 60%">
                                <img src="~/dashboard/1.jpg" id="ctl00_imgcomp1" border="0" class="clientlogo"></p>
                            <a id="ctl00_LinkButton1" class="awards_white" href="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;ctl00$LinkButton1&quot;, &quot;&quot;, false, &quot;&quot;, &quot;Home.aspx&quot;, false, true))">Home</a>
                            |
                            
                            <a onclick="return logout();" id="ctl00_lnklogout" class="awards_white" href="javascript:__doPostBack(&#39;ctl00$lnklogout&#39;,&#39;&#39;)">Logout</a>
                        </td>
                    </tr>
                    
                </tbody></table>
            </td>
            </tr>
            <tr>
                <td colspan="4" style="background: #4d4e63">
                    <div id="ctl00_menu"class="app-menu horizontal">
                        <ul class="nav navbar-nav" style="margin:0 2px 0 2px">
                            <li class="drop-down-menu">
                                <a href="javascript:;">
                                    <img src="~/image/control_panel.gif" />
                                    <span>  Control Panel  </span>
                                    <i class="dd-icon" aria-hidden="true">▼</i>
                                </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="#"><img src="../image/Control_Panel.gif"><span>  Company Information  </span></a>
                                    </li>
                                </ul>
                            </li>

                        </ul>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
                <div>
                      @RenderBody()

                </div>
               
               <table style="width: 100%;" class="bottombelt">
    <tr>
        <td align="right" valign="middle" style="width: 65%;">
            Copyright ©
            <label id="ctl00_spanYear">2025</label>
            - Orange Technolab Private Limited. All Rights Reserved
        </td>
        <td align="right" valign="middle" style="width: 35%;">
            Ultimatix™ Powered By : Orange Technolab P. Ltd.
        </td>
    </tr>
</table>

  

   
</body>
</html>