@{
    string baseUrlLayout = Configuration["BaseUrlSettings:baseUrl"];
    string UIBaseUrlLayout = Configuration["UIBaseUrlSettings:baseUrl"];
}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--favicon-->
    <link rel="icon" href="~/assets/images/relayfevicon.jpeg" type="image/png" />
    <!--plugins-->
    <link rel="stylesheet" href="~/assets/plugins/notifications/css/lobibox.min.css" />
    <link href="~/assets/plugins/simplebar/css/simplebar.css" rel="stylesheet" />
    <link href="~/assets/plugins/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet" />
    <link href="~/assets/plugins/metismenu/css/metisMenu.min.css" rel="stylesheet" />
    <!-- Bootstrap CSS -->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/css/bootstrap-extended.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link href="~/assets/css/app.css" rel="stylesheet">
    <link href="~/assets/css/icons.css" rel="stylesheet">
    <!-- Theme Style CSS -->
    <link rel="stylesheet" href="~/assets/css/dark-theme.css" />
    <link rel="stylesheet" href="~/assets/css/semi-dark.css" />
    <link rel="stylesheet" href="~/assets/css/header-colors.css" />
    <link rel="stylesheet" href="https://cdn3.devexpress.com/jslib/21.1.5/css/dx.common.css">
    <link rel="stylesheet" href="https://cdn3.devexpress.com/jslib/21.1.5/css/dx.light.css">
    <title>Online Payroll & HRMS</title>

    <style>

        .readonly {
            pointer-events: none;
            color: gray;
            opacity: 0.3;
            cursor: not-allowed;
        }

        .rounded-arrow-button {
            background-color: #007bff; /* Blue background color */
            border: none; /* Remove default border */
            color: white; /* White arrow color */
            padding: 10px; /* Padding around the icon */
            border-radius: 50%; /* Fully rounded corners */
            width: 30px; /* Width of the button */
            height: 30px; /* Height of the button */
            display: flex; /* Use flexbox for centering the icon */
            justify-content: center; /* Center horizontally */
            align-items: center; /* Center vertically */
            cursor: pointer; /* Pointer cursor on hover */
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Optional: Add a subtle shadow */
            transition: background-color 0.3s; /* Smooth transition for hover effects */
        }

            .rounded-arrow-button:hover {
                background-color: #0056b3; /* Darker blue on hover */
            }

            .rounded-arrow-button:focus {
                outline: none; /* Remove default focus outline */
            }

        
        body, html {
            height: 100%;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }

        .page-wrapper {
            display: flex;
            height: 100vh;
            transition: margin-left 0.3s;
        }

        .sidebar {
            width: 250px;
            position: fixed;
            height: 100vh;
            overflow-y: auto;
            transition: transform 0.3s ease;
            background-color: #fff;
            box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
            transition: left 0.3s ease;
            margin-top: 20px;
            margin-bottom: 20px;
        }

            .sidebar.hidden {
                transform: translateX(-100%);
            }

        .main-content {
            margin-left: 250px;
            flex: 1;
            overflow-y: auto;
            height: 100vh;
        }

            .main-content.expanded {
                margin-left: 0;
            }



        .dropdown {
            margin: 20px;
        }

            .dropdown select {
                width: 100%;
                padding: 10px;
                font-size: 16px;
                border: 1px solid #ccc;
                border-radius: 4px;
            }


        .dx-datagrid .dx-row > td {
            padding: 1px;
        }

        .dx-widget {
            font-size: 12px;
        }

        .dropdown-submenu {
            position: relative;
        }

            .dropdown-submenu .sub-menu {
                display: none;
                position: absolute;
                top: 0; /* Aligns to top of parent */
                left: 100%; /* Opens to the right of parent */
                background: #fff;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-shadow: 0 0 10px rgba(0,0,0,0.1);
                min-width: 160px;
                padding: 0;
                z-index: 999;
            }

            /* Show submenu on hover */
            .dropdown-submenu:hover .sub-menu {
                display: block;
            }

            /* Optional arrow for submenu */
            .dropdown-submenu > a::after {
                content: "▶";
                position: absolute;
                right: 5px;
                top: 50%;
                transform: translateY(-50%);
                font-size: 12px;
                color: #6c757d;
            }

        /* Submenu items */
        .sub-menu .dropdown-item {
            padding: 8px 12px;
            white-space: nowrap;
        }

        .sub-menu {
            list-style: none; /* Removes bullets */
            padding-left: 0; /* Removes default left padding */
        }


       /*  grid padding td */
        .dx-datagrid .dx-row > td {
            padding: 2px;
        }
        /*  grid border */
        .dx-row > td, .dx-row > tr > td {
            border: 1px solid #ced4da;
        }

        .navbar {
            padding-top: 5px !important;
            padding-bottom: 5px !important;
            min-height: 50px !important;
        }

            .navbar .nav-item {
                margin-right: 10px !important;
            }

            .navbar .nav-link {
                padding: 6px 8px !important;
                font-size: 14px !important;
            }

    </style>
</head>

<body>
    <!--wrapper-->
    <div class="wrapper">
        <!--start header -->
        <header>
            <div class="topbar d-flex align-items-center">
                <nav class="navbar navbar-expand">
                    <div class="topbar-logo-header">
                        <div class="">
                            <img src="~/assets/images/relaylogo.jpeg" class="logo-icon" alt="logo icon">
                        </div>
                       
                    </div>
                    <div class="mobile-toggle-menu"><i class='bx bx-menu'></i></div>
                    <div class="search-bar flex-grow-1">
                        <div class="position-relative search-bar-box">
                            <input type="text" class="form-control search-control" placeholder="Type to search..."> <span class="position-absolute top-50 search-show translate-middle-y"><i class='bx bx-search'></i></span>
                            <span class="position-absolute top-50 search-close translate-middle-y"><i class='bx bx-x'></i></span>
                        </div>
                    </div>
                    <div class="top-menu ms-auto">
                        <ul class="navbar-nav align-items-center">
                            <li class="nav-item mobile-search-icon">
                                <a class="nav-link" href="#">
                                    <i class='bx bx-search'></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="user-box dropdown">
                        <a class="d-flex align-items-center nav-link dropdown-toggle dropdown-toggle-nocaret" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="~/assets/images/avatars/avatar-2.png" class="user-img" alt="user avatar">
                            <div class="user-info ps-3">
                                <p class="user-name mb-0">User's Name</p>
                                <p class="designattion mb-0">Designation</p>
                            </div>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li >
                                <a class="dropdown-item" href="/EmployeePanel/Home/index"><i class="bx bx-user"></i><span>ESS</span></a>
                            </li>
                           @*  <li class="readonly">
                                <a class="dropdown-item" href="javascript:;"><i class="bx bx-user"></i><span>Profile</span></a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="javascript:;"><i class="bx bx-cog"></i><span>Settings</span></a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="javascript:;"><i class='bx bx-home-circle'></i><span>Dashboard</span></a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="javascript:;"><i class='bx bx-dollar-circle'></i><span>Earnings</span></a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="javascript:;"><i class='bx bx-download'></i><span>Downloads</span></a>
                            </li>
                            <li>
                                <div class="dropdown-divider mb-0"></div>
                            </li> *@
                            <li>
                                <a class="dropdown-item" href="javascript:;" id="btnLogout"><i class='bx bx-log-out-circle'></i><span>Logout</span></a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
        <!--end header -->
        <!--navigation-->
        <div class="nav-container primary-menu">
            <div class="mobile-topbar-header">
                <div>
                    <img src="~/assets/images/logo-icon.png" class="logo-icon" alt="logo icon">
                </div>
                <div>
                    <h4 class="logo-text">Rukada</h4>
                </div>
                <div class="toggle-icon ms-auto">
                    <i class='bx bx-arrow-to-left'></i>
                </div>
            </div>
            <nav class="navbar navbar-expand-xl w-100">
                <ul class="navbar-nav justify-content-start flex-grow-1 gap-1">
                    <li class="nav-item d-flex align-items-center">
                        <div id="toggleSidebar">
                            <button class="rounded-arrow-button">
                                <i class="bx bx-left-arrow-alt"></i>
                            </button>
                        </div>

                        
                    </li>
                    <li class="nav-item d-flex align-items-center">
                        
                        <a class="nav-link" href="../Home/Index">
                            <div class="parent-icon">
                                <i class='bx bx-home-circle'></i>
                            </div>
                            <div class="menu-title">Dashboard</div>
                        </a>
                    </li>

                    <li class="nav-item dropdown">
                        <a href="javascript:;" class="nav-link dropdown-toggle dropdown-toggle-nocaret" data-bs-toggle="dropdown">
                            <div class="parent-icon"><i class='bx bx-cart'></i></div>
                            <div class="menu-title">Control Panel</div>
                        </a>
                        <ul class="dropdown-menu">
                           
                            <li class="dropdown-submenu">
                                <a class="dropdown-item has-submenu" href="javascript:;">
                                    Company Information
                                </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a class="dropdown-item" href="../CompanyInformation/CompanyDetails">Company Details</a>
                                    </li>
                                    
                                </ul>

                            </li>
                            <li >
                                <a class="dropdown-item" asp-controller="PageMaster" asp-action="PageMaster">Page Master</a>
                            </li> 
                             <li >
                                <a class="dropdown-item" asp-controller="ImportData" asp-action="ImportData">Import Data</a>
                            </li>
                            <li class="dropdown-submenu">
                                <a class="dropdown-item has-submenu" href="javascript:;">
                                    Privileges Settings
                                </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a class="dropdown-item" asp-controller="PrivilegeMaster" asp-action="Privileges">Privilege Master</a>
                                    </li>

                                </ul>

                            </li>
                        </ul>

                      
                    </li>


                    <li class="nav-item dropdown">
                        <a href="javascript:;" class="nav-link dropdown-toggle dropdown-toggle-nocaret" data-bs-toggle="dropdown">
                            <div class="parent-icon">
                                <i class='bx bx-cart'></i>
                            </div>
                            <div class="menu-title">Job Master</div>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="../JobMaster/State"><i class="bx bx-right-arrow-alt"></i>State Master</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="../JobMaster/ManageBranch"><i class="bx bx-right-arrow-alt"></i>Branch Master</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="../JobMaster/ManageDepartment"><i class="bx bx-right-arrow-alt"></i>Department Master</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="../JobMaster/ManageDesignation"><i class="bx bx-right-arrow-alt"></i>Designation Master</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="../JobMaster/ManageGrade"><i class="bx bx-right-arrow-alt"></i>Grade Master</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="../JobMaster/Reason"><i class="bx bx-right-arrow-alt"></i>Reason Master</a>
                            </li>
                        </ul>
                    </li>


                    <li class="nav-item dropdown">
                        <a href="javascript:;" class="nav-link dropdown-toggle dropdown-toggle-nocaret" data-bs-toggle="dropdown">
                            <div class="parent-icon">
                                <i class='bx bx-cart'></i>
                            </div>
                            <div class="menu-title">Other Master</div>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="../OtherMaster/OrganizationPolicy"><i class="bx bx-right-arrow-alt"></i>Organization Policy</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="../OtherMaster/GeoLocationMasterAssign"><i class="bx bx-right-arrow-alt"></i>Geo Location Master-Assign</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="../OtherMaster/TicketType"><i class="bx bx-right-arrow-alt"></i>Ticket Type</a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a href="javascript:;" class="nav-link dropdown-toggle dropdown-toggle-nocaret" data-bs-toggle="dropdown">
                            <div class="parent-icon">
                                <i class='bx bx-cart'></i>
                            </div>
                            <div class="menu-title">Company Structure</div>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="../CompanyStructure/BankMaster"><i class="bx bx-right-arrow-alt"></i>Bank Master</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="../CompanyStructure/WeekOffMaster"><i class="bx bx-right-arrow-alt"></i>WeekOff Master</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="../CompanyStructure/HolidayMaster"><i class="bx bx-right-arrow-alt"></i>Holiday Master</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="../CompanyStructure/WarningMaster"><i class="bx bx-right-arrow-alt"></i>Warning Master</a>
                            </li>
                        </ul>
                    </li> 
                    
                    <li class="nav-item dropdown">
                        <a href="javascript:;" class="nav-link dropdown-toggle dropdown-toggle-nocaret" data-bs-toggle="dropdown">
                            <div class="parent-icon">
                                <i class='bx bx-cart'></i>
                            </div>
                            <div class="menu-title">Employee Master</div>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="../EmployeeMaster/EmployeeMaster"><i class="bx bx-right-arrow-alt"></i>Employee Master</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="../LeftEmployee/LeftEmployeeDetails"><i class="bx bx-right-arrow-alt"></i>Left Employee Details</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="../EmployeeIncrement/EmployeeIncrementApplication"><i class="bx bx-right-arrow-alt"></i>Employee Increment Application</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="../GradeAllowance/GradeAllowance">
                                    <i class="bx bx-right-arrow-alt"></i>
                                    Gradewise Allowance
                                </a>
                            </li>

                            <li>
                                <a class="dropdown-item" href="../Increment/EmployeeIncrement">
                                    <i class="bx bx-right-arrow-alt"></i>
                                    Employee Increment
                                </a>
                            </li>

                            <li>
                                <a class="dropdown-item" href="../BulkIncrement/BulkIncrement">
                                    <i class="bx bx-right-arrow-alt"></i>
                                    Bulk Increment
                                </a>
                            </li>
                        </ul>
                    </li>
                   
                    @* employee pannel *@
                    <li class="nav-item dropdown">
                        <a href="javascript:;" class="nav-link dropdown-toggle dropdown-toggle-nocaret" data-bs-toggle="dropdown">
                            <div class="parent-icon">
                                <i class='bx bx-cart'></i>
                            </div>
                            <div class="menu-title">Employee Panel</div>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" asp-area="EmployeePanel" asp-controller="Home" asp-action="Index"><i class="bx bx-right-arrow-alt"></i>Employee Panel</a>
                            </li>

                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a href="javascript:;" class="nav-link dropdown-toggle dropdown-toggle-nocaret" data-bs-toggle="dropdown">
                            <div class="parent-icon">
                                <i class='bx bx-cart'></i>
                            </div>
                            <div class="menu-title">Privileges/Scheme Assign</div>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" asp-controller="Privileges" asp-action="EmployeePrivileges"><i class="bx bx-right-arrow-alt"></i>Employee Privileges</a>
                            </li>

                        </ul>
                    </li>


                    
                    <li class="nav-item readonly">
                        <a class="nav-link" href="widgets.html">
                            <div class="parent-icon">
                                <i class='bx bx-cookie'></i>
                            </div>
                            <div class="menu-title">Widgets</div>
                        </a>
                    </li>
                    <li class="nav-item dropdown readonly">
                        <a href="javascript:;" class="nav-link dropdown-toggle dropdown-toggle-nocaret" data-bs-toggle="dropdown">
                            <div class="parent-icon">
                                <i class="bx bx-category"></i>
                            </div>
                            <div class="menu-title">Application</div>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="app-emailbox.html"><i class="bx bx-right-arrow-alt"></i>Email</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="app-chat-box.html"><i class="bx bx-right-arrow-alt"></i>Chat Box</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="app-file-manager.html"><i class="bx bx-right-arrow-alt"></i>File Manager</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="app-contact-list.html"><i class="bx bx-right-arrow-alt"></i>Contatcs</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="app-to-do.html"><i class="bx bx-right-arrow-alt"></i>Todo List</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="app-invoice.html"><i class="bx bx-right-arrow-alt"></i>Invoice</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="app-fullcalender.html"><i class="bx bx-right-arrow-alt"></i>Calendar</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown readonly">
                        <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="javascript:;" data-bs-toggle="dropdown">
                            <div class="parent-icon">
                                <i class="bx bx-line-chart"></i>
                            </div>
                            <div class="menu-title">Charts</div>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="charts-apex-chart.html"><i class="bx bx-right-arrow-alt"></i>Apex</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="charts-chartjs.html"><i class="bx bx-right-arrow-alt"></i>Chartjs</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="charts-highcharts.html"><i class="bx bx-right-arrow-alt"></i>Highcharts</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown readonly">
                        <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="javascript:;" data-bs-toggle="dropdown">
                            <div class="parent-icon">
                                <i class='bx bx-bookmark-heart'></i>
                            </div>
                            <div class="menu-title">Components</div>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="widgets.html"><i class="bx bx-right-arrow-alt"></i>Widgets</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="component-alerts.html"><i class="bx bx-right-arrow-alt"></i>Alerts</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="component-accordions.html"><i class="bx bx-right-arrow-alt"></i>Accordions</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="component-buttons.html"><i class="bx bx-right-arrow-alt"></i>Buttons</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="component-cards.html"><i class="bx bx-right-arrow-alt"></i>Cards</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="component-list-groups.html"><i class="bx bx-right-arrow-alt"></i>List Groups</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="component-media-object.html"><i class="bx bx-right-arrow-alt"></i>Media Objects</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="component-modals.html"><i class="bx bx-right-arrow-alt"></i>Modals</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="component-navs-tabs.html"><i class="bx bx-right-arrow-alt"></i>Navs & Tabs</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="component-navbar.html"><i class="bx bx-right-arrow-alt"></i>Navbar</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="component-popovers-tooltips.html"><i class="bx bx-right-arrow-alt"></i>Popovers & Tooltips</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="component-progress-bars.html"><i class="bx bx-right-arrow-alt"></i>Progress</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="component-spinners.html"><i class="bx bx-right-arrow-alt"></i>Spinners</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="component-notifications.html"><i class="bx bx-right-arrow-alt"></i>Notifications</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="component-avtars-chips.html"><i class="bx bx-right-arrow-alt"></i>Avatrs & Chips</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown readonly">
                        <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="javascript:;" data-bs-toggle="dropdown">
                            <div class="parent-icon">
                                <i class="bx bx-lock"></i>
                            </div>
                            <div class="menu-title">Authentication</div>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="authentication-signin.html" target="_blank"><i class="bx bx-right-arrow-alt"></i>Sign In</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="authentication-signup.html" target="_blank"><i class="bx bx-right-arrow-alt"></i>Sign Up</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="authentication-signin-with-header-footer.html" target="_blank"><i class="bx bx-right-arrow-alt"></i>Sign In with Header & Footer</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="authentication-signup-with-header-footer.html" target="_blank"><i class="bx bx-right-arrow-alt"></i>Sign Up with Header & Footer</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="authentication-forgot-password.html" target="_blank"><i class="bx bx-right-arrow-alt"></i>Forgot Password</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="authentication-reset-password.html" target="_blank"><i class="bx bx-right-arrow-alt"></i>Reset Password</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="authentication-lock-screen.html" target="_blank"><i class="bx bx-right-arrow-alt"></i>Lock Screen</a>
                            </li>
                        </ul>
                    </li>
                    @* <li class="nav-item dropdown readonly">
                        <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="javascript:;" data-bs-toggle="dropdown">
                            <div class="parent-icon">
                                <i class="bx bx-donate-blood"></i>
                            </div>
                            <div class="menu-title">Pages</div>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="user-profile.html"><i class="bx bx-right-arrow-alt"></i>User Profile</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="timeline.html"><i class="bx bx-right-arrow-alt"></i>Timeline</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="pricing-table.html"><i class="bx bx-right-arrow-alt"></i>Pricing</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="errors-404-error.html"><i class="bx bx-right-arrow-alt"></i>404 Error</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="errors-500-error.html"><i class="bx bx-right-arrow-alt"></i>500 Error</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="errors-coming-soon.html"><i class="bx bx-right-arrow-alt"></i>Coming Soon</a>
                            </li>
                        </ul>
                    </li> *@
                    <li class="nav-item dropdown readonly">
                        <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="javascript:;" data-bs-toggle="dropdown">
                            <div class="parent-icon">
                                <i class="bx bx-message-square-edit"></i>
                            </div>
                            <div class="menu-title">Forms</div>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="form-elements.html"><i class="bx bx-right-arrow-alt"></i>Form Elements</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="form-input-group.html"><i class="bx bx-right-arrow-alt"></i>Input Groups</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="form-layouts.html"><i class="bx bx-right-arrow-alt"></i>Forms Layouts</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="form-validations.html"><i class="bx bx-right-arrow-alt"></i>Form Validation</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="form-wizard.html"><i class="bx bx-right-arrow-alt"></i>Form Wizard</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="form-text-editor.html"><i class="bx bx-right-arrow-alt"></i>Text Editor</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="form-file-upload.html"><i class="bx bx-right-arrow-alt"></i>File Upload</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="form-date-time-pickes.html"><i class="bx bx-right-arrow-alt"></i>Date Pickers</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="form-select2.html"><i class="bx bx-right-arrow-alt"></i>Select2</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
        <!--end navigation-->
        <!-- Sidebar -->
        
        <!--start page wrapper -->
        <div class="page-wrapper p-0" id="pageWrapper" >
            <div class="sidebar" id="sidebar">
                <div class="dropdown">
                    <div class="form-group position-relative">
                        <select class="form-select p-1 floating-input" id="companyDropdown">
                            <option disabled value="" selected>
                                <div class="d-flex justify-content-center align-items-center" style="height: 10vh; display: none;">
                                    <div class="spinner-border text-primary" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                </div>
                            </option>
                        </select>
                        <label class="floating-label" for="companyDropdown">Select Company</label>
                    </div>
                </div>
            </div>
            <div class="main-content">
                <div class="page-content" >
                    @RenderBody()
                </div>
            </div>
        </div>

        <!--end page wrapper -->
        <!--start overlay-->
        <div class="overlay toggle-icon"></div>
        <!--end overlay-->
        <!--Start Back To Top Button--> <a href="javaScript:;" class="back-to-top"><i class='bx bxs-up-arrow-alt'></i></a>
        <!--End Back To Top Button-->
        <footer class="page-footer">
            <p class="mb-0">Copyright © 2021. All right reserved.</p>
        </footer>
    </div>
    <!--end wrapper-->
    <!-- Bootstrap JS -->
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>
    <!--plugins-->
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/plugins/simplebar/js/simplebar.min.js"></script>
    <script src="~/assets/plugins/metismenu/js/metisMenu.min.js"></script>
    <script src="~/assets/plugins/perfect-scrollbar/js/perfect-scrollbar.js"></script>
    <script src="~/assets/plugins/notifications/js/lobibox.min.js"></script>
    <script src="~/assets/plugins/notifications/js/notifications.min.js"></script>
    <script src="~/assets/plugins/notifications/js/notification-custom-script.js"></script>
    <!--app JS-->
    <script src="~/assets/js/app.js"></script>
    <script src="https://cdn3.devexpress.com/jslib/21.1.5/js/dx.all.js"></script>
    <script>
        var uiBaseUrlLayout='@UIBaseUrlLayout'
    </script>
    <script src="~/assets/js/logout.js"></script>
    <script>
        $(document).ready(async function() {
            
            await LoadCompanyDetails();
        });
                // Define LoadCompanyDetails as an async function
        async function LoadCompanyDetails() {

            return new Promise((resolve, reject) => {
                // AJAX request to fetch company data
                $.ajax({
                    url: '@baseUrlLayout/CompanyDetailsAPI/GetAllCompanyDetailsList',
                    method: 'GET',
                    success: function(data) {
                        if (data.isSuccess) {
                            var dropdown = $('#companyDropdown');
                            dropdown.empty();
                            dropdown.append('<option disabled value="">Select Company</option>');
                            $.each(data.data, function(index, company) {
                                dropdown.append($('<option>', {
                                    value: company.companyId,
                                    text: company.companyName
                                }));
                            });
                            // Select the first option by default
                            if (dropdown.find('option').length > 1) {
                                dropdown.val(dropdown.find('option:not(:disabled):first').val());
                            }
                            resolve();
                        } else {
                            reject('Failed to load company details');
                        }
                    },
                    error: function(error) {
                        console.error('Error fetching company data:', error);
                        reject(error);
                    }
                });
            });
        }



    </script>
    <script>
        $(document).ready(function () {
            $('.dropdown-submenu > a').on("mouseenter", function (e) {
                var submenu = $(this).next(".sub-menu");
                $('.sub-menu').not(submenu).hide(); // hide others
                submenu.show(); // show current
                e.stopPropagation();
            });

            $('.dropdown').on("mouseleave", function () {
                $('.sub-menu').hide(); // hide on mouse leave
            });
        });
    </script>
 <script>
           document.getElementById('toggleSidebar').addEventListener('click', function() {
            var sidebar = document.querySelector('.sidebar');
            var mainContent = document.querySelector('.main-content');

            // Toggle the 'hidden' class on the sidebar
            sidebar.classList.toggle('hidden');

            // Toggle the 'expanded' class on the main content
            mainContent.classList.toggle('expanded');
        });

 </script>
</body>

</html>
