@inject IConfiguration Configuration
@{
    string baseUrl = Configuration["BaseUrlSettings:baseUrl"];
    var uri = new Uri(baseUrl);
    string baseDomainUrl = $"{uri.Scheme}://{uri.Host}:{uri.Port}";
}

<style>
    .searchable-select-wrapper {
        position: relative;
    }

    .searchable-select-input {
        width: 100%;
        padding-right: 50px; /* Make space for the arrow and + icon */
    }

    .searchable-select-arrow {
        position: absolute;
        right: 30px; /* Adjust to make space for the + icon */
        top: 50%;
        transform: translateY(-50%);
        pointer-events: none;
    }

    .add-bank-btn {
        position: absolute;
        right: 5px;
        top: 50%;
        transform: translateY(-50%);
        background: transparent;
        border: none;
        cursor: pointer;
        padding: 0;
        border:1px solid grey;
        margin-left:1px;
        border-radius:50%;
        color: #6c757d;
        width: 25px;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .add-bank-btn:hover {
            color: #007bff;
        }

</style>
<div class="card-header bg-primary text-white ">
    <h6>SALARY DETAILS</h6>
</div>


<div id="editSalaryDetailsSection" >
  <div class="card-body px-4">
    <form id="salaryBankDetailsForm">
        <div class="row mb-3">
            <div class="col-md-12">
                <h6><b>Salary Bank Details</b></h6>
            </div>
        </div>

        <div class="row px-5">
            <!-- Primary Bank Details -->
            <div class="col-md-4 mb-3">
                <!-- Payment Mode -->
                <div class="form-group position-relative ">
                    <select id="primaryPaymentMode" class="form-control floating-input">
                        <option value="">Select Payment Mode</option>
                        <option value="Cash">Cash</option>
                        <option value="Cheque">Cheque</option>
                        <option value="Cheque">Bank Transfer</option>
                    </select>
                    <label class="floating-label" for="primaryPaymentMode">Payment Mode</label>
                </div>
                </div>
                <!-- Bank -->
                <div class="col-md-4 mb-3">
                    <div class="form-floating-custom">
                        <div class="searchable-select-wrapper" id="bankWrapper">
                            <label for="primaryBank">Bank <span class="text-danger">*</span></label>
                            <input type="text" class="searchable-select-input" id="primaryBank" readonly>
                            <span class="searchable-select-arrow">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                                    <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                                </svg>
                            </span>
                            <!-- Add the + icon button -->
                            <button type="button" class="add-bank-btn" >
                                <i class="fas fa-plus"></i>
                            </button>
                            <div class="searchable-select-dropdown">
                                <div class="searchable-select-search">
                                    <input type="text" placeholder="Search bank..." class="search-input">
                                </div>
                                <div class="searchable-select-options"></div>
                            </div>
                        </div>
                        <span id="spnBank" style="color:red; display:none;">Please Select Bank</span>
                    </div>
                </div>

                <!-- IFSC Code -->
                <div class="col-md-4 mb-3">
                <div class="form-group position-relative">
                    <input type="text" id="primaryIFSC" class="form-control floating-input" placeholder="Enter IFSC Code" />
                    <label class="floating-label" for="primaryIFSC">IFSC Code</label>
                </div>
                </div>

                <!-- Account No -->
                <div class="col-md-4 mb-3">
                <div class="form-group position-relative ">
                    <input type="text" id="primaryAccountNo" class="form-control floating-input" placeholder="Enter Account Number" />
                    <label class="floating-label" for="primaryAccountNo">Account No</label>
                </div>
                </div>

                <!-- Branch Name -->
                <div class="col-md-4 mb-3">
                <div class="form-group position-relative ">
                    <input type="text" id="primaryBranchName" class="form-control floating-input" placeholder="Enter Branch Name" />
                    <label class="floating-label" for="primaryBranchName">Branch Name</label>
                </div>
                    <div class="col-md-4 mb-3">
            </div>

          
        </div>
        </div>
        <hr />

        <div class="row px-5">
            <!-- Wages Type -->
           
               @*  <div class="col-md-4">
                    <div class="form-group mb-3 position-relative">
                        <select class="form-select floating-input" id="ddlWagesType">
                            <option value="">Select</option>
                            <option value="Monthly">Monthly</option>
                            <option value="Weekly">Weekly</option>
                            <option value="Daily">Daily</option>
                        </select>
                        <label class="floating-label" for="ddlWagesType">WagesType</label>
                    </div>

                </div>
           
            
 *@
            <!-- Group Joining Date -->
            <div class="col-md-4">
                <div class="form-group position-relative mb-3">
                    <input type="date" id="groupJoiningDate" class="form-control floating-input"  placeholder="Select Group Joining Date" />
                    <label class="floating-label" for="groupJoiningDate">Group Joining Date</label>
                </div>
            </div>

           

            <!-- Business Segment -->
            <div class="col-md-4">
                <div class="form-group position-relative mb-3">
                    <select id="businessSegment" class="form-control floating-input">
                        <option value="">Select </option>
                    </select>
                    <label class="floating-label" for="businessSegment">BusinessSegment</label>
                </div>
            </div>

    
        

            <!-- Employee Name for Salary Report -->
            <div class="col-md-4">
                <div class="form-group position-relative mb-3">
                    <input type="text" id="employeeNameSalaryReport" class="form-control floating-input" placeholder="Enter employee name" />
                    <label class="floating-label" for="employeeNameSalaryReport">Employee Name for Salary Report</label>
                </div>
            </div>

            <!-- Employee Name for PF Report -->
            <div class="col-md-4">
                <div class="form-group position-relative mb-3">
                    <input type="text" id="employeeNamePFReport" class="form-control floating-input" placeholder="Enter employee name" />
                    <label class="floating-label" for="employeeNamePFReport">Employee Name for PF Report</label>
                </div>
            </div>

            <!-- Employee Name for PT Report -->
            <div class="col-md-4">
                <div class="form-group position-relative mb-3">
                    <input type="text" id="employeeNamePTReport" class="form-control floating-input"  placeholder="Enter employee name" />
                    <label class="floating-label" for="employeeNamePTReport">Employee Name for PT Report</label>
                </div>
            </div>

            <!-- Employee Name for Tax Report -->
            <div class="col-md-4">
                <div class="form-group position-relative mb-3">
                    <input type="text" id="employeeNameTaxReport" class="form-control floating-input"  placeholder="Enter employee name" />
                    <label class="floating-label" for="employeeNameTaxReport">Employee Name for Tax Report</label>
                </div>
            </div>

            <!-- Employee Name for ESIC Report -->
            <div class="col-md-4">
                <div class="form-group position-relative mb-3">
                    <input type="text" id="employeeNameESICReport" class="form-control floating-input"  placeholder="Enter employee name" />
                    <label class="floating-label" for="employeeNameESICReport">Employee Name for ESIC Report</label>
                </div>
            </div>

            <!-- Employee Name for Primary Bank -->
            <div class="col-md-4">
                <div class="form-group position-relative mb-3">
                    <input type="text" id="employeeNamePrimaryBank" class="form-control floating-input"  placeholder="Enter employee name" />
                    <label class="floating-label" for="employeeNamePrimaryBank">Employee Name for Primary Bank</label>
                </div>
            </div>

           


          

        </div>

                <div class="row mt-3">
                    <div class="col-md-2"></div>
                    <div class="col-md-8 text-center">

                        <button type="button" id="btnUpdateSalary" class="btn px-5" style="background-color:#2395c6 !important; color:white !important;">
                            Update
                        </button>
                        <button type="button" class="btn px-5" style="background-color:#2395c6 !important; color:white !important;display:none;" disabled id="btnUpdatingSalary">
                            <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
                            Updating...
                        </button>
                    </div>
                    <div class="col-md-2"></div>
                </div>
           
            <hr class="mt-0" />

    </form>
</div>
</div>


<!-- Modal for adding a new bank -->
<div class="modal fade" id="addBankModal" tabindex="-1" role="dialog" aria-labelledby="addBankModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addBankModalLabel">Add New Bank</h5>
                <button type="button" class="close closebtn" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="addBankForm">
                    <div class="form-group">
                        <label for="newBankName">Bank Name<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="newBankName" required />
                    </div>  
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class=" closebtn btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn " id="saveBankBtn" style="background-color:#2395c6; color:white;">Save</button>
                <button type="button" class="btn " id="savingBankBtn" style="display:none;background-color:#2395c6; color:white;" disabled><span class="spinner-border spinner-border-sm me-2" role="status"></span>  Saving..</button>
            </div>
        </div>
    </div>
</div>

<script>
    let userSalary=localStorage.getItem('EmployeeId');
     let EmployeeIdSalary=localStorage.getItem('CurrentEmployeeId');

     $(document).ready(async function(){
         $('#primaryBank').searchableSelect({
                data: [],
                valueKey: 'BankName',
                textKey: 'BankName',
                placeholder: 'Bank',
                searchPlaceholder: 'Search bank...',
                onChange: function(item) {

                }
          });
         await loadEmployeeBankDetails();
         bindSalaryInfo();
     })

     async function showbtnBankLoder(){
        $('#savingBankBtn').show();
        $('#saveBankBtn').hide();
    }
    async function hidebtnBankLoder(){
          $('#savingBankBtn').hide();
          $('#saveBankBtn').show();
    }

    $(".compOffDetailsShow").click(function () {
        if ($(this).is(":checked")) {
            $(".tagCompanyOffDetails").show();
        } else {
            $(".tagCompanyOffDetails").hide();
        }
    });

    $(".add-bank-btn").click(function () {
        hidebtnBankLoder();
      $('#newBankName').val('');
            $("#addBankModal").modal('show');
      
    });

    $(".closebtn").click(function () {
      
            $("#addBankModal").modal('hide');
      
    });

    function showBtnSalary()
    {
        $('#btnUpdateSalary').hide();
        $('#btnUpdatingSalary').show();
    }
    function hideBtnSalary()
    {
        $('#btnUpdateSalary').show();
            $('#btnUpdatingSalary').hide();
    }

     async function loadEmployeeBankDetails() {
        try {
            const response = await $.ajax({
                url: '@baseUrl/EmployeeBankDetailsAPI/GetAllEmployeeBankDetails',
                method: 'GET'
            });
            if(response.isSuccess){
                const dropdownBank = $('#primaryBank').data('searchableSelect');
                if(dropdownBank){
                        dropdownBank.setData(response.data||[]);
                }
            }
           
        } catch (error) {
            console.error('Error fetching bank data:', error);
        }
    }

      

        async function bindSalaryInfo() {
           $.ajax({
               type: "GET",
                  url: "@baseUrl/EmployeeMasterAPI/GetSalaryInfoById/"+EmployeeIdSalary,
               success: function (data) {
                   if (data.isSuccess) {
                           setSalaryInfo(data.data);

                   }
               },
               error: function (xhr, status, error) {
                   console.error("AJAX Error: " + status + " - " + error);
               }
           });
       }

     function setSalaryInfo(employee) {
        $('#primaryPaymentMode').val(employee.PrimaryPaymentMode || '');
        $('#primaryBank').data('searchableSelect').setValue(employee.PrimaryBankName || '');
        $('#primaryIFSC').val(employee.PrimaryIFSCCode || '');
        $('#primaryAccountNo').val(employee.PrimaryAccountNumber || '');
        $('#primaryBranchName').val(employee.PrimaryBankBranchName || '');
        $('#ddlWagesType').val(employee.WagesTypes || '');
        $('#groupJoiningDate').val(formatDate(employee.GroupJoiningDate) || '');
        $('#businessSegment').val(employee.BusinessSegmentId || '');
        $('#employeeNameSalaryReport').val(employee.EmployeeSalaryReport || '');
        $('#employeeNamePFReport').val(employee.EmployeePFReport || '');
        $('#employeeNamePTReport').val(employee.EmployeePTReport || '');
        $('#employeeNameTaxReport').val(employee.EmployeeTaxReport || '');
        $('#employeeNameESICReport').val(employee.EmployeeESIReport || '');
        $('#employeeNamePrimaryBank').val(employee.EmployeeNamePrimaryBank || '');
    }
    
      function formatDate(isoDateStr) {
            if (!isoDateStr) return '';
      return isoDateStr.split('T')[0];
    }



      $("#btnUpdateSalary").click(function(){
              showBtnSalary();
           const setNullIfEmpty = (value) => {
                       return value === "" ? null : value;
                   };
              var employeeIContactInfo={
                   Id:EmployeeId,
                    PrimaryPaymentMode: setNullIfEmpty($('#primaryPaymentMode').val()),
                    PrimaryBankName: $('#primaryBank').data('searchableSelect').getValue(),
                    PrimaryIFSCCode: setNullIfEmpty($('#primaryIFSC').val()),
                    PrimaryAccountNumber: setNullIfEmpty($('#primaryAccountNo').val()),
                    PrimaryBankBranchName: setNullIfEmpty($('#primaryBranchName').val()),
                    WagesType: setNullIfEmpty($('#ddlWagesType').val()),
                    GroupJoiningDate: setNullIfEmpty($('#groupJoiningDate').val()),
                    BusinessSegmentId: setNullIfEmpty($('#businessSegment').val()),
                    EmployeeSalaryReport: setNullIfEmpty($('#employeeNameSalaryReport').val()),
                    EmployeePFReport: setNullIfEmpty($('#employeeNamePFReport').val()),
                    EmployeePTReport: setNullIfEmpty($('#employeeNamePTReport').val()),
                    EmployeeTaxReport: setNullIfEmpty($('#employeeNameTaxReport').val()),
                    EmployeeESIReport: setNullIfEmpty($('#employeeNameESICReport').val()),
                    EmployeeNamePrmaryBank: setNullIfEmpty($('#employeeNamePrimaryBank').val()),

                      UpdatedBy:EmployeeIdSalary
           }
                $.ajax({
                         url: '@baseUrl/EmployeeMasterAPI/UpdateSalaryInfo',
                       type: 'POST',
                       contentType: 'application/json',
                        data: JSON.stringify(employeeIContactInfo),
                       success: function(response) {
                           if (response.isSuccess) {
                            round_success_noti(response.responseMessage);
                               bindSalaryInfo();
                           }
                           else
                           {
                               round_error_noti(response.responseMessage);

                           }
                                  hideBtnSalary();
                       },
                       error: function(xhr, status, error) {
                                      hideBtnSalary();

                           console.error('Error:', error);

                       }
                 });

       })

      $('#saveBankBtn').on('click', function() {
          showbtnBankLoder();
        const bankName = $('#newBankName').val().trim();

        if (!bankName) {
            hidebtnBankLoder();
            round_error_noti('Bank name is required!');
            return;
        }

        // Call API to add the new bank
        $.ajax({
            url: '@baseUrl/EmployeeBankDetailsAPI/CreateEmployeeBankDetails',
            method: 'POST',
            data: JSON.stringify({ BankName: bankName, CreatedBy: localStorage.getItem('EmployeeId') }),
            contentType: 'application/json',
            success: function(response) {
                if (response.isSuccess) {
                    round_success_noti(response.responseMessage);
                    $('#addBankModal').modal('hide');
                    $('#newBankName').val('');
                    // Refresh the dropdown
                    loadEmployeeBankDetails();
                } else {
                         round_error_noti(response.responseMessage);
                }
                hidebtnBankLoder();

            },
            error: function(error) {
                hidebtnBankLoder();
                console.error('Error adding bank:', error);
            }
        });
    });

</script>