@inject IConfiguration Configuration
@{
    ViewData["Title"] = "Employee Loan Application";
    Layout = "~/Areas/AdminPanel/Views/Shared/_AdminLayout.cshtml";
    string baseUrl = Configuration["BaseUrlSettings:baseUrl"];
    var uri = new Uri(baseUrl);
    string baseAPIDomainUrl = $"{uri.Scheme}://{uri.Host}:{uri.Port}";
}

<div class="card">
    <div class="card-header bg-transparent ml-0 py-0">
        <div class="row">
            <div class="col-6">
                <h6 class="pt-2 mb-0">
                    Manage Employee Loan Application
                </h6>
            </div>
            <div class="col-6 d-flex justify-content-end align-items-center">
                <button id="addLoanApplication"
                        type="button"
                        class="btn mr-1 rounded-1"
                        style="background-color:#2395c6; color:white;">
                    Add
                </button>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="grid-wrapper" style="position: relative;">
                        <div id="grid-loader" class="grid-loader justify-content-center align-items-center flex-column"
                             style="display: none; inset: 0; background: rgba(255,255,255,0.6); z-index: 10;">
                            <img src="@baseAPIDomainUrl/loders/loder.png" class="grid-logo-spinner"
                                 style="width: 30px; height: 30px; animation: spin 1s linear infinite;" />
                            <div class="grid-loading-text text-dark" style="font-size: 16px;">Loading...</div>
                        </div>
                        <div id="gridTag">
                            <div class="rowCount" id="rowCount1"></div>
                            <div id="gridContainer"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Loan Application Modal -->
<div class="modal fade" id="addLoanApplicationModal" tabindex="-1" aria-labelledby="addLoanApplicationLabel"
     aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title btn-heading-title" id="modalTitle">Add Loan Application</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body modal-body-font" style="font-size:12px;">
                <form id="loanApplicationForm">
                    <input type="hidden" id="loanApplicationId" value="0">

                    <div class="row">
                        <!-- Application Date -->
                        <div class="col-md-4">
                            <div class="form-group mt-3 position-relative">
                                <input type="date" class="form-control floating-input" id="applicationDate" placeholder="Application Date">
                                <label class="floating-label" for="applicationDate">Application Date <span class="text-danger">*</span></label>
                            </div>
                            <span id="spnapplicationDate" style="color:red; display:none; font-size: 0.85em;">Please Select Application Date</span>
                        </div>

                        <!-- Employee -->
                        <div class="col-md-4">
                            <div class="mt-3 form-floating-custom">
                                <div class="searchable-select-wrapper" id="employeeLoanWrapper">
                                    <label for="employeeLoan">Employee <span class="text-danger">*</span></label>
                                    <input type="text" class="searchable-select-input" id="employeeLoan" readonly>
                                    <span class="searchable-select-arrow">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                                            <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                                        </svg>
                                    </span>
                                    <div class="searchable-select-dropdown">
                                        <div class="searchable-select-search">
                                            <input type="text" placeholder="Search employee..." class="search-input">
                                        </div>
                                        <div class="searchable-select-options"></div>
                                    </div>
                                </div>
                                <span id="spnemployeeLoan" style="color:red; display:none; font-size: 0.85em;">Please Select Employee</span>
                            </div>
                        </div>

                        <!-- Contact No -->
                        <div class="col-md-4">
                            <div class="form-group mt-3 position-relative">
                                <input type="text" class="form-control floating-input" id="contactNo" placeholder="Contact No" readonly>
                                <label class="floating-label" for="contactNo">Contact No</label>
                            </div>
                        </div>

                        <!-- Email Id -->
                        <div class="col-md-4">
                            <div class="form-group mt-3 position-relative">
                                <input type="email" class="form-control floating-input" id="emailId" placeholder="Email Id" readonly>
                                <label class="floating-label" for="emailId">Email Id</label>
                            </div>
                        </div>

                        <!-- Loan Name -->
                        <div class="col-md-4">
                            <div class="mt-3 form-floating-custom">
                                <div class="searchable-select-wrapper" id="loanNameWrapper">
                                    <label for="loanName">Loan Name <span class="text-danger">*</span></label>
                                    <input type="text" class="searchable-select-input" id="loanName" readonly>
                                    <span class="searchable-select-arrow">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                                            <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                                        </svg>
                                    </span>
                                    <div class="searchable-select-dropdown">
                                        <div class="searchable-select-search">
                                            <input type="text" placeholder="Search loan..." class="search-input">
                                        </div>
                                        <div class="searchable-select-options"></div>
                                    </div>
                                </div>
                                <span id="spnloanName" style="color:red; display:none; font-size: 0.85em;">Please Select Loan Name</span>
                            </div>
                        </div>

                        <!-- Loan Max Limit -->
                        <div class="col-md-4">
                            <div class="form-group mt-3 position-relative">
                                <input type="number" class="form-control floating-input" id="loanMaxLimit" placeholder="Loan Max Limit" readonly>
                                <label class="floating-label" for="loanMaxLimit">Loan Max Limit</label>
                            </div>
                        </div>

                        <!-- Loan Require Date -->
                        <div class="col-md-4">
                            <div class="form-group mt-3 position-relative">
                                <input type="date" class="form-control floating-input" id="loanRequireDate" placeholder="Loan Require Date">
                                <label class="floating-label" for="loanRequireDate">Loan Require Date <span class="text-danger">*</span></label>
                            </div>
                            <span id="spnloanRequireDate" style="color:red; display:none; font-size: 0.85em;">Please Select Loan Require Date</span>
                        </div>

                        <!-- Loan Amount -->
                        <div class="col-md-4">
                            <div class="form-group mt-3 position-relative">
                                <input type="number" class="form-control floating-input" id="loanAmount" placeholder="Loan Amount">
                                <label class="floating-label" for="loanAmount">Loan Amount <span class="text-danger">*</span></label>
                            </div>
                            <span id="spnloanAmount" style="color:red; display:none; font-size: 0.85em;">Please Enter Loan Amount</span>
                        </div>

                        <!-- Interest Type -->
                        <div class="col-md-4">
                            <div class="form-group mt-3 position-relative">
                                <input type="text" class="form-control floating-input" id="interestType" placeholder="Interest Type" readonly>
                                <label class="floating-label" for="interestType">Interest Type</label>
                            </div>
                        </div>

                        <!-- Interest % (Yearly) -->
                        <div class="col-md-4">
                            <div class="form-group mt-3 position-relative">
                                <input type="number" step="0.01" class="form-control floating-input" id="interestRate" placeholder="Interest Rate" readonly>
                                <label class="floating-label" for="interestRate">Interest (%) (Yearly)</label>
                            </div>
                        </div>

                        <!-- No of Installment -->
                        <div class="col-md-4">
                            <div class="form-group mt-3 position-relative">
                                <input type="number" class="form-control floating-input" id="noOfInstallment" placeholder="No of Installment">
                                <label class="floating-label" for="noOfInstallment">No of Installment <span class="text-danger">*</span></label>
                            </div>
                            <span id="spnnoOfInstallment" style="color:red; display:none; font-size: 0.85em;">Please Enter No of Installment</span>
                        </div>

                        <!-- Installment Amount -->
                        <div class="col-md-4">
                            <div class="form-group mt-3 position-relative">
                                <input type="number" step="0.01" class="form-control floating-input" id="installmentAmount" placeholder="Installment Amount" readonly>
                                <label class="floating-label" for="installmentAmount">Installment Amount <span class="text-danger">*</span></label>
                            </div>
                            <span id="spninstallmentAmount" style="color:red; display:none; font-size: 0.85em;">Installment Amount Required</span>
                        </div>

                        <!-- Installment Start Date -->
                        <div class="col-md-4">
                            <div class="form-group mt-3 position-relative">
                                <input type="date" class="form-control floating-input" id="installmentStartDate" placeholder="Installment Start Date">
                                <label class="floating-label" for="installmentStartDate">Installment Start Date <span class="text-danger">*</span></label>
                            </div>
                            <span id="spninstallmentStartDate" style="color:red; display:none; font-size: 0.85em;">Please Select Installment Start Date</span>
                        </div>

                        <!-- Remark -->
                        <div class="col-md-12">
                            <div class="form-group mt-3 position-relative">
                                <textarea class="form-control floating-input" id="remark" placeholder="Remark" rows="3"></textarea>
                                <label class="floating-label" for="remark">Remark</label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer btn-heading-title">
                <button type="button" class="btn btn-primary" id="btnSaveLoanApplication"
                        style="background-color:#2395c6; color:white;">
                    Save
                </button>
                <button type="button" class="btn btn-primary" id="btnSavingLoanApplication"
                        style="background-color:#2395c6; color:white;display:none;" disabled>
                    <span class="spinner-border spinner-border-sm me-2" role="status"></span> Saving..
                </button>
                <button type="button" class="btn btn-secondary" id="btnClearLoanApplication">Clear</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="~/assets/js/jquery.min.js"></script>
<script>
    var companyDetails = JSON.parse(localStorage.getItem('selectedCompany'));
    const CompanyId = companyDetails?.CompanyId;
    const EmployeeId = localStorage.getItem('EmployeeId');
    const Token = localStorage.getItem("authToken");

    // Store loan and employee data globally
    var loanMasterData = [];
    var employeeData = [];

    $(document).ready(function(){
        // Set default application date to today
        var today = new Date().toISOString().split('T')[0];
        $('#applicationDate').val(today);

        // Initialize employee dropdown
        $('#employeeLoan').searchableSelect({
            data: [],
            valueKey: 'id',
            textKey: 'fullName',
            placeholder: 'Employee',
            searchPlaceholder: 'Search employee...',
            onChange: function(value, item) {
                if (item) {
                    onEmployeeSelected(item);
                }
            }
        });

        // Initialize loan dropdown
        $('#loanName').searchableSelect({
            data: [],
            valueKey: 'loanid',
            textKey: 'loanName',
            placeholder: 'Loan Name',
            searchPlaceholder: 'Search loan...',
            onChange: function(value, item) {
                console.log('Loan onChange - value:', value, 'item:', item);
                let selectedLoan = item;

                if (!selectedLoan && value) {
                    selectedLoan = loanMasterData.find(l => l.loanid == value);
                }

                if (!selectedLoan) {
                    const instance = $('#loanName').data('searchableSelect');
                    if (instance && instance.getSelectedItem) {
                        selectedLoan = instance.getSelectedItem();
                    }
                }

                console.log('Selected loan:', selectedLoan);

                if (selectedLoan) {
                    onLoanSelected(selectedLoan);
                }
            }
        });

        // Load initial data
        loadLoanApplications();
        BindAllEmployees();
        BindLoanMasterDropdown();

        // Backup: Listen for manual changes on loan selection
        $('#loanName').on('change', function() {
            const instance = $(this).data('searchableSelect');
            if (instance) {
                const selectedValue = instance.getValue();
                console.log('Manual change detected, value:', selectedValue);

                if (selectedValue) {
                    const selectedLoan = loanMasterData.find(l => l.loanid == selectedValue);
                    if (selectedLoan) {
                        console.log('Found loan from manual change:', selectedLoan);
                        onLoanSelected(selectedLoan);
                    }
                }
            }
        });
    });

    $("#addLoanApplication").click(() => {
        resetLoanApplicationForm();
        $('#modalTitle').text('Add Loan Application');
        $("#addLoanApplicationModal").modal('show');
    });

    $("#btnClearLoanApplication").click(() => {
        resetLoanApplicationForm();
    });

    function showbtnLoder(isUpdate){
        $('#btnSaveLoanApplication').hide();
        if(isUpdate) {
            $('#btnSavingLoanApplication').html('<span class="spinner-border spinner-border-sm me-2" role="status"></span> Updating..');
        } else {
            $('#btnSavingLoanApplication').html('<span class="spinner-border spinner-border-sm me-2" role="status"></span> Saving..');
        }
        $('#btnSavingLoanApplication').show();
    }

    function hidebtnLoder(){
        $('#btnSaveLoanApplication').show();
        $('#btnSavingLoanApplication').hide();
    }

    // Bind All Employees (Removed Branch Filter)
    async function BindAllEmployees() {
        return new Promise((resolve, reject) => {
            $.ajax({
                url: '@baseUrl/EmployeeMasterAPI/GetAllEmployee?companyId=' + CompanyId,
                method: 'GET',
                headers: {
                    'Authorization': 'Bearer ' + Token
                },
                success: function (data) {
                    console.log('Employee API Response:', data);
                    if (data.isSuccess) {
                        employeeData = data.data || [];
                        const dropdownEmployee = $('#employeeLoan').data('searchableSelect');
                        if (dropdownEmployee) {
                            dropdownEmployee.setData(employeeData);
                        }
                        resolve(employeeData);
                    } else {
                        console.error('Failed to fetch employees:', data.responseMessage);
                        reject('Failed to fetch employees');
                    }
                },
                error: function (error) {
                    console.error('Error fetching employees:', error);
                    reject(error);
                }
            });
        });
    }

    async function BindLoanMasterDropdown() {
        return new Promise((resolve, reject) => {
            $.ajax({
                url: '@baseUrl/LoanApplicationAPI/GetLoanNamesForDropdown',
                method: 'GET',
                headers: {
                    'Authorization': 'Bearer ' + Token
                },
                success: function (data) {
                    console.log('Loan API Response:', data);
                    if (data.isSuccess) {
                        loanMasterData = (data.data || []).map(loan => ({
                            loanid: loan.loanid || loan.Loanid || loan.LoanId,
                            loanName: loan.loanName || loan.LoanName,
                            maxLimit: loan.maxLimit || loan.MaxLimit || 0,
                            interestType: loan.interestType || loan.InterestType || '',
                            interestRate: loan.interestRate || loan.InterestRate || 0
                        }));

                        console.log('Loaded loan master data:', loanMasterData);

                        const dropdownLoan = $('#loanName').data('searchableSelect');
                        if (dropdownLoan) {
                            dropdownLoan.setData(loanMasterData);
                        }
                        resolve(loanMasterData);
                    } else {
                        reject('Failed to fetch loans');
                    }
                },
                error: function (error) {
                    reject(error);
                }
            });
        });
    }

    function onEmployeeSelected(employee) {
        if (!employee) return;
        console.log('Employee selected:', employee);
        $('#contactNo').val(employee.contactNo || employee.ContactNo || '');
        $('#emailId').val(employee.emailId || employee.EmailId || '');
    }

    function onLoanSelected(loan) {
        if (!loan) return;

        let selectedLoan = loan;

        if (!loan.hasOwnProperty('maxLimit') && !loan.hasOwnProperty('MaxLimit')) {
            const loanid = loan.loanid || loan.Loanid || loan.LoanId;
            selectedLoan = loanMasterData.find(l => l.loanid == loanid);

            if (!selectedLoan) {
                console.warn('Loan details not found in master data');
                return;
            }
        }

        const maxLimit = selectedLoan.maxLimit || selectedLoan.MaxLimit || 0;
        const interestType = selectedLoan.interestType || selectedLoan.InterestType || '';
        const interestRate = selectedLoan.interestRate || selectedLoan.InterestRate || 0;

        $('#loanMaxLimit').val(maxLimit);
        $('#interestType').val(interestType);
        $('#interestRate').val(interestRate);

        calculateInstallmentAmount();
    }

    $('#loanAmount, #noOfInstallment').on('input', function() {
        calculateInstallmentAmount();
    });

    function calculateInstallmentAmount() {
        var loanAmount = parseFloat($('#loanAmount').val()) || 0;
        var noOfInstallment = parseInt($('#noOfInstallment').val()) || 0;
        var interestRate = parseFloat($('#interestRate').val()) || 0;

        if (loanAmount > 0 && noOfInstallment > 0) {
            var totalInterest = (loanAmount * interestRate * (noOfInstallment / 12)) / 100;
            var totalAmount = loanAmount + totalInterest;
            var installmentAmount = totalAmount / noOfInstallment;
            $('#installmentAmount').val(installmentAmount.toFixed(2));
        } else {
            $('#installmentAmount').val('');
        }
    }

    async function loadLoanApplications() {
        $('#grid-loader').addClass('d-flex').show();
        return new Promise((resolve, reject) => {
            $.ajax({
                url: '@baseUrl/LoanApplicationAPI/GetLoanApplication?CompanyId=' + CompanyId,
                method: 'GET',
                headers: {
                    'Authorization': 'Bearer ' + Token
                },
                success: function (response) {
                    var gridInstance = $("#gridContainer").dxDataGrid({
                        dataSource: response.data || [],
                        columns: [
                            {
                                dataField: 'applicationdate',
                                caption: 'Application Date',
                                dataType: 'date',
                                format: 'dd-MM-yyyy'
                            },
                            { dataField: 'employeecode', caption: 'Employee Code' },
                            { dataField: 'fullName', caption: 'Employee Name' },
                            { dataField: 'loanName', caption: 'Loan Name' },
                            {
                                dataField: 'loanAmount',
                                caption: 'Loan Amount',
                                dataType: 'number',
                                format: '#,##0.00'
                            },
                            {
                                dataField: 'noOfinstallment',
                                caption: 'Installments'
                            },
                            {
                                dataField: 'installmentAmount',
                                caption: 'Installment Amount',
                                dataType: 'number',
                                format: '#,##0.00',
                                visible: false
                            },
                            {
                                dataField: 'loanRequireDate',
                                caption: 'Require Date',
                                dataType: 'date',
                                format: 'dd-MM-yyyy'
                            },
                            {
                                dataField: 'installmentstartDate',
                                caption: 'Installment Start Date',
                                dataType: 'date',
                                format: 'dd-MM-yyyy'
                            },
                            { dataField: 'remark', caption: 'Remark', visible: false },
                            { dataField: 'loanApplicationId', visible: false },
                            {
                                dataField: '',
                                caption: 'Actions',
                                width: '100px',
                                cellTemplate: function (container, options) {
                                    var buttonElement = $('<div class="d-flex order-actions">' +
                                        '<a href="javascript:;" class="edit-action me-2" title="Edit Loan Application">' +
                                        '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">' +
                                        '<path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>' +
                                        '<path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>' +
                                        '</svg>' +
                                        '</a>' +
                                        '<a href="javascript:;" class="delete-action" title="Delete Loan Application">' +
                                        '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">' +
                                        '<path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>' +
                                        '<path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>' +
                                        '</svg>' +
                                        '</a>' +
                                        '</div>');

                                    buttonElement.find('.edit-action').on('click', function () {
                                        UpdateLoanApplicationData(options.data);
                                    });

                                    buttonElement.find('.delete-action').on('click', function () {
                                        DeleteLoanApplication(options.data);
                                    });

                                    buttonElement.appendTo(container);
                                }
                            }
                        ],
                        columnAutoWidth: true,
                        allowColumnResizing: true,
                        columnResizingMode: "widget",
                        wordWrapEnabled: false,
                        showBorders: true,
                        scrolling: {
                            mode: "standard",
                            useNative: true,
                            scrollByContent: true,
                            scrollByThumb: true,
                            showScrollbar: "always"
                        },
                        rowAlternationEnabled: false,
                        grouping: { autoExpandAll: false },
                        paging: { pageSize: 10 },
                        pager: {
                            showPageSizeSelector: true,
                            allowedPageSizes: [10, 25, 50, 100]
                        },
                        headerFilter: { visible: false },
                        filterRow: { visible: false, applyFilter: "auto" },
                        groupPanel: { visible: false },
                        searchPanel: { visible: true, width: 240, placeholder: "Search..." },
                        allowColumnReordering: false,
                        onContentReady(e) {
                            $('.rowCount').html('Total Records: ' + e.component.totalCount());
                            e.component.updateDimensions();
                            $('#grid-loader').removeClass('d-flex').hide();
                        }
                    }).dxDataGrid('instance');

                    $('#grid-loader').removeClass('d-flex').hide();
                    resolve(response.data);
                },
                error: function (error) {
                    $('#grid-loader').removeClass('d-flex').hide();
                    console.error('Error loading loan applications:', error);
                    round_error_noti('Unable to load loan applications');
                    reject(error);
                }
            });
        });
    }

    $('#btnSaveLoanApplication').click(function () {
        var loanApplicationId = parseInt($('#loanApplicationId').val()) || 0;
        var isUpdate = loanApplicationId > 0;

        showbtnLoder(isUpdate);

        // Get form values
        var applicationDate = $('#applicationDate').val();
        var employeeInstance = $('#employeeLoan').data('searchableSelect');
        var employee = employeeInstance ? employeeInstance.getValue() : null;
        var loanInstance = $('#loanName').data('searchableSelect');
        var loanIdValue = loanInstance ? loanInstance.getValue() : null;
        var loanRequireDate = $('#loanRequireDate').val();
        var loanAmount = $('#loanAmount').val();
        var noOfInstallment = $('#noOfInstallment').val();
        var installmentAmount = $('#installmentAmount').val();
        var installmentStartDate = $('#installmentStartDate').val();

        var isValid = true;

        // Validation
        if (!applicationDate) {
            $('#spnapplicationDate').show();
            isValid = false;
        } else {
            $('#spnapplicationDate').hide();
        }

        if (!employee) {
            $('#spnemployeeLoan').show();
            isValid = false;
        } else {
            $('#spnemployeeLoan').hide();
        }

        if (!loanIdValue) {
            $('#spnloanName').show();
            isValid = false;
        } else {
            $('#spnloanName').hide();
        }

        if (!loanRequireDate) {
            $('#spnloanRequireDate').show();
            isValid = false;
        } else {
            $('#spnloanRequireDate').hide();
        }

        if (!loanAmount || parseFloat(loanAmount) <= 0) {
            $('#spnloanAmount').show();
            isValid = false;
        } else {
            $('#spnloanAmount').hide();
        }

        var loanMaxLimit = parseFloat($('#loanMaxLimit').val()) || 0;
        if (loanMaxLimit > 0 && parseFloat(loanAmount) > loanMaxLimit) {
            round_error_noti('Loan amount cannot exceed maximum limit of ' + loanMaxLimit);
            isValid = false;
        }

        if (!noOfInstallment || parseInt(noOfInstallment) <= 0) {
            $('#spnnoOfInstallment').show();
            isValid = false;
        } else {
            $('#spnnoOfInstallment').hide();
        }

        if (!installmentAmount || parseFloat(installmentAmount) <= 0) {
            $('#spninstallmentAmount').show();
            isValid = false;
        } else {
            $('#spninstallmentAmount').hide();
        }

        if (!installmentStartDate) {
            $('#spninstallmentStartDate').show();
            isValid = false;
        } else {
            $('#spninstallmentStartDate').hide();
        }

        if (!isValid) {
            hidebtnLoder();
            return;
        }

        // Prepare data
        var loanApplicationData = {
            LoanApplicationID: loanApplicationId,
            ApplicationDate: applicationDate,
            EmployeeId: parseInt(employee),
            ContactNo: $('#contactNo').val() || '',
            EmailId: $('#emailId').val() || '',
            LoanId: parseInt(loanIdValue),
            LoanRequireDate: loanRequireDate,
            LoanMaxLimit: loanMaxLimit,
            LoanAmount: parseFloat(loanAmount),
            InterestType: $('#interestType').val() || '',
            InterestPercentage: parseFloat($('#interestRate').val()) || 0,
            NoOfInstallment: parseInt(noOfInstallment),
            InstallmentAmount: parseFloat(installmentAmount),
            InstallmentStartDate: installmentStartDate,
            Remark: $('#remark').val().trim() || '',
            IsEnabled: true,
            IsDeleted: false,
            CreatedBy: parseInt(EmployeeId),
            UpdatedBy: isUpdate ? parseInt(EmployeeId) : null,
            CreatedDate: new Date().toISOString(),
            UpdatedDate: isUpdate ? new Date().toISOString() : null,
            DeletedDate: null,
            DeletedBy: null
        };

        console.log('Saving loan application data:', loanApplicationData);

        var apiUrl = isUpdate
            ? "@baseUrl/LoanApplicationAPI/UpdateLoanApplication"
            : "@baseUrl/LoanApplicationAPI/CreateLoanApplication";

        var httpMethod = isUpdate ? "PUT" : "POST";

        $.ajax({
            url: apiUrl,
            type: httpMethod,
            contentType: 'application/json',
            headers: {
                'Authorization': 'Bearer ' + Token
            },
            data: JSON.stringify(loanApplicationData),
            success: function (response) {
                if (response.isSuccess) {
                    round_success_noti(response.responseMessage);
                    $("#addLoanApplicationModal").modal('hide');
                    resetLoanApplicationForm();
                    loadLoanApplications();
                } else {
                    round_error_noti(response.responseMessage);
                }
                hidebtnLoder();
            },
            error: function (xhr) {
                hidebtnLoder();
                console.error('Error Details:', {
                    status: xhr.status,
                    statusText: xhr.statusText,
                    responseText: xhr.responseText,
                    responseJSON: xhr.responseJSON
                });

                var errorMessage = 'Unable to save loan application';

                if (xhr.responseJSON) {
                    if (xhr.responseJSON.responseMessage) {
                        errorMessage = xhr.responseJSON.responseMessage;
                    } else if (xhr.responseJSON.errors) {
                        var errors = xhr.responseJSON.errors;
                        var errorList = [];
                        for (var key in errors) {
                            if (errors.hasOwnProperty(key)) {
                                errorList.push(errors[key].join(', '));
                            }
                        }
                        errorMessage = errorList.join('; ');
                    } else if (xhr.responseJSON.title) {
                        errorMessage = xhr.responseJSON.title;
                    }
                } else if (xhr.responseText) {
                    try {
                        var errorResponse = JSON.parse(xhr.responseText);
                        errorMessage = errorResponse.responseMessage || errorResponse.message || errorMessage;
                    } catch (e) {
                        errorMessage = xhr.responseText.substring(0, 200);
                    }
                }

                round_error_noti(errorMessage);
                console.error('API Error:', errorMessage);
            }
        });
    });

    async function resetLoanApplicationForm() {
        $('#loanApplicationId').val('0');

        var today = new Date().toISOString().split('T')[0];
        $('#applicationDate').val(today);

        const employeeInstance = $('#employeeLoan').data('searchableSelect');
        if (employeeInstance) employeeInstance.clear();

        const loanInstance = $('#loanName').data('searchableSelect');
        if (loanInstance) loanInstance.clear();

        $('#contactNo').val('');
        $('#emailId').val('');
        $('#loanMaxLimit').val('');
        $('#loanRequireDate').val('');
        $('#loanAmount').val('');
        $('#interestType').val('');
        $('#interestRate').val('');
        $('#noOfInstallment').val('');
        $('#installmentAmount').val('');
        $('#installmentStartDate').val('');
        $('#remark').val('');

        hidebtnLoder();
        $('#btnSaveLoanApplication').text('Save');

        $('span[id^="spn"]').hide();
    }

    async function UpdateLoanApplicationData(data) {
        console.log('Update function called with data:', data);

        await resetLoanApplicationForm();

        $('#modalTitle').text('Update Loan Application');
        $('#btnSaveLoanApplication').text('Update');

        // Set loan application ID
        var loanAppId = data.loanApplicationId || data.LoanApplicationId || 0;
        console.log('Setting loanApplicationId:', loanAppId);
        $('#loanApplicationId').val(loanAppId);

        // Set application date
        var appDateStr = data.applicationDate || data.ApplicationDate || data.applicationdate;
        console.log('Application date from data:', appDateStr);
        if (appDateStr) {
            var formattedDate = formatDateForInput(appDateStr);
            console.log('Formatted application date:', formattedDate);
            $('#applicationDate').val(formattedDate);
        }

        // Set employee
        var employeeId = data.employeeId || data.EmployeeId;
        console.log('Employee ID:', employeeId);
        if (employeeId) {
            setTimeout(() => {
                const employeeInstance = $('#employeeLoan').data('searchableSelect');
                if (employeeInstance) {
                    employeeInstance.setValue(employeeId);

                    // Find employee data and populate contact info
                    var selectedEmployee = employeeData.find(e =>
                        (e.employeeId || e.EmployeeId) == employeeId
                    );

                    if (selectedEmployee) {
                        console.log('Found employee data:', selectedEmployee);
                        onEmployeeSelected(selectedEmployee);
                    } else {
                        // Manually set contact info from grid data
                        $('#contactNo').val(data.contactNo || data.ContactNo || '');
                        $('#emailId').val(data.emailId || data.EmailId || '');
                    }
                }
            }, 200);
        }

        // Set loan
        var loanId = data.loanid || data.loanId || data.Loanid || data.LoanId;
        console.log('Loan ID:', loanId);
        if (loanId) {
            setTimeout(() => {
                const loanInstance = $('#loanName').data('searchableSelect');
                if (loanInstance) {
                    loanInstance.setValue(loanId);

                    // Find loan data and populate fields
                    var selectedLoan = loanMasterData.find(l => l.loanid == loanId);
                    if (selectedLoan) {
                        console.log('Found loan data:', selectedLoan);
                        onLoanSelected(selectedLoan);
                    } else {
                        // Manually set loan info from grid data
                        $('#loanMaxLimit').val(data.loanMaxLimit || data.LoanMaxLimit || 0);
                        $('#interestType').val(data.interestType || data.InterestType || '');
                        $('#interestRate').val(data.interestRate || data.InterestRate || 0);
                    }
                }
            }, 300);
        }

        // Set loan require date
        var loanReqDateStr = data.loanRequireDate || data.LoanRequireDate;
        console.log('Loan require date from data:', loanReqDateStr);
        if (loanReqDateStr) {
            var formattedLoanReqDate = formatDateForInput(loanReqDateStr);
            console.log('Formatted loan require date:', formattedLoanReqDate);
            $('#loanRequireDate').val(formattedLoanReqDate);
        }

        // Set loan amount and installments
        var loanAmt = data.loanAmount || data.LoanAmount || '';
        var numInstallments = data.noOfinstallment || data.noOfInstallment || data.NoOfInstallment || '';
        var instAmt = data.installmentAmount || data.InstallmentAmount || '';

        console.log('Loan amount:', loanAmt);
        console.log('No of installments:', numInstallments);
        console.log('Installment amount:', instAmt);

        $('#loanAmount').val(loanAmt);
        $('#noOfInstallment').val(numInstallments);
        $('#installmentAmount').val(instAmt);

        // Set installment start date
        var instStartDateStr = data.installmentStartDate || data.InstallmentStartDate || data.installmentstartDate;
        console.log('Installment start date from data:', instStartDateStr);
        if (instStartDateStr) {
            var formattedInstStartDate = formatDateForInput(instStartDateStr);
            console.log('Formatted installment start date:', formattedInstStartDate);
            $('#installmentStartDate').val(formattedInstStartDate);
        }

        // Set remark
        var remarkText = data.remark || data.Remark || '';
        console.log('Remark:', remarkText);
        $('#remark').val(remarkText);

        $("#addLoanApplicationModal").modal('show');
    }

    // Helper function to format date for input
    function formatDateForInput(dateStr) {
        if (!dateStr) return '';

        try {
            // Handle different date formats
            if (dateStr.includes('T')) {
                return dateStr.split('T')[0];
            } else if (dateStr.includes(' ')) {
                return dateStr.split(' ')[0];
            } else if (dateStr.includes('-')) {
                // Check if it's already in YYYY-MM-DD format
                var parts = dateStr.split('-');
                if (parts[0].length === 4) {
                    return dateStr; // Already in correct format
                } else if (parts[2].length === 4) {
                    // DD-MM-YYYY format, convert to YYYY-MM-DD
                    return parts[2] + '-' + parts[1] + '-' + parts[0];
                }
            }
            return dateStr;
        } catch (e) {
            console.error('Error formatting date:', e);
            return '';
        }
    }

    function DeleteLoanApplication(data) {
        if (!confirm("Are you sure you want to delete this loan application record?")) {
            return;
        }

        var deleteObj = {
            id: data.loanApplicationId || data.LoanApplicationId,
            deletedBy: EmployeeId.toString()
        };

        $.ajax({
            url: '@baseUrl/LoanApplicationAPI/Delete',
            type: "DELETE",
            data: JSON.stringify(deleteObj),
            contentType: 'application/json',
            headers: {
                'Authorization': 'Bearer ' + Token
            },
            success: function (response) {
                if (response.isSuccess) {
                    round_success_noti(response.responseMessage);
                    loadLoanApplications();
                } else {
                    round_error_noti(response.responseMessage);
                }
            },
            error: function (xhr, status, error) {
                round_error_noti('An error occurred while deleting the record. Please try again');
            }
        });
    }

</script>