@inject IConfiguration Configuration
@{
	ViewData["Title"] = "Home Page";
	Layout = "~/Areas/AdminPanel/Views/Shared/_AdminLayout.cshtml";
	string baseUrl = Configuration["BaseUrlSettings:baseUrl"];
}

<script src="~/js/branch.js"></script>

<div id="">
	<div class="row">
		<div class="col-6">
			<h4 class="pt-2 mb-0">
				Branch
			</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 btn-heading-title">
			<button id="branchmodal"
					type="button"
					class="btn"
					data-bs-toggle="modal" data-bs-target="#exampleModal" style="background-color:#2395c6; color:white;">
				Add
			</button>
			<div class="rowCount" id="rowCount1"></div>
			<div id="gridContainer"></div>
		</div>
	</div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="btn-heading-title modal-title" id="exampleModalLabel">Branch</h5>
			</div>

			<div class="modal-body modal-body-font">
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<label>Select Country</label>
							<span style="color:red;">*</span>
							<select id="drpcountry" class="form-control"></select>
							<span id="Reqcountry" style="color:red; display:none;">This Field is Required.</span>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group">
							<label>Branch Name</label>
							<span style="color:red;">*</span>
							<input type="text" id="txtStateName" class="form-control" autocomplete="off" />
							<span id="ReqStateTitle" style="color:red; display:none;">This Field is Required.</span>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer btn-heading-title">
				<button type="button" class="btn btn-secondary" id="btnSaveChanges">Save changes</button>
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
	$(document).ready(function () {
		loadData();
	});
	$('#branchmodal').click(() => {
		$('#exampleModal').modal('show');

	});
	function loadData() {




		$.ajax({
			url: 'https://countriesnow.space/api/v0.1/countries/population/cities',
			type: 'GET',
			dataType: 'json',
			success: function (response) {
				console.log("response", response)
				var data = response.data;
				$("#gridContainer").dxDataGrid({
					dataSource: data,
					columns: [
						
						{ dataField: 'country', caption: 'State Name',  dataType: 'string', sortOrder: 'asc' },
						{ dataField: 'city', caption: 'Country Name', dataType: 'string' },
						{
							dataField: 'edit',
							caption: '',
							dataType: 'string',
							width: '30px',
							type: 'buttons',
							cellTemplate: function (container, options) {
								var buttonElement = $('<span class="fadeIn animated bx bx-edit-alt" style="cursor:pointer;color: rgb(39, 127, 249);" title="Edit State"></span>')
									.on('dxclick', function () {
										edit(options.data);
									});
								buttonElement.appendTo(container);
							}
						},
						{
							dataField: 'remove',
							caption: '',
							dataType: 'string',
							width: '30px',
							type: 'buttons',
							cellTemplate: function (container, options) {
								var buttonElement = $('<span class="fadeIn animated bx bx-trash-alt" style="cursor:pointer;color: rgb(249, 39, 39);" title="De-Active State"></span>')
									.on('dxclick', function () {
										deleteRec(options.data);
									});
								buttonElement.appendTo(container);
							}
						}
					],
					columnsAutoWidth: true,
					wordWrapEnabled: false,
					rowAlternationEnabled: false,
					showBorders: true,
					grouping: { autoExpandAll: true },
					paging: { pageSize: 10 },
					pager: { showPageSizeSelector: true, allowedPageSizes: [10, 25, 50, 100] },
					headerFilter: { visible: true },
					filterRow: { visible: true, applyFilter: "auto" },
					allowColumnResizing: true,
					groupPanel: { visible: true },
					searchPanel: { visible: true, width: 240, placeholder: "Search..." },
					export: {
						enabled: false,
						fileName: "User Details",
						allowExportSelectedData: true,
						customizeExcelCell: function (options) {
							if (options.gridCell.rowType === "header") {
								// Customize header cell if needed
							}
						}
					},
					allowColumnReordering: true,
					columnFixing: { enabled: false },
					columnChooser: {
						enabled: true,
						mode: "select",
						allowSearch: true
					},
					onExporting: function (e) {
						e.component.beginUpdate();
						e.component.columnOption("Button", "visible", false);
						e.component.columnOption("Add", "visible", false);
					},
					onExported: function (e) {
						e.component.columnOption("Button", "visible", true);
						e.component.columnOption("Add", "visible", true);
						e.component.endUpdate();
					},
					onCellPrepared: function (e) {
						if (e.rowType === "header") {
							e.cellElement.css({ "text-align": "center", "font-weight": "bold" });
						}
						if (e.rowType === "group") {
							e.cellElement.css("text-align", "center");
						}
					},
					onContentReady: function (e) {
						$('#rowCount1').html('Total Records: ' + e.component.totalCount());
					}
				});
			},


			error: function () {
				console.error("Error fetching data.");
			}
		});
	}

</script>

