name: Auto Sync to Azure DevOps

on:
  push:
    branches:
      - master

jobs:
  sync:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set commit identity
        run: |
          git config user.name "Dev Team"
          git config user.email "devteam@company.com"

      - name: Push to Azure DevOps
        run: |
          git remote add azure https://${{ secrets.AZURE_DEVOPS_PAT }}@${{ secrets.AZURE_DEVOPS_REPO }}
          git push azure master --force
